<!DOCTYPE html>
<html>
  <head>
    <title>2R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul>
<li>ikw (192.168.XXX.XXX)<br /><a href="ikw.html"><img src="ikw-day.png" alt="ikw-day"/></a></li>
<li>index (192.168.XXX.XXX)<br /><a href="index.html"><img src="index-day.png" alt="index-day"/></a></li>
<li>index_new (192.168.XXX.XXX)<br /><a href="index_new.html"><img src="index_new-day.png" alt="index_new-day"/></a></li>
<li>tr1-bt01-aucfan (192.168.XXX.XXX)<br /><a href="tr1-bt01-aucfan.html"><img src="tr1-bt01-aucfan-day.png" alt="tr1-bt01-aucfan-day"/></a></li>
<li>tr1-cr02-aucfan (192.168.XXX.XXX)<br /><a href="tr1-cr02-aucfan.html"><img src="tr1-cr02-aucfan-day.png" alt="tr1-cr02-aucfan-day"/></a></li>
<li>tr1-ds05-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ds05-aucfan.html"><img src="tr1-ds05-aucfan-day.png" alt="tr1-ds05-aucfan-day"/></a></li>
<li>tr1-ds06-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ds06-aucfan.html"><img src="tr1-ds06-aucfan-day.png" alt="tr1-ds06-aucfan-day"/></a></li>
<li>tr1-ds07-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ds07-aucfan.html"><img src="tr1-ds07-aucfan-day.png" alt="tr1-ds07-aucfan-day"/></a></li>
<li>tr1-dsv1-defacto (192.168.XXX.XXX)<br /><a href="tr1-dsv1-defacto.html"><img src="tr1-dsv1-defacto-day.png" alt="tr1-dsv1-defacto-day"/></a></li>
<li>tr1-dsv2-defacto (192.168.XXX.XXX)<br /><a href="tr1-dsv2-defacto.html"><img src="tr1-dsv2-defacto-day.png" alt="tr1-dsv2-defacto-day"/></a></li>
<li>tr1-dws1-defacto (192.168.XXX.XXX)<br /><a href="tr1-dws1-defacto.html"><img src="tr1-dws1-defacto-day.png" alt="tr1-dws1-defacto-day"/></a></li>
<li>tr1-dws2-defacto (192.168.XXX.XXX)<br /><a href="tr1-dws2-defacto.html"><img src="tr1-dws2-defacto-day.png" alt="tr1-dws2-defacto-day"/></a></li>
<li>tr1-dws3-defacto (192.168.XXX.XXX)<br /><a href="tr1-dws3-defacto.html"><img src="tr1-dws3-defacto-day.png" alt="tr1-dws3-defacto-day"/></a></li>
<li>tr1-is01-aucfan (192.168.XXX.XXX)<br /><a href="tr1-is01-aucfan.html"><img src="tr1-is01-aucfan-day.png" alt="tr1-is01-aucfan-day"/></a></li>
<li>tr1-it01-aucfan (192.168.XXX.XXX)<br /><a href="tr1-it01-aucfan.html"><img src="tr1-it01-aucfan-day.png" alt="tr1-it01-aucfan-day"/></a></li>
<li>tr1-it02-aucfan (192.168.XXX.XXX)<br /><a href="tr1-it02-aucfan.html"><img src="tr1-it02-aucfan-day.png" alt="tr1-it02-aucfan-day"/></a></li>
<li>tr1-ps01-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ps01-aucfan.html"><img src="tr1-ps01-aucfan-day.png" alt="tr1-ps01-aucfan-day"/></a></li>
<li>tr1-ps02-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ps02-aucfan.html"><img src="tr1-ps02-aucfan-day.png" alt="tr1-ps02-aucfan-day"/></a></li>
<li>tr1-ps03-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ps03-aucfan.html"><img src="tr1-ps03-aucfan-day.png" alt="tr1-ps03-aucfan-day"/></a></li>
<li>tr1-ps04-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ps04-aucfan.html"><img src="tr1-ps04-aucfan-day.png" alt="tr1-ps04-aucfan-day"/></a></li>
<li>tr1-ps05-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ps05-aucfan.html"><img src="tr1-ps05-aucfan-day.png" alt="tr1-ps05-aucfan-day"/></a></li>
<li>tr1-ps06-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ps06-aucfan.html"><img src="tr1-ps06-aucfan-day.png" alt="tr1-ps06-aucfan-day"/></a></li>
<li>tr1-ps07-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ps07-aucfan.html"><img src="tr1-ps07-aucfan-day.png" alt="tr1-ps07-aucfan-day"/></a></li>
<li>tr1-ps08-aucfan (192.168.XXX.XXX)<br /><a href="tr1-ps08-aucfan.html"><img src="tr1-ps08-aucfan-day.png" alt="tr1-ps08-aucfan-day"/></a></li>
<li>tr1-rt1-vpn (192.168.XXX.XXX)<br /><a href="tr1-rt1-vpn.html"><img src="tr1-rt1-vpn-day.png" alt="tr1-rt1-vpn-day"/></a></li>
<li>tr1-rt2-aucfan (192.168.XXX.XXX)<br /><a href="tr1-rt2-aucfan.html"><img src="tr1-rt2-aucfan-day.png" alt="tr1-rt2-aucfan-day"/></a></li>
<li>tr1-rt3-aucfan (192.168.XXX.XXX)<br /><a href="tr1-rt3-aucfan.html"><img src="tr1-rt3-aucfan-day.png" alt="tr1-rt3-aucfan-day"/></a></li>
<li>tr2-bk01-aucfan (192.168.XXX.XXX)<br /><a href="tr2-bk01-aucfan.html"><img src="tr2-bk01-aucfan-day.png" alt="tr2-bk01-aucfan-day"/></a></li>
<li>tr2-bk02-aucfan (192.168.XXX.XXX)<br /><a href="tr2-bk02-aucfan.html"><img src="tr2-bk02-aucfan-day.png" alt="tr2-bk02-aucfan-day"/></a></li>
<li>tr2-bk03-aucfan (192.168.XXX.XXX)<br /><a href="tr2-bk03-aucfan.html"><img src="tr2-bk03-aucfan-day.png" alt="tr2-bk03-aucfan-day"/></a></li>
<li>tr2-bt01-aucfan (192.168.XXX.XXX)<br /><a href="tr2-bt01-aucfan.html"><img src="tr2-bt01-aucfan-day.png" alt="tr2-bt01-aucfan-day"/></a></li>
<li>tr2-bt03-aucfan (192.168.XXX.XXX)<br /><a href="tr2-bt03-aucfan.html"><img src="tr2-bt03-aucfan-day.png" alt="tr2-bt03-aucfan-day"/></a></li>
<li>tr2-cr02-aucfan (192.168.XXX.XXX)<br /><a href="tr2-cr02-aucfan.html"><img src="tr2-cr02-aucfan-day.png" alt="tr2-cr02-aucfan-day"/></a></li>
<li>tr2-ds05-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ds05-aucfan.html"><img src="tr2-ds05-aucfan-day.png" alt="tr2-ds05-aucfan-day"/></a></li>
<li>tr2-ds06-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ds06-aucfan.html"><img src="tr2-ds06-aucfan-day.png" alt="tr2-ds06-aucfan-day"/></a></li>
<li>tr2-ds07-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ds07-aucfan.html"><img src="tr2-ds07-aucfan-day.png" alt="tr2-ds07-aucfan-day"/></a></li>
<li>tr2-dsv1-defacto (192.168.XXX.XXX)<br /><a href="tr2-dsv1-defacto.html"><img src="tr2-dsv1-defacto-day.png" alt="tr2-dsv1-defacto-day"/></a></li>
<li>tr2-dsv2-defacto (192.168.XXX.XXX)<br /><a href="tr2-dsv2-defacto.html"><img src="tr2-dsv2-defacto-day.png" alt="tr2-dsv2-defacto-day"/></a></li>
<li>tr2-dws1-defacto (192.168.XXX.XXX)<br /><a href="tr2-dws1-defacto.html"><img src="tr2-dws1-defacto-day.png" alt="tr2-dws1-defacto-day"/></a></li>
<li>tr2-dws2-defacto (192.168.XXX.XXX)<br /><a href="tr2-dws2-defacto.html"><img src="tr2-dws2-defacto-day.png" alt="tr2-dws2-defacto-day"/></a></li>
<li>tr2-dws3-defacto (192.168.XXX.XXX)<br /><a href="tr2-dws3-defacto.html"><img src="tr2-dws3-defacto-day.png" alt="tr2-dws3-defacto-day"/></a></li>
<li>tr2-is01-aucfan (192.168.XXX.XXX)<br /><a href="tr2-is01-aucfan.html"><img src="tr2-is01-aucfan-day.png" alt="tr2-is01-aucfan-day"/></a></li>
<li>tr2-it01-aucfan (192.168.XXX.XXX)<br /><a href="tr2-it01-aucfan.html"><img src="tr2-it01-aucfan-day.png" alt="tr2-it01-aucfan-day"/></a></li>
<li>tr2-it02-aucfan (192.168.XXX.XXX)<br /><a href="tr2-it02-aucfan.html"><img src="tr2-it02-aucfan-day.png" alt="tr2-it02-aucfan-day"/></a></li>
<li>tr2-ps01-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ps01-aucfan.html"><img src="tr2-ps01-aucfan-day.png" alt="tr2-ps01-aucfan-day"/></a></li>
<li>tr2-ps02-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ps02-aucfan.html"><img src="tr2-ps02-aucfan-day.png" alt="tr2-ps02-aucfan-day"/></a></li>
<li>tr2-ps03-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ps03-aucfan.html"><img src="tr2-ps03-aucfan-day.png" alt="tr2-ps03-aucfan-day"/></a></li>
<li>tr2-ps04-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ps04-aucfan.html"><img src="tr2-ps04-aucfan-day.png" alt="tr2-ps04-aucfan-day"/></a></li>
<li>tr2-ps05-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ps05-aucfan.html"><img src="tr2-ps05-aucfan-day.png" alt="tr2-ps05-aucfan-day"/></a></li>
<li>tr2-ps06-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ps06-aucfan.html"><img src="tr2-ps06-aucfan-day.png" alt="tr2-ps06-aucfan-day"/></a></li>
<li>tr2-ps07-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ps07-aucfan.html"><img src="tr2-ps07-aucfan-day.png" alt="tr2-ps07-aucfan-day"/></a></li>
<li>tr2-ps08-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ps08-aucfan.html"><img src="tr2-ps08-aucfan-day.png" alt="tr2-ps08-aucfan-day"/></a></li>
<li>tr2-rt1-vpn (192.168.XXX.XXX)<br /><a href="tr2-rt1-vpn.html"><img src="tr2-rt1-vpn-day.png" alt="tr2-rt1-vpn-day"/></a></li>
<li>tr2-rt2-aucfan (192.168.XXX.XXX)<br /><a href="tr2-rt2-aucfan.html"><img src="tr2-rt2-aucfan-day.png" alt="tr2-rt2-aucfan-day"/></a></li>
<li>tr2-rt3-aucfan (192.168.XXX.XXX)<br /><a href="tr2-rt3-aucfan.html"><img src="tr2-rt3-aucfan-day.png" alt="tr2-rt3-aucfan-day"/></a></li>
<li>tr2-ssl02-aucfan (192.168.XXX.XXX)<br /><a href="tr2-ssl02-aucfan.html"><img src="tr2-ssl02-aucfan-day.png" alt="tr2-ssl02-aucfan-day"/></a></li>
<li>tr3-dws2-defacto (192.168.XXX.XXX)<br /><a href="tr3-dws2-defacto.html"><img src="tr3-dws2-defacto-day.png" alt="tr3-dws2-defacto-day"/></a></li>
<li>tr3-dws3-defacto (192.168.XXX.XXX)<br /><a href="tr3-dws3-defacto.html"><img src="tr3-dws3-defacto-day.png" alt="tr3-dws3-defacto-day"/></a></li>
<li>tr3-rt3-aucfan (192.168.XXX.XXX)<br /><a href="tr3-rt3-aucfan.html"><img src="tr3-rt3-aucfan-day.png" alt="tr3-rt3-aucfan-day"/></a></li>
<li>tr4-rt3-aucfan (192.168.XXX.XXX)<br /><a href="tr4-rt3-aucfan.html"><img src="tr4-rt3-aucfan-day.png" alt="tr4-rt3-aucfan-day"/></a></li>
