<!DOCTYPE html>
<html>
  <head>
    <title>seg_4/Traffic</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on Router-idcf-3.aucfan.com</br> (192.168.3.3) </b></div>
    <div><a href="/seg_3/tr/tr1-aucfan-idcf-3.html"><img border="1" alt="tr1-aucfan-idcf-3 Graph" src="/seg_3/tr/tr1-aucfan-idcf-3-day.png"></a></div>
  </td>
  <td>
  </td>  
  <td>
    <div><b> Traffic LAN3 on Router-idcf-3.aucfan.com</br> (154.34.243.46) </b></div>
    <div><a href="/seg_3/tr/tr3-aucfan-idcf-3.html"><img border="1" alt="tr3-aucfan-idcf-3 Graph" src="/seg_3/tr/tr3-aucfan-idcf-3-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN4 on Router-idcf-3.aucfan.com</br> (210.152.213.65) </b></div>
    <div><a href="/seg_3/tr/tr4-aucfan-idcf-3.html"><img border="1" alt="tr4-aucfan-idcf-3 Graph" src="/seg_3/tr/tr4-aucfan-idcf-3-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on Router-idcf-4.aucfan.com</br> (192.168.3.4) </b></div>
    <div><a href="/seg_3/tr/tr3-aucfan-idcf-4.html"><img border="1" alt="tr1-aucfan-idcf-4 Graph" src="/seg_3/tr/tr1-aucfan-idcf-4-day.png"></a></div>
  </td>
  <td>
  </td>
  <td>
    <div><b> traffic lan3 on router-idcf-4.aucfan.com</br> (210.152.213.66) </b></div>
    <div><a href="/seg_3/tr/tr3-aucfan-idcf-4.html"><img border="1" alt="tr3-aucfan-idcf-4 graph" src="/seg_3/tr/tr3-aucfan-idcf-4-day.png"></a></div>
  </td>  
  <td>
  </td>
</tr>




</table>
</body>
</html>
