<!DOCTYPE html>
<html>
  <head>
    <title>afn-lvs</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on lb07.aucfan.com</br> (210.152.213.69) </b></div>
    <div><a href="/seg_3/tr/tr1-lb07-aucfan.html"><img border="1" alt="tr1-lb07 Graph" src="/seg_3/tr/tr1-lb07-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on lb07.aucfan.com</br> (192.168.3.72) </b></div>
    <div><a href="/seg_3/tr/tr2-lb07-aucfan.html"><img border="1" alt="tr2-lb07 Graph" src="/seg_3/tr/tr2-lb07-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on lb07.aucfan.com</br> (192.168.3.72) </b></div>
    <div><a href="/seg-3/la/la-lb07-aucfan.html"><img border="1" alt="la-lb07 Graph" src="/seg_3/la/la-lb07-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on lb07.aucfan.com</br> (192.168.3.72) </b></div>
    <div><a href="/seg_3/hdd/hdd-lb07-aucfan.html"><img border="1" alt="hdd-lb07 Graph" src="/seg_3/hdd/hdd-lb07-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on lb08.aucfan.com</br> (210.152.213.70) </b></div>
    <div><a href="/seg_3/tr/tr1-lb08-aucfan.html"><img border="1" alt="tr1-lb08 Graph" src="/seg_3/tr/tr1-lb08-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on lb08.aucfan.com</br> (192.168.3.73) </b></div>
    <div><a href="/seg_3/tr/tr2-lb08-aucfan.html"><img border="1" alt="tr2-lb08 Graph" src="/seg_3/tr/tr2-lb08-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on lb08.aucfan.com</br> (192.168.3.73) </b></div>
    <div><a href="/seg-3/la/la-lb08-aucfan.html"><img border="1" alt="la-lb08 Graph" src="/seg_3/la/la-lb08-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on lb08.aucfan.com</br> (192.168.3.73) </b></div>
    <div><a href="/seg_3/hdd/hdd-lb08-aucfan.html"><img border="1" alt="hdd-lb08 Graph" src="/seg_3/hdd/hdd-lb08-aucfan-day.png"></a></div>
  </td>
</tr>




</table>
</body>
</html>
