<!DOCTYPE html>
<html>
  <head>
    <title>afn-ps</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps09.aucfan.com</br> (210.152.213.71) </b></div>
    <div><a href="/seg_3/tr/tr1-ps09-aucfan.html"><img border="1" alt="tr1-ps09 Graph" src="/seg_3/tr/tr1-ps09-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps09.aucfan.com</br> (192.168.3.61) </b></div>
    <div><a href="/seg_3/tr/tr2-ps09-aucfan.html"><img border="1" alt="tr2-ps09 Graph" src="/seg_3/tr/tr2-ps09-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps09.aucfan.com</br> (192.168.3.61) </b></div>
    <div><a href="/seg_3/la/la-ps09-aucfan.html"><img border="1" alt="la-ps09 Graph" src="/seg_3/la/la-ps09-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps09.aucfan.com</br> (192.168.3.61) </b></div>
    <div><a href="/seg_3/hdd/hdd-ps09-aucfan.html"><img border="1" alt="hdd-ps09 Graph" src="/seg_3/hdd/hdd-ps09-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps10.aucfan.com</br> (210.152.213.72) </b></div>
    <div><a href="/seg_3/tr/tr1-ps10-aucfan.html"><img border="1" alt="tr1-ps10 Graph" src="/seg_3/tr/tr1-ps10-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps10.aucfan.com</br> (192.168.3.62) </b></div>
    <div><a href="/seg_3/tr/tr2-ps10-aucfan.html"><img border="1" alt="tr2-ps10 Graph" src="/seg_3/tr/tr2-ps10-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps10.aucfan.com</br> (192.168.3.62) </b></div>
    <div><a href="/seg_3/la/la-ps10-aucfan.html"><img border="1" alt="la-ps10 Graph" src="/seg_3/la/la-ps10-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps10.aucfan.com</br> (192.168.3.62) </b></div>
    <div><a href="/seg_3/hdd/hdd-ps10-aucfan.html"><img border="1" alt="hdd-ps10 Graph" src="/seg_3/hdd/hdd-ps10-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps11.aucfan.com</br> (210.152.213.73) </b></div>
    <div><a href="/seg_3/tr/tr1-ps11-aucfan.html"><img border="1" alt="tr1-ps11 Graph" src="/seg_3/tr/tr1-ps11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps11.aucfan.com</br> (192.168.3.63) </b></div>
    <div><a href="/seg_3/tr/tr2-ps11-aucfan.html"><img border="1" alt="tr2-ps11 Graph" src="/seg_3/tr/tr2-ps11-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps11.aucfan.com</br> (192.168.3.63) </b></div>
    <div><a href="/seg_3/la/la-ps11-aucfan.html"><img border="1" alt="la-ps11 Graph" src="/seg_3/la/la-ps11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps11.aucfan.com</br> (192.168.3.63) </b></div>
    <div><a href="/seg_3/hdd/hdd-ps11-aucfan.html"><img border="1" alt="hdd-ps11 Graph" src="/seg_3/hdd/hdd-ps11-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps31.aucfan.com</br> (192.168.4.132) </b></div>
    <div><a href="/seg_4/tr/tr1-ps31-aucfan.html"><img border="1" alt="tr1-ps31 Graph" src="/seg_4/tr/tr1-ps31-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps31.aucfan.com</br> (192.168.4.132) </b></div>
    <div><a href="/seg_4/tr/tr2-ps31-aucfan.html"><img border="1" alt="tr2-ps31 Graph" src="/seg_4/tr/tr2-ps31-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps31.aucfan.com</br> (192.168.4.132) </b></div>
    <div><a href="/seg_4/la/la-ps31-aucfan.html"><img border="1" alt="la-ps31 Graph" src="/seg_4/la/la-ps31-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps31.aucfan.com</br> (192.168.4.132) </b></div>
    <div><a href="/seg_4/hdd/hdd-ps31-aucfan.html"><img border="1" alt="hdd-ps31 Graph" src="/seg_4/hdd/hdd-ps31-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps33.aucfan.com</br> (103.249.200.13) </b></div>
    <div><a href="/seg_4/tr/tr1-ps33-aucfan.html"><img border="1" alt="tr1-ps33 Graph" src="/seg_4/tr/tr1-ps33-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps33.aucfan.com</br> (192.168.4.145) </b></div>
    <div><a href="/seg_4/tr/tr2-ps33-aucfan.html"><img border="1" alt="tr2-ps33 Graph" src="/seg_4/tr/tr2-ps33-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps33.aucfan.com</br> (192.168.4.145) </b></div>
    <div><a href="/seg_4/la/la-ps33-aucfan.html"><img border="1" alt="la-ps33 Graph" src="/seg_4/la/la-ps33-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps33.aucfan.com</br> (192.168.4.145) </b></div>
    <div><a href="/seg_4/hdd/hdd-ps33-aucfan.html"><img border="1" alt="hdd-ps33 Graph" src="/seg_4/hdd/hdd-ps33-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps35.aucfan.com</br> (103.249.200.14) </b></div>
    <div><a href="/seg_4/tr/tr1-ps35-aucfan.html"><img border="1" alt="tr1-ps35 Graph" src="/seg_4/tr/tr1-ps35-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps35.aucfan.com</br> (192.168.4.134) </b></div>
    <div><a href="/seg_4/tr/tr2-ps35-aucfan.html"><img border="1" alt="tr2-ps35 Graph" src="/seg_4/tr/tr2-ps35-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps35.aucfan.com</br> (192.168.4.134) </b></div>
    <div><a href="/seg_4/la/la-ps35-aucfan.html"><img border="1" alt="la-ps35 Graph" src="/seg_4/la/la-ps35-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps35.aucfan.com</br> (192.168.4.134) </b></div>
    <div><a href="/seg_4/hdd/hdd-ps35-aucfan.html"><img border="1" alt="hdd-ps35 Graph" src="/seg_4/hdd/hdd-ps35-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps37.aucfan.com</br> (103.249.200.15) </b></div>
    <div><a href="/seg_4/tr/tr1-ps37-aucfan.html"><img border="1" alt="tr1-ps37 Graph" src="/seg_4/tr/tr1-ps37-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps37.aucfan.com</br> (192.168.4.135) </b></div>
    <div><a href="/seg_4/tr/tr2-ps37-aucfan.html"><img border="1" alt="tr2-ps37 Graph" src="/seg_4/tr/tr2-ps37-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps37.aucfan.com</br> (192.168.4.135) </b></div>
    <div><a href="/seg_4/la/la-ps37-aucfan.html"><img border="1" alt="la-ps37 Graph" src="/seg_4/la/la-ps37-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps37.aucfan.com</br> (192.168.4.135) </b></div>
    <div><a href="/seg_4/hdd/hdd-ps37-aucfan.html"><img border="1" alt="hdd-ps37 Graph" src="/seg_4/hdd/hdd-ps37-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps39.aucfan.com</br> (103.249.200.16) </b></div>
    <div><a href="/seg_4/tr/tr1-ps39-aucfan.html"><img border="1" alt="tr1-ps39 Graph" src="/seg_4/tr/tr1-ps39-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps39.aucfan.com</br> (192.168.4.136) </b></div>
    <div><a href="/seg_4/tr/tr2-ps39-aucfan.html"><img border="1" alt="tr2-ps39 Graph" src="/seg_4/tr/tr2-ps39-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps39.aucfan.com</br> (192.168.4.136) </b></div>
    <div><a href="/seg_4/la/la-ps39-aucfan.html"><img border="1" alt="la-ps39 Graph" src="/seg_4/la/la-ps39-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps39.aucfan.com</br> (192.168.4.136) </b></div>
    <div><a href="/seg_4/hdd/hdd-ps39-aucfan.html"><img border="1" alt="hdd-ps39 Graph" src="/seg_4/hdd/hdd-ps39-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps40.aucfan.com</br> (103.249.200.17) </b></div>
    <div><a href="/seg_4/tr/tr1-ps40-aucfan.html"><img border="1" alt="tr1-ps40 Graph" src="/seg_4/tr/tr1-ps40-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps40.aucfan.com</br> (192.168.4.137) </b></div>
    <div><a href="/seg_4/tr/tr2-ps40-aucfan.html"><img border="1" alt="tr2-ps40 Graph" src="/seg_4/tr/tr2-ps40-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps40.aucfan.com</br> (192.168.4.137) </b></div>
    <div><a href="/seg_4/la/la-ps40-aucfan.html"><img border="1" alt="la-ps40 Graph" src="/seg_4/la/la-ps40-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps40.aucfan.com</br> (192.168.4.137) </b></div>
    <div><a href="/seg_4/hdd/hdd-ps40-aucfan.html"><img border="1" alt="hdd-ps40 Graph" src="/seg_4/hdd/hdd-ps40-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps41.aucfan.com</br> (103.249.200.18) </b></div>
    <div><a href="/seg_4/tr/tr1-ps41-aucfan.html"><img border="1" alt="tr1-ps41 Graph" src="/seg_4/tr/tr1-ps41-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps41.aucfan.com</br> (192.168.4.138) </b></div>
    <div><a href="/seg_4/tr/tr2-ps41-aucfan.html"><img border="1" alt="tr2-ps41 Graph" src="/seg_4/tr/tr2-ps41-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps41.aucfan.com</br> (192.168.4.138) </b></div>
    <div><a href="/seg_4/la/la-ps41-aucfan.html"><img border="1" alt="la-ps41 Graph" src="/seg_4/la/la-ps41-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps41.aucfan.com</br> (192.168.4.138) </b></div>
    <div><a href="/seg_4/hdd/hdd-ps41-aucfan.html"><img border="1" alt="hdd-ps41 Graph" src="/seg_4/hdd/hdd-ps41-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps52.aucfan.com</br> (202.53.16.176) </b></div>
    <div><a href="/seg_2/tr/tr1-ps52-aucfan.html"><img border="1" alt="tr1-ps52 Graph" src="/seg_2/tr/tr1-ps52-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps52.aucfan.com</br> (192.168.2.133) </b></div>
    <div><a href="/seg_2/tr/tr2-ps52-aucfan.html"><img border="1" alt="tr2-ps52 Graph" src="/seg_2/tr/tr2-ps52-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps52.aucfan.com</br> (192.168.2.133) </b></div>
    <div><a href="/seg_2/la/la-ps52-aucfan.html"><img border="1" alt="la-ps52 Graph" src="/seg_2/la/la-ps52-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps52.aucfan.com</br> (192.168.2.133) </b></div>
    <div><a href="/seg_2/hdd/hdd-ps52-aucfan.html"><img border="1" alt="hdd-ps52 Graph" src="/seg_2/hdd/hdd-ps52-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps53.aucfan.com</br> (202.53.16.175) </b></div>
    <div><a href="/seg_2/tr/tr1-ps53-aucfan.html"><img border="1" alt="tr1-ps53 Graph" src="/seg_2/tr/tr1-ps53-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps53.aucfan.com</br> (192.168.2.132) </b></div>
    <div><a href="/seg_2/tr/tr2-ps53-aucfan.html"><img border="1" alt="tr2-ps53 Graph" src="/seg_2/tr/tr2-ps53-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ps53.aucfan.com</br> (192.168.2.132) </b></div>
    <div><a href="/seg_2/la/la-ps53-aucfan.html"><img border="1" alt="la-ps53 Graph" src="/seg_2/la/la-ps53-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps53.aucfan.com</br> (192.168.2.132) </b></div>
    <div><a href="/seg_2/hdd/hdd-ps53-aucfan.html"><img border="1" alt="hdd-ps53 Graph" src="/seg_2/hdd/hdd-ps53-aucfan-day.png"></a></div>
  </td>
</tr>




</table>
</body>
</html>
