<!DOCTYPE html>
<html>
  <head>
    <title>afn-ws3</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws19.aucfan.com</br> (210.152.213.75) </b></div>
    <div><a href="/seg_3/tr/tr1-ws19-aucfan.html"><img border="1" alt="tr1-ws19 Graph" src="/seg_3/tr/tr1-ws19-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws19.aucfan.com</br> (192.168.3.165) </b></div>
    <div><a href="/seg_3/tr/tr2-ws19-aucfan.html"><img border="1" alt="tr2-ws19 Graph" src="/seg_3/tr/tr2-ws19-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws19.aucfan.com</br> (192.168.3.165) </b></div>
    <div><a href="/seg_3/la/la-ws19-aucfan.html"><img border="1" alt="la-ws19 Graph" src="/seg_3/la/la-ws19-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws19.aucfan.com</br> (192.168.3.165) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws19-aucfan.html"><img border="1" alt="hdd-ws19 Graph" src="/seg_3/hdd/hdd-ws19-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws20.aucfan.com</br> (210.152.213.78) </b></div>
    <div><a href="/seg_3/tr/tr1-ws20-aucfan.html"><img border="1" alt="tr1-ws20 Graph" src="/seg_3/tr/tr1-ws20-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws20.aucfan.com</br> (192.168.3.166) </b></div>
    <div><a href="/seg_3/tr/tr2-ws20-aucfan.html"><img border="1" alt="tr2-ws20 Graph" src="/seg_3/tr/tr2-ws20-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws20.aucfan.com</br> (192.168.3.166) </b></div>
    <div><a href="/seg_3/la/la-ws20-aucfan.html"><img border="1" alt="la-ws20 Graph" src="/seg_3/la/la-ws20-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws20.aucfan.com</br> (192.168.3.166) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws20-aucfan.html"><img border="1" alt="hdd-ws20 Graph" src="/seg_3/hdd/hdd-ws20-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws21.aucfan.com</br> (210.152.213.79) </b></div>
    <div><a href="/seg_3/tr/tr1-ws21-aucfan.html"><img border="1" alt="tr1-ws21 Graph" src="/seg_3/tr/tr1-ws21-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws21.aucfan.com</br> (192.168.3.167) </b></div>
    <div><a href="/seg_3/tr/tr2-ws21-aucfan.html"><img border="1" alt="tr2-ws21 Graph" src="/seg_3/tr/tr2-ws21-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws21.aucfan.com</br> (192.168.3.167) </b></div>
    <div><a href="/seg_3/la/la-ws21-aucfan.html"><img border="1" alt="la-ws21 Graph" src="/seg_3/la/la-ws21-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws21.aucfan.com</br> (192.168.3.167) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws21-aucfan.html"><img border="1" alt="hdd-ws21 Graph" src="/seg_3/hdd/hdd-ws21-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws22.aucfan.com</br> (210.152.213.80) </b></div>
    <div><a href="/seg_3/tr/tr1-ws22-aucfan.html"><img border="1" alt="tr1-ws22 Graph" src="/seg_3/tr/tr1-ws22-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws22.aucfan.com</br> (192.168.3.168) </b></div>
    <div><a href="/seg_3/tr/tr2-ws22-aucfan.html"><img border="1" alt="tr2-ws22 Graph" src="/seg_3/tr/tr2-ws22-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws22.aucfan.com</br> (192.168.3.168) </b></div>
    <div><a href="/seg_3/la/la-ws22-aucfan.html"><img border="1" alt="la-ws22 Graph" src="/seg_3/la/la-ws22-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws22.aucfan.com</br> (192.168.3.168) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws22-aucfan.html"><img border="1" alt="hdd-ws22 Graph" src="/seg_3/hdd/hdd-ws22-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws23.aucfan.com</br> (210.152.213.81) </b></div>
    <div><a href="/seg_3/tr/tr1-ws23-aucfan.html"><img border="1" alt="tr1-ws23 Graph" src="/seg_3/tr/tr1-ws23-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws23.aucfan.com</br> (192.168.3.169) </b></div>
    <div><a href="/seg_3/tr/tr2-ws23-aucfan.html"><img border="1" alt="tr2-ws23 Graph" src="/seg_3/tr/tr2-ws23-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws23.aucfan.com</br> (192.168.3.169) </b></div>
    <div><a href="/seg_3/la/la-ws23-aucfan.html"><img border="1" alt="la-ws23 Graph" src="/seg_3/la/la-ws23-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws23.aucfan.com</br> (192.168.3.169) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws23-aucfan.html"><img border="1" alt="hdd-ws23 Graph" src="/seg_3/hdd/hdd-ws23-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws24.aucfan.com</br> (210.152.213.82) </b></div>
    <div><a href="/seg_3/tr/tr1-ws24-aucfan.html"><img border="1" alt="tr1-ws24 Graph" src="/seg_3/tr/tr1-ws24-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws24.aucfan.com</br> (192.168.3.170) </b></div>
    <div><a href="/seg_3/tr/tr2-ws24-aucfan.html"><img border="1" alt="tr2-ws24 Graph" src="/seg_3/tr/tr2-ws24-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws24.aucfan.com</br> (192.168.3.170) </b></div>
    <div><a href="/seg_3/la/la-ws24-aucfan.html"><img border="1" alt="la-ws24 Graph" src="/seg_3/la/la-ws24-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws24.aucfan.com</br> (192.168.3.170) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws24-aucfan.html"><img border="1" alt="hdd-ws24 Graph" src="/seg_3/hdd/hdd-ws24-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws25.aucfan.com</br> (210.152.213.83) </b></div>
    <div><a href="/seg_3/tr/tr1-ws25-aucfan.html"><img border="1" alt="tr1-ws25 Graph" src="/seg_3/tr/tr1-ws25-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws25.aucfan.com</br> (192.168.3.171) </b></div>
    <div><a href="/seg_3/tr/tr2-ws25-aucfan.html"><img border="1" alt="tr2-ws25 Graph" src="/seg_3/tr/tr2-ws25-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws25.aucfan.com</br> (192.168.3.171) </b></div>
    <div><a href="/seg_3/la/la-ws25-aucfan.html"><img border="1" alt="la-ws25 Graph" src="/seg_3/la/la-ws25-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws25.aucfan.com</br> (192.168.3.171) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws25-aucfan.html"><img border="1" alt="hdd-ws25 Graph" src="/seg_3/hdd/hdd-ws25-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws26.aucfan.com</br> (210.152.213.84) </b></div>
    <div><a href="/seg_3/tr/tr1-ws26-aucfan.html"><img border="1" alt="tr1-ws26 Graph" src="/seg_3/tr/tr1-ws26-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws26.aucfan.com</br> (192.168.3.176) </b></div>
    <div><a href="/seg_3/tr/tr2-ws26-aucfan.html"><img border="1" alt="tr2-ws26 Graph" src="/seg_3/tr/tr2-ws26-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws26.aucfan.com</br> (192.168.3.176) </b></div>
    <div><a href="/seg_3/la/la-ws26-aucfan.html"><img border="1" alt="la-ws26 Graph" src="/seg_3/la/la-ws26-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws26.aucfan.com</br> (192.168.3.176) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws26-aucfan.html"><img border="1" alt="hdd-ws26 Graph" src="/seg_3/hdd/hdd-ws26-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws27.aucfan.com</br> (210.152.213.85) </b></div>
    <div><a href="/seg_3/tr/tr1-ws27-aucfan.html"><img border="1" alt="tr1-ws27 Graph" src="/seg_3/tr/tr1-ws27-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws27.aucfan.com</br> (192.168.3.177) </b></div>
    <div><a href="/seg_3/tr/tr2-ws27-aucfan.html"><img border="1" alt="tr2-ws27 Graph" src="/seg_3/tr/tr2-ws27-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws27.aucfan.com</br> (192.168.3.177) </b></div>
    <div><a href="/seg_3/la/la-ws27-aucfan.html"><img border="1" alt="la-ws27 Graph" src="/seg_3/la/la-ws27-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws27.aucfan.com</br> (192.168.3.177) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws27-aucfan.html"><img border="1" alt="hdd-ws27 Graph" src="/seg_3/hdd/hdd-ws27-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws28.aucfan.com</br> (210.152.213.86) </b></div>
    <div><a href="/seg_3/tr/tr1-ws28-aucfan.html"><img border="1" alt="tr1-ws28 Graph" src="/seg_3/tr/tr1-ws28-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws28.aucfan.com</br> (192.168.3.178) </b></div>
    <div><a href="/seg_3/tr/tr2-ws28-aucfan.html"><img border="1" alt="tr2-ws28 Graph" src="/seg_3/tr/tr2-ws28-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws28.aucfan.com</br> (192.168.3.178) </b></div>
    <div><a href="/seg_3/la/la-ws28-aucfan.html"><img border="1" alt="la-ws28 Graph" src="/seg_3/la/la-ws28-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws28.aucfan.com</br> (192.168.3.178) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws28-aucfan.html"><img border="1" alt="hdd-ws28 Graph" src="/seg_3/hdd/hdd-ws28-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws29.aucfan.com</br> (210.152.213.87) </b></div>
    <div><a href="/seg_3/tr/tr1-ws29-aucfan.html"><img border="1" alt="tr1-ws29 Graph" src="/seg_3/tr/tr1-ws29-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws29.aucfan.com</br> (192.168.3.179) </b></div>
    <div><a href="/seg_3/tr/tr2-ws29-aucfan.html"><img border="1" alt="tr2-ws29 Graph" src="/seg_3/tr/tr2-ws29-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws29.aucfan.com</br> (192.168.3.179) </b></div>
    <div><a href="/seg_3/la/la-ws29-aucfan.html"><img border="1" alt="la-ws29 Graph" src="/seg_3/la/la-ws29-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws29.aucfan.com</br> (192.168.3.179) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws29-aucfan.html"><img border="1" alt="hdd-ws29 Graph" src="/seg_3/hdd/hdd-ws29-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws30.aucfan.com</br> (210.152.213.88) </b></div>
    <div><a href="/seg_3/tr/tr1-ws30-aucfan.html"><img border="1" alt="tr1-ws30 Graph" src="/seg_3/tr/tr1-ws30-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws30.aucfan.com</br> (192.168.3.180) </b></div>
    <div><a href="/seg_3/tr/tr2-ws30-aucfan.html"><img border="1" alt="tr2-ws30 Graph" src="/seg_3/tr/tr2-ws30-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws30.aucfan.com</br> (192.168.3.180) </b></div>
    <div><a href="/seg_3/la/la-ws30-aucfan.html"><img border="1" alt="la-ws30 Graph" src="/seg_3/la/la-ws30-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws30.aucfan.com</br> (192.168.3.180) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws30-aucfan.html"><img border="1" alt="hdd-ws30 Graph" src="/seg_3/hdd/hdd-ws30-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws31.aucfan.com</br> (210.152.213.89) </b></div>
    <div><a href="/seg_3/tr/tr1-ws31-aucfan.html"><img border="1" alt="tr1-ws31 Graph" src="/seg_3/tr/tr1-ws31-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws31.aucfan.com</br> (192.168.3.181) </b></div>
    <div><a href="/seg_3/tr/tr2-ws31-aucfan.html"><img border="1" alt="tr2-ws31 Graph" src="/seg_3/tr/tr2-ws31-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws31.aucfan.com</br> (192.168.3.181) </b></div>
    <div><a href="/seg_3/la/la-ws31-aucfan.html"><img border="1" alt="la-ws31 Graph" src="/seg_3/la/la-ws31-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws31.aucfan.com</br> (192.168.3.181) </b></div>
    <div><a href="/seg_3/hdd/hdd-ws31-aucfan.html"><img border="1" alt="hdd-ws31 Graph" src="/seg_3/hdd/hdd-ws31-aucfan-day.png"></a></div>
  </td>
</tr>




</table>
</body>
</html>
