<!DOCTYPE html>
<html>
  <head>
    <title>afn-ws3</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws11.aucfan.com</br> (202.53.16.134) </b></div>
    <div><a href="/seg_2/tr/tr1-ws11-aucfan.html"><img border="1" alt="tr1-ws11 Graph" src="/seg_2/tr/tr1-ws11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws11.aucfan.com</br> (192.168.2.134) </b></div>
    <div><a href="/seg_2/tr/tr2-ws11-aucfan.html"><img border="1" alt="tr2-ws11 Graph" src="/seg_2/tr/tr2-ws11-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws11.aucfan.com</br> (192.168.2.134) </b></div>
    <div><a href="/seg_2/la/la-ws11-aucfan.html"><img border="1" alt="la-ws11 Graph" src="/seg_2/la/la-ws11-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws11.aucfan.com</br> (192.168.2.134) </b></div>
    <div><a href="/seg_2/hdd/hdd-ws11-aucfan.html"><img border="1" alt="hdd-ws11 Graph" src="/seg_2/hdd/hdd-ws11-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws12.aucfan.com</br> (202.53.16.135) </b></div>
    <div><a href="/seg_2/tr/tr1-ws12-aucfan.html"><img border="1" alt="tr1-ws12 Graph" src="/seg_2/tr/tr1-ws12-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws12.aucfan.com</br> (192.168.2.135) </b></div>
    <div><a href="/seg_2/tr/tr2-ws12-aucfan.html"><img border="1" alt="tr2-ws12 Graph" src="/seg_2/tr/tr2-ws12-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws12.aucfan.com</br> (192.168.2.135) </b></div>
    <div><a href="/seg_2/la/la-ws12-aucfan.html"><img border="1" alt="la-ws12 Graph" src="/seg_2/la/la-ws12-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws12.aucfan.com</br> (192.168.2.135) </b></div>
    <div><a href="/seg_2/hdd/hdd-ws12-aucfan.html"><img border="1" alt="hdd-ws12 Graph" src="/seg_2/hdd/hdd-ws12-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws13.aucfan.com</br> (202.53.16.136) </b></div>
    <div><a href="/seg_2/tr/tr1-ws13-aucfan.html"><img border="1" alt="tr1-ws13 Graph" src="/seg_2/tr/tr1-ws13-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws13.aucfan.com</br> (192.168.2.136) </b></div>
    <div><a href="/seg_2/tr/tr2-ws13-aucfan.html"><img border="1" alt="tr2-ws13 Graph" src="/seg_2/tr/tr2-ws13-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws13.aucfan.com</br> (192.168.2.136) </b></div>
    <div><a href="/seg_2/la/la-ws13-aucfan.html"><img border="1" alt="la-ws13 Graph" src="/seg_2/la/la-ws13-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws13.aucfan.com</br> (192.168.2.136) </b></div>
    <div><a href="/seg_2/hdd/hdd-ws13-aucfan.html"><img border="1" alt="hdd-ws13 Graph" src="/seg_2/hdd/hdd-ws13-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws14.aucfan.com</br> (202.53.16.137) </b></div>
    <div><a href="/seg_2/tr/tr1-ws14-aucfan.html"><img border="1" alt="tr1-ws14 Graph" src="/seg_2/tr/tr1-ws14-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws14.aucfan.com</br> (192.168.2.137) </b></div>
    <div><a href="/seg_2/tr/tr2-ws14-aucfan.html"><img border="1" alt="tr2-ws14 Graph" src="/seg_2/tr/tr2-ws14-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws14.aucfan.com</br> (192.168.2.137) </b></div>
    <div><a href="/seg_2/la/la-ws14-aucfan.html"><img border="1" alt="la-ws14 Graph" src="/seg_2/la/la-ws14-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws14.aucfan.com</br> (192.168.2.137) </b></div>
    <div><a href="/seg_2/hdd/hdd-ws14-aucfan.html"><img border="1" alt="hdd-ws14 Graph" src="/seg_2/hdd/hdd-ws14-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws15.aucfan.com</br> (202.53.16.138) </b></div>
    <div><a href="/seg_2/tr/tr1-ws15-aucfan.html"><img border="1" alt="tr1-ws15 Graph" src="/seg_2/tr/tr1-ws15-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws15.aucfan.com</br> (192.168.2.138) </b></div>
    <div><a href="/seg_2/tr/tr2-ws15-aucfan.html"><img border="1" alt="tr2-ws15 Graph" src="/seg_2/tr/tr2-ws15-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws15.aucfan.com</br> (192.168.2.138) </b></div>
    <div><a href="/seg_2/la/la-ws15-aucfan.html"><img border="1" alt="la-ws15 Graph" src="/seg_2/la/la-ws15-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws15.aucfan.com</br> (192.168.2.138) </b></div>
    <div><a href="/seg_2/hdd/hdd-ws15-aucfan.html"><img border="1" alt="hdd-ws15 Graph" src="/seg_2/hdd/hdd-ws15-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws16.aucfan.com</br> (202.53.16.139) </b></div>
    <div><a href="/seg_2/tr/tr1-ws16-aucfan.html"><img border="1" alt="tr1-ws16 Graph" src="/seg_2/tr/tr1-ws16-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws16.aucfan.com</br> (192.168.2.139) </b></div>
    <div><a href="/seg_2/tr/tr2-ws16-aucfan.html"><img border="1" alt="tr2-ws16 Graph" src="/seg_2/tr/tr2-ws16-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws16.aucfan.com</br> (192.168.2.139) </b></div>
    <div><a href="/seg_2/la/la-ws16-aucfan.html"><img border="1" alt="la-ws16 Graph" src="/seg_2/la/la-ws16-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws16.aucfan.com</br> (192.168.2.139) </b></div>
    <div><a href="/seg_2/hdd/hdd-ws16-aucfan.html"><img border="1" alt="hdd-ws16 Graph" src="/seg_2/hdd/hdd-ws16-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws17.aucfan.com</br> (202.53.16.140) </b></div>
    <div><a href="/seg_2/tr/tr1-ws17-aucfan.html"><img border="1" alt="tr1-ws17 Graph" src="/seg_2/tr/tr1-ws17-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws17.aucfan.com</br> (192.168.2.140) </b></div>
    <div><a href="/seg_2/tr/tr2-ws17-aucfan.html"><img border="1" alt="tr2-ws17 Graph" src="/seg_2/tr/tr2-ws17-aucfan-day.png"></a></div>
  </td>  
  <td>
    <div><b> Load Average on ws17.aucfan.com</br> (192.168.2.140) </b></div>
    <div><a href="/seg_2/la/la-ws17-aucfan.html"><img border="1" alt="la-ws17 Graph" src="/seg_2/la/la-ws17-aucfan-day.png"></a></div>
  </td> 
  <td>
    <div><b> HDD Status on ws17.aucfan.com</br> (192.168.2.140) </b></div>
    <div><a href="/seg_2/hdd/hdd-ws17-aucfan.html"><img border="1" alt="hdd-ws17 Graph" src="/seg_2/hdd/hdd-ws17-aucfan-day.png"></a></div>
  </td>
</tr>




</table>
</body>
</html>
