<!DOCTYPE html>
<html>
  <head>
    <title>5R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul>
<li>Traffic1 on rt1.aucfan.idcf (192.168.3.1)<br /><a href="tr1-rt1-aucfan-idcf.html"><img src="tr1-rt1-aucfan-idcf-day.png" alt="tr1-rt1-aucfan-idcf-day"/></a></li>
<li>Traffic LAN2 on rt1.aucfan.idcf (210.152.140.226)<br /><a href="tr2-rt1-aucfan-idcf.html"><img src="tr2-rt1-aucfan-idcf-day.png" alt="tr2-rt1-aucfan-idcf-day"/></a></li>
<li>Traffic1 on rt2.aucfan.idcf (192.168.3.2)<br /><a href="tr1-rt2-aucfan-idcf.html"><img src="tr1-rt2-aucfan-idcf-day.png" alt="tr1-rt2-aucfan-idcf-day"/></a></li>
<li>Traffic LAN2 on rt2.aucfan.idcf (210.152.140.225)<br /><a href="tr2-rt2-aucfan-idcf.html"><img src="tr2-rt2-aucfan-idcf-day.png" alt="tr2-rt2-aucfan-idcf-day"/></a></li>
<li>Traffic LAN1 on R610_1.aucfan.com (210.152.140.231)<br /><a href="tr1-r610_1-aucfan.html"><img src="tr1-r610_1-aucfan-day.png" alt="tr1-r610_1-aucfan-day"/></a></li>
<li>Traffic LAN2 on R610_1.aucfan.com (192.168.3.31)<br /><a href="tr2-r610_1-aucfan.html"><img src="tr2-r610_1-aucfan-day.png" alt="tr2-r610_1-aucfan-day"/></a></li>
<li>Traffic LAN1 on R610_2.aucfan.com (210.152.140.232)<br /><a href="tr1-r610_2-aucfan.html"><img src="tr1-r610_2-aucfan-day.png" alt="tr1-r610_2-aucfan-day"/></a></li>
<li>Traffic LAN2 on R610_2.aucfan.com (192.168.3.32)<br /><a href="tr2-r610_2-aucfan.html"><img src="tr2-r610_2-aucfan-day.png" alt="tr2-r610_2-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_2.aucfan.com (192.168.3.34)<br /><a href="tr1-r410_2-aucfan.html"><img src="tr1-r410_2-aucfan-day.png" alt="tr1-r410_2-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_2.aucfan.com (192.168.3.34)<br /><a href="tr2-r410_2-aucfan.html"><img src="tr2-r410_2-aucfan-day.png" alt="tr2-r410_2-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_3.aucfan.com (192.168.3.35)<br /><a href="tr1-r410_3-aucfan.html"><img src="tr1-r410_3-aucfan-day.png" alt="tr1-r410_3-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_3.aucfan.com (192.168.3.35)<br /><a href="tr2-r410_3-aucfan.html"><img src="tr2-r410_3-aucfan-day.png" alt="tr2-r410_3-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_4.aucfan.com (192.168.3.36)<br /><a href="tr1-r410_4-aucfan.html"><img src="tr1-r410_4-aucfan-day.png" alt="tr1-r410_4-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_4.aucfan.com (192.168.3.36)<br /><a href="tr2-r410_4-aucfan.html"><img src="tr2-r410_4-aucfan-day.png" alt="tr2-r410_4-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_5.aucfan.com (192.168.3.37)<br /><a href="tr1-r410_5-aucfan.html"><img src="tr1-r410_5-aucfan-day.png" alt="tr1-r410_5-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_5.aucfan.com (192.168.3.37)<br /><a href="tr2-r410_5-aucfan.html"><img src="tr2-r410_5-aucfan-day.png" alt="tr2-r410_5-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_6.aucfan.com (192.168.3.38)<br /><a href="tr1-r410_6-aucfan.html"><img src="tr1-r410_6-aucfan-day.png" alt="tr1-r410_6-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_6.aucfan.com (192.168.3.38)<br /><a href="tr2-r410_6-aucfan.html"><img src="tr2-r410_6-aucfan-day.png" alt="tr2-r410_6-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_7.aucfan.com (192.168.3.39)<br /><a href="tr1-r410_7-aucfan.html"><img src="tr1-r410_7-aucfan-day.png" alt="tr1-r410_7-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_7.aucfan.com (192.168.3.39)<br /><a href="tr2-r410_7-aucfan.html"><img src="tr2-r410_7-aucfan-day.png" alt="tr2-r410_7-aucfan-day"/></a></li>
<li>Traffic LAN1 on pws05.aucfan.com (210.152.213.92)<br /><a href="tr1-pws05-aucfan.html"><img src="tr1-pws05-aucfan-day.png" alt="tr1-pws05-aucfan-day"/></a></li>
<li>Traffic LAN2 on pws05.aucfan.com (192.168.3.40)<br /><a href="tr2-pws05-aucfan.html"><img src="tr2-pws05-aucfan-day.png" alt="tr2-pws05-aucfan-day"/></a></li>
<li>Traffic LAN1 on pws06.aucfan.com (210.152.140.248)<br /><a href="tr1-pws06-aucfan.html"><img src="tr1-pws06-aucfan-day.png" alt="tr1-pws06-aucfan-day"/></a></li>
<li>Traffic LAN2 on pws06.aucfan.com (192.168.3.41)<br /><a href="tr2-pws06-aucfan.html"><img src="tr2-pws06-aucfan-day.png" alt="tr2-pws06-aucfan-day"/></a></li>
<li>Traffic LAN1 on img01b.aucfan.com (210.152.140.251)<br /><a href="tr1-img01b-aucfan.html"><img src="tr1-img01b-aucfan-day.png" alt="tr1-img01b-aucfan-day"/></a></li>
<li>Traffic LAN2 on img01b.aucfan.com (192.168.3.91)<br /><a href="tr2-img01b-aucfan.html"><img src="tr2-img01b-aucfan-day.png" alt="tr2-img01b-aucfan-day"/></a></li>
<li>Traffic LAN1 on img02b.aucfan.com (210.152.140.252)<br /><a href="tr1-img02b-aucfan.html"><img src="tr1-img02b-aucfan-day.png" alt="tr1-img02b-aucfan-day"/></a></li>
<li>Traffic LAN2 on img02b.aucfan.com (192.168.3.92)<br /><a href="tr2-img02b-aucfan.html"><img src="tr2-img02b-aucfan-day.png" alt="tr2-img02b-aucfan-day"/></a></li>
<li>Traffic LAN1 on pws07.aucfan.com (210.152.140.249)<br /><a href="tr1-pws07-aucfan.html"><img src="tr1-pws07-aucfan-day.png" alt="tr1-pws07-aucfan-day"/></a></li>
<li>Traffic LAN2 on pws07.aucfan.com (192.168.3.42)<br /><a href="tr2-pws07-aucfan.html"><img src="tr2-pws07-aucfan-day.png" alt="tr2-pws07-aucfan-day"/></a></li>
<li>Traffic LAN1 on pws08.aucfan.com (210.152.213.90)<br /><a href="tr1-pws08-aucfan.html"><img src="tr1-pws08-aucfan-day.png" alt="tr1-pws08-aucfan-day"/></a></li>
<li>Traffic LAN2 on pws08.aucfan.com (192.168.3.43)<br /><a href="tr2-pws08-aucfan.html"><img src="tr2-pws08-aucfan-day.png" alt="tr2-pws08-aucfan-day"/></a></li>
<li>Traffic LAN1 on pws01.aucfan.com (192.168.3.46)<br /><a href="tr1-pws01-aucfan.html"><img src="tr1-pws01-aucfan-day.png" alt="tr1-pws01-aucfan-day"/></a></li>
<li>Traffic LAN2 on pws01.aucfan.com (210.152.213.76)<br /><a href="tr2-pws01-aucfan.html"><img src="tr2-pws01-aucfan-day.png" alt="tr2-pws01-aucfan-day"/></a></li>
<li>Traffic LAN1 on pws02.aucfan.com (192.168.3.47)<br /><a href="tr1-pws02-aucfan.html"><img src="tr1-pws02-aucfan-day.png" alt="tr1-pws02-aucfan-day"/></a></li>
<li>Traffic LAN2 on pws02.aucfan.com (210.152.213.77)<br /><a href="tr2-pws02-aucfan.html"><img src="tr2-pws02-aucfan-day.png" alt="tr2-pws02-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_24.aucfan.com (192.168.3.56)<br /><a href="tr2-r410_24-aucfan.html"><img src="tr2-r410_24-aucfan-day.png" alt="tr2-r410_24-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_16.aucfan.com (no IP)<br /><a href="tr1-r410_16-aucfan.html"><img src="tr1-r410_16-aucfan-day.png" alt="tr1-r410_16-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_16.aucfan.com (192.168.3.48)<br /><a href="tr2-r410_16-aucfan.html"><img src="tr2-r410_16-aucfan-day.png" alt="tr2-r410_16-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_17.aucfan.com (no IP)<br /><a href="tr1-r410_17-aucfan.html"><img src="tr1-r410_17-aucfan-day.png" alt="tr1-r410_17-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_17.aucfan.com (192.168.3.49)<br /><a href="tr2-r410_17-aucfan.html"><img src="tr2-r410_17-aucfan-day.png" alt="tr2-r410_17-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_18.aucfan.com (no IP)<br /><a href="tr1-r410_18-aucfan.html"><img src="tr1-r410_18-aucfan-day.png" alt="tr1-r410_18-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_18.aucfan.com (192.168.3.50)<br /><a href="tr2-r410_18-aucfan.html"><img src="tr2-r410_18-aucfan-day.png" alt="tr2-r410_18-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_19.aucfan.com (no IP)<br /><a href="tr1-r410_19-aucfan.html"><img src="tr1-r410_19-aucfan-day.png" alt="tr1-r410_19-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_19.aucfan.com (192.168.3.51)<br /><a href="tr2-r410_19-aucfan.html"><img src="tr2-r410_19-aucfan-day.png" alt="tr2-r410_19-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_21.aucfan.com (no IP)<br /><a href="tr1-r410_21-aucfan.html"><img src="tr1-r410_21-aucfan-day.png" alt="tr1-r410_21-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_21.aucfan.com (192.168.3.53)<br /><a href="tr2-r410_21-aucfan.html"><img src="tr2-r410_21-aucfan-day.png" alt="tr2-r410_21-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_22.aucfan.com (no IP)<br /><a href="tr1-r410_22-aucfan.html"><img src="tr1-r410_22-aucfan-day.png" alt="tr1-r410_22-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_22.aucfan.com (192.168.3.54)<br /><a href="tr2-r410_22-aucfan.html"><img src="tr2-r410_22-aucfan-day.png" alt="tr2-r410_22-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_25.aucfan.com (192.168.3.57)<br /><a href="tr2-r410_25-aucfan.html"><img src="tr2-r410_25-aucfan-day.png" alt="tr2-r410_25-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_27.aucfan.com (192.168.3.59)<br /><a href="tr2-r410_27-aucfan.html"><img src="tr2-r410_27-aucfan-day.png" alt="tr2-r410_27-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_28.aucfan.com (192.168.3.60)<br /><a href="tr2-r410_28-aucfan.html"><img src="tr2-r410_28-aucfan-day.png" alt="tr2-r410_28-aucfan-day"/></a></li>
<li>Traffic LAN2 on ss15.aucfan.com (192.168.3.148)<br /><a href="tr2-ss15-aucfan.html"><img src="tr2-ss15-aucfan-day.png" alt="tr2-ss15-aucfan-day"/></a></li>
<li>Traffic LAN2 on ss16.aucfan.com (192.168.3.149)<br /><a href="tr2-ss16-aucfan.html"><img src="tr2-ss16-aucfan-day.png" alt="tr2-ss16-aucfan-day"/></a></li>
<li>Traffic LAN2 on ss17.aucfan.com (192.168.3.150)<br /><a href="tr2-ss17-aucfan.html"><img src="tr2-ss17-aucfan-day.png" alt="tr2-ss17-aucfan-day"/></a></li>
<li>Traffic LAN2 on ss18.aucfan.com (192.168.3.151)<br /><a href="tr2-ss18-aucfan.html"><img src="tr2-ss18-aucfan-day.png" alt="tr2-ss18-aucfan-day"/></a></li>
<li>Traffic LAN2 on ss19.aucfan.com (192.168.3.153)<br /><a href="tr2-ss19-aucfan.html"><img src="tr2-ss19-aucfan-day.png" alt="tr2-ss19-aucfan-day"/></a></li>
<li>Traffic LAN2 on ss20.aucfan.com (192.168.3.154)<br /><a href="tr2-ss20-aucfan.html"><img src="tr2-ss20-aucfan-day.png" alt="tr2-ss20-aucfan-day"/></a></li>
