<!DOCTYPE html>
<html>
  <head>
    <title>seg_2/Traffic</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on Router-bitisle-1.aucfan.com</br> (192.168.2.1) </b></div>
    <div><a href="tr1-afn-bitisle-1.html"><img border="1" alt="tr1-bitisle-1 Graph" src="tr1-afn-bitisle-1-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on Router-bitisle-4.aucfan.com</br> (58.89.248.33) </b></div>
    <div><a href="tr1-afn-bitisle-4.html"><img border="1" alt="tr1-bitisle-4 Graph" src="tr1-afn-bitisle-4-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN3 on Router-bitisle-4.aucfan.com</br> (192.168.2.4) </b></div>
    <div><a href="tr3-afn-bitisle-4.html"><img border="1" alt="tr3-bitisle-4 Graph" src="tr3-afn-bitisle-4-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on bt01.aucfan.com</br> (210.158.44.22) </b></div>
    <div><a href="tr1-bt01-aucfan.html"><img border="1" alt="tr1-bt01 Graph" src="tr1-bt01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on bt01.aucfan.com</br> (192.168.2.34) </b></div>
    <div><a href="tr2-bt01-aucfan.html"><img border="1" alt="tr2-bt01 Graph" src="tr2-bt01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ds05.aucfan.com</br> (124.39.233.222) </b></div>
    <div><a href="tr1-ds05-aucfan.html"><img border="1" alt="tr1-ds05 Graph" src="tr1-ds05-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ds05.aucfan.com</br> (192.168.2.35) </b></div>
    <div><a href="tr2-ds05-aucfan.html"><img border="1" alt="tr2-ds05 Graph" src="tr2-ds05-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ds06.aucfan.com</br> (192.168.2.36) </b></div>
    <div><a href="tr1-ds06-aucfan.html"><img border="1" alt="tr1-ds06 Graph" src="tr1-ds06-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ds06.aucfan.com</br> (192.168.2.36) </b></div>
    <div><a href="tr2-ds06-aucfan.html"><img border="1" alt="tr2-ds06 Graph" src="tr2-ds06-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ds07.aucfan.com</br> (192.168.2.37) </b></div>
    <div><a href="tr1-ds07-aucfan.html"><img border="1" alt="tr1-ds07 Graph" src="tr1-ds07-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ds07.aucfan.com</br> (192.168.2.37) </b></div>
    <div><a href="tr2-ds07-aucfan.html"><img border="1" alt="tr2-ds07 Graph" src="tr2-ds07-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on is01.aucfan.com</br> (202.53.16.148) </b></div>
    <div><a href="tr1-is01-aucfan.html"><img border="1" alt="tr1-is01 Graph" src="tr1-is01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on is01.aucfan.com</br> (192.168.2.38) </b></div>
    <div><a href="tr2-is01-aucfan.html"><img border="1" alt="tr2-is01 Graph" src="tr2-is01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on it02.aucfan.com</br> (202.53.16.130) </b></div>
    <div><a href="tr1-it02-aucfan.html"><img border="1" alt="tr1-it02 Graph" src="tr1-it02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on it02.aucfan.com</br> (192.168.2.40) </b></div>
    <div><a href="tr2-it02-aucfan.html"><img border="1" alt="tr2-it02 Graph" src="tr2-it02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on cs01.aucfan.com</br> (192.168.2.61) </b></div>
    <div><a href="tr1-cs01-aucfan.html"><img border="1" alt="tr1-cs01 Graph" src="tr1-cs01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cs01.aucfan.com</br> (192.168.2.61) </b></div>
    <div><a href="tr2-cs01-aucfan.html"><img border="1" alt="tr2-cs01 Graph" src="tr2-cs01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on cs02.aucfan.com</br> (192.168.2.68) </b></div>
    <div><a href="tr1-cs02-aucfan.html"><img border="1" alt="tr1-cs02 Graph" src="tr1-cs02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cs02.aucfan.com</br> (192.168.2.68) </b></div>
    <div><a href="tr2-cs02-aucfan.html"><img border="1" alt="tr2-cs02 Graph" src="tr2-cs02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on se01.aucfan.com</br> (192.168.2.69) </b></div>
    <div><a href="tr1-se01-aucfan.html"><img border="1" alt="tr1-se01 Graph" src="tr1-se01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on se01.aucfan.com</br> (192.168.2.69) </b></div>
    <div><a href="tr2-se01-aucfan.html"><img border="1" alt="tr2-se01 Graph" src="tr2-se01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on se02.aucfan.com</br> (192.168.2.70) </b></div>
    <div><a href="tr1-se02-aucfan.html"><img border="1" alt="tr1-se02 Graph" src="tr1-se02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on se02.aucfan.com</br> (192.168.2.70) </b></div>
    <div><a href="tr2-se02-aucfan.html"><img border="1" alt="tr2-se02 Graph" src="tr2-se02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ss14.aucfan.com</br> (192.168.2.84) </b></div>
    <div><a href="tr1-ss14-aucfan.html"><img border="1" alt="tr1-ss14 Graph" src="tr1-ss14-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ss14.aucfan.com</br> (192.168.2.84) </b></div>
    <div><a href="tr2-ss14-aucfan.html"><img border="1" alt="tr2-ss14 Graph" src="tr2-ss14-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on wspf02.aucfan.com</br> (202.53.16.151) </b></div>
    <div><a href="tr1-wspf02-aucfan.html"><img border="1" alt="tr1-wspf02 Graph" src="tr1-wspf02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on wspf02.aucfan.com</br> (192.168.2.115) </b></div>
    <div><a href="tr2-wspf02-aucfan.html"><img border="1" alt="tr2-wspf02 Graph" src="tr2-wspf02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on sspf02.aucfan.com</br> (192.168.2.117) </b></div>
    <div><a href="tr1-sspf02-aucfan.html"><img border="1" alt="tr1-sspf02 Graph" src="tr1-sspf02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on sspf02.aucfan.com</br> (192.168.2.117) </b></div>
    <div><a href="tr2-sspf02-aucfan.html"><img border="1" alt="tr2-sspf02 Graph" src="tr2-sspf02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on dspf02.aucfan.com</br> (202.53.16.150) </b></div>
    <div><a href="tr1-dspf02-aucfan.html"><img border="1" alt="tr1-dspf02 Graph" src="tr1-dspf02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on dspf02.aucfan.com</br> (192.168.2.119) </b></div>
    <div><a href="tr2-dspf02-aucfan.html"><img border="1" alt="tr2-dspf02 Graph" src="tr2-dspf02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on wsapi01.aucfan.com</br> (192.168.2.122) </b></div>
    <div><a href="tr1-wsapi01-aucfan.html"><img border="1" alt="tr1-wsapi01 Graph" src="tr1-wsapi01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on wsapi01.aucfan.com</br> (192.168.2.122) </b></div>
    <div><a href="tr2-wsapi01-aucfan.html"><img border="1" alt="tr2-wsapi01 Graph" src="tr2-wsapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ssapi01.aucfan.com</br> (192.168.2.124) </b></div>
    <div><a href="tr1-ssapi01-aucfan.html"><img border="1" alt="tr1-ssapi01 Graph" src="tr1-ssapi01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ssapi01.aucfan.com</br> (192.168.2.124) </b></div>
    <div><a href="tr2-ssapi01-aucfan.html"><img border="1" alt="tr2-ssapi01 Graph" src="tr2-ssapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on bk01.aucfan.com</br> (192.168.2.141) </b></div>
    <div><a href="tr1-bk01-aucfan.html"><img border="1" alt="tr1-bk01 Graph" src="tr1-bk01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on bk01.aucfan.com</br> (192.168.2.141) </b></div>
    <div><a href="tr2-bk01-aucfan.html"><img border="1" alt="tr2-bk01 Graph" src="tr2-bk01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on cr02.aucfan.com</br> (192.168.2.143) </b></div>
    <div><a href="tr1-cr02-aucfan.html"><img border="1" alt="tr1-cr02 Graph" src="tr1-cr02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cr02.aucfan.com</br> (192.168.2.143) </b></div>
    <div><a href="tr2-cr02-aucfan.html"><img border="1" alt="tr2-cr02 Graph" src="tr2-cr02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on cr04.aucfan.com</br> (124.39.233.211) </b></div>
    <div><a href="tr1-cr04-aucfan.html"><img border="1" alt="tr1-cr04 Graph" src="tr1-cr04-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cr04.aucfan.com</br> (192.168.2.145) </b></div>
    <div><a href="tr2-cr04-aucfan.html"><img border="1" alt="tr2-cr04 Graph" src="tr2-cr04-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on pws06.aucfan.com</br> (192.168.2.182) </b></div>
    <div><a href="tr1-pws06-aucfan.html"><img border="1" alt="tr1-pws06 Graph" src="tr1-pws06-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on pws06.aucfan.com</br> (192.168.2.182) </b></div>
    <div><a href="tr2-pws06-aucfan.html"><img border="1" alt="tr2-pws06 Graph" src="tr2-pws06-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps01.aucfan.com</br> (202.53.16.164) </b></div>
    <div><a href="tr1-ps01-aucfan.html"><img border="1" alt="tr1-ps01 Graph" src="tr1-ps01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps01.aucfan.com</br> (192.168.2.201) </b></div>
    <div><a href="tr2-ps01-aucfan.html"><img border="1" alt="tr2-ps01 Graph" src="tr2-ps01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps02.aucfan.com</br> (124.39.233.212) </b></div>
    <div><a href="tr1-ps02-aucfan.html"><img border="1" alt="tr1-ps02 Graph" src="tr1-ps02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps02.aucfan.com</br> (192.168.2.202) </b></div>
    <div><a href="tr2-ps02-aucfan.html"><img border="1" alt="tr2-ps02 Graph" src="tr2-ps02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps03.aucfan.com</br> (124.39.233.213) </b></div>
    <div><a href="tr1-ps03-aucfan.html"><img border="1" alt="tr1-ps03 Graph" src="tr1-ps03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps03.aucfan.com</br> (192.168.2.203) </b></div>
    <div><a href="tr2-ps03-aucfan.html"><img border="1" alt="tr2-ps03 Graph" src="tr2-ps03-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps04.aucfan.com</br> (202.53.16.143) </b></div>
    <div><a href="tr1-ps04-aucfan.html"><img border="1" alt="tr1-ps04 Graph" src="tr1-ps04-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps04.aucfan.com</br> (192.168.2.204) </b></div>
    <div><a href="tr2-ps04-aucfan.html"><img border="1" alt="tr2-ps04 Graph" src="tr2-ps04-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps05.aucfan.com</br> (124.39.233.215) </b></div>
    <div><a href="tr1-ps05-aucfan.html"><img border="1" alt="tr1-ps05 Graph" src="tr1-ps05-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps05.aucfan.com</br> (192.168.2.205) </b></div>
    <div><a href="tr2-ps05-aucfan.html"><img border="1" alt="tr2-ps05 Graph" src="tr2-ps05-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps06.aucfan.com</br> (124.39.233.216) </b></div>
    <div><a href="tr1-ps06-aucfan.html"><img border="1" alt="tr1-ps06 Graph" src="tr1-ps06-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps06.aucfan.com</br> (192.168.2.206) </b></div>
    <div><a href="tr2-ps06-aucfan.html"><img border="1" alt="tr2-ps06 Graph" src="tr2-ps06-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps07.aucfan.com</br> (124.39.233.217) </b></div>
    <div><a href="tr1-ps07-aucfan.html"><img border="1" alt="tr1-ps07 Graph" src="tr1-ps07-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps07.aucfan.com</br> (192.168.2.207) </b></div>
    <div><a href="tr2-ps07-aucfan.html"><img border="1" alt="tr2-ps07 Graph" src="tr2-ps07-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps08.aucfan.com</br> (124.39.233.218) </b></div>
    <div><a href="tr1-ps08-aucfan.html"><img border="1" alt="tr1-ps08 Graph" src="tr1-ps08-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps08.aucfan.com</br> (192.168.2.208) </b></div>
    <div><a href="tr2-ps08-aucfan.html"><img border="1" alt="tr2-ps08 Graph" src="tr2-ps08-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on bt03.aucfan.com</br> (192.168.2.243) </b></div>
    <div><a href="tr1-bt03-aucfan.html"><img border="1" alt="tr1-bt03 Graph" src="tr1-bt03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on bt03.aucfan.com</br> (192.168.2.243) </b></div>
    <div><a href="tr2-bt03-aucfan.html"><img border="1" alt="tr2-bt03 Graph" src="tr2-bt03-aucfan-day.png"></a></div>
  </td>  
</tr>


</table>
</body>
</html>
