<!DOCTYPE html>
<html>
  <head>
    <title>seg_2/Traffic</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on Router-bitisle-3.aucfan.com</br> (210.158.44.17) </b></div>
    <div><a href="tr1-afn-bitisle-3.html"><img border="1" alt="tr1-Router-bitisle-3 Graph" src="tr1-afn-bitisle-3-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on Router-bitisle-3.aucfan.com</br> (210.158.46.189) </b></div>
    <div><a href="tr2-afn-bitisle-3.html"><img border="1" alt="tr2-Router-bitisle-3 Graph" src="tr2-afn-bitisle-3-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN3 on Router-bitisle-3.aucfan.com</br> (192.168.2.3) </b></div>
    <div><a href="tr3-afn-bitisle-3.html"><img border="1" alt="tr3-Router-bitisle-3 Graph" src="tr3-afn-bitisle-3-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on jfk.aucfan.com</br> (192.168.2.55) </b></div>
    <div><a href="tr1-jfk-aucfan.html"><img border="1" alt="tr1-jfk Graph" src="tr1-jfk-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on jfk.aucfan.com</br> (192.168.2.55) </b></div>
    <div><a href="tr2-jfk-aucfan.html"><img border="1" alt="tr2-jfk Graph" src="tr2-jfk-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ds02.aucfan.com</br> (124.39.233.220) </b></div>
    <div><a href="tr1-ds02-aucfan.html"><img border="1" alt="tr1-ds02 Graph" src="tr1-ds02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ds02.aucfan.com</br> (192.168.2.64) </b></div>
    <div><a href="tr2-ds02-aucfan.html"><img border="1" alt="tr2-ds02 Graph" src="tr2-ds02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on cr01.aucfan.com</br> (124.39.233.210) </b></div>
    <div><a href="tr1-cr01-aucfan.html"><img border="1" alt="tr1-cr01 Graph" src="tr1-cr01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cr01.aucfan.com</br> (192.168.2.66) </b></div>
    <div><a href="tr2-cr01-aucfan.html"><img border="1" alt="tr2-cr01 Graph" src="tr2-cr01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ss11.aucfan.com</br> (192.168.2.81) </b></div>
    <div><a href="tr1-ss11-aucfan.html"><img border="1" alt="tr1-ss11 Graph" src="tr1-ss11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ss11.aucfan.com</br> (192.168.2.81) </b></div>
    <div><a href="tr2-ss11-aucfan.html"><img border="1" alt="tr2-ss11 Graph" src="tr2-ss11-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ss12.aucfan.com</br> (192.168.2.82) </b></div>
    <div><a href="tr1-ss12-aucfan.html"><img border="1" alt="tr1-ss12 Graph" src="tr1-ss12-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ss12.aucfan.com</br> (192.168.2.82) </b></div>
    <div><a href="tr2-ss12-aucfan.html"><img border="1" alt="tr2-ss12 Graph" src="tr2-ss12-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ss13.aucfan.com</br> (192.168.2.83) </b></div>
    <div><a href="tr1-ss13-aucfan.html"><img border="1" alt="tr1-ss13 Graph" src="tr1-ss13-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ss13.aucfan.com</br> (192.168.2.83) </b></div>
    <div><a href="tr2-ss13-aucfan.html"><img border="1" alt="tr2-ss13 Graph" src="tr2-ss13-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on vlc.aucfan.com</br> (192.168.2.109) </b></div>
    <div><a href="tr1-vlc-aucfan.html"><img border="1" alt="tr1-vlc Graph" src="tr1-vlc-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on vlc.aucfan.com</br> (192.168.2.109) </b></div>
    <div><a href="tr2-vlc-aucfan.html"><img border="1" alt="tr2-vlc Graph" src="tr2-vlc-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on svq.aucfan.com</br> (192.168.2.110) </b></div>
    <div><a href="tr1-svq-aucfan.html"><img border="1" alt="tr1-svq Graph" src="tr1-svq-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on svq.aucfan.com</br> (192.168.2.110) </b></div>
    <div><a href="tr2-svq-aucfan.html"><img border="1" alt="tr2-svq Graph" src="tr2-svq-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on vlc01.aucfan.com</br> (202.53.16.161) </b></div>
    <div><a href="tr1-vlc01-aucfan.html"><img border="1" alt="tr1-vlc01 Graph" src="tr1-vlc01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on vlc01.aucfan.com</br> (192.168.2.111) </b></div>
    <div><a href="tr2-vlc01-aucfan.html"><img border="1" alt="tr2-vlc01 Graph" src="tr2-vlc01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on svq01.aucfan.com</br> (202.53.16.162) </b></div>
    <div><a href="tr1-svq01-aucfan.html"><img border="1" alt="tr1-svq01 Graph" src="tr1-svq01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on svq01.aucfan.com</br> (192.168.2.112) </b></div>
    <div><a href="tr2-svq01-aucfan.html"><img border="1" alt="tr2-svq01 Graph" src="tr2-svq01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on wsapi02.aucfan.com</br> (192.168.2.123) </b></div>
    <div><a href="tr1-wsapi02-aucfan.html"><img border="1" alt="tr1-wsapi02 Graph" src="tr1-wsapi02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on wsapi02.aucfan.com</br> (192.168.2.123) </b></div>
    <div><a href="tr2-wsapi02-aucfan.html"><img border="1" alt="tr2-wsapi02 Graph" src="tr2-wsapi02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ssapi02.aucfan.com</br> (192.168.2.125) </b></div>
    <div><a href="tr1-ssapi02-aucfan.html"><img border="1" alt="tr1-ssapi02 Graph" src="tr1-ssapi02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ssapi02.aucfan.com</br> (192.168.2.125) </b></div>
    <div><a href="tr2-ssapi02-aucfan.html"><img border="1" alt="tr2-ssapi02 Graph" src="tr2-ssapi02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps52.aucfan.com</br> (202.53.16.176) </b></div>
    <div><a href="tr1-ps52-aucfan.html"><img border="1" alt="tr1-ps52 Graph" src="tr1-ps52-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps52.aucfan.com</br> (192.168.2.133) </b></div>
    <div><a href="tr2-ps52-aucfan.html"><img border="1" alt="tr2-ps52 Graph" src="tr2-ps52-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on sfo.aucfan.com</br> (192.168.2.147) </b></div>
    <div><a href="tr1-sfo-aucfan.html"><img border="1" alt="tr1-sfo Graph" src="tr1-sfo-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on sfo.aucfan.com</br> (192.168.2.147) </b></div>
    <div><a href="tr2-sfo-aucfan.html"><img border="1" alt="tr2-sfo Graph" src="tr2-sfo-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on aucuniv01.aucfan.com</br> (202.53.16.180) </b></div>
    <div><a href="tr1-aucuniv01-aucfan.html"><img border="1" alt="tr1-aucuniv01 Graph" src="tr1-aucuniv01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on aucuniv01.aucfan.com</br> (192.168.2.150) </b></div>
    <div><a href="tr2-aucuniv01-aucfan.html"><img border="1" alt="tr2-aucuniv01 Graph" src="tr2-aucuniv01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on aucuniv02.aucfan.com</br> (202.53.16.181) </b></div>
    <div><a href="tr1-aucuniv02-aucfan.html"><img border="1" alt="tr1-aucuniv02 Graph" src="tr1-aucuniv02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on aucuniv02.aucfan.com</br> (192.168.2.151) </b></div>
    <div><a href="tr2-aucuniv02-aucfan.html"><img border="1" alt="tr2-aucuniv02 Graph" src="tr2-aucuniv02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ssl10.aucfan.com</br> (202.53.16.145) </b></div>
    <div><a href="tr1-ssl10-aucfan.html"><img border="1" alt="tr1-ssl10 Graph" src="tr1-ssl10-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ssl10.aucfan.com</br> (192.168.2.155) </b></div>
    <div><a href="tr2-ssl10-aucfan.html"><img border="1" alt="tr2-ssl10 Graph" src="tr2-ssl10-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on jfk02.aucfan.com</br> (202.53.16.146) </b></div>
    <div><a href="tr1-jfk02-aucfan.html"><img border="1" alt="tr1-jfk02 Graph" src="tr1-jfk02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on jfk02.aucfan.com</br> (192.168.2.156) </b></div>
    <div><a href="tr2-jfk02-aucfan.html"><img border="1" alt="tr2-jfk02 Graph" src="tr2-jfk02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws33.aucfan.com</br> (192.168.2.157) </b></div>
    <div><a href="tr1-ws33-aucfan.html"><img border="1" alt="tr1-ws33 Graph" src="tr1-ws33-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws33.aucfan.com</br> (192.168.2.157) </b></div>
    <div><a href="tr2-ws33-aucfan.html"><img border="1" alt="tr2-ws33 Graph" src="tr2-ws33-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps-host.aucfan.com</br> (192.168.2.158) </b></div>
    <div><a href="tr1-ps-host-aucfan.html"><img border="1" alt="tr1-ps-host Graph" src="tr1-ps-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps-host.aucfan.com</br> (192.168.2.158) </b></div>
    <div><a href="tr2-ps-host-aucfan.html"><img border="1" alt="tr2-ps-host Graph" src="tr2-ps-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on mad.aucfan.com</br> (202.53.16.159) </b></div>
    <div><a href="tr1-mad-aucfan.html"><img border="1" alt="tr1-mad Graph" src="tr1-mad-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on mad.aucfan.com</br> (192.168.2.159) </b></div>
    <div><a href="tr2-mad-aucfan.html"><img border="1" alt="tr2-mad Graph" src="tr2-mad-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on bcn.aucfan.com</br> (202.53.16.160) </b></div>
    <div><a href="tr1-bcn-aucfan.html"><img border="1" alt="tr1-bcn Graph" src="tr1-bcn-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on bcn.aucfan.com</br> (192.168.2.160) </b></div>
    <div><a href="tr2-bcn-aucfan.html"><img border="1" alt="tr2-bcn Graph" src="tr2-bcn-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on sfo01.aucfan.com</br> (192.168.2.247) </b></div>
    <div><a href="tr1-sfo01-aucfan.html"><img border="1" alt="tr1-sfo01 Graph" src="tr1-sfo01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on sfo01.aucfan.com</br> (192.168.2.247) </b></div>
    <div><a href="tr2-sfo01-aucfan.html"><img border="1" alt="tr2-sfo01 Graph" src="tr2-sfo01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on sfo02.aucfan.com</br> (202.53.16.147) </b></div>
    <div><a href="tr1-sfo02-aucfan.html"><img border="1" alt="tr1-sfo02 Graph" src="tr1-sfo02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on sfo02.aucfan.com</br> (192.168.2.248) </b></div>
    <div><a href="tr2-sfo02-aucfan.html"><img border="1" alt="tr2-sfo02 Graph" src="tr2-sfo02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on sfo03.aucfan.com</br> (192.168.2.249) </b></div>
    <div><a href="tr1-sfo03-aucfan.html"><img border="1" alt="tr1-sfo03 Graph" src="tr1-sfo03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on sfo03.aucfan.com</br> (192.168.2.249) </b></div>
    <div><a href="tr2-sfo03-aucfan.html"><img border="1" alt="tr2-sfo03 Graph" src="tr2-sfo03-aucfan-day.png"></a></div>
  </td>  
</tr>




</table>
</body>
</html>
