<!DOCTYPE html>
<html>
  <head>
    <title>seg_3/Traffic</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> traffic lan1 on router-bitisle-13.aucfan.com</br> (202.53.16.129) </b></div>
    <div><a href="tr1-afn-bitisle-13.html"><img border="1" alt="tr1-afn-bitisle-13 graph" src="tr1-afn-bitisle-13-day.png"></a></div>
  </td>
  <td>
    <div><b> traffic lan2 on router-bitisle-13.aucfan.com</br> (115.69.207.130) </b></div>
    <div><a href="tr2-afn-bitisle-13.html"><img border="1" alt="tr2-afn-bitisle-13 graph" src="tr2-afn-bitisle-13-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> Traffic LAN4 on Router-bitisle-13.aucfan.com</br> (192.168.2.13) </b></div>
    <div><a href="tr4-afn-bitisle-13.html"><img border="1" alt="tr4-afn-bitisle-13 Graph" src="tr4-afn-bitisle-13-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on Router-bitisle-14.aucfan.com</br> (118.238.235.48) </b></div>
    <div><a href="tr1-afn-bitisle-14.html"><img border="1" alt="tr1-afn-bitisle-14 Graph" src="tr1-afn-bitisle-14-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on Router-bitisle-14.aucfan.com</br> (118.238.2.1) </b></div>
    <div><a href="tr2-afn-bitisle-14.html"><img border="1" alt="tr2-afn-bitisle-14 Graph" src="tr2-afn-bitisle-14-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> Traffic LAN4 on Router-bitisle-14.aucfan.com</br> (192.168.2.14) </b></div>
    <div><a href="tr4-afn-bitisle-14.html"><img border="1" alt="tr4-afn-bitisle-14 Graph" src="tr4-afn-bitisle-14-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on tpe.aucfan.com</br> (192.168.2.41) </b></div>
    <div><a href="tr1-tpe-aucfan.html"><img border="1" alt="tr1-tpe-aucfan Graph" src="tr1-tpe-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on tpe.aucfan.com</br> (192.168.2.41) </b></div>
    <div><a href="tr2-tpe-aucfan.html"><img border="1" alt="tr2-tpe-aucfan Graph" src="tr2-tpe-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ams.aucfan.com</br> (192.168.2.42) </b></div>
    <div><a href="tr1-ams-aucfan.html"><img border="1" alt="tr1-ams-aucfan Graph" src="tr1-ams-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ams.aucfan.com</br> (192.168.2.42) </b></div>
    <div><a href="tr2-ams-aucfan.html"><img border="1" alt="tr2-ams-aucfan Graph" src="tr2-ams-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on varnish1-host.aucfan.com</br> (192.168.2.72) </b></div>
    <div><a href="tr1-varnish1-host-aucfan.html"><img border="1" alt="tr1-varnish1-host-aucfan Graph" src="tr1-varnish1-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on varnish1-host.aucfan.com</br> (192.168.2.72) </b></div>
    <div><a href="tr2-varnish1-host-aucfan.html"><img border="1" alt="tr2-varnish1-host-aucfan Graph" src="tr2-varnish1-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on varnish2-host.aucfan.com</br> (192.168.2.73) </b></div>
    <div><a href="tr1-varnish2-host-aucfan.html"><img border="1" alt="tr1-varnish2-host-aucfan Graph" src="tr1-varnish2-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on varnish2-host.aucfan.com</br> (192.168.2.73) </b></div>
    <div><a href="tr2-varnish2-host-aucfan.html"><img border="1" alt="tr2-varnish2-host-aucfan Graph" src="tr2-varnish2-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ts01.aucfan.com</br> (210.158.43.87) </b></div>
    <div><a href="tr1-ts01-aucfan.html"><img border="1" alt="tr1-ts01-aucfan Graph" src="tr1-ts01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ts01.aucfan.com</br> (192.168.2.101) </b></div>
    <div><a href="tr2-ts01-aucfan.html"><img border="1" alt="tr2-ts01-aucfan Graph" src="tr2-ts01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on dp01.aucfan.com</br> (192.168.2.103) </b></div>
    <div><a href="tr1-dp01-aucfan.html"><img border="1" alt="tr1-dp01-aucfan Graph" src="tr1-dp01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on dp01.aucfan.com</br> (192.168.2.103) </b></div>
    <div><a href="tr2-dp01-aucfan.html"><img border="1" alt="tr2-dp01-aucfan Graph" src="tr2-dp01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps53-host.aucfan.com</br> (192.168.2.108) </b></div>
    <div><a href="tr1-ps53-host-aucfan.html"><img border="1" alt="tr1-ps53-host-aucfan Graph" src="tr1-ps53-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps53-host.aucfan.com</br> (192.168.2.108) </b></div>
    <div><a href="tr2-ps53-host-aucfan.html"><img border="1" alt="tr2-ps53-host-aucfan Graph" src="tr2-ps53-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on sspf01.aucfan.com</br> (122.212.197.116) </b></div>
    <div><a href="tr1-sspf01-aucfan.html"><img border="1" alt="tr1-sspf01-aucfan Graph" src="tr1-sspf01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on sspf01.aucfan.com</br> (192.168.2.116) </b></div>
    <div><a href="tr2-sspf01-aucfan.html"><img border="1" alt="tr2-sspf01-aucfan Graph" src="tr2-sspf01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on dspf01.aucfan.com</br> (122.212.197.118) </b></div>
    <div><a href="tr1-dspf01-aucfan.html"><img border="1" alt="tr1-dspf01-aucfan Graph" src="tr1-dspf01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on dspf01.aucfan.com</br> (192.168.2.118) </b></div>
    <div><a href="tr2-dspf01-aucfan.html"><img border="1" alt="tr2-dspf01-aucfan Graph" src="tr2-dspf01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on lax.aucfan.com</br> (192.168.2.127) </b></div>
    <div><a href="tr1-lax-aucfan.html"><img border="1" alt="tr1-lax-aucfan Graph" src="tr1-lax-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on lax.aucfan.com</br> (192.168.2.127) </b></div>
    <div><a href="tr2-lax-aucfan.html"><img border="1" alt="tr2-lax-aucfan Graph" src="tr2-lax-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps53.aucfan.com</br> (202.53.16.175) </b></div>
    <div><a href="tr1-ps53-aucfan.html"><img border="1" alt="tr1-ps53-aucfan Graph" src="tr1-ps53-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps53.aucfan.com</br> (192.168.2.134) </b></div>
    <div><a href="tr2-ps53-aucfan.html"><img border="1" alt="tr2-ps53-aucfan Graph" src="tr2-ps53-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws11.aucfan.com</br> (202.53.16.134) </b></div>
    <div><a href="tr1-ws11-aucfan.html"><img border="1" alt="tr1-ws11-aucfan Graph" src="tr1-ws11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws11.aucfan.com</br> (192.168.2.134) </b></div>
    <div><a href="tr2-ws11-aucfan.html"><img border="1" alt="tr2-ws11-aucfan Graph" src="tr2-ws11-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws12.aucfan.com</br> (202.53.16.135) </b></div>
    <div><a href="tr1-ws12-aucfan.html"><img border="1" alt="tr1-ws12-aucfan Graph" src="tr1-ws12-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws12.aucfan.com</br> (192.168.2.135) </b></div>
    <div><a href="tr2-ws12-aucfan.html"><img border="1" alt="tr2-ws12-aucfan Graph" src="tr2-ws12-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws13.aucfan.com</br> (202.53.16.136) </b></div>
    <div><a href="tr1-ws13-aucfan.html"><img border="1" alt="tr1-ws13-aucfan Graph" src="tr1-ws13-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws13.aucfan.com</br> (192.168.2.136) </b></div>
    <div><a href="tr2-ws13-aucfan.html"><img border="1" alt="tr2-ws13-aucfan Graph" src="tr2-ws13-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws14.aucfan.com</br> (202.53.16.137) </b></div>
    <div><a href="tr1-ws14-aucfan.html"><img border="1" alt="tr1-ws14-aucfan Graph" src="tr1-ws14-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws14.aucfan.com</br> (192.168.2.137) </b></div>
    <div><a href="tr2-ws14-aucfan.html"><img border="1" alt="tr2-ws14-aucfan Graph" src="tr2-ws14-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws15.aucfan.com</br> (202.53.16.138) </b></div>
    <div><a href="tr1-ws15-aucfan.html"><img border="1" alt="tr1-ws15-aucfan Graph" src="tr1-ws15-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws15.aucfan.com</br> (192.168.2.138) </b></div>
    <div><a href="tr2-ws15-aucfan.html"><img border="1" alt="tr2-ws15-aucfan Graph" src="tr2-ws15-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws16.aucfan.com</br> (202.53.16.139) </b></div>
    <div><a href="tr1-ws16-aucfan.html"><img border="1" alt="tr1-ws16-aucfan Graph" src="tr1-ws16-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws16.aucfan.com</br> (192.168.2.139) </b></div>
    <div><a href="tr2-ws16-aucfan.html"><img border="1" alt="tr2-ws16-aucfan Graph" src="tr2-ws16-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ws17.aucfan.com</br> (202.53.16.140) </b></div>
    <div><a href="tr1-ws17-aucfan.html"><img border="1" alt="tr1-ws17-aucfan Graph" src="tr1-ws17-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ws17.aucfan.com</br> (192.168.2.140) </b></div>
    <div><a href="tr2-ws17-aucfan.html"><img border="1" alt="tr2-ws17-aucfan Graph" src="tr2-ws17-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on cr03.aucfan.com</br> (124.39.233.214) </b></div>
    <div><a href="tr1-cr03-aucfan.html"><img border="1" alt="tr1-cr03-aucfan Graph" src="tr1-cr03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cr03.aucfan.com</br> (192.168.2.144) </b></div>
    <div><a href="tr2-cr03-aucfan.html"><img border="1" alt="tr2-cr03-aucfan Graph" src="tr2-cr03-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on varnish1.aucfan.com</br> (118.238.2.2) </b></div>
    <div><a href="tr1-varnish1-aucfan.html"><img border="1" alt="tr1-varnish1-aucfan Graph" src="tr1-varnish1-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on varnish1.aucfan.com</br> (192.168.2.172) </b></div>
    <div><a href="tr2-varnish1-aucfan.html"><img border="1" alt="tr2-varnish1-aucfan Graph" src="tr2-varnish1-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on varnish2.aucfan.com</br> (118.238.2.3) </b></div>
    <div><a href="tr1-varnish2-aucfan.html"><img border="1" alt="tr1-varnish2-aucfan Graph" src="tr1-varnish2-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on varnish2.aucfan.com</br> (192.168.2.173) </b></div>
    <div><a href="tr2-varnish2-aucfan.html"><img border="1" alt="tr2-varnish2-aucfan Graph" src="tr2-varnish2-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on f01ws02.aucfan.com</br> (210.158.43.83) </b></div>
    <div><a href="tr1-f01ws02-aucfan.html"><img border="1" alt="tr1-f01ws02-aucfan Graph" src="tr1-f01ws02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on f01ws02.aucfan.com</br> (192.168.2.183) </b></div>
    <div><a href="tr2-f01ws02-aucfan.html"><img border="1" alt="tr2-f01ws02-aucfan Graph" src="tr2-f01ws02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on img01.aucfan.com</br> (202.53.16.171) </b></div>
    <div><a href="tr1-img01-aucfan.html"><img border="1" alt="tr1-img01-aucfan Graph" src="tr1-img01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on img01.aucfan.com</br> (192.168.2.211) </b></div>
    <div><a href="tr2-img01-aucfan.html"><img border="1" alt="tr2-img01-aucfan Graph" src="tr2-img01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on img03a.aucfan.com</br> (202.53.16.173) </b></div>
    <div><a href="tr1-img03a-aucfan.html"><img border="1" alt="tr1-img03a-aucfan Graph" src="tr1-img03a-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on img03a.aucfan.com</br> (192.168.2.223) </b></div>
    <div><a href="tr2-img03a-aucfan.html"><img border="1" alt="tr2-img03a-aucfan Graph" src="tr2-img03a-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on img02a.aucfan.com</br> (202.53.16.174) </b></div>
    <div><a href="tr1-img02a-aucfan.html"><img border="1" alt="tr1-img02a-aucfan Graph" src="tr1-img02a-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on img02a.aucfan.com</br> (192.168.2.224) </b></div>
    <div><a href="tr2-img02a-aucfan.html"><img border="1" alt="tr2-img02a-aucfan Graph" src="tr2-img02a-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on f01udb01.aucfan.com</br> (192.168.2.231) </b></div>
    <div><a href="tr1-f01udb01-aucfan.html"><img border="1" alt="tr1-f01udb01-aucfan Graph" src="tr1-f01udb01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on f01udb01.aucfan.com</br> (192.168.2.231) </b></div>
    <div><a href="tr2-f01udb01-aucfan.html"><img border="1" alt="tr2-f01udb01-aucfan Graph" src="tr2-f01udb01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on f01udb02.aucfan.com</br> (192.168.2.232) </b></div>
    <div><a href="tr1-f01udb02-aucfan.html"><img border="1" alt="tr1-f01udb02-aucfan Graph" src="tr1-f01udb02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on f01udb02.aucfan.com</br> (192.168.2.232) </b></div>
    <div><a href="tr2-f01udb02-aucfan.html"><img border="1" alt="tr2-f01udb02-aucfan Graph" src="tr2-f01udb02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on bk05.aucfan.com</br> (192.168.2.235) </b></div>
    <div><a href="tr1-bk05-aucfan.html"><img border="1" alt="tr1-bk05-aucfan Graph" src="tr1-bk05-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on bk05.aucfan.com</br> (192.168.2.235) </b></div>
    <div><a href="tr2-bk05-aucfan.html"><img border="1" alt="tr2-bk05-aucfan Graph" src="tr2-bk05-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on lax01.aucfan.com</br> (192.168.2.237) </b></div>
    <div><a href="tr1-lax01-aucfan.html"><img border="1" alt="tr1-lax01-aucfan Graph" src="tr1-lax01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on lax01.aucfan.com</br> (192.168.2.237) </b></div>
    <div><a href="tr2-lax01-aucfan.html"><img border="1" alt="tr2-lax01-aucfan Graph" src="tr2-lax01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on lax02.aucfan.com</br> (192.168.2.238) </b></div>
    <div><a href="tr1-lax02-aucfan.html"><img border="1" alt="tr1-lax02-aucfan Graph" src="tr1-lax02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on lax02.aucfan.com</br> (192.168.2.238) </b></div>
    <div><a href="tr2-lax02-aucfan.html"><img border="1" alt="tr2-lax02-aucfan Graph" src="tr2-lax02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on lax03.aucfan.com</br> (124.39.233.219) </b></div>
    <div><a href="tr1-lax03-aucfan.html"><img border="1" alt="tr1-lax03-aucfan Graph" src="tr1-lax03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on lax03.aucfan.com</br> (192.168.2.239) </b></div>
    <div><a href="tr2-lax03-aucfan.html"><img border="1" alt="tr2-lax03-aucfan Graph" src="tr2-lax03-aucfan-day.png"></a></div>
  </td>  
</tr>




</table>
</body>
</html>
