<!DOCTYPE html>
<html>
  <head>
    <title>seg2/hdd</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>
<tr>
  <td>
    <div><b> HDD Status on img02a.aucfan.com</br> (192.168.2.224) </b></div>
    <div><a href="hdd-img02a-aucfan.html"><img border="1" alt="hdd-img02a Graph" src="hdd-img02a-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on img02a.aucfan.com (/vol01)</br> (192.168.2.224) </b></div>
    <div><a href="hdd-img02a_vol1-aucfan.html"><img border="1" alt="hdd-img02a_vol1 Graph" src="hdd-img02a_vol1-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on img02a.aucfan.com (/vol02)</br> (192.168.2.224) </b></div>
    <div><a href="hdd-img02a_vol2-aucfan.html"><img border="1" alt="hdd-img02a_vol2 Graph" src="hdd-img02a_vol2-aucfan-day.png"></a></div>
  </td>  
</tr>




</table>
</body>
</html>
