<!DOCTYPE html>
<html>
  <head>
    <title>seg2/hdd</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> HDD Status on ssl02.aucfan.com</br> (192.168.2.39) </b></div>
    <div><a href="hdd-ssl02-aucfan.html"><img border="1" alt="hdd-ssl02 Graph" src="hdd-ssl02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on cs01.aucfan.com</br> (192.168.2.61) </b></div>
    <div><a href="hdd-cs01-aucfan.html"><img border="1" alt="hdd-cs01 Graph" src="hdd-cs01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on cs02.aucfan.com</br> (192.168.2.68) </b></div>
    <div><a href="hdd-cs02-aucfan.html"><img border="1" alt="hdd-cs02 Graph" src="hdd-cs02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on se01.aucfan.com</br> (192.168.2.69) </b></div>
    <div><a href="hdd-se01-aucfan.html"><img border="1" alt="hdd-se01 Graph" src="hdd-se01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on se02.aucfan.com</br> (192.168.2.70) </b></div>
    <div><a href="hdd-se02-aucfan.html"><img border="1" alt="hdd-se02 Graph" src="hdd-se02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on ss14.aucfan.com</br> (192.168.2.84) </b></div>
    <div><a href="hdd-ss14-aucfan.html"><img border="1" alt="hdd-ss14 Graph" src="hdd-ss14-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on wspf02.aucfan.com</br> (192.168.2.115) </b></div>
    <div><a href="hdd-wspf02-aucfan.html"><img border="1" alt="hdd-wspf02 Graph" src="hdd-wspf02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on sspf02.aucfan.com</br> (192.168.2.117) </b></div>
    <div><a href="hdd-sspf02-aucfan.html"><img border="1" alt="hdd-sspf02 Graph" src="hdd-sspf02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on dspf02.aucfan.com</br> (192.168.2.119) </b></div>
    <div><a href="hdd-dspf02-aucfan.html"><img border="1" alt="hdd-dspf02 Graph" src="hdd-dspf02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on wsapi01.aucfan.com</br> (192.168.2.122) </b></div>
    <div><a href="hdd-wsapi01-aucfan.html"><img border="1" alt="hdd-wsapi01 Graph" src="hdd-wsapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on ssapi01.aucfan.com</br> (192.168.2.124) </b></div>
    <div><a href="hdd-ssapi01-aucfan.html"><img border="1" alt="hdd-ssapi01 Graph" src="hdd-ssapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on cr02.aucfan.com</br> (192.168.2.143) </b></div>
    <div><a href="hdd-cr02-aucfan.html"><img border="1" alt="hdd-cr02 Graph" src="hdd-cr02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on cr04.aucfan.com</br> (192.168.2.145) </b></div>
    <div><a href="hdd-cr04-aucfan.html"><img border="1" alt="hdd-cr04 Graph" src="hdd-cr04-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on bt03.aucfan.com</br> (192.168.2.243) </b></div>
    <div><a href="hdd-bt03-aucfan.html"><img border="1" alt="hdd-bt03 Graph" src="hdd-bt03-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>



</table>
</body>
</html>
