<!DOCTYPE html>
<html>
  <head>
    <title>seg3/hdd</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> HDD Status on mad.aucfan.com</br> (192.168.3.159) </b></div>
    <div><a href="hdd-mad-aucfan.html"><img border="1" alt="hdd-mad Graph" src="hdd-mad-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on bcn.aucfan.com</br> (192.168.3.160) </b></div>
    <div><a href="hdd-bcn-aucfan.html"><img border="1" alt="hdd-bcn Graph" src="hdd-bcn-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
