<!DOCTYPE html>
<html>
  <head>
    <title>seg2/hdd</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> HDD Status on jfk.aucfan.com</br> (192.168.2.55) </b></div>
    <div><a href="hdd-jfk-aucfan.html"><img border="1" alt="hdd-jfk Graph" src="hdd-jfk-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on wsapi02.aucfan.com</br> (192.168.2.123) </b></div>
    <div><a href="hdd-wsapi02-aucfan.html"><img border="1" alt="hdd-wsapi02 Graph" src="hdd-wsapi02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ssapi02.aucfan.com</br> (192.168.2.125) </b></div>
    <div><a href="hdd-ssapi02-aucfan.html"><img border="1" alt="hdd-ssapi02 Graph" src="hdd-ssapi02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ps52.aucfan.com</br> (192.168.2.133) </b></div>
    <div><a href="hdd-ps52-aucfan.html"><img border="1" alt="hdd-ps52 Graph" src="hdd-ps52-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on sfo.aucfan.com</br> (192.168.2.147) </b></div>
    <div><a href="hdd-sfo-aucfan.html"><img border="1" alt="hdd-sfo Graph" src="hdd-sfo-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on aucuniv01.aucfan.com</br> (192.168.2.150) </b></div>
    <div><a href="hdd-aucuniv01-aucfan.html"><img border="1" alt="hdd-aucuniv01 Graph" src="hdd-aucuniv01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on aucuniv02.aucfan.com</br> (192.168.2.151) </b></div>
    <div><a href="hdd-aucuniv02-aucfan.html"><img border="1" alt="hdd-aucuniv02 Graph" src="hdd-aucuniv02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ssl10.aucfan.com</br> (192.168.2.155) </b></div>
    <div><a href="hdd-ssl10-aucfan.html"><img border="1" alt="hdd-ssl10 Graph" src="hdd-ssl10-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on jfk02.aucfan.com</br> (192.168.2.156) </b></div>
    <div><a href="hdd-jfk02-aucfan.html"><img border="1" alt="hdd-jfk02 Graph" src="hdd-jfk02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ws33.aucfan.com</br> (192.168.2.157) </b></div>
    <div><a href="hdd-ws33-aucfan.html"><img border="1" alt="hdd-ws33 Graph" src="hdd-ws33-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps-host.aucfan.com</br> (192.168.2.158) </b></div>
    <div><a href="hdd-ps-host-aucfan.html"><img border="1" alt="hdd-ps-host Graph" src="hdd-ps-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on mad.aucfan.com</br> (192.168.2.159) </b></div>
    <div><a href="hdd-mad-aucfan.html"><img border="1" alt="hdd-mad Graph" src="hdd-mad-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on bcn.aucfan.com</br> (192.168.2.160) </b></div>
    <div><a href="hdd-bcn-aucfan.html"><img border="1" alt="hdd-bcn Graph" src="hdd-bcn-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on sfo01.aucfan.com</br> (192.168.2.247) </b></div>
    <div><a href="hdd-sfo01-aucfan.html"><img border="1" alt="hdd-sfo01 Graph" src="hdd-sfo01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on sfo02.aucfan.com</br> (192.168.2.248) </b></div>
    <div><a href="hdd-sfo02-aucfan.html"><img border="1" alt="hdd-sfo02 Graph" src="hdd-sfo02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on sfo03.aucfan.com</br> (192.168.2.249) </b></div>
    <div><a href="hdd-sfo03-aucfan.html"><img border="1" alt="hdd-sfo03 Graph" src="hdd-sfo03-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>



</table>
</body>
</html>
