<!DOCTYPE html>
<html>
  <head>
    <title>seg2/hdd</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on ws01.aucfan.com</br> (192.168.2.52) </b></div>
    <div><a href="hdd-ws01-aucfan.html"><img border="1" alt="hdd-ws01 Graph" src="hdd-ws01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on jfk.aucfan.com</br> (192.168.2.55) </b></div>
    <div><a href="hdd-jfk-aucfan.html"><img border="1" alt="hdd-jfk Graph" src="hdd-jfk-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ds02.aucfan.com</br> (192.168.2.64) </b></div>
    <div><a href="hdd-ds02-aucfan.html"><img border="1" alt="hdd-ds02 Graph" src="hdd-ds02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on cr01.aucfan.com</br> (192.168.2.66) </b></div>
    <div><a href="hdd-cr01-aucfan.html"><img border="1" alt="hdd-cr01 Graph" src="hdd-cr01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ss07.aucfan.com</br> (192.168.2.77) </b></div>
    <div><a href="hdd-ss07-aucfan.html"><img border="1" alt="hdd-ss07 Graph" src="hdd-ss07-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ss08.aucfan.com</br> (192.168.2.78) </b></div>
    <div><a href="hdd-ss08-aucfan.html"><img border="1" alt="hdd-ss08 Graph" src="hdd-ss08-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ss09.aucfan.com</br> (192.168.2.79) </b></div>
    <div><a href="hdd-ss09-aucfan.html"><img border="1" alt="hdd-ss09 Graph" src="hdd-ss09-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ss11.aucfan.com</br> (192.168.2.81) </b></div>
    <div><a href="hdd-ss11-aucfan.html"><img border="1" alt="hdd-ss11 Graph" src="hdd-ss11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ss12.aucfan.com</br> (192.168.2.82) </b></div>
    <div><a href="hdd-ss12-aucfan.html"><img border="1" alt="hdd-ss12 Graph" src="hdd-ss12-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ss13.aucfan.com</br> (192.168.2.83) </b></div>
    <div><a href="hdd-ss13-aucfan.html"><img border="1" alt="hdd-ss13 Graph" src="hdd-ss13-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ps31-host.aucfan.com</br> (192.168.2.85) </b></div>
    <div><a href="hdd-ps31-host-aucfan.html"><img border="1" alt="hdd-ps31-host Graph" src="hdd-ps31-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps33-host.aucfan.com</br> (192.168.2.86) </b></div>
    <div><a href="hdd-ps33-host-aucfan.html"><img border="1" alt="hdd-ps33-host Graph" src="hdd-ps33-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ps35-host.aucfan.com</br> (192.168.2.87) </b></div>
    <div><a href="hdd-ps35-host-aucfan.html"><img border="1" alt="hdd-ps35-host Graph" src="hdd-ps35-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps37-host.aucfan.com</br> (192.168.2.88) </b></div>
    <div><a href="hdd-ps37-host-aucfan.html"><img border="1" alt="hdd-ps37-host Graph" src="hdd-ps37-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ps39-host.aucfan.com</br> (192.168.2.89) </b></div>
    <div><a href="hdd-ps39-host-aucfan.html"><img border="1" alt="hdd-ps39-host Graph" src="hdd-ps39-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps40-host.aucfan.com</br> (192.168.2.90) </b></div>
    <div><a href="hdd-ps40-host-aucfan.html"><img border="1" alt="hdd-ps40-host Graph" src="hdd-ps40-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on vlc.aucfan.com</br> (192.168.2.109) </b></div>
    <div><a href="hdd-vlc-aucfan.html"><img border="1" alt="hdd-vlc Graph" src="hdd-vlc-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on svq.aucfan.com</br> (192.168.2.110) </b></div>
    <div><a href="hdd-svq-aucfan.html"><img border="1" alt="hdd-svq Graph" src="hdd-svq-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on vlc01.aucfan.com</br> (192.168.2.111) </b></div>
    <div><a href="hdd-vlc01-aucfan.html"><img border="1" alt="hdd-vlc01 Graph" src="hdd-vlc01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on svq01.aucfan.com</br> (192.168.2.112) </b></div>
    <div><a href="hdd-svq01-aucfan.html"><img border="1" alt="hdd-svq01 Graph" src="hdd-svq01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on wsapi02.aucfan.com</br> (192.168.2.123) </b></div>
    <div><a href="hdd-wsapi02-aucfan.html"><img border="1" alt="hdd-wsapi02 Graph" src="hdd-wsapi02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ssapi02.aucfan.com</br> (192.168.2.125) </b></div>
    <div><a href="hdd-ssapi02-aucfan.html"><img border="1" alt="hdd-ssapi02 Graph" src="hdd-ssapi02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ps52.aucfan.com</br> (192.168.2.133) </b></div>
    <div><a href="hdd-ps52-aucfan.html"><img border="1" alt="hdd-ps52 Graph" src="hdd-ps52-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on sfo.aucfan.com</br> (192.168.2.147) </b></div>
    <div><a href="hdd-sfo-aucfan.html"><img border="1" alt="hdd-sfo Graph" src="hdd-sfo-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on aucuniv01.aucfan.com</br> (192.168.2.150) </b></div>
    <div><a href="hdd-aucuniv01-aucfan.html"><img border="1" alt="hdd-aucuniv01 Graph" src="hdd-aucuniv01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on aucuniv02.aucfan.com</br> (192.168.2.151) </b></div>
    <div><a href="hdd-aucuniv02-aucfan.html"><img border="1" alt="hdd-aucuniv02 Graph" src="hdd-aucuniv02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ssl10.aucfan.com</br> (192.168.2.155) </b></div>
    <div><a href="hdd-ssl10-aucfan.html"><img border="1" alt="hdd-ssl10 Graph" src="hdd-ssl10-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on jfk02.aucfan.com</br> (192.168.2.156) </b></div>
    <div><a href="hdd-jfk02-aucfan.html"><img border="1" alt="hdd-jfk02 Graph" src="hdd-jfk02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ws33.aucfan.com</br> (192.168.2.157) </b></div>
    <div><a href="hdd-ws33-aucfan.html"><img border="1" alt="hdd-ws33 Graph" src="hdd-ws33-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps-host.aucfan.com</br> (192.168.2.158) </b></div>
    <div><a href="hdd-ps-host-aucfan.html"><img border="1" alt="hdd-ps-host Graph" src="hdd-ps-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on mad.aucfan.com</br> (192.168.2.159) </b></div>
    <div><a href="hdd-mad-aucfan.html"><img border="1" alt="hdd-mad Graph" src="hdd-mad-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on bcn.aucfan.com</br> (192.168.2.160) </b></div>
    <div><a href="hdd-bcn-aucfan.html"><img border="1" alt="hdd-bcn Graph" src="hdd-bcn-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ssl01.aucfan.com</br> (192.168.2.161) </b></div>
    <div><a href="hdd-ssl01-aucfan.html"><img border="1" alt="hdd-ssl01 Graph" src="hdd-ssl01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ps31.aucfan.com</br> (192.168.2.185) </b></div>
    <div><a href="hdd-ps31-aucfan.html"><img border="1" alt="hdd-ps31 Graph" src="hdd-ps31-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps33.aucfan.com</br> (192.168.2.186) </b></div>
    <div><a href="hdd-ps33-aucfan.html"><img border="1" alt="hdd-ps33 Graph" src="hdd-ps33-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ps35.aucfan.com</br> (192.168.2.187) </b></div>
    <div><a href="hdd-ps35-aucfan.html"><img border="1" alt="hdd-ps35 Graph" src="hdd-ps35-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps37.aucfan.com</br> (192.168.2.188) </b></div>
    <div><a href="hdd-ps37-aucfan.html"><img border="1" alt="hdd-ps37 Graph" src="hdd-ps37-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ps39.aucfan.com</br> (192.168.2.189) </b></div>
    <div><a href="hdd-ps39-aucfan.html"><img border="1" alt="hdd-ps39 Graph" src="hdd-ps39-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps40.aucfan.com</br> (192.168.2.190) </b></div>
    <div><a href="hdd-ps40-aucfan.html"><img border="1" alt="hdd-ps40 Graph" src="hdd-ps40-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on sfo01.aucfan.com</br> (192.168.2.247) </b></div>
    <div><a href="hdd-sfo01-aucfan.html"><img border="1" alt="hdd-sfo01 Graph" src="hdd-sfo01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on sfo02.aucfan.com</br> (192.168.2.248) </b></div>
    <div><a href="hdd-sfo02-aucfan.html"><img border="1" alt="hdd-sfo02 Graph" src="hdd-sfo02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on sfo03.aucfan.com</br> (192.168.2.249) </b></div>
    <div><a href="hdd-sfo03-aucfan.html"><img border="1" alt="hdd-sfo03 Graph" src="hdd-sfo03-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>



</table>
</body>
</html>
