<!DOCTYPE html>
<html>
  <head>
    <title>seg2/hdd</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> HDD Status on ts01.aucfan.com</br> (192.168.2.101) </b></div>
    <div><a href="hdd-ts01-aucfan.html"><img border="1" alt="hdd-ts01 Graph" src="hdd-ts01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on dp01.aucfan.com</br> (192.168.2.103) </b></div>
    <div><a href="hdd-dp01-aucfan.html"><img border="1" alt="hdd-dp01 Graph" src="hdd-dp01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps53-host.aucfan.com</br> (192.168.2.108) </b></div>
    <div><a href="hdd-ps53-host-aucfan.html"><img border="1" alt="hdd-ps53-host Graph" src="hdd-ps53-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on sspf01.aucfan.com</br> (192.168.2.116) </b></div>
    <div><a href="hdd-sspf01-aucfan.html"><img border="1" alt="hdd-sspf01 Graph" src="hdd-sspf01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on dspf01.aucfan.com</br> (192.168.2.118) </b></div>
    <div><a href="hdd-dspf01-aucfan.html"><img border="1" alt="hdd-dspf01 Graph" src="hdd-dspf01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on lax.aucfan.com</br> (192.168.2.127) </b></div>
    <div><a href="hdd-lax-aucfan.html"><img border="1" alt="hdd-lax Graph" src="hdd-lax-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ps53.aucfan.com</br> (192.168.2.132) </b></div>
    <div><a href="hdd-ps53-aucfan.html"><img border="1" alt="hdd-ps53 Graph" src="hdd-ps53-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on ws11.aucfan.com</br> (192.168.2.134) </b></div>
    <div><a href="hdd-ws11-aucfan.html"><img border="1" alt="hdd-ws11 Graph" src="hdd-ws11-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ws12.aucfan.com</br> (192.168.2.135) </b></div>
    <div><a href="hdd-ws12-aucfan.html"><img border="1" alt="hdd-ws12 Graph" src="hdd-ws12-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ws13.aucfan.com</br> (192.168.2.136) </b></div>
    <div><a href="hdd-ws13-aucfan.html"><img border="1" alt="hdd-ws13 Graph" src="hdd-ws13-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ws14.aucfan.com</br> (192.168.2.137) </b></div>
    <div><a href="hdd-ws14-aucfan.html"><img border="1" alt="hdd-ws14 Graph" src="hdd-ws14-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ws15.aucfan.com</br> (192.168.2.138) </b></div>
    <div><a href="hdd-ws15-aucfan.html"><img border="1" alt="hdd-ws15 Graph" src="hdd-ws15-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ws16.aucfan.com</br> (192.168.2.139) </b></div>
    <div><a href="hdd-ws16-aucfan.html"><img border="1" alt="hdd-ws16 Graph" src="hdd-ws16-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ws17.aucfan.com</br> (192.168.2.140) </b></div>
    <div><a href="hdd-ws17-aucfan.html"><img border="1" alt="hdd-ws17 Graph" src="hdd-ws17-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on cr03.aucfan.com</br> (192.168.2.144) </b></div>
    <div><a href="hdd-cr03-aucfan.html"><img border="1" alt="hdd-cr03 Graph" src="hdd-cr03-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on f01ws02.aucfan.com</br> (192.168.2.183) </b></div>
    <div><a href="hdd-f01ws02-aucfan.html"><img border="1" alt="hdd-f01ws02 Graph" src="hdd-f01ws02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on img01.aucfan.com</br> (192.168.2.211) </b></div>
    <div><a href="hdd-img01-aucfan.html"><img border="1" alt="hdd-img01 Graph" src="hdd-img01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on img01.aucfan.com (/vol01)</br> (192.168.2.211) </b></div>
    <div><a href="hdd-img01_vol1-aucfan.html"><img border="1" alt="hdd-img01_vol1 Graph" src="hdd-img01_vol1-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on img01.aucfan.com (/vol02)</br> (192.168.2.211) </b></div>
    <div><a href="hdd-img01_vol2-aucfan.html"><img border="1" alt="hdd-img01_vol2 Graph" src="hdd-img01_vol2-aucfan-day.png"></a></div>
  </td>  
</tr>
<tr>
  <td>
    <div><b> HDD Status on img02.aucfan.com</br> (192.168.2.222) </b></div>
    <div><a href="hdd-img02-aucfan.html"><img border="1" alt="hdd-img02 Graph" src="hdd-img02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on img02.aucfan.com (/vol01)</br> (192.168.2.222) </b></div>
    <div><a href="hdd-img02_vol1-aucfan.html"><img border="1" alt="hdd-img02_vol1 Graph" src="hdd-img02_vol1-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on img02.aucfan.com (/vol02)</br> (192.168.2.222) </b></div>
    <div><a href="hdd-img02_vol2-aucfan.html"><img border="1" alt="hdd-img02_vol2 Graph" src="hdd-img02_vol2-aucfan-day.png"></a></div>
  </td>  
</tr>
<tr>
  <td>
    <div><b> HDD Status on img03a.aucfan.com</br> (192.168.2.223) </b></div>
    <div><a href="hdd-img03a-aucfan.html"><img border="1" alt="hdd-img03a Graph" src="hdd-img03a-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on img03a.aucfan.com (/vol01)</br> (192.168.2.223) </b></div>
    <div><a href="hdd-img03a_vol1-aucfan.html"><img border="1" alt="hdd-img03a_vol1 Graph" src="hdd-img03a_vol1-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on img03a.aucfan.com (/vol02)</br> (192.168.2.223) </b></div>
    <div><a href="hdd-img03a_vol2-aucfan.html"><img border="1" alt="hdd-img03a_vol2 Graph" src="hdd-img03a_vol2-aucfan-day.png"></a></div>
  </td>  
</tr>
<tr>
  <td>
    <div><b> HDD Status on img02a.aucfan.com</br> (192.168.2.224) </b></div>
    <div><a href="hdd-img02a-aucfan.html"><img border="1" alt="hdd-img02a Graph" src="hdd-img02a-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on img02a.aucfan.com (/vol01)</br> (192.168.2.224) </b></div>
    <div><a href="hdd-img02a_vol1-aucfan.html"><img border="1" alt="hdd-img02a_vol1 Graph" src="hdd-img02a_vol1-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on img02a.aucfan.com (/vol02)</br> (192.168.2.224) </b></div>
    <div><a href="hdd-img02a_vol2-aucfan.html"><img border="1" alt="hdd-img02a_vol2 Graph" src="hdd-img02a_vol2-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on f01udb01.aucfan.com</br> (192.168.2.231) </b></div>
    <div><a href="hdd-f01udb01-aucfan.html"><img border="1" alt="hdd-f01udb01 Graph" src="hdd-f01udb01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on f01udb02.aucfan.com</br> (192.168.2.232) </b></div>
    <div><a href="hdd-f01udb02-aucfan.html"><img border="1" alt="hdd-f01udb02 Graph" src="hdd-f01udb02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on bk05.aucfan.com</br> (192.168.2.235) </b></div>
    <div><a href="hdd-bk05-aucfan.html"><img border="1" alt="hdd-bk05 Graph" src="hdd-bk05-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on lax01.aucfan.com</br> (192.168.2.237) </b></div>
    <div><a href="hdd-lax01-aucfan.html"><img border="1" alt="hdd-lax01 Graph" src="hdd-lax01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on lax02.aucfan.com</br> (192.168.2.238) </b></div>
    <div><a href="hdd-lax02-aucfan.html"><img border="1" alt="hdd-lax02 Graph" src="hdd-lax02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on lax03.aucfan.com</br> (192.168.2.239) </b></div>
    <div><a href="hdd-lax03-aucfan.html"><img border="1" alt="hdd-lax03 Graph" src="hdd-lax03-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>




</table>
</body>
</html>
