<!DOCTYPE html>
<html>
  <head>
    <title>seg_2/Memory</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Memory Status on mars.aucfan.com</br> (192.168.101.21) </b></div>
    <div><a href="mem-mars-aucfan.html"><img border="1" alt="mem-mars Graph" src="mem-mars-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on mars.aucfan.com</br> (192.168.101.21) </b></div>
    <div><a href="mem-cb-mars-aucfan.html"><img border="1" alt="mem-cb-mars Graph" src="mem-cb-mars-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on saturn.aucfan.com</br> (192.168.101.22) </b></div>
    <div><a href="mem-saturn-aucfan.html"><img border="1" alt="mem-saturn Graph" src="mem-saturn-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on saturn.aucfan.com</br> (192.168.101.22) </b></div>
    <div><a href="mem-cb-saturn-aucfan.html"><img border="1" alt="mem-cb-saturn Graph" src="mem-cb-saturn-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on jupiter.aucfan.com</br> (192.168.101.23) </b></div>
    <div><a href="mem-jupiter-aucfan.html"><img border="1" alt="mem-jupiter Graph" src="mem-jupiter-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on jupiter.aucfan.com</br> (192.168.101.23) </b></div>
    <div><a href="mem-cb-jupiter-aucfan.html"><img border="1" alt="mem-cb-jupiter Graph" src="mem-cb-jupiter-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on io.aucfan.com</br> (192.168.101.24) </b></div>
    <div><a href="mem-io-aucfan.html"><img border="1" alt="mem-io Graph" src="mem-io-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on io.aucfan.com</br> (192.168.101.24) </b></div>
    <div><a href="mem-cb-io-aucfan.html"><img border="1" alt="mem-cb-io Graph" src="mem-cb-io-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on europa.aucfan.com</br> (192.168.101.25) </b></div>
    <div><a href="mem-europa-aucfan.html"><img border="1" alt="mem-europa Graph" src="mem-europa-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on europa.aucfan.com</br> (192.168.101.25) </b></div>
    <div><a href="mem-cb-europa-aucfan.html"><img border="1" alt="mem-cb-europa Graph" src="mem-cb-europa-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on neptune.aucfan.com</br> (192.168.101.26) </b></div>
    <div><a href="mem-neptune-aucfan.html"><img border="1" alt="mem-neptune Graph" src="mem-neptune-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on neptune.aucfan.com</br> (192.168.101.26) </b></div>
    <div><a href="mem-cb-neptune-aucfan.html"><img border="1" alt="mem-cb-neptune Graph" src="mem-cb-neptune-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on uranus.aucfan.com</br> (192.168.101.31) </b></div>
    <div><a href="mem-uranus-aucfan.html"><img border="1" alt="mem-uranus Graph" src="mem-uranus-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on uranus.aucfan.com</br> (192.168.101.31) </b></div>
    <div><a href="mem-cb-uranus-aucfan.html"><img border="1" alt="mem-cb-uranus Graph" src="mem-cb-uranus-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on development2.aucfan.com</br> (192.168.101.235) </b></div>
    <div><a href="mem-development2-aucfan.html"><img border="1" alt="mem-development2 Graph" src="mem-development2-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on development2.aucfan.com</br> (192.168.101.235) </b></div>
    <div><a href="mem-cb-development2-aucfan.html"><img border="1" alt="mem-cb-development2 Graph" src="mem-cb-development2-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
