<!DOCTYPE html>
<html>
  <head>
    <title>7R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul><br>
<li>HDD Status on ps09.aucfan.com (192.168.3.61)<br /><a href="stat-hdd-ps09-aucfan.html"><img src="stat-hdd-ps09-aucfan-day.png" alt="stat-hdd-ps09-aucfan-day"/></a></li>
<li>HDD Status on ps10.aucfan.com (192.168.3.62)<br /><a href="stat-hdd-ps10-aucfan.html"><img src="stat-hdd-ps10-aucfan-day.png" alt="stat-hdd-ps10-aucfan-day"/></a></li>
<li>HDD Status on ps11.aucfan.com (192.168.3.63)<br /><a href="stat-hdd-ps11-aucfan.html"><img src="stat-hdd-ps11-aucfan-day.png" alt="stat-hdd-ps11-aucfan-day"/></a></li>
<li>HDD Status on R410_33.aucfan.com (192.168.3.65)<br /><a href="stat-hdd-r410_33-aucfan.html"><img src="stat-hdd-r410_33-aucfan-day.png" alt="stat-hdd-r410_33-aucfan-day"/></a></li>
<li>HDD Status on R410_34.aucfan.com (192.168.3.66)<br /><a href="stat-hdd-r410_34-aucfan.html"><img src="stat-hdd-r410_34-aucfan-day.png" alt="stat-hdd-r410_34-aucfan-day"/></a></li>
<li>HDD Status on R410_35.aucfan.com (192.168.3.67)<br /><a href="stat-hdd-r410_35-aucfan.html"><img src="stat-hdd-r410_35-aucfan-day.png" alt="stat-hdd-r410_35-aucfan-day"/></a></li>
<li>HDD Status on R410_36.aucfan.com (192.168.3.68)<br /><a href="stat-hdd-r410_36-aucfan.html"><img src="stat-hdd-r410_36-aucfan-day.png" alt="stat-hdd-r410_36-aucfan-day"/></a></li>
<li>HDD Status on R410_37.aucfan.com (192.168.3.69)<br /><a href="stat-hdd-r410_37-aucfan.html"><img src="stat-hdd-r410_37-aucfan-day.png" alt="stat-hdd-r410_37-aucfan-day"/></a></li>
<li>HDD Status on R410_38.aucfan.com (192.168.3.70)<br /><a href="stat-hdd-r410_38-aucfan.html"><img src="stat-hdd-r410_38-aucfan-day.png" alt="stat-hdd-r410_38-aucfan-day"/></a></li>
<li>HDD Status on R410_39.aucfan.com (192.168.3.71)<br /><a href="stat-hdd-r410_39-aucfan.html"><img src="stat-hdd-r410_39-aucfan-day.png" alt="stat-hdd-r410_39-aucfan-day"/></a></li>
<li>HDD Status on lb07.aucfan.com (192.168.3.72)<br /><a href="stat-hdd-lb07-aucfan.html"><img src="stat-hdd-lb07-aucfan-day.png" alt="stat-hdd-lb07-aucfan-day"/></a></li>
<li>HDD Status on lb08.aucfan.com (192.168.3.73)<br /><a href="stat-hdd-lb08-aucfan.html"><img src="stat-hdd-lb08-aucfan-day.png" alt="stat-hdd-lb08-aucfan-day"/></a></li>
<li>HDD Status on pdb01.aucfan.com (192.168.3.74)<br /><a href="stat-hdd-pdb01-aucfan.html"><img src="stat-hdd-pdb01-aucfan-day.png" alt="stat-hdd-pdb01-aucfan-day"/></a></li>
<li>HDD Status on pdb02.aucfan.com (192.168.3.75)<br /><a href="stat-hdd-pdb02-aucfan.html"><img src="stat-hdd-pdb02-aucfan-day.png" alt="stat-hdd-pdb02-aucfan-day"/></a></li>
<li>HDD Status on R410_51.aucfan.com (192.168.3.83)<br /><a href="stat-hdd-r410_51-aucfan.html"><img src="stat-hdd-r410_51-aucfan-day.png" alt="stat-hdd-r410_51-aucfan-day"/></a></li>
<li>HDD Status on pws03.aucfan.com (192.168.3.85)<br /><a href="stat-hdd-pws03-aucfan.html"><img src="stat-hdd-pws03-aucfan-day.png" alt="stat-hdd-pws03-aucfan-day"/></a></li>
<li>HDD Status on pws04.aucfan.com (192.168.3.86)<br /><a href="stat-hdd-pws04-aucfan.html"><img src="stat-hdd-pws04-aucfan-day.png" alt="stat-hdd-pws04-aucfan-day"/></a></li>
<li>HDD Status on R410_55.aucfan.com (192.168.3.87)<br /><a href="stat-hdd-r410_55-aucfan.html"><img src="stat-hdd-r410_55-aucfan-day.png" alt="stat-hdd-r410_55-aucfan-day"/></a></li>
<li>HDD Status on R410_56.aucfan.com (192.168.3.88)<br /><a href="stat-hdd-r410_56-aucfan.html"><img src="stat-hdd-r410_56-aucfan-day.png" alt="stat-hdd-r410_56-aucfan-day"/></a></li>
<li>HDD Status on ws19.aucfan.com (192.168.3.165)<br /><a href="stat-hdd-ws19-aucfan.html"><img src="stat-hdd-ws19-aucfan-day.png" alt="stat-hdd-ws19-aucfan-day"/></a></li>
<li>HDD Status on ws20.aucfan.com (192.168.3.166)<br /><a href="stat-hdd-ws20-aucfan.html"><img src="stat-hdd-ws20-aucfan-day.png" alt="stat-hdd-ws20-aucfan-day"/></a></li>
<li>HDD Status on ws21.aucfan.com (192.168.3.167)<br /><a href="stat-hdd-ws21-aucfan.html"><img src="stat-hdd-ws21-aucfan-day.png" alt="stat-hdd-ws21-aucfan-day"/></a></li>
<li>HDD Status on ws22.aucfan.com (192.168.3.168)<br /><a href="stat-hdd-ws22-aucfan.html"><img src="stat-hdd-ws22-aucfan-day.png" alt="stat-hdd-ws22-aucfan-day"/></a></li>
<li>HDD Status on ws23.aucfan.com (192.168.3.169)<br /><a href="stat-hdd-ws23-aucfan.html"><img src="stat-hdd-ws23-aucfan-day.png" alt="stat-hdd-ws23-aucfan-day"/></a></li>
<li>HDD Status on ws24.aucfan.com (192.168.3.170)<br /><a href="stat-hdd-ws24-aucfan.html"><img src="stat-hdd-ws24-aucfan-day.png" alt="stat-hdd-ws24-aucfan-day"/></a></li>
<li>HDD Status on ws25.aucfan.com (192.168.3.171)<br /><a href="stat-hdd-ws25-aucfan.html"><img src="stat-hdd-ws25-aucfan-day.png" alt="stat-hdd-ws25-aucfan-day"/></a></li>
<li>HDD Status on ws26.aucfan.com (192.168.3.176)<br /><a href="stat-hdd-ws26-aucfan.html"><img src="stat-hdd-ws26-aucfan-day.png" alt="stat-hdd-ws26-aucfan-day"/></a></li>
<li>HDD Status on ws27.aucfan.com (192.168.3.177)<br /><a href="stat-hdd-ws27-aucfan.html"><img src="stat-hdd-ws27-aucfan-day.png" alt="stat-hdd-ws27-aucfan-day"/></a></li>
<li>HDD Status on ws28.aucfan.com (192.168.3.178)<br /><a href="stat-hdd-ws28-aucfan.html"><img src="stat-hdd-ws28-aucfan-day.png" alt="stat-hdd-ws28-aucfan-day"/></a></li>
<li>HDD Status on ws29.aucfan.com (192.168.3.179)<br /><a href="stat-hdd-ws29-aucfan.html"><img src="stat-hdd-ws29-aucfan-day.png" alt="stat-hdd-ws29-aucfan-day"/></a></li>
<li>HDD Status on ws30.aucfan.com (192.168.3.180)<br /><a href="stat-hdd-ws30-aucfan.html"><img src="stat-hdd-ws30-aucfan-day.png" alt="stat-hdd-ws30-aucfan-day"/></a></li>
<li>HDD Status on ws31.aucfan.com (192.168.3.181)<br /><a href="stat-hdd-ws31-aucfan.html"><img src="stat-hdd-ws31-aucfan-day.png" alt="stat-hdd-ws31-aucfan-day"/></a></li>
<li>HDD Status on ws32.aucfan.com (192.168.3.182)<br /><a href="stat-hdd-ws32-aucfan.html"><img src="stat-hdd-ws32-aucfan-day.png" alt="stat-hdd-ws32-aucfan-day"/></a></li>
