<!DOCTYPE html>
<html>
  <head>
    <title>0R</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>
<tr>
  <td>
    <div><b> HDD Status on ws01-test.aucfan.com</br> (192.168.101.52) </b></div>
    <div><a href="hdd-ws01-test-sdc1-aucfan.html"><img border="1" alt="hdd-ws01-test Graph" src="hdd-ws01-test-sdc1-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on pws01-test.aucfan.com</br> (192.168.101.62) </b></div>
    <div><a href="hdd-pws01-test-sdc1-aucfan.html"><img border="1" alt="hdd-pws01-test Graph" src="hdd-pws01-test-sdc1-aucfan-day.png"></a></div>
  </td>  
</tr>

</table>
</body>
</html>
