<!DOCTYPE html>
<html>
  <head>
    <title>seg_2/la</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Load Average on cs01.aucfan.com</br> (192.168.2.61) </b></div>
    <div><a href="la-cs01-aucfan.html"><img border="1" alt="la-cs01 Graph" src="la-cs01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on cs02.aucfan.com</br> (192.168.2.68) </b></div>
    <div><a href="la-cs02-aucfan.html"><img border="1" alt="la-cs02 Graph" src="la-cs02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on se01.aucfan.com</br> (192.168.2.69) </b></div>
    <div><a href="la-se01-aucfan.html"><img border="1" alt="la-se01 Graph" src="la-se01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on se02.aucfan.com</br> (192.168.2.70) </b></div>
    <div><a href="la-se02-aucfan.html"><img border="1" alt="la-se02 Graph" src="la-se02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> Load Average on ss14.aucfan.com</br> (192.168.2.84) </b></div>
    <div><a href="la-ss14-aucfan.html"><img border="1" alt="la-ss14 Graph" src="la-ss14-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on wspf02.aucfan.com</br> (192.168.2.115) </b></div>
    <div><a href="la-wspf02-aucfan.html"><img border="1" alt="la-wspf02 Graph" src="la-wspf02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on sspf02.aucfan.com</br> (192.168.2.117) </b></div>
    <div><a href="la-sspf02-aucfan.html"><img border="1" alt="la-sspf02 Graph" src="la-sspf02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on dspf02.aucfan.com</br> (192.168.2.119) </b></div>
    <div><a href="la-dspf02-aucfan.html"><img border="1" alt="la-dspf02 Graph" src="la-dspf02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on wsapi01.aucfan.com</br> (192.168.2.122) </b></div>
    <div><a href="la-wsapi01-aucfan.html"><img border="1" alt="la-wsapi01 Graph" src="la-wsapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> Load Average on ssapi01.aucfan.com</br> (192.168.2.124) </b></div>
    <div><a href="la-ssapi01-aucfan.html"><img border="1" alt="la-ssapi01 Graph" src="la-ssapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on cr02.aucfan.com</br> (192.168.2.143) </b></div>
    <div><a href="la-cr02-aucfan.html"><img border="1" alt="la-cr02 Graph" src="la-cr02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on cr04.aucfan.com</br> (192.168.2.145) </b></div>
    <div><a href="la-cr04-aucfan.html"><img border="1" alt="la-cr04 Graph" src="la-cr04-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>


</table>
</body>
</html>
