<!DOCTYPE html>
<html>
  <head>
    <title>seg_2/la</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Load Average on mad.aucfan.com</br> (192.168.2.159) </b></div>
    <div><a href="la-mad-aucfan.html"><img border="1" alt="la-mad Graph" src="la-mad-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on bcn.aucfan.com</br> (192.168.2.160) </b></div>
    <div><a href="la-bcn-aucfan.html"><img border="1" alt="la-bcn Graph" src="la-bcn-aucfan-day.png"></a></div>
  </td>  
</tr>


</table>
</body>
</html>
