<!DOCTYPE html>
<html>
  <head>
    <title>seg_2/la</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
  </td>
  <td>
    <div><b> Load Average on bt01.aucfan.com</br> (192.168.2.34) </b></div>
    <div><a href="la-bt01-aucfan.html"><img border="1" alt="la-bt01 Graph" src="la-bt01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ds05.aucfan.com</br> (192.168.2.35) </b></div>
    <div><a href="la-ds05-aucfan.html"><img border="1" alt="la-ds05 Graph" src="la-ds05-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ds06.aucfan.com</br> (192.168.2.36) </b></div>
    <div><a href="la-ds06-aucfan.html"><img border="1" alt="la-ds06 Graph" src="la-ds06-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ds07.aucfan.com</br> (192.168.2.37) </b></div>
    <div><a href="la-ds07-aucfan.html"><img border="1" alt="la-ds07 Graph" src="la-ds07-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on is01.aucfan.com</br> (192.168.2.38) </b></div>
    <div><a href="la-is01-aucfan.html"><img border="1" alt="la-is01 Graph" src="la-is01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> Load Average on it02.aucfan.com</br> (192.168.2.40) </b></div>
    <div><a href="la-it02-aucfan.html"><img border="1" alt="la-it02 Graph" src="la-it02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on cs01.aucfan.com</br> (192.168.2.61) </b></div>
    <div><a href="la-cs01-aucfan.html"><img border="1" alt="la-cs01 Graph" src="la-cs01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on cs02.aucfan.com</br> (192.168.2.68) </b></div>
    <div><a href="la-cs02-aucfan.html"><img border="1" alt="la-cs02 Graph" src="la-cs02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on se01.aucfan.com</br> (192.168.2.69) </b></div>
    <div><a href="la-se01-aucfan.html"><img border="1" alt="la-se01 Graph" src="la-se01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on se02.aucfan.com</br> (192.168.2.70) </b></div>
    <div><a href="la-se02-aucfan.html"><img border="1" alt="la-se02 Graph" src="la-se02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> Load Average on ss14.aucfan.com</br> (192.168.2.84) </b></div>
    <div><a href="la-ss14-aucfan.html"><img border="1" alt="la-ss14 Graph" src="la-ss14-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on wspf02.aucfan.com</br> (192.168.2.115) </b></div>
    <div><a href="la-wspf02-aucfan.html"><img border="1" alt="la-wspf02 Graph" src="la-wspf02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on sspf02.aucfan.com</br> (192.168.2.117) </b></div>
    <div><a href="la-sspf02-aucfan.html"><img border="1" alt="la-sspf02 Graph" src="la-sspf02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on dspf02.aucfan.com</br> (192.168.2.119) </b></div>
    <div><a href="la-dspf02-aucfan.html"><img border="1" alt="la-dspf02 Graph" src="la-dspf02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on wsapi01.aucfan.com</br> (192.168.2.122) </b></div>
    <div><a href="la-wsapi01-aucfan.html"><img border="1" alt="la-wsapi01 Graph" src="la-wsapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> Load Average on ssapi01.aucfan.com</br> (192.168.2.124) </b></div>
    <div><a href="la-ssapi01-aucfan.html"><img border="1" alt="la-ssapi01 Graph" src="la-ssapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on bk01.aucfan.com</br> (192.168.2.141) </b></div>
    <div><a href="la-bk01-aucfan.html"><img border="1" alt="la-bk01 Graph" src="la-bk01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on cr02.aucfan.com</br> (192.168.2.143) </b></div>
    <div><a href="la-cr02-aucfan.html"><img border="1" alt="la-cr02 Graph" src="la-cr02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on cr04.aucfan.com</br> (192.168.2.145) </b></div>
    <div><a href="la-cr04-aucfan.html"><img border="1" alt="la-cr04 Graph" src="la-cr04-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps01.aucfan.com</br> (192.168.2.201) </b></div>
    <div><a href="la-ps01-aucfan.html"><img border="1" alt="la-ps01 Graph" src="la-ps01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps02.aucfan.com</br> (192.168.2.202) </b></div>
    <div><a href="la-ps02-aucfan.html"><img border="1" alt="la-ps02 Graph" src="la-ps02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps03.aucfan.com</br> (192.168.2.203) </b></div>
    <div><a href="la-ps03-aucfan.html"><img border="1" alt="la-ps03 Graph" src="la-ps03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps04.aucfan.com</br> (192.168.2.204) </b></div>
    <div><a href="la-ps04-aucfan.html"><img border="1" alt="la-ps04 Graph" src="la-ps04-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps05.aucfan.com</br> (192.168.2.205) </b></div>
    <div><a href="la-ps05-aucfan.html"><img border="1" alt="la-ps05 Graph" src="la-ps05-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps06.aucfan.com</br> (192.168.2.206) </b></div>
    <div><a href="la-ps06-aucfan.html"><img border="1" alt="la-ps06 Graph" src="la-ps06-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps07.aucfan.com</br> (192.168.2.207) </b></div>
    <div><a href="la-ps07-aucfan.html"><img border="1" alt="la-ps07 Graph" src="la-ps07-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps08.aucfan.com</br> (192.168.2.208) </b></div>
    <div><a href="la-ps08-aucfan.html"><img border="1" alt="la-ps08 Graph" src="la-ps08-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on bt03.aucfan.com</br> (192.168.2.243) </b></div>
    <div><a href="la-bt03-aucfan.html"><img border="1" alt="la-bt03 Graph" src="la-bt03-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>


</table>
</body>
</html>
