<!DOCTYPE html>
<html>
  <head>
    <title>seg_2/la</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Load Average on ds03.aucfan.com</br> (192.168.2.39) </b></div>
    <div><a href="la-ds03-aucfan.html"><img border="1" alt="la-ds03 Graph" src="la-ds03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ws01.aucfan.com</br> (192.168.2.52) </b></div>
    <div><a href="la-ws01-aucfan.html"><img border="1" alt="la-ws01 Graph" src="la-ws01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on jfk.aucfan.com</br> (192.168.2.55) </b></div>
    <div><a href="la-jfk-aucfan.html"><img border="1" alt="la-jfk Graph" src="la-jfk-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ds02.aucfan.com</br> (192.168.2.64) </b></div>
    <div><a href="la-ds02-aucfan.html"><img border="1" alt="la-ds02 Graph" src="la-ds02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> Load Average on cr01.aucfan.com</br> (192.168.2.66) </b></div>
    <div><a href="la-cr01-aucfan.html"><img border="1" alt="la-cr01 Graph" src="la-cr01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ss07.aucfan.com</br> (192.168.2.77) </b></div>
    <div><a href="la-ss07-aucfan.html"><img border="1" alt="la-ss07 Graph" src="la-ss07-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ss08.aucfan.com</br> (192.168.2.78) </b></div>
    <div><a href="la-ss08-aucfan.html"><img border="1" alt="la-ss08 Graph" src="la-ss08-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ss09.aucfan.com</br> (192.168.2.79) </b></div>
    <div><a href="la-ss09-aucfan.html"><img border="1" alt="la-ss09 Graph" src="la-ss09-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ss11.aucfan.com</br> (192.168.2.81) </b></div>
    <div><a href="la-ss11-aucfan.html"><img border="1" alt="la-ss11 Graph" src="la-ss11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ss12.aucfan.com</br> (192.168.2.82) </b></div>
    <div><a href="la-ss12-aucfan.html"><img border="1" alt="la-ss12 Graph" src="la-ss12-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ss13.aucfan.com</br> (192.168.2.83) </b></div>
    <div><a href="la-ss13-aucfan.html"><img border="1" alt="la-ss13 Graph" src="la-ss13-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps31-host.aucfan.com</br> (192.168.2.85) </b></div>
    <div><a href="la-ps31-host-aucfan.html"><img border="1" alt="la-ps31-host Graph" src="la-ps31-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps33-host.aucfan.com</br> (192.168.2.86) </b></div>
    <div><a href="la-ps33-host-aucfan.html"><img border="1" alt="la-ps33-host Graph" src="la-ps33-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps35-host.aucfan.com</br> (192.168.2.87) </b></div>
    <div><a href="la-ps35-host-aucfan.html"><img border="1" alt="la-ps35-host Graph" src="la-ps35-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps37-host.aucfan.com</br> (192.168.2.88) </b></div>
    <div><a href="la-ps37-host-aucfan.html"><img border="1" alt="la-ps37-host Graph" src="la-ps37-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps39-host.aucfan.com</br> (192.168.2.89) </b></div>
    <div><a href="la-ps39-host-aucfan.html"><img border="1" alt="la-ps39-host Graph" src="la-ps39-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps40-host.aucfan.com</br> (192.168.2.90) </b></div>
    <div><a href="la-ps40-host-aucfan.html"><img border="1" alt="la-ps40-host Graph" src="la-ps40-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on vlc.aucfan.com</br> (192.168.2.109) </b></div>
    <div><a href="la-vlc-aucfan.html"><img border="1" alt="la-vlc Graph" src="la-vlc-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on svq.aucfan.com</br> (192.168.2.110) </b></div>
    <div><a href="la-svq-aucfan.html"><img border="1" alt="la-svq Graph" src="la-svq-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on vlc01.aucfan.com</br> (192.168.2.111) </b></div>
    <div><a href="la-vlc01-aucfan.html"><img border="1" alt="la-vlc01 Graph" src="la-vlc01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on svq01.aucfan.com</br> (192.168.2.112) </b></div>
    <div><a href="la-svq01-aucfan.html"><img border="1" alt="la-svq01 Graph" src="la-svq01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on wsapi02.aucfan.com</br> (192.168.2.123) </b></div>
    <div><a href="la-wsapi02-aucfan.html"><img border="1" alt="la-wsapi02 Graph" src="la-wsapi02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ssapi02.aucfan.com</br> (192.168.2.125) </b></div>
    <div><a href="la-ssapi02-aucfan.html"><img border="1" alt="la-ssapi02 Graph" src="la-ssapi02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps52.aucfan.com</br> (192.168.2.133) </b></div>
    <div><a href="la-ps52-aucfan.html"><img border="1" alt="la-ps52 Graph" src="la-ps52-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on sfo.aucfan.com</br> (192.168.2.147) </b></div>
    <div><a href="la-sfo-aucfan.html"><img border="1" alt="la-sfo Graph" src="la-sfo-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on aucuniv01.aucfan.com</br> (192.168.2.150) </b></div>
    <div><a href="la-aucuniv01-aucfan.html"><img border="1" alt="la-aucuniv01 Graph" src="la-aucuniv01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on aucuniv02.aucfan.com</br> (192.168.2.151) </b></div>
    <div><a href="la-aucuniv02-aucfan.html"><img border="1" alt="la-aucuniv02 Graph" src="la-aucuniv02-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ssl10.aucfan.com</br> (192.168.2.155) </b></div>
    <div><a href="la-ssl10-aucfan.html"><img border="1" alt="la-ssl10 Graph" src="la-ssl10-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on jfk02.aucfan.com</br> (192.168.2.156) </b></div>
    <div><a href="la-jfk02-aucfan.html"><img border="1" alt="la-jfk02 Graph" src="la-jfk02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ws33.aucfan.com</br> (192.168.2.157) </b></div>
    <div><a href="la-ws33-aucfan.html"><img border="1" alt="la-ws33 Graph" src="la-ws33-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps-host.aucfan.com</br> (192.168.2.158) </b></div>
    <div><a href="la-ps-host-aucfan.html"><img border="1" alt="la-ps-host Graph" src="la-ps-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on mad.aucfan.com</br> (192.168.2.159) </b></div>
    <div><a href="la-mad-aucfan.html"><img border="1" alt="la-mad Graph" src="la-mad-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on bcn.aucfan.com</br> (192.168.2.160) </b></div>
    <div><a href="la-bcn-aucfan.html"><img border="1" alt="la-bcn Graph" src="la-bcn-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ssl01.aucfan.com</br> (192.168.2.161) </b></div>
    <div><a href="la-ssl01-aucfan.html"><img border="1" alt="la-ssl01 Graph" src="la-ssl01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps31.aucfan.com</br> (192.168.2.185) </b></div>
    <div><a href="la-ps31-aucfan.html"><img border="1" alt="la-ps31 Graph" src="la-ps31-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps33.aucfan.com</br> (192.168.2.186) </b></div>
    <div><a href="la-ps33-aucfan.html"><img border="1" alt="la-ps33 Graph" src="la-ps33-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps35.aucfan.com</br> (192.168.2.187) </b></div>
    <div><a href="la-ps35-aucfan.html"><img border="1" alt="la-ps35 Graph" src="la-ps35-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps37.aucfan.com</br> (192.168.2.188) </b></div>
    <div><a href="la-ps37-aucfan.html"><img border="1" alt="la-ps37 Graph" src="la-ps37-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps39.aucfan.com</br> (192.168.2.189) </b></div>
    <div><a href="la-ps39-aucfan.html"><img border="1" alt="la-ps39 Graph" src="la-ps39-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps40.aucfan.com</br> (192.168.2.190) </b></div>
    <div><a href="la-ps40-aucfan.html"><img border="1" alt="la-ps40 Graph" src="la-ps40-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on sfo01.aucfan.com</br> (192.168.2.247) </b></div>
    <div><a href="la-sfo01-aucfan.html"><img border="1" alt="la-sfo01 Graph" src="la-sfo01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on sfo02.aucfan.com</br> (192.168.2.248) </b></div>
    <div><a href="la-sfo02-aucfan.html"><img border="1" alt="la-sfo02 Graph" src="la-sfo02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on sfo03.aucfan.com</br> (192.168.2.249) </b></div>
    <div><a href="la-sfo03-aucfan.html"><img border="1" alt="la-sfo03 Graph" src="la-sfo03-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>


</table>
</body>
</html>
