<!DOCTYPE html>
<html>
  <head>
    <title>seg_4/Traffic</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on pws06.aucfan.com</br> (210.152.140.248) </b></div>
    <div><a href="tr1-pws06-aucfan.html"><img border="1" alt="tr1-pws06 Graph" src="tr1-pws06-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on pws06.aucfan.com</br> (192.168.3.41) </b></div>
    <div><a href="tr2-pws06-aucfan.html"><img border="1" alt="tr2-pws06 Graph" src="tr2-pws06-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on pws07.aucfan.com</br> (210.152.140.249) </b></div>
    <div><a href="tr1-pws07-aucfan.html"><img border="1" alt="tr1-pws07 Graph" src="tr1-pws07-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on pws07.aucfan.com</br> (192.168.3.42) </b></div>
    <div><a href="tr2-pws07-aucfan.html"><img border="1" alt="tr2-pws07 Graph" src="tr2-pws07-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on pws08.aucfan.com</br> (210.152.213.90) </b></div>
    <div><a href="tr1-pws08-aucfan.html"><img border="1" alt="tr1-pws08 Graph" src="tr1-pws08-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on pws08.aucfan.com</br> (192.168.3.43) </b></div>
    <div><a href="tr2-pws08-aucfan.html"><img border="1" alt="tr2-pws08 Graph" src="tr2-pws08-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on pdb03.aucfan.com</br> (192.168.3.45) </b></div>
    <div><a href="tr1-pdb03-aucfan.html"><img border="1" alt="tr1-pdb03 Graph" src="tr1-pdb03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on pdb03.aucfan.com</br> (192.168.3.45) </b></div>
    <div><a href="tr2-pdb03-aucfan.html"><img border="1" alt="tr2-pdb03 Graph" src="tr2-pdb03-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on pws01.aucfan.com</br> (210.152.213.76) </b></div>
    <div><a href="tr1-pws01-aucfan.html"><img border="1" alt="tr1-pws01 Graph" src="tr1-pws01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on pws01.aucfan.com</br> (192.168.3.46) </b></div>
    <div><a href="tr2-pws01-aucfan.html"><img border="1" alt="tr2-pws01 Graph" src="tr2-pws01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on pws02.aucfan.com</br> (210.152.213.77) </b></div>
    <div><a href="tr1-pws02-aucfan.html"><img border="1" alt="tr1-pws02 Graph" src="tr1-pws02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on pws02.aucfan.com</br> (192.168.3.47) </b></div>
    <div><a href="tr2-pws02-aucfan.html"><img border="1" alt="tr2-pws02 Graph" src="tr2-pws02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_16.aucfan.com</br> (192.168.3.48) </b></div>
    <div><a href="tr1-r410_16-aucfan.html"><img border="1" alt="tr1-r410_16 Graph" src="tr1-r410_16-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_16.aucfan.com</br> (192.168.3.48) </b></div>
    <div><a href="tr2-r410_16-aucfan.html"><img border="1" alt="tr2-r410_16 Graph" src="tr2-r410_16-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_17.aucfan.com</br> (192.168.3.49) </b></div>
    <div><a href="tr1-r410_17-aucfan.html"><img border="1" alt="tr1-r410_17 Graph" src="tr1-r410_17-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_17.aucfan.com</br> (192.168.3.49) </b></div>
    <div><a href="tr2-r410_17-aucfan.html"><img border="1" alt="tr2-r410_17 Graph" src="tr2-r410_17-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_18.aucfan.com</br> (192.168.3.50) </b></div>
    <div><a href="tr1-r410_18-aucfan.html"><img border="1" alt="tr1-r410_18 Graph" src="tr1-r410_18-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_18.aucfan.com</br> (192.168.3.50) </b></div>
    <div><a href="tr2-r410_18-aucfan.html"><img border="1" alt="tr2-r410_18 Graph" src="tr2-r410_18-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_19.aucfan.com</br> (192.168.3.51) </b></div>
    <div><a href="tr1-r410_19-aucfan.html"><img border="1" alt="tr1-r410_19 Graph" src="tr1-r410_19-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_19.aucfan.com</br> (192.168.3.51) </b></div>
    <div><a href="tr2-r410_19-aucfan.html"><img border="1" alt="tr2-r410_19 Graph" src="tr2-r410_19-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_21.aucfan.com</br> (192.168.3.53) </b></div>
    <div><a href="tr1-r410_21-aucfan.html"><img border="1" alt="tr1-r410_21 Graph" src="tr1-r410_21-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_21.aucfan.com</br> (192.168.3.53) </b></div>
    <div><a href="tr2-r410_21-aucfan.html"><img border="1" alt="tr2-r410_21 Graph" src="tr2-r410_21-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_22.aucfan.com</br> (192.168.3.54) </b></div>
    <div><a href="tr1-r410_22-aucfan.html"><img border="1" alt="tr1-r410_22 Graph" src="tr1-r410_22-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_22.aucfan.com</br> (192.168.3.54) </b></div>
    <div><a href="tr2-r410_22-aucfan.html"><img border="1" alt="tr2-r410_22 Graph" src="tr2-r410_22-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on pdb04.aucfan.com</br> (192.168.3.55) </b></div>
    <div><a href="tr1-pdb04-aucfan.html"><img border="1" alt="tr1-pdb04 Graph" src="tr1-pdb04-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on pdb04.aucfan.com</br> (192.168.3.55) </b></div>
    <div><a href="tr2-pdb04-aucfan.html"><img border="1" alt="tr2-pdb04 Graph" src="tr2-pdb04-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_24.aucfan.com</br> (192.168.3.56) </b></div>
    <div><a href="tr1-r410_24-aucfan.html"><img border="1" alt="tr1-r410_24 Graph" src="tr1-r410_24-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_24.aucfan.com</br> (192.168.3.56) </b></div>
    <div><a href="tr2-r410_24-aucfan.html"><img border="1" alt="tr2-r410_24 Graph" src="tr2-r410_24-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_25.aucfan.com</br> (192.168.3.57) </b></div>
    <div><a href="tr1-r410_25-aucfan.html"><img border="1" alt="tr1-r410_25 Graph" src="tr1-r410_25-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_25.aucfan.com</br> (192.168.3.57) </b></div>
    <div><a href="tr2-r410_25-aucfan.html"><img border="1" alt="tr2-r410_25 Graph" src="tr2-r410_25-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_27.aucfan.com</br> (192.168.3.59) </b></div>
    <div><a href="tr1-r410_27-aucfan.html"><img border="1" alt="tr1-r410_27 Graph" src="tr1-r410_27-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_27.aucfan.com</br> (192.168.3.59) </b></div>
    <div><a href="tr2-r410_27-aucfan.html"><img border="1" alt="tr2-r410_27 Graph" src="tr2-r410_27-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R410_28.aucfan.com</br> (192.168.3.60) </b></div>
    <div><a href="tr1-r410_28-aucfan.html"><img border="1" alt="tr1-r410_28 Graph" src="tr1-r410_28-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R410_28.aucfan.com</br> (192.168.3.60) </b></div>
    <div><a href="tr2-r410_28-aucfan.html"><img border="1" alt="tr2-r410_28 Graph" src="tr2-r410_28-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
