<!DOCTYPE html>
<html>
  <head>
    <title>seg_3/la</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Load Average on ps09.aucfan.com</br> (192.168.3.61) </b></div>
    <div><a href="la-ps09-aucfan.html"><img border="1" alt="la-ps09 Graph" src="la-ps09-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps10.aucfan.com</br> (192.168.3.62) </b></div>
    <div><a href="la-ps10-aucfan.html"><img border="1" alt="la-ps10 Graph" src="la-ps10-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps11.aucfan.com</br> (192.168.3.63) </b></div>
    <div><a href="la-ps11-aucfan.html"><img border="1" alt="la-ps11 Graph" src="la-ps11-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_33.aucfan.com</br> (192.168.3.65) </b></div>
    <div><a href="la-r410_33-aucfan.html"><img border="1" alt="la-r410_33 Graph" src="la-r410_33-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_34.aucfan.com</br> (192.168.3.66) </b></div>
    <div><a href="la-r410_34-aucfan.html"><img border="1" alt="la-r410_34 Graph" src="la-r410_34-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_35.aucfan.com</br> (192.168.3.67) </b></div>
    <div><a href="la-r410_35-aucfan.html"><img border="1" alt="la-r410_35 Graph" src="la-r410_35-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_36.aucfan.com</br> (192.168.3.68) </b></div>
    <div><a href="la-r410_36-aucfan.html"><img border="1" alt="la-r410_36 Graph" src="la-r410_36-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_37.aucfan.com</br> (192.168.3.69) </b></div>
    <div><a href="la-r410_37-aucfan.html"><img border="1" alt="la-r410_37 Graph" src="la-r410_37-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_38.aucfan.com</br> (192.168.3.70) </b></div>
    <div><a href="la-r410_38-aucfan.html"><img border="1" alt="la-r410_38 Graph" src="la-r410_38-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_39.aucfan.com</br> (192.168.3.71) </b></div>
    <div><a href="la-r410_39-aucfan.html"><img border="1" alt="la-r410_39 Graph" src="la-r410_39-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on lb07.aucfan.com</br> (192.168.3.72) </b></div>
    <div><a href="la-lb07-aucfan.html"><img border="1" alt="la-lb07 Graph" src="la-lb07-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on lb08.aucfan.com</br> (192.168.3.73) </b></div>
    <div><a href="la-lb08-aucfan.html"><img border="1" alt="la-lb08 Graph" src="la-lb08-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on pdb01.aucfan.com</br> (192.168.3.74) </b></div>
    <div><a href="la-pdb01-aucfan.html"><img border="1" alt="la-pdb01 Graph" src="la-pdb01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on pdb02.aucfan.com</br> (192.168.3.75) </b></div>
    <div><a href="la-pdb02-aucfan.html"><img border="1" alt="la-pdb02 Graph" src="la-pdb02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_44.aucfan.com</br> (192.168.3.76) </b></div>
    <div><a href="la-r410_44-aucfan.html"><img border="1" alt="la-r410_44 Graph" src="la-r410_44-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_45.aucfan.com</br> (192.168.3.77) </b></div>
    <div><a href="la-r410_45-aucfan.html"><img border="1" alt="la-r410_45 Graph" src="la-r410_45-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_46.aucfan.com</br> (192.168.3.78) </b></div>
    <div><a href="la-r410_46-aucfan.html"><img border="1" alt="la-r410_46 Graph" src="la-r410_46-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_47.aucfan.com</br> (192.168.3.79) </b></div>
    <div><a href="la-r410_47-aucfan.html"><img border="1" alt="la-r410_47 Graph" src="la-r410_47-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_48.aucfan.com</br> (192.168.3.80) </b></div>
    <div><a href="la-r410_48-aucfan.html"><img border="1" alt="la-r410_48 Graph" src="la-r410_48-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_49.aucfan.com</br> (192.168.3.81) </b></div>
    <div><a href="la-r410_49-aucfan.html"><img border="1" alt="la-r410_49 Graph" src="la-r410_49-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_51.aucfan.com</br> (192.168.3.83) </b></div>
    <div><a href="la-r410_51-aucfan.html"><img border="1" alt="la-r410_51 Graph" src="la-r410_51-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_52.aucfan.com</br> (192.168.3.84) </b></div>
    <div><a href="la-r410_52-aucfan.html"><img border="1" alt="la-r410_52 Graph" src="la-r410_52-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on pws03.aucfan.com</br> (192.168.3.85) </b></div>
    <div><a href="la-pws03-aucfan.html"><img border="1" alt="la-pws03 Graph" src="la-pws03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on pws04.aucfan.com</br> (192.168.3.86) </b></div>
    <div><a href="la-pws04-aucfan.html"><img border="1" alt="la-pws04 Graph" src="la-pws04-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ws19.aucfan.com</br> (192.168.3.165) </b></div>
    <div><a href="la-ws19-aucfan.html"><img border="1" alt="la-ws19 Graph" src="la-ws19-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ws20.aucfan.com</br> (192.168.3.166) </b></div>
    <div><a href="la-ws20-aucfan.html"><img border="1" alt="la-ws20 Graph" src="la-ws20-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ws21.aucfan.com</br> (192.168.3.167) </b></div>
    <div><a href="la-ws21-aucfan.html"><img border="1" alt="la-ws21 Graph" src="la-ws21-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ws22.aucfan.com</br> (192.168.3.168) </b></div>
    <div><a href="la-ws22-aucfan.html"><img border="1" alt="la-ws22 Graph" src="la-ws22-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ws23.aucfan.com</br> (192.168.3.169) </b></div>
    <div><a href="la-ws23-aucfan.html"><img border="1" alt="la-ws23 Graph" src="la-ws23-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ws24.aucfan.com</br> (192.168.3.170) </b></div>
    <div><a href="la-ws24-aucfan.html"><img border="1" alt="la-ws24 Graph" src="la-ws24-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ws25.aucfan.com</br> (192.168.3.171) </b></div>
    <div><a href="la-ws25-aucfan.html"><img border="1" alt="la-ws25 Graph" src="la-ws25-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ws26.aucfan.com</br> (192.168.3.176) </b></div>
    <div><a href="la-ws26-aucfan.html"><img border="1" alt="la-ws26 Graph" src="la-ws26-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ws27.aucfan.com</br> (192.168.3.177) </b></div>
    <div><a href="la-ws27-aucfan.html"><img border="1" alt="la-ws27 Graph" src="la-ws27-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ws28.aucfan.com</br> (192.168.3.178) </b></div>
    <div><a href="la-ws28-aucfan.html"><img border="1" alt="la-ws28 Graph" src="la-ws28-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ws29.aucfan.com</br> (192.168.3.179) </b></div>
    <div><a href="la-ws29-aucfan.html"><img border="1" alt="la-ws29 Graph" src="la-ws29-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ws30.aucfan.com</br> (192.168.3.180) </b></div>
    <div><a href="la-ws30-aucfan.html"><img border="1" alt="la-ws30 Graph" src="la-ws30-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ws31.aucfan.com</br> (192.168.3.181) </b></div>
    <div><a href="la-ws31-aucfan.html"><img border="1" alt="la-ws31 Graph" src="la-ws31-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>


</table>
</body>
</html>
