<!DOCTYPE html>
<html>
  <head>
    <title>seg_3/la</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Load Average on pws06.aucfan.com</br> (192.168.3.41) </b></div>
    <div><a href="la-pws06-aucfan.html"><img border="1" alt="la-pws06 Graph" src="la-pws06-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on pws07.aucfan.com</br> (192.168.3.42) </b></div>
    <div><a href="la-pws07-aucfan.html"><img border="1" alt="la-pws07 Graph" src="la-pws07-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on pws08.aucfan.com</br> (192.168.3.43) </b></div>
    <div><a href="la-pws08-aucfan.html"><img border="1" alt="la-pws08 Graph" src="la-pws08-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on pdb03.aucfan.com</br> (192.168.3.45) </b></div>
    <div><a href="la-pdb03-aucfan.html"><img border="1" alt="la-pdb03 Graph" src="la-pdb03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on pws01.aucfan.com</br> (192.168.3.46) </b></div>
    <div><a href="la-pws01-aucfan.html"><img border="1" alt="la-pws01 Graph" src="la-pws01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on pws02.aucfan.com</br> (192.168.3.47) </b></div>
    <div><a href="la-pws02-aucfan.html"><img border="1" alt="la-pws02 Graph" src="la-pws02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_16.aucfan.com</br> (192.168.3.48) </b></div>
    <div><a href="la-r410_16-aucfan.html"><img border="1" alt="la-r410_16 Graph" src="la-r410_16-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_17.aucfan.com</br> (192.168.3.49) </b></div>
    <div><a href="la-r410_17-aucfan.html"><img border="1" alt="la-r410_17 Graph" src="la-r410_17-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_18.aucfan.com</br> (192.168.3.50) </b></div>
    <div><a href="la-r410_18-aucfan.html"><img border="1" alt="la-r410_18 Graph" src="la-r410_18-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_19.aucfan.com</br> (192.168.3.51) </b></div>
    <div><a href="la-r410_19-aucfan.html"><img border="1" alt="la-r410_19 Graph" src="la-r410_19-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_21.aucfan.com</br> (192.168.3.53) </b></div>
    <div><a href="la-r410_21-aucfan.html"><img border="1" alt="la-r410_21 Graph" src="la-r410_21-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_22.aucfan.com</br> (192.168.3.54) </b></div>
    <div><a href="la-r410_22-aucfan.html"><img border="1" alt="la-r410_22 Graph" src="la-r410_22-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on pdb04.aucfan.com</br> (192.168.3.55) </b></div>
    <div><a href="la-pdb04-aucfan.html"><img border="1" alt="la-pdb04 Graph" src="la-pdb04-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_24.aucfan.com</br> (192.168.3.56) </b></div>
    <div><a href="la-r410_24-aucfan.html"><img border="1" alt="la-r410_24 Graph" src="la-r410_24-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_25.aucfan.com</br> (192.168.3.57) </b></div>
    <div><a href="la-r410_25-aucfan.html"><img border="1" alt="la-r410_25 Graph" src="la-r410_25-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R410_27.aucfan.com</br> (192.168.3.59) </b></div>
    <div><a href="la-r410_27-aucfan.html"><img border="1" alt="la-r410_27 Graph" src="la-r410_27-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R410_28.aucfan.com</br> (192.168.3.60) </b></div>
    <div><a href="la-r410_28-aucfan.html"><img border="1" alt="la-r410_28 Graph" src="la-r410_28-aucfan-day.png"></a></div>
  </td>  
</tr>




</table>
</body>
</html>
