<!DOCTYPE html>
<html>
  <head>
    <title>7R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul> 
<li>Traffic1 on rt1.aucfan.esu2 (192.168.4.1)<br /><a href="tr1-rt1-aucfan-esu2.html"><img src="tr1-rt1-aucfan-esu2-day.png" alt="tr1-rt1-aucfan-esu2-day"/></a></li>
<li>Traffic1 on rt2.aucfan.esu2 (192.168.4.2)<br /><a href="tr1-rt2-aucfan-esu2.html"><img src="tr1-rt2-aucfan-esu2-day.png" alt="tr1-rt2-aucfan-esu2-day"/></a></li>
<li>Traffic LAN2 on R420-1.aucfan.com (192.168.4.31)<br /><a href="tr2-r420-1-aucfan.html"><img src="tr2-r420-1-aucfan-day.png" alt="tr2-r420-1-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-2.aucfan.com (192.168.4.32)<br /><a href="tr2-r420-2-aucfan.html"><img src="tr2-r420-2-aucfan-day.png" alt="tr2-r420-2-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-3.aucfan.com (192.168.4.33)<br /><a href="tr2-r420-3-aucfan.html"><img src="tr2-r420-3-aucfan-day.png" alt="tr2-r420-3-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-4.aucfan.com (192.168.4.34)<br /><a href="tr2-r420-4-aucfan.html"><img src="tr2-r420-4-aucfan-day.png" alt="tr2-r420-4-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-5.aucfan.com (192.168.4.35)<br /><a href="tr2-r420-5-aucfan.html"><img src="tr2-r420-5-aucfan-day.png" alt="tr2-r420-5-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-6.aucfan.com (192.168.4.36)<br /><a href="tr2-r420-6-aucfan.html"><img src="tr2-r420-6-aucfan-day.png" alt="tr2-r420-6-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-7.aucfan.com (192.168.4.37)<br /><a href="tr2-r420-7-aucfan.html"><img src="tr2-r420-7-aucfan-day.png" alt="tr2-r420-7-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-8.aucfan.com (192.168.4.38)<br /><a href="tr2-r420-8-aucfan.html"><img src="tr2-r420-8-aucfan-day.png" alt="tr2-r420-8-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-9.aucfan.com (192.168.4.39)<br /><a href="tr2-r420-9-aucfan.html"><img src="tr2-r420-9-aucfan-day.png" alt="tr2-r420-9-aucfan-day"/></a></li>
<li>Traffic LAN1 on R420-9-01.aucfan.com (221.248.183.26)<br /><a href="tr1-r420-9-01-aucfan.html"><img src="tr1-r420-9-01-aucfan-day.png" alt="tr1-r420-9-01-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-9-01.aucfan.com (192.168.4.139)<br /><a href="tr2-r420-9-01-aucfan.html"><img src="tr2-r420-9-01-aucfan-day.png" alt="tr2-r420-9-01-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-10.aucfan.com (192.168.4.40)<br /><a href="tr2-r420-10-aucfan.html"><img src="tr2-r420-10-aucfan-day.png" alt="tr2-r420-10-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-11.aucfan.com (192.168.4.41)<br /><a href="tr2-r420-11-aucfan.html"><img src="tr2-r420-11-aucfan-day.png" alt="tr2-r420-11-aucfan-day"/></a></li>
<li>Traffic LAN1 on R420-11-01.aucfan.com (221.248.183.26)<br /><a href="tr1-r420-11-01-aucfan.html"><img src="tr1-r420-11-01-aucfan-day.png" alt="tr1-r420-11-01-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-11-01.aucfan.com (192.168.4.141)<br /><a href="tr2-r420-11-01-aucfan.html"><img src="tr2-r420-11-01-aucfan-day.png" alt="tr2-r420-11-01-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-12.aucfan.com (192.168.4.42)<br /><a href="tr2-r420-12-aucfan.html"><img src="tr2-r420-12-aucfan-day.png" alt="tr2-r420-12-aucfan-day"/></a></li>
<li>Traffic LAN2 on cmb.aucfan.com (192.168.4.43)<br /><a href="tr2-cmb-aucfan.html"><img src="tr2-cmb-aucfan-day.png" alt="tr2-cmb-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-14.aucfan.com (192.168.4.44)<br /><a href="tr2-r420-14-aucfan.html"><img src="tr2-r420-14-aucfan-day.png" alt="tr2-r420-14-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-15.aucfan.com (192.168.4.45)<br /><a href="tr2-r420-15-aucfan.html"><img src="tr2-r420-15-aucfan-day.png" alt="tr2-r420-15-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-16.aucfan.com (192.168.4.46)<br /><a href="tr2-r420-16-aucfan.html"><img src="tr2-r420-16-aucfan-day.png" alt="tr2-r420-16-aucfan-day"/></a></li>
<li>Traffic LAN2 on nrt.aucfan.com (192.168.4.47)<br /><a href="tr2-nrt-aucfan.html"><img src="tr2-nrt-aucfan-day.png" alt="tr2-nrt-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-18.aucfan.com (192.168.4.48)<br /><a href="tr2-r420-18-aucfan.html"><img src="tr2-r420-18-aucfan-day.png" alt="tr2-r420-18-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-19.aucfan.com (192.168.4.49)<br /><a href="tr2-r420-19-aucfan.html"><img src="tr2-r420-19-aucfan-day.png" alt="tr2-r420-19-aucfan-day"/></a></li>
<li>Traffic LAN2 on R420-20.aucfan.com (192.168.4.50)<br /><a href="tr2-r420-20-aucfan.html"><img src="tr2-r420-20-aucfan-day.png" alt="tr2-r420-20-aucfan-day"/></a></li>
<li>Traffic LAN2 on ceb.aucfan.com (192.168.4.55)<br /><a href="tr2-ceb-aucfan.html"><img src="tr2-ceb-aucfan-day.png" alt="tr2-ceb-aucfan-day"/></a></li>
<li>Traffic LAN2 on kvm01.aucfan.com (192.168.4.56)<br /><a href="tr2-kvm01-aucfan.html"><img src="tr2-kvm01-aucfan-day.png" alt="tr2-kvm01-aucfan-day"/></a></li>
<li>Traffic LAN2 on ssl03.aucfan.com (192.168.4.131)<br /><a href="tr2-ssl03-aucfan.html"><img src="tr2-ssl03-aucfan-day.png" alt="tr2-ssl03-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps31.aucfan.com (192.168.4.132)<br /><a href="tr2-ps31-aucfan.html"><img src="tr2-ps31-aucfan-day.png" alt="tr2-ps31-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps03b.aucfan.com (192.168.4.133)<br /><a href="tr2-ps03b-aucfan.html"><img src="tr2-ps03b-aucfan-day.png" alt="tr2-ps03b-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps35.aucfan.com (192.168.4.134)<br /><a href="tr2-ps35-aucfan.html"><img src="tr2-ps35-aucfan-day.png" alt="tr2-ps35-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps37.aucfan.com (192.168.4.135)<br /><a href="tr2-ps37-aucfan.html"><img src="tr2-ps37-aucfan-day.png" alt="tr2-ps37-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps39.aucfan.com (192.168.4.136)<br /><a href="tr2-ps39-aucfan.html"><img src="tr2-ps39-aucfan-day.png" alt="tr2-ps39-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps40.aucfan.com (192.168.4.137)<br /><a href="tr2-ps40-aucfan.html"><img src="tr2-ps40-aucfan-day.png" alt="tr2-ps40-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps41.aucfan.com (192.168.4.138)<br /><a href="tr2-ps41-aucfan.html"><img src="tr2-ps41-aucfan-day.png" alt="tr2-ps41-aucfan-day"/></a></li>
<li>Traffic LAN1 on cr01b.aucfan.com (221.248.183.26)<br /><a href="tr1-cr01b-aucfan.html"><img src="tr1-cr01b-aucfan-day.png" alt="tr1-cr01b-aucfan-day"/></a></li>
<li>Traffic LAN2 on cr02b.aucfan.com (192.168.4.140)<br /><a href="tr2-cr02b-aucfan.html"><img src="tr2-cr02b-aucfan-day.png" alt="tr2-cr02b-aucfan-day"/></a></li>
<li>Traffic LAN1 on sin01.aucfan.com (221.248.183.29)<br /><a href="tr1-sin01-aucfan.html"><img src="tr1-sin01-aucfan-day.png" alt="tr1-sin01-aucfan-day"/></a></li>
<li>Traffic LAN2 on sin01.aucfan.com (192.168.4.142)<br /><a href="tr2-sin01-aucfan.html"><img src="tr2-sin01-aucfan-day.png" alt="tr2-sin01-aucfan-day"/></a></li>
<li>Traffic LAN1 on cmb01.aucfan.com (192.168.4.143)<br /><a href="tr1-cmb01-aucfan.html"><img src="tr1-cmb01-aucfan-day.png" alt="tr1-cmb01-aucfan-day"/></a></li>
<li>Traffic LAN2 on cmb01.aucfan.com (192.168.4.143)<br /><a href="tr2-cmb01-aucfan.html"><img src="tr2-cmb01-aucfan-day.png" alt="tr2-cmb01-aucfan-day"/></a></li>
<li>Traffic LAN2 on ssl01c.aucfan.com (192.168.4.144)<br /><a href="tr2-ssl01c-aucfan.html"><img src="tr2-ssl01c-aucfan-day.png" alt="tr2-ssl01c-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps33.aucfan.com (192.168.4.145)<br /><a href="tr2-ps33-aucfan.html"><img src="tr2-ps33-aucfan-day.png" alt="tr2-ps33-aucfan-day"/></a></li>
<li>Traffic LAN2 on afps01b.aucfan.com (192.168.4.148)<br /><a href="tr2-afps01b-aucfan.html"><img src="tr2-afps01b-aucfan-day.png" alt="tr2-afps01b-aucfan-day"/></a></li>
<li>Traffic LAN2 on afps02b.aucfan.com (192.168.4.149)<br /><a href="tr2-afps02b-aucfan.html"><img src="tr2-afps02b-aucfan-day.png" alt="tr2-afps02b-aucfan-day"/></a></li>
<li>Traffic LAN2 on is01b.aucfan.com (192.168.4.156)<br /><a href="tr2-is01b-aucfan.html"><img src="tr2-is01b-aucfan-day.png" alt="tr2-is01b-aucfan-day"/></a></li>
<li>Traffic LAN2 on kvm03.aucfan.com (192.168.4.54)<br /><a href="tr2-kvm03-aucfan.html"><img src="tr2-kvm03-aucfan-day.png" alt="tr2-kvm03-aucfan-day"/></a></li>
<li>Traffic LAN1 on ssl01b.aucfan.com (103.249.200.23)<br /><a href="tr1-ssl01b-aucfan.html"><img src="tr1-ssl01b-aucfan-day.png" alt="tr1-ssl01b-aucfan-day"/></a></li>
<li>Traffic LAN2 on ssl01b.aucfan.com (192.168.4.150)<br /><a href="tr2-ssl01b-aucfan.html"><img src="tr2-ssl01b-aucfan-day.png" alt="tr2-ssl01b-aucfan-day"/></a></li>
<li>Traffic LAN1 on nrt01.aucfan.com (103.249.200.3)<br /><a href="tr1-nrt01-aucfan.html"><img src="tr1-nrt01-aucfan-day.png" alt="tr1-nrt01-aucfan-day"/></a></li>
<li>Traffic LAN2 on nrt01.aucfan.com (192.168.4.201)<br /><a href="tr2-nrt01-aucfan.html"><img src="tr2-nrt01-aucfan-day.png" alt="tr2-nrt01-aucfan-day"/></a></li>
<li>Traffic LAN2 on rt1.aucfan.esu2 (103.249.203.38)<br /><a href="tr2-rt1-aucfan-esu2.html"><img src="tr2-rt1-aucfan-esu2-day.png" alt="tr2-rt1-aucfan-esu2-day"/></a></li>
<li>Traffic LAN2 on rt2.aucfan.esu2 (103.249.200.38)<br /><a href="tr2-rt2-aucfan-esu2.html"><img src="tr2-rt2-aucfan-esu2-day.png" alt="tr2-rt2-aucfan-esu2-day"/></a></li>

