<!DOCTYPE html>
<html>
  <head>
    <title>7R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul>

<li>Traffic1 on rt3.aucfan.idcf (192.168.3.3)<br /><a href="tr1-rt3-aucfan-idcf.html"><img src="tr1-rt3-aucfan-idcf-day.png" alt="tr1-rt3-aucfan-idcf-day"/></a></li>
<li>Traffic LAN2 on rt3.aucfan.idcf (210.152.213.65)<br /><a href="tr2-rt3-aucfan-idcf.html"><img src="tr2-rt3-aucfan-idcf-day.png" alt="tr2-rt3-aucfan-idcf-day"/></a></li>
<li>Traffic1 on rt4.aucfan.idcf (192.168.3.4)<br /><a href="tr1-rt4-aucfan-idcf.html"><img src="tr1-rt4-aucfan-idcf-day.png" alt="tr1-rt4-aucfan-idcf-day"/></a></li>
<li>Traffic LAN2 on rt4.aucfan.idcf (210.152.213.66)<br /><a href="tr2-rt4-aucfan-idcf.html"><img src="tr2-rt4-aucfan-idcf-day.png" alt="tr2-rt4-aucfan-idcf-day"/></a></li>
<li>Traffic LAN1 on ps09.aucfan.com (210.152.213.71)<br /><a href="tr1-ps09-aucfan.html"><img src="tr1-ps09-aucfan-day.png" alt="tr1-ps09-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps09.aucfan.com (192.168.3.61)<br /><a href="tr2-ps09-aucfan.html"><img src="tr2-ps09-aucfan-day.png" alt="tr2-ps09-aucfan-day"/></a></li>
<li>Traffic LAN1 on ps10.aucfan.com (210.152.213.72)<br /><a href="tr1-ps10-aucfan.html"><img src="tr1-ps10-aucfan-day.png" alt="tr1-ps10-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps10.aucfan.com (192.168.3.62)<br /><a href="tr2-ps10-aucfan.html"><img src="tr2-ps10-aucfan-day.png" alt="tr2-ps10-aucfan-day"/></a></li>
<li>Traffic LAN1 on ps11.aucfan.com (210.152.213.73 )<br /><a href="tr1-ps11-aucfan.html"><img src="tr1-ps11-aucfan-day.png" alt="tr1-ps11-aucfan-day"/></a></li>
<li>Traffic LAN2 on ps11.aucfan.com (192.168.3.63)<br /><a href="tr2-ps11-aucfan.html"><img src="tr2-ps11-aucfan-day.png" alt="tr2-ps11-aucfan-day"/></a></li>
<li>Traffic LAN1 on lb07.aucfan.com (210.152.213.69)<br /><a href="tr1-lb07-aucfan.html"><img src="tr1-lb07-aucfan-day.png" alt="tr1-lb07-aucfan-day"/></a></li>
<li>Traffic LAN2 on lb07.aucfan.com (192.168.3.72)<br /><a href="tr2-lb07-aucfan.html"><img src="tr2-lb07-aucfan-day.png" alt="tr2-lb07-aucfan-day"/></a></li>
<li>Traffic LAN1 on lb08.aucfan.com (210.152.213.70)<br /><a href="tr1-lb08-aucfan.html"><img src="tr1-lb08-aucfan-day.png" alt="tr1-lb08-aucfan-day"/></a></li>
<li>Traffic LAN2 on lb08.aucfan.com (192.168.3.73)<br /><a href="tr2-lb08-aucfan.html"><img src="tr2-lb08-aucfan-day.png" alt="tr2-lb08-aucfan-day"/></a></li>
<li>Traffic LAN1 on pdb01.aucfan.com (192.168.3.74)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on pdb01.aucfan.com (192.168.3.74)<br /><a href="tr2-pdb01-aucfan.html"><img src="tr2-pdb01-aucfan-day.png" alt="tr2-pdb01-aucfan-day"/></a></li>
<li>Traffic LAN1 on pdb02.aucfan.com (192.168.3.75)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on pdb02.aucfan.com (192.168.3.75)<br /><a href="tr2-pdb02-aucfan.html"><img src="tr2-pdb02-aucfan-day.png" alt="tr2-pdb02-aucfan-day"/></a></li>
<li>Traffic LAN2 on R410_51.aucfan.com (192.168.3.83)<br /><a href="tr2-r410_51-aucfan.html"><img src="tr2-r410_51-aucfan-day.png" alt="tr2-r410_51-aucfan-day"/></a></li>
<li>Traffic LAN1 on pws03.aucfan.com (210.152.213.67)<br /><a href="tr1-pws03-aucfan.html"><img src="tr1-pws03-aucfan-day.png" alt="tr1-pws03-aucfan-day"/></a></li>
<li>Traffic LAN2 on pws03.aucfan.com (192.168.3.85)<br /><a href="tr2-pws03-aucfan.html"><img src="tr2-pws03-aucfan-day.png" alt="tr2-pws03-aucfan-day"/></a></li>
<li>Traffic LAN1 on pws04.aucfan.com (210.152.213.68)<br /><a href="tr1-pws04-aucfan.html"><img src="tr1-pws04-aucfan-day.png" alt="tr1-pws04-aucfan-day"/></a></li>
<li>Traffic LAN2 on pws04.aucfan.com (192.168.3.86)<br /><a href="tr2-pws04-aucfan.html"><img src="tr2-pws04-aucfan-day.png" alt="tr2-pws04-aucfan-day"/></a></li>
<li>Traffic LAN1 on r410_55.aucfan.com (192.168.3.87)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on r410_55.aucfan.com (192.168.3.87)<br /><a href="tr2-r410_55-aucfan.html"><img src="tr2-r410_55-aucfan-day.png" alt="tr2-r410_55-aucfan-day"/></a></li>
<li>Traffic LAN1 on r410_56.aucfan.com (192.168.3.88)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on r410_56.aucfan.com (192.168.3.88)<br /><a href="tr2-r410_56-aucfan.html"><img src="tr2-r410_56-aucfan-day.png" alt="tr2-r410_56-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_33.aucfan.com (192.168.3.33)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on R410_33.aucfan.com (192.168.3.33)<br /><a href="tr2-r410_33-aucfan.html"><img src="tr2-r410_33-aucfan-day.png" alt="tr2-r410_33-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_34.aucfan.com (192.168.3.34)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on R410_34.aucfan.com (192.168.3.34)<br /><a href="tr2-r410_34-aucfan.html"><img src="tr2-r410_34-aucfan-day.png" alt="tr2-r410_34-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_35.aucfan.com (192.168.3.35)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on R410_35.aucfan.com (192.168.3.35)<br /><a href="tr2-r410_35-aucfan.html"><img src="tr2-r410_35-aucfan-day.png" alt="tr2-r410_35-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_36.aucfan.com (192.168.3.36)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on R410_36.aucfan.com (192.168.3.36)<br /><a href="tr2-r410_36-aucfan.html"><img src="tr2-r410_36-aucfan-day.png" alt="tr2-r410_36-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_37.aucfan.com (192.168.3.37)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on R410_37.aucfan.com (192.168.3.37)<br /><a href="tr2-r410_37-aucfan.html"><img src="tr2-r410_37-aucfan-day.png" alt="tr2-r410_37-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_38.aucfan.com (192.168.3.38)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on R410_38.aucfan.com (192.168.3.38)<br /><a href="tr2-r410_38-aucfan.html"><img src="tr2-r410_38-aucfan-day.png" alt="tr2-r410_38-aucfan-day"/></a></li>
<li>Traffic LAN1 on R410_39.aucfan.com (192.168.3.39)<br />LAN1 is not connected</li>
<li>Traffic LAN2 on R410_39.aucfan.com (192.168.3.39)<br /><a href="tr2-r410_39-aucfan.html"><img src="tr2-r410_39-aucfan-day.png" alt="tr2-r410_39-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws19.aucfan.com (210.152.213.75)<br /><a href="tr1-ws19-aucfan.html"><img src="tr1-ws19-aucfan-day.png" alt="tr1-ws19-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws19.aucfan.com (192.168.3.165)<br /><a href="tr2-ws19-aucfan.html"><img src="tr2-ws19-aucfan-day.png" alt="tr2-ws19-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws20.aucfan.com (210.152.213.78)<br /><a href="tr1-ws20-aucfan.html"><img src="tr1-ws20-aucfan-day.png" alt="tr1-ws20-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws20.aucfan.com (192.168.3.166)<br /><a href="tr2-ws20-aucfan.html"><img src="tr2-ws20-aucfan-day.png" alt="tr2-ws20-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws21.aucfan.com (210.152.213.79)<br /><a href="tr1-ws21-aucfan.html"><img src="tr1-ws21-aucfan-day.png" alt="tr1-ws21-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws21.aucfan.com (192.168.3.167)<br /><a href="tr2-ws21-aucfan.html"><img src="tr2-ws21-aucfan-day.png" alt="tr2-ws21-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws22.aucfan.com (210.152.213.80)<br /><a href="tr1-ws22-aucfan.html"><img src="tr1-ws22-aucfan-day.png" alt="tr1-ws22-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws22.aucfan.com (192.168.3.168)<br /><a href="tr2-ws22-aucfan.html"><img src="tr2-ws22-aucfan-day.png" alt="tr2-ws22-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws23.aucfan.com (210.152.213.81)<br /><a href="tr1-ws23-aucfan.html"><img src="tr1-ws23-aucfan-day.png" alt="tr1-ws23-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws23.aucfan.com (192.168.3.169)<br /><a href="tr2-ws23-aucfan.html"><img src="tr2-ws23-aucfan-day.png" alt="tr2-ws23-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws24.aucfan.com (210.152.213.82)<br /><a href="tr1-ws24-aucfan.html"><img src="tr1-ws24-aucfan-day.png" alt="tr1-ws24-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws24.aucfan.com (192.168.3.170)<br /><a href="tr2-ws24-aucfan.html"><img src="tr2-ws24-aucfan-day.png" alt="tr2-ws24-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws25.aucfan.com (210.152.213.83)<br /><a href="tr1-ws25-aucfan.html"><img src="tr1-ws25-aucfan-day.png" alt="tr1-ws25-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws25.aucfan.com (192.168.3.171)<br /><a href="tr2-ws25-aucfan.html"><img src="tr2-ws25-aucfan-day.png" alt="tr2-ws25-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws26.aucfan.com (210.152.213.84)<br /><a href="tr1-ws26-aucfan.html"><img src="tr1-ws26-aucfan-day.png" alt="tr1-ws26-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws26.aucfan.com (192.168.3.176)<br /><a href="tr2-ws26-aucfan.html"><img src="tr2-ws26-aucfan-day.png" alt="tr2-ws26-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws27.aucfan.com (210.152.213.85)<br /><a href="tr1-ws27-aucfan.html"><img src="tr1-ws27-aucfan-day.png" alt="tr1-ws27-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws27.aucfan.com (192.168.3.177)<br /><a href="tr2-ws27-aucfan.html"><img src="tr2-ws27-aucfan-day.png" alt="tr2-ws27-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws28.aucfan.com (210.152.213.86)<br /><a href="tr1-ws28-aucfan.html"><img src="tr1-ws28-aucfan-day.png" alt="tr1-ws28-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws28.aucfan.com (192.168.3.178)<br /><a href="tr2-ws28-aucfan.html"><img src="tr2-ws28-aucfan-day.png" alt="tr2-ws28-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws29.aucfan.com (210.152.213.87)<br /><a href="tr1-ws29-aucfan.html"><img src="tr1-ws29-aucfan-day.png" alt="tr1-ws29-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws29.aucfan.com (192.168.3.179)<br /><a href="tr2-ws29-aucfan.html"><img src="tr2-ws29-aucfan-day.png" alt="tr2-ws29-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws30.aucfan.com (210.152.213.88)<br /><a href="tr1-ws30-aucfan.html"><img src="tr1-ws30-aucfan-day.png" alt="tr1-ws30-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws30.aucfan.com (192.168.3.180)<br /><a href="tr2-ws30-aucfan.html"><img src="tr2-ws30-aucfan-day.png" alt="tr2-ws30-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws31.aucfan.com (210.152.213.89)<br /><a href="tr1-ws31-aucfan.html"><img src="tr1-ws31-aucfan-day.png" alt="tr1-ws31-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws31.aucfan.com (192.168.3.181)<br /><a href="tr2-ws31-aucfan.html"><img src="tr2-ws31-aucfan-day.png" alt="tr2-ws31-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws32.aucfan.com (210.152.213.90)<br /><a href="tr1-ws32-aucfan.html"><img src="tr1-ws32-aucfan-day.png" alt="tr1-ws32-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws32.aucfan.com (192.168.3.182)<br /><a href="tr2-ws32-aucfan.html"><img src="tr2-ws32-aucfan-day.png" alt="tr2-ws32-aucfan-day"/></a></li>













