<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker ./mrtg_3r_la.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Thu, 31 Mar 2011 04:40:10 GMT">

<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker ./mrtg_3r_la.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">


<H1>MRTG Index Page</H1>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
<tr>
  <td>
    <DIV><B>Load Average on rt4.aucfan.com ( 210.158.39.237 ) ( 192.168.2.7 )</B></DIV>
    <DIV><A HREF="la-rt4-iikawa-trd.html"><IMG BORDER=1 ALT="la-rt4-iikawa-trd Traffic Graph" SRC="la-rt4-iikawa-trd-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-rt4-iikawa-trd.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on ts01-aucfan.com (192.168.2.101) </B></DIV>
    <DIV><A HREF="la2-ts01-aucfan.html"><IMG BORDER=1 ALT="la2-ts01-aucfan Traffic Graph" SRC="la2-ts01-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la2-ts01-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on ts02-aucfan.com (192.168.2.102) </B></DIV>
    <DIV><A HREF="la2-ts02-aucfan.html"><IMG BORDER=1 ALT="la2-ts02-aucfan Traffic Graph" SRC="la2-ts02-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la2-ts02-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on ts03-aucfan.com (192.168.2.103) </B></DIV>
    <DIV><A HREF="la2-ts03-aucfan.html"><IMG BORDER=1 ALT="la2-ts03-aucfan Traffic Graph" SRC="la2-ts03-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la2-ts03-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><font color='red'><B> Load Average on f01ws01.aucfan.com (192.168.2.182)</font></B></DIV>
    <DIV><A HREF="la-f01ws01-aucfan.html"><IMG BORDER=1 ALT="la-f01ws01-aucfan Traffic Graph" SRC="la-f01ws01-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-f01ws01-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on f01ws02.aucfan.com (192.168.2.183) </B></DIV>
    <DIV><A HREF="la-f01ws02-aucfan.html"><IMG BORDER=1 ALT="la-f01ws02-aucfan Traffic Graph" SRC="la-f01ws02-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-f01ws02-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on snap.aucfan.com (192.168.2.184) </B></DIV>
    <DIV><A HREF="la-snap-aucfan.html"><IMG BORDER=1 ALT="la-snap-aucfan Traffic Graph" SRC="la-snap-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-snap-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on cws01.aucfan.com (192.168.2.186) </B></DIV>
    <DIV><A HREF="la-cws01-aucfan.html"><IMG BORDER=1 ALT="la-cws01-aucfan Traffic Graph" SRC="la-cws01-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-cws01-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on img01.aucfan.com (192.168.2.211) </B></DIV>
    <DIV><A HREF="la-img01-aucfan.html"><IMG BORDER=1 ALT="la-img01-aucfan Traffic Graph" SRC="la-img01-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-img01-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on f01bdb02.aucfan.com (192.168.2.212) </B></DIV>
    <DIV><A HREF="la-f01bdb02-aucfan.html"><IMG BORDER=1 ALT="la-f01bdb02-aucfan Traffic Graph" SRC="la-f01bdb02-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-f01bdb02-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on f01bdb03.aucfan.com (192.168.2.213) </B></DIV>
    <DIV><A HREF="la-f01bdb03-aucfan.html"><IMG BORDER=1 ALT="la-f01bdb03-aucfan Traffic Graph" SRC="la-f01bdb03-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-f01bdb03-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on f01bdb04.aucfan.com (192.168.2.214) </B></DIV>
    <DIV><A HREF="la-f01bdb04-aucfan.html"><IMG BORDER=1 ALT="la-f01bdb04-aucfan Traffic Graph" SRC="la-f01bdb04-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-f01bdb04-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on f01fdb01.aucfan.com (192.168.2.221) </B></DIV>
    <DIV><A HREF="la-f01fdb01-aucfan.html"><IMG BORDER=1 ALT="la-f01fdb01-aucfan Traffic Graph" SRC="la-f01fdb01-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-f01fdb01-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on img02.aucfan.com (192.168.2.222) </B></DIV>
    <DIV><A HREF="la-img02-aucfan.html"><IMG BORDER=1 ALT="la-img02-aucfan Traffic Graph" SRC="la-img02-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-img02-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on img02a.aucfan.com (192.168.2.224) </B></DIV>
    <DIV><A HREF="la-img02a-aucfan.html"><IMG BORDER=1 ALT="la-img02a-aucfan Traffic Graph" SRC="la-img02a-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-img02a-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on lax.aucfan.com (192.168.2.127) </B></DIV>
    <DIV><A HREF="la-lax-aucfan.html"><IMG BORDER=1 ALT="la-lax-aucfan Traffic Graph" SRC="la-lax-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-lax-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on lax01.aucfan.com (192.168.2.237) </B></DIV>
    <DIV><A HREF="la-lax01-aucfan.html"><IMG BORDER=1 ALT="la-lax01-aucfan Traffic Graph" SRC="la-lax01-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-lax01-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on lax02.aucfan.com (192.168.2.238) </B></DIV>
    <DIV><A HREF="la-lax02-aucfan.html"><IMG BORDER=1 ALT="la-lax02-aucfan Traffic Graph" SRC="la-lax02-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-lax02-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on lax03.aucfan.com (192.168.2.239) </B></DIV>
    <DIV><A HREF="la-lax03-aucfan.html"><IMG BORDER=1 ALT="la-lax03-aucfan Traffic Graph" SRC="la-lax03-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-lax03-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on f01udb01.aucfan.com (192.168.2.231) </B></DIV>
    <DIV><A HREF="la-f01udb01-aucfan.html"><IMG BORDER=1 ALT="la-f01udb01-aucfan Traffic Graph" SRC="la-f01udb01-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-f01udb01-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on f01udb02.aucfan.com (192.168.2.232) </B></DIV>
    <DIV><A HREF="la-f01udb02-aucfan.html"><IMG BORDER=1 ALT="la-f01udb02-aucfan Traffic Graph" SRC="la-f01udb02-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-f01udb02-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on bk05.aucfan.com (192.168.2.235) </B></DIV>
    <DIV><A HREF="la-bk05-aucfan.html"><IMG BORDER=1 ALT="la-bk05-aucfan Traffic Graph" SRC="la-bk05-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-bk05-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on ws11.aucfan.com (192.168.2.134) </B></DIV>
    <DIV><A HREF="la-ws11-aucfan.html"><IMG BORDER=1 ALT="la-ws11-aucfan Traffic Graph" SRC="la-ws11-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-ws11-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on ws12.aucfan.com (192.168.2.135) </B></DIV>
    <DIV><A HREF="la-ws12-aucfan.html"><IMG BORDER=1 ALT="la-ws12-aucfan Traffic Graph" SRC="la-ws12-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-ws12-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on ws13.aucfan.com (192.168.2.136) </B></DIV>
    <DIV><A HREF="la-ws13-aucfan.html"><IMG BORDER=1 ALT="la-ws13-aucfan Traffic Graph" SRC="la-ws13-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-ws13-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on ws14.aucfan.com (192.168.2.137) </B></DIV>
    <DIV><A HREF="la-ws14-aucfan.html"><IMG BORDER=1 ALT="la-ws14-aucfan Traffic Graph" SRC="la-ws14-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-ws14-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on ws15.aucfan.com (192.168.2.138) </B></DIV>
    <DIV><A HREF="la-ws15-aucfan.html"><IMG BORDER=1 ALT="la-ws15-aucfan Traffic Graph" SRC="la-ws15-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-ws15-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on ws16.aucfan.com (192.168.2.139) </B></DIV>
    <DIV><A HREF="la-ws16-aucfan.html"><IMG BORDER=1 ALT="la-ws16-aucfan Traffic Graph" SRC="la-ws16-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-ws16-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on ws17.aucfan.com (192.168.2.140) </B></DIV>
    <DIV><A HREF="la-ws17-aucfan.html"><IMG BORDER=1 ALT="la-ws17-aucfan Traffic Graph" SRC="la-ws17-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-ws17-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on lb03.aucfan.com (192.168.2.132) </B></DIV>
    <DIV><A HREF="la-lb03-aucfan.html"><IMG BORDER=1 ALT="la-lb03-aucfan Traffic Graph" SRC="la-lb03-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-lb03-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on lb04.aucfan.com (192.168.2.133) </B></DIV>
    <DIV><A HREF="la-lb04-aucfan.html"><IMG BORDER=1 ALT="la-lb04-aucfan Traffic Graph" SRC="la-lb04-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-lb04-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on lb05.aucfan.com (192.168.2.41) </B></DIV>
    <DIV><A HREF="la-lb05-aucfan.html"><IMG BORDER=1 ALT="la-lb05-aucfan Traffic Graph" SRC="la-lb05-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-lb05-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on lb06.aucfan.com (192.168.2.41) </B></DIV>
    <DIV><A HREF="la-lb06-aucfan.html"><IMG BORDER=1 ALT="la-lb06-aucfan Traffic Graph" SRC="la-lb06-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-lb06-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
    <DIV><B> Load Average on cr03.aucfan.com (192.168.2.144) </B></DIV>
    <DIV><A HREF="la-cr03-aucfan.html"><IMG BORDER=1 ALT="la-cr03-aucfan Traffic Graph" SRC="la-cr03-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-cr03-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV><B> Load Average on dp01.aucfan.com (192.168.2.144) </B></DIV>
    <DIV><A HREF="la-dp01-aucfan.html"><IMG BORDER=1 ALT="la-dp01-aucfan Traffic Graph" SRC="la-dp01-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="la-dp01-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>



<tr>
<td></td>
</tr>
</TABLE>

<BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  version 2.10.15</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://www.ee.ethz.ch/~oetiker/">Tobias Oetiker</A>
  <A HREF="mailto:oetiker@ee.ethz.ch">&lt;oetiker@ee.ethz.ch&gt;</A>
  and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>
  </TD>
</TR>
</TABLE>
</BODY>
</HTML>
