<!-- Begin Head -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
<TITLE>Load Average on ts01-aucfan.com (192.168.2.101)</TITLE>
<META HTTP-EQUIV="Refresh" CONTENT="300">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Fri, 22 Jun 2012 08:40:15 GMT">
<META HTTP-EQUIV="Generator" CONTENT="MRTG 2.10.15">
<META HTTP-EQUIV="Date" CONTENT="Fri, 22 Jun 2012 08:40:15 GMT">

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=euc-jp">
<!-- maxin d 0 -->
<!-- maxout d 0 -->
<!-- avin d 0 -->
<!-- avout d 0 -->
<!-- cuin d 0 -->
<!-- cuout d 0 -->
<!-- maxin w 0 -->
<!-- maxout w 2 -->
<!-- avin w 0 -->
<!-- avout w 0 -->
<!-- cuin w 0 -->
<!-- cuout w 0 -->
<!-- avmxin w 2 -->
<!-- avmxout w 5 -->
<!-- maxin m 2 -->
<!-- maxout m 1 -->
<!-- avin m 0 -->
<!-- avout m 0 -->
<!-- cuin m 0 -->
<!-- cuout m 0 -->
<!-- avmxin m 4 -->
<!-- avmxout m 3 -->
<!-- maxin y 0 -->
<!-- maxout y 0 -->
<!-- avin y 0 -->
<!-- avout y 0 -->
<!-- cuin y 0 -->
<!-- cuout y 0 -->
<!-- avmxin y 7 -->
<!-- avmxout y 6 -->

</HEAD>
<BODY BGCOLOR="#ffffff">
<H1> Load Average on ts01-aucfan.com (192.168.2.101) </H1>
<HR>
更新日時 <B>2012年6月22日(金) 17:35</B>,<BR>
<B>'TS01'</B> の稼働時間 <B>315 days, 14:29:41</B>.
<!-- End Head -->
<!-- Begin `Daily' Graph (5 Minute -->
<HR>
<B>日間グラフ(5分間の平均)</B><BR>
<IMG VSPACE=10 WIDTH=500 HEIGHT=135 ALIGN=TOP 
     SRC="la2-ts01-aucfan-day.png" ALT="day">
 <TABLE CELLPADDING=0 CELLSPACING=0>
<TR>
  <TD ALIGN=right><SMALL>最大値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
   </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>平均値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>現在値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
 </TR>

 <TR>
  <TD ALIGN=right><SMALL>最大値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>平均値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>現在値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
 </SMALL></TD>
 </TR> 
</TABLE>
<!-- End `Daily' Graph (5 Minute -->

<!-- Begin `Weekly' Graph (30 Minute -->
<HR>
<B>週間グラフ(30分間の平均)</B><BR>
<IMG VSPACE=10 WIDTH=500 HEIGHT=135 ALIGN=TOP 
     SRC="la2-ts01-aucfan-week.png" ALT="week">
 <TABLE CELLPADDING=0 CELLSPACING=0>
<TR>
  <TD ALIGN=right><SMALL>最大値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
   </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>平均値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>現在値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
 </TR>

 <TR>
  <TD ALIGN=right><SMALL>最大値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>2.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>平均値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>現在値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
 </SMALL></TD>
 </TR> 
</TABLE>
<!-- End `Weekly' Graph (30 Minute -->

<!-- Begin `Monthly' Graph (2 Hour -->
<HR>
<B>月間グラフ(2時間の平均)</B><BR>
<IMG VSPACE=10 WIDTH=500 HEIGHT=135 ALIGN=TOP 
     SRC="la2-ts01-aucfan-month.png" ALT="month">
 <TABLE CELLPADDING=0 CELLSPACING=0>
<TR>
  <TD ALIGN=right><SMALL>最大値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>2.0 %
   </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>平均値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>現在値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
 </TR>

 <TR>
  <TD ALIGN=right><SMALL>最大値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>1.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>平均値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>現在値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
 </SMALL></TD>
 </TR> 
</TABLE>
<!-- End `Monthly' Graph (2 Hour -->

<!-- Begin `Yearly' Graph (1 Day -->
<HR>
<B>年間グラフ(1日の平均)</B><BR>
<IMG VSPACE=10 WIDTH=500 HEIGHT=135 ALIGN=TOP 
     SRC="la2-ts01-aucfan-year.png" ALT="year">
 <TABLE CELLPADDING=0 CELLSPACING=0>
<TR>
  <TD ALIGN=right><SMALL>最大値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
   </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>平均値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>現在値 <FONT COLOR="#00cc00">CPU3&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
 </TR>

 <TR>
  <TD ALIGN=right><SMALL>最大値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>平均値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
  </SMALL></TD>
  <TD WIDTH=5></TD>
  <TD ALIGN=right><SMALL>現在値 <FONT COLOR="#0000ff">CPU4&nbsp;</FONT></SMALL></TD>
  <TD ALIGN=left><SMALL>0.0 %
 </SMALL></TD>
 </TR> 
</TABLE>
<!-- End `Yearly' Graph (1 Day -->

<!-- Begin Legend -->
  <HR><BR>
  <TABLE WIDTH=500 BORDER=0 CELLPADDING=4 CELLSPACING=0>
   <TR><TD ALIGN=RIGHT><FONT SIZE=-1 COLOR="#00cc00">
      <B>緑 ###</B></FONT></TD>
      <TD><FONT SIZE=-1>受信量(バイト/秒)</FONT></TD></TR> 
   <TR><TD ALIGN=RIGHT><FONT SIZE=-1 COLOR="#0000ff">
      <B>青 ###</B></FONT></TD>
      <TD><FONT SIZE=-1>送信量(バイト/秒)</FONT></TD></TR> 
  </TABLE>
<!-- End Legend --><!-- Begin MRTG Block -->
<BR><HR><BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://people.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://people.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://people.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>2.10.15</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://people.ee.ethz.ch/~oetiker/">Tobias Oetiker</A>
  <A HREF="mailto:oetiker@ee.ethz.ch">&lt;oetiker@ee.ethz.ch&gt;</A> 
and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>  </TD>
</TR>
</TABLE>
<div><small>  <HR>
  <FONT SIZE=2>日本語訳(EUC-JP)作成
  <A HREF="http://www.kgz.com/~uematsu/">植松 文徳</A>
  <A HREF="mailto:uematsu@kgz.com">&lt;uematsu@kgz.com&gt;</A></FONT>
</small></div><!-- End MRTG Block -->
</BODY>
</HTML>

