<!DOCTYPE html>
<html>
  <head>
    <title>2R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul>
<li>index (192.168.XXX.XXX)<br /><a href="index.html"><img src="index-day.png" alt="index-day"/></a></li>
<li>index_new (192.168.XXX.XXX)<br /><a href="index_new.html"><img src="index_new-day.png" alt="index_new-day"/></a></li>
<li>stat-hdd-bk01-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-bk01-aucfan.html"><img src="stat-hdd-bk01-aucfan-day.png" alt="stat-hdd-bk01-aucfan-day"/></a></li>
<li>stat-hdd-bk02-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-bk02-aucfan.html"><img src="stat-hdd-bk02-aucfan-day.png" alt="stat-hdd-bk02-aucfan-day"/></a></li>
<li>stat-hdd-bk03-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-bk03-aucfan.html"><img src="stat-hdd-bk03-aucfan-day.png" alt="stat-hdd-bk03-aucfan-day"/></a></li>
<li>stat-hdd-bk03-sdb1-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-bk03-sdb1-aucfan.html"><img src="stat-hdd-bk03-sdb1-aucfan-day.png" alt="stat-hdd-bk03-sdb1-aucfan-day"/></a></li>
<li>stat-hdd-bt01-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-bt01-aucfan.html"><img src="stat-hdd-bt01-aucfan-day.png" alt="stat-hdd-bt01-aucfan-day"/></a></li>
<li>stat-hdd-bt03-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-bt03-aucfan.html"><img src="stat-hdd-bt03-aucfan-day.png" alt="stat-hdd-bt03-aucfan-day"/></a></li>
<li>stat-hdd-cr02-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-cr02-aucfan.html"><img src="stat-hdd-cr02-aucfan-day.png" alt="stat-hdd-cr02-aucfan-day"/></a></li>
<li>stat-hdd-ds05-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ds05-aucfan.html"><img src="stat-hdd-ds05-aucfan-day.png" alt="stat-hdd-ds05-aucfan-day"/></a></li>
<li>stat-hdd-ds06-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ds06-aucfan.html"><img src="stat-hdd-ds06-aucfan-day.png" alt="stat-hdd-ds06-aucfan-day"/></a></li>
<li>stat-hdd-ds07-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ds07-aucfan.html"><img src="stat-hdd-ds07-aucfan-day.png" alt="stat-hdd-ds07-aucfan-day"/></a></li>
<li>stat-hdd-dws1-defacto (192.168.XXX.XXX)<br /><a href="stat-hdd-dws1-defacto.html"><img src="stat-hdd-dws1-defacto-day.png" alt="stat-hdd-dws1-defacto-day"/></a></li>
<li>stat-hdd-dws2-defacto (192.168.XXX.XXX)<br /><a href="stat-hdd-dws2-defacto.html"><img src="stat-hdd-dws2-defacto-day.png" alt="stat-hdd-dws2-defacto-day"/></a></li>
<li>stat-hdd-dws3-defacto (192.168.XXX.XXX)<br /><a href="stat-hdd-dws3-defacto.html"><img src="stat-hdd-dws3-defacto-day.png" alt="stat-hdd-dws3-defacto-day"/></a></li>
<li>stat-hdd-is01-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-is01-aucfan.html"><img src="stat-hdd-is01-aucfan-day.png" alt="stat-hdd-is01-aucfan-day"/></a></li>
<li>stat-hdd-it01-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-it01-aucfan.html"><img src="stat-hdd-it01-aucfan-day.png" alt="stat-hdd-it01-aucfan-day"/></a></li>
<li>stat-hdd-it02-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-it02-aucfan.html"><img src="stat-hdd-it02-aucfan-day.png" alt="stat-hdd-it02-aucfan-day"/></a></li>
<li>stat-hdd-ps01-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ps01-aucfan.html"><img src="stat-hdd-ps01-aucfan-day.png" alt="stat-hdd-ps01-aucfan-day"/></a></li>
<li>stat-hdd-ps02-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ps02-aucfan.html"><img src="stat-hdd-ps02-aucfan-day.png" alt="stat-hdd-ps02-aucfan-day"/></a></li>
<li>stat-hdd-ps03-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ps03-aucfan.html"><img src="stat-hdd-ps03-aucfan-day.png" alt="stat-hdd-ps03-aucfan-day"/></a></li>
<li>stat-hdd-ps04-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ps04-aucfan.html"><img src="stat-hdd-ps04-aucfan-day.png" alt="stat-hdd-ps04-aucfan-day"/></a></li>
<li>stat-hdd-ps05-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ps05-aucfan.html"><img src="stat-hdd-ps05-aucfan-day.png" alt="stat-hdd-ps05-aucfan-day"/></a></li>
<li>stat-hdd-ps06-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ps06-aucfan.html"><img src="stat-hdd-ps06-aucfan-day.png" alt="stat-hdd-ps06-aucfan-day"/></a></li>
<li>stat-hdd-ps07-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ps07-aucfan.html"><img src="stat-hdd-ps07-aucfan-day.png" alt="stat-hdd-ps07-aucfan-day"/></a></li>
<li>stat-hdd-ps08-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ps08-aucfan.html"><img src="stat-hdd-ps08-aucfan-day.png" alt="stat-hdd-ps08-aucfan-day"/></a></li>
<li>stat-hdd-ssl02-aucfan (192.168.XXX.XXX)<br /><a href="stat-hdd-ssl02-aucfan.html"><img src="stat-hdd-ssl02-aucfan-day.png" alt="stat-hdd-ssl02-aucfan-day"/></a></li>
