<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker ./mrtg_2r_hdd.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Mon, 04 Jul 2011 04:37:47 GMT">
    
<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker ./mrtg_2r_hdd.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">


<H1>MRTG Index Page</H1>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
<tr>
<td><DIV><B> HDD Status on bt01.aucfan.com (192.168.2.34) </B></DIV>
<DIV><A HREF="stat-hdd-bt01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-bt01-aucfan Traffic Graph" SRC="stat-hdd-bt01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-bt01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ds05.aucfan.com (192.168.2.35) </B></DIV>
<DIV><A HREF="stat-hdd-ds05-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ds05-aucfan Traffic Graph" SRC="stat-hdd-ds05-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ds05-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ds06.aucfan.com (192.168.2.36) </B></DIV>
<DIV><A HREF="stat-hdd-ds06-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ds06-aucfan Traffic Graph" SRC="stat-hdd-ds06-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ds06-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ds07.aucfan.com (192.168.2.37) </B></DIV>
<DIV><A HREF="stat-hdd-ds07-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ds07-aucfan Traffic Graph" SRC="stat-hdd-ds07-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ds07-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on is01.aucfan.com (192.168.2.38) </B></DIV>
<DIV><A HREF="stat-hdd-is01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-is01-aucfan Traffic Graph" SRC="stat-hdd-is01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-is01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on bk01.aucfan.com (192.168.2.141) </B></DIV>
<DIV><A HREF="stat-hdd-bk01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-bk01-aucfan Traffic Graph" SRC="stat-hdd-bk01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-bk01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on cr02.aucfan.com (192.168.2.143) </B></DIV>
<DIV><A HREF="stat-hdd-cr02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-cr02-aucfan Traffic Graph" SRC="stat-hdd-cr02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-cr02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD (sdb1) Status on bk03.aucfan.com (192.168.2.143) </B></DIV>
<DIV><A HREF="stat-hdd-bk03-sdb1-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-bk03-sdb1-aucfan Traffic Graph" SRC="stat-hdd-bk03-sdb1-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-bk03-sdb1-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ssl02.aucfan.com (192.168.2.39) </B></DIV>
<DIV><A HREF="stat-hdd-ssl02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ssl02-aucfan Traffic Graph" SRC="stat-hdd-ssl02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ssl02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on it02.aucfan.com (192.168.2.40) </B></DIV>
<DIV><A HREF="stat-hdd-it02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-it02-aucfan Traffic Graph" SRC="stat-hdd-it02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-it02-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on dws2.defactostandard.jp (192.168.2.45) </B></DIV>
<DIV><A HREF="stat-hdd-dws2-defacto.html"><IMG BORDER=1 ALT="stat-hdd-dws2-defacto Traffic Graph" SRC="stat-hdd-dws2-defacto-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-dws2-defacto.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ps01.aucfan.com (192.168.2.201) </B></DIV>
<DIV><A HREF="stat-hdd-ps01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ps01-aucfan Traffic Graph" SRC="stat-hdd-ps01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ps01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ps02.aucfan.com (192.168.2.202) </B></DIV>
<DIV><A HREF="stat-hdd-ps02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ps02-aucfan Traffic Graph" SRC="stat-hdd-ps02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ps02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ps03.aucfan.com (192.168.2.203) </B></DIV>
<DIV><A HREF="stat-hdd-ps03-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ps03-aucfan Traffic Graph" SRC="stat-hdd-ps03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ps03-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ps04.aucfan.com (192.168.2.204) </B></DIV>
<DIV><A HREF="stat-hdd-ps04-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ps04-aucfan Traffic Graph" SRC="stat-hdd-ps04-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ps04-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ps05.aucfan.com (192.168.2.205) </B></DIV>
<DIV><A HREF="stat-hdd-ps05-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ps05-aucfan Traffic Graph" SRC="stat-hdd-ps05-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ps05-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ps06.aucfan.com (192.168.2.206) </B></DIV>
<DIV><A HREF="stat-hdd-ps06-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ps06-aucfan Traffic Graph" SRC="stat-hdd-ps06-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ps06-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ps07.aucfan.com (192.168.2.207) </B></DIV>
<DIV><A HREF="stat-hdd-ps07-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ps07-aucfan Traffic Graph" SRC="stat-hdd-ps07-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ps07-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ps08.aucfan.com (192.168.2.208) </B></DIV>
<DIV><A HREF="stat-hdd-ps08-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ps08-aucfan Traffic Graph" SRC="stat-hdd-ps08-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ps08-aucfan.html" --></SMALL></DIV>
</td><td>
<DIV><B> HDD Status on cr04.aucfan.com (192.168.2.145) </B></DIV>
<DIV><A HREF="stat-hdd-cr04-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-cr04-aucfan Traffic Graph" SRC="stat-hdd-cr04-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-cr04-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td>
<DIV><B> HDD Status on bt03.aucfan.com (192.168.2.243) </B></DIV>
<DIV><A HREF="stat-hdd-bt03-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-bt03-aucfan Traffic Graph" SRC="stat-hdd-bt03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-bt03-aucfan.html" --></SMALL></DIV>
</td>
<td>
<DIV><B> HDD Status on cs02.aucfan.com (192.168.2.68) </B></DIV>
<DIV><A HREF="stat-hdd-cs02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-cs02-aucfan Traffic Graph" SRC="stat-hdd-cs02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-cs02-aucfan.html" --></SMALL></DIV>
</td>
</tr>

<tr>
<td>
<DIV><B> HDD Status on se01.aucfan.com (192.168.2.69) </B></DIV>
<DIV><A HREF="stat-hdd-se01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-se01-aucfan Traffic Graph" SRC="stat-hdd-se01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-se01-aucfan.html" --></SMALL></DIV>
</td>
<td>
<DIV><B> HDD Status on se02.aucfan.com (192.168.2.70) </B></DIV>
<DIV><A HREF="stat-hdd-se02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-se02-aucfan Traffic Graph" SRC="stat-hdd-se02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-se02-aucfan.html" --></SMALL></DIV>
</td>
</tr>



</TABLE>

<BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  version 2.10.15</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://www.ee.ethz.ch/~oetiker/">Tobias Oetiker</A>
  <A HREF="mailto:oetiker@ee.ethz.ch">&lt;oetiker@ee.ethz.ch&gt;</A>
  and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>
  </TD>
</TR>
</TABLE>
</BODY>
</HTML>
