<!DOCTYPE html>
<html>
  <head>
    <title>0R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul>
<li>Memory Status on ws01-test-aucfan.com </br>(192.168.101.52)<br /><a href="stat-mem-ws01-test-aucfan.html"><img src="stat-mem-ws01-test-aucfan-day.png" alt="stat-mem-ws01-test-aucfan-day"/></a></li>
<li>Memory Status on C/B ws01-test-aucfan.com </br>(192.168.101.52)<br /><a href="stat-mem-cb-ws01-test-aucfan.html"><img src="stat-mem-cb-ws01-test-aucfan-day.png" alt="stat-mem-cb-ws01-test-aucfan-day"/></a></li>
<li>Memory Status on pws01-test-aucfan.com </br>(192.168.101.62)<br /><a href="stat-mem-pws01-test-aucfan.html"><img src="stat-mem-pws01-test-aucfan-day.png" alt="stat-mem-pws01-test-aucfan-day"/></a></li>
<li>Memory Status on C/B pws01-test-aucfan.com </br>(192.168.101.62)<br /><a href="stat-mem-cb-pws01-test-aucfan.html"><img src="stat-mem-cb-pws01-test-aucfan-day.png" alt="stat-mem-cb-pws01-test-aucfan-day"/></a></li>
<li>Memory Status on development3-aucfan.com </br>(192.168.101.64)<br /><a href="stat-mem-development3-aucfan.html"><img src="stat-mem-development3-aucfan-day.png" alt="stat-mem-development3-aucfan-day"/></a></li>
<li>Memory Status on C/B development3-aucfan.com </br>(192.168.101.64)<br /><a href="stat-mem-cb-development3-aucfan.html"><img src="stat-mem-cb-development3-aucfan-day.png" alt="stat-mem-cb-development3-aucfan-day"/></a></li>
<li>Memory Status on localhost-aucfan.com </br>(192.168.101.135)<br /><a href="stat-mem-localhost-aucfan.html"><img src="stat-mem-localhost-aucfan-day.png" alt="stat-mem-localhost-aucfan-day"/></a></li>
<li>Memory Status on C/B localhost-aucfan.com </br>(192.168.101.135)<br /><a href="stat-mem-cb-localhost-aucfan.html"><img src="stat-mem-cb-localhost-aucfan-day.png" alt="stat-mem-cb-localhost-aucfan-day"/></a></li>
<li>Memory Status on devtest03-aucfan.com </br>(192.168.101.137)<br /><a href="stat-mem-devtest03-aucfan.html"><img src="stat-mem-devtest03-aucfan-day.png" alt="stat-mem-devtest03-aucfan-day"/></a></li>
<li>Memory Status on C/B devtest03-aucfan.com </br>(192.168.101.137)<br /><a href="stat-mem-cb-devtest03-aucfan.html"><img src="stat-mem-cb-devtest03-aucfan-day.png" alt="stat-mem-cb-devtest03-aucfan-day"/></a></li>
<li>Memory Status on smc04-aucfan.com </br>(192.168.101.189)<br /><a href="stat-mem-smc04-aucfan.html"><img src="stat-mem-smc04-aucfan-day.png" alt="stat-mem-smc04-aucfan-day"/></a></li>
<li>Memory Status on C/B smc04-aucfan.com </br>(192.168.101.189)<br /><a href="stat-mem-cb-smc04-aucfan.html"><img src="stat-mem-cb-smc04-aucfan-day.png" alt="stat-mem-cb-smc04-aucfan-day"/></a></li>
<li>Memory Status on musai-aucfan.com </br>(192.168.101.201)<br /><a href="stat-mem-musai-aucfan.html"><img src="stat-mem-musai-aucfan-day.png" alt="stat-mem-musai-aucfan-day"/></a></li>
<li>Memory Status on C/B musai-aucfan.com </br>(192.168.101.201)<br /><a href="stat-mem-cb-musai-aucfan.html"><img src="stat-mem-cb-musai-aucfan-day.png" alt="stat-mem-cb-musai-aucfan-day"/></a></li>
<li>Memory Status on development2-aucfan.com </br>(192.168.101.235)<br /><a href="stat-mem-development2-aucfan.html"><img src="stat-mem-development2-aucfan-day.png" alt="stat-mem-development2-aucfan-day"/></a></li>
<li>Memory Status on C/B development2-aucfan.com </br>(192.168.101.235)<br /><a href="stat-mem-cb-development2-aucfan.html"><img src="stat-mem-cb-development2-aucfan-day.png" alt="stat-mem-cb-development2-aucfan-day"/></a></li>
<li>Memory Status on pwstest01-aucfan.com </br>(192.168.101.251)<br /><a href="stat-mem-pwstest01-aucfan.html"><img src="stat-mem-pwstest01-aucfan-day.png" alt="stat-mem-pwstest01-aucfan-day"/></a></li>
<li>Memory Status on C/B pwstest01-aucfan.com </br>(192.168.101.251)<br /><a href="stat-mem-cb-pwstest01-aucfan.html"><img src="stat-mem-cb-pwstest01-aucfan-day.png" alt="stat-mem-cb-pwstest01-aucfan-day"/></a></li>
<li>Memory Status on test-svr-aucfan.com </br>(192.168.101.41)<br /><a href="stat-mem-test-svr-aucfan.html"><img src="stat-mem-test-svr-aucfan-day.png" alt="stat-mem-test-svr-aucfan-day"/></a></li>
<li>Memory Status on C/B test-svr-aucfan.com </br>(192.168.101.41)<br /><a href="stat-mem-cb-test-svr-aucfan.html"><img src="stat-mem-cb-test-svr-aucfan-day.png" alt="stat-mem-cb-test-svr-aucfan-day"/></a></li>
<li>Memory Status on test-monitor-svr-aucfan.com </br>(192.168.101.42)<br /><a href="stat-mem-test-monitor-svr-aucfan.html"><img src="stat-mem-test-monitor-svr-aucfan-day.png" alt="stat-mem-test-monitor-svr-aucfan-day"/></a></li>
<li>Memory Status on C/B test-monitor-svr-aucfan.com </br>(192.168.101.42)<br /><a href="stat-mem-cb-test-monitor-svr-aucfan.html"><img src="stat-mem-cb-test-monitor-svr-aucfan-day.png" alt="stat-mem-cb-test-monitor-svr-aucfan-day"/></a></li>
<li>Memory Status on repo-svr-aucfan.com </br>(192.168.101.43)<br /><a href="stat-mem-test-monitor-svr-aucfan.html"><img src="stat-mem-test-monitor-svr-aucfan-day.png" alt="stat-mem-test-monitor-svr-aucfan-day"/></a></li>
<li>Memory Status on C/B repo-svr-aucfan.com </br>(192.168.101.43)<br /><a href="stat-mem-cb-test-monitor-svr-aucfan.html"><img src="stat-mem-cb-test-monitor-svr-aucfan-day.png" alt="stat-mem-cb-test-monitor-svr-aucfan-day"/></a></li>
<li>Memory Status on higashiosaka-aucfan.com </br>(192.168.101.47)<br /><a href="stat-mem-higashiosaka-aucfan.html"><img src="stat-mem-higashiosaka-aucfan-day.png" alt="stat-mem-higashiosaka-aucfan-day"/></a></li>
<li>Memory Status on C/B higashiosaka-aucfan.com </br>(192.168.101.47)<br /><a href="stat-mem-cb-higashiosaka-aucfan.html"><img src="stat-mem-cb-higashiosaka-aucfan-day.png" alt="stat-mem-cb-higashiosaka-aucfan-day"/></a></li>
<li>Memory Status on sakai-aucfan.com </br>(192.168.101.48)<br /><a href="stat-mem-sakai-aucfan.html"><img src="stat-mem-sakai-aucfan-day.png" alt="stat-mem-sakai-aucfan-day"/></a></li>
<li>Memory Status on C/B sakai-aucfan.com </br>(192.168.101.48)<br /><a href="stat-mem-cb-sakai-aucfan.html"><img src="stat-mem-cb-sakai-aucfan-day.png" alt="stat-mem-cb-sakai-aucfan-day"/></a></li>
<li>Memory Status on osaka-aucfan.com </br>(192.168.101.49)<br /><a href="stat-mem-osaka-aucfan.html"><img src="stat-mem-osaka-aucfan-day.png" alt="stat-mem-osaka-aucfan-day"/></a></li>
<li>Memory Status on C/B test-svr-aucfan.com </br>(192.168.101.49)<br /><a href="stat-mem-cb-test-svr-aucfan.html"><img src="stat-mem-cb-test-svr-aucfan-day.png" alt="stat-mem-cb-test-svr-aucfan-day"/></a></li>
