<!DOCTYPE html>
<html>
  <head>
    <title>seg_2/Memory</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Memory Status on jfk.aucfan.com</br> (192.168.2.55) </b></div>
    <div><a href="mem-jfk-aucfan.html"><img border="1" alt="mem-jfk Graph" src="mem-jfk-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on jfk.aucfan.com</br> (192.168.2.55) </b></div>
    <div><a href="mem-cb-jfk-aucfan.html"><img border="1" alt="mem-cb-jfk Graph" src="mem-cb-jfk-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on wsapi02.aucfan.com</br> (192.168.2.123) </b></div>
    <div><a href="mem-wsapi02-aucfan.html"><img border="1" alt="mem-wsapi02 Graph" src="mem-wsapi02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on wsapi02.aucfan.com</br> (192.168.2.123) </b></div>
    <div><a href="mem-cb-wsapi02-aucfan.html"><img border="1" alt="mem-cb-wsapi02 Graph" src="mem-cb-wsapi02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on ssapi02.aucfan.com</br> (192.168.2.125) </b></div>
    <div><a href="mem-ssapi02-aucfan.html"><img border="1" alt="mem-ssapi02 Graph" src="mem-ssapi02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on ssapi02.aucfan.com</br> (192.168.2.125) </b></div>
    <div><a href="mem-cb-ssapi02-aucfan.html"><img border="1" alt="mem-cb-ssapi02 Graph" src="mem-cb-ssapi02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on ps52.aucfan.com</br> (192.168.2.133) </b></div>
    <div><a href="mem-ps52-aucfan.html"><img border="1" alt="mem-ps52 Graph" src="mem-ps52-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on ps52.aucfan.com</br> (192.168.2.133) </b></div>
    <div><a href="mem-cb-ps52-aucfan.html"><img border="1" alt="mem-cb-ps52 Graph" src="mem-cb-ps52-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on sfo.aucfan.com</br> (192.168.2.147) </b></div>
    <div><a href="mem-sfo-aucfan.html"><img border="1" alt="mem-sfo Graph" src="mem-sfo-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on sfo.aucfan.com</br> (192.168.2.147) </b></div>
    <div><a href="mem-cb-sfo-aucfan.html"><img border="1" alt="mem-cb-sfo Graph" src="mem-cb-sfo-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on aucuniv01.aucfan.com</br> (192.168.2.150) </b></div>
    <div><a href="mem-aucuniv01-aucfan.html"><img border="1" alt="mem-aucuniv01 Graph" src="mem-aucuniv01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on aucuniv01.aucfan.com</br> (192.168.2.150) </b></div>
    <div><a href="mem-cb-aucuniv01-aucfan.html"><img border="1" alt="mem-cb-aucuniv01 Graph" src="mem-cb-aucuniv01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on aucuniv02.aucfan.com</br> (192.168.2.151) </b></div>
    <div><a href="mem-aucuniv02-aucfan.html"><img border="1" alt="mem-aucuniv02 Graph" src="mem-aucuniv02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on aucuniv02.aucfan.com</br> (192.168.2.151) </b></div>
    <div><a href="mem-cb-aucuniv02-aucfan.html"><img border="1" alt="mem-cb-aucuniv02 Graph" src="mem-cb-aucuniv02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on ps-host.aucfan.com</br> (192.168.2.158) </b></div>
    <div><a href="mem-ps-host-aucfan.html"><img border="1" alt="mem-ps-host Graph" src="mem-ps-host-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on ps-host.aucfan.com</br> (192.168.2.158) </b></div>
    <div><a href="mem-cb-ps-host-aucfan.html"><img border="1" alt="mem-cb-ps-host Graph" src="mem-cb-ps-host-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on mad.aucfan.com</br> (192.168.2.159) </b></div>
    <div><a href="mem-mad-aucfan.html"><img border="1" alt="mem-mad Graph" src="mem-mad-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on mad.aucfan.com</br> (192.168.2.159) </b></div>
    <div><a href="mem-cb-mad-aucfan.html"><img border="1" alt="mem-cb-mad Graph" src="mem-cb-mad-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on bcn.aucfan.com</br> (192.168.2.160) </b></div>
    <div><a href="mem-bcn-aucfan.html"><img border="1" alt="mem-bcn Graph" src="mem-bcn-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on bcn.aucfan.com</br> (192.168.2.160) </b></div>
    <div><a href="mem-cb-bcn-aucfan.html"><img border="1" alt="mem-cb-bcn Graph" src="mem-cb-bcn-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
