<!DOCTYPE html>
<html>
  <head>
    <title>seg_2/Memory</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Memory Status on cs01.aucfan.com</br> (192.168.2.61) </b></div>
    <div><a href="mem-cs01-aucfan.html"><img border="1" alt="mem-cs01 Graph" src="mem-cs01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on cs01.aucfan.com</br> (192.168.2.61) </b></div>
    <div><a href="mem-cb-cs01-aucfan.html"><img border="1" alt="mem-cb-cs01 Graph" src="mem-cb-cs01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on cs02.aucfan.com</br> (192.168.2.68) </b></div>
    <div><a href="mem-cs02-aucfan.html"><img border="1" alt="mem-cs02 Graph" src="mem-cs02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on cs02.aucfan.com</br> (192.168.2.68) </b></div>
    <div><a href="mem-cb-cs02-aucfan.html"><img border="1" alt="mem-cb-cs02 Graph" src="mem-cb-cs02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on se01.aucfan.com</br> (192.168.2.69) </b></div>
    <div><a href="mem-se01-aucfan.html"><img border="1" alt="mem-se01 Graph" src="mem-se01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on se01.aucfan.com</br> (192.168.2.69) </b></div>
    <div><a href="mem-cb-se01-aucfan.html"><img border="1" alt="mem-cb-se01 Graph" src="mem-cb-se01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on se02.aucfan.com</br> (192.168.2.70) </b></div>
    <div><a href="mem-se02-aucfan.html"><img border="1" alt="mem-se02 Graph" src="mem-se02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on se02.aucfan.com</br> (192.168.2.70) </b></div>
    <div><a href="mem-cb-se02-aucfan.html"><img border="1" alt="mem-cb-se02 Graph" src="mem-cb-se02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on ss14.aucfan.com</br> (192.168.2.84) </b></div>
    <div><a href="mem-ss14-aucfan.html"><img border="1" alt="mem-ss14 Graph" src="mem-ss14-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on ss14.aucfan.com</br> (192.168.2.84) </b></div>
    <div><a href="mem-cb-ss14-aucfan.html"><img border="1" alt="mem-cb-ss14 Graph" src="mem-cb-ss14-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on wspf02.aucfan.com</br> (192.168.2.115) </b></div>
    <div><a href="mem-wspf02-aucfan.html"><img border="1" alt="mem-wspf02 Graph" src="mem-wspf02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on wspf02.aucfan.com</br> (192.168.2.115) </b></div>
    <div><a href="mem-cb-wspf02-aucfan.html"><img border="1" alt="mem-cb-wspf02 Graph" src="mem-cb-wspf02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on sspf02.aucfan.com</br> (192.168.2.117) </b></div>
    <div><a href="mem-sspf02-aucfan.html"><img border="1" alt="mem-sspf02 Graph" src="mem-sspf02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on sspf02.aucfan.com</br> (192.168.2.117) </b></div>
    <div><a href="mem-cb-sspf02-aucfan.html"><img border="1" alt="mem-cb-sspf02 Graph" src="mem-cb-sspf02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on dspf02.aucfan.com</br> (192.168.2.119) </b></div>
    <div><a href="mem-dspf02-aucfan.html"><img border="1" alt="mem-dspf02 Graph" src="mem-dspf02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on dspf02.aucfan.com</br> (192.168.2.119) </b></div>
    <div><a href="mem-cb-dspf02-aucfan.html"><img border="1" alt="mem-cb-dspf02 Graph" src="mem-cb-dspf02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on wsapi01.aucfan.com</br> (192.168.2.122) </b></div>
    <div><a href="mem-wsapi01-aucfan.html"><img border="1" alt="mem-wsapi01 Graph" src="mem-wsapi01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on wsapi01.aucfan.com</br> (192.168.2.122) </b></div>
    <div><a href="mem-cb-wsapi01-aucfan.html"><img border="1" alt="mem-cb-wsapi01 Graph" src="mem-cb-wsapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on ssapi01.aucfan.com</br> (192.168.2.124) </b></div>
    <div><a href="mem-ssapi01-aucfan.html"><img border="1" alt="mem-ssapi01 Graph" src="mem-ssapi01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on ssapi01.aucfan.com</br> (192.168.2.124) </b></div>
    <div><a href="mem-cb-ssapi01-aucfan.html"><img border="1" alt="mem-cb-ssapi01 Graph" src="mem-cb-ssapi01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on cr02.aucfan.com</br> (192.168.2.143) </b></div>
    <div><a href="mem-cr02-aucfan.html"><img border="1" alt="mem-cr02 Graph" src="mem-cr02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on cr02.aucfan.com</br> (192.168.2.143) </b></div>
    <div><a href="mem-cb-cr02-aucfan.html"><img border="1" alt="mem-cb-cr02 Graph" src="mem-cb-cr02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on cr04.aucfan.com</br> (192.168.2.145) </b></div>
    <div><a href="mem-cr04-aucfan.html"><img border="1" alt="mem-cr04 Graph" src="mem-cr04-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on cr04.aucfan.com</br> (192.168.2.145) </b></div>
    <div><a href="mem-cb-cr04-aucfan.html"><img border="1" alt="mem-cb-cr04 Graph" src="mem-cb-cr04-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on bt03.aucfan.com</br> (192.168.2.243) </b></div>
    <div><a href="mem-bt03-aucfan.html"><img border="1" alt="mem-bt03 Graph" src="mem-bt03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on bt03.aucfan.com</br> (192.168.2.243) </b></div>
    <div><a href="mem-cb-bt03-aucfan.html"><img border="1" alt="mem-cb-bt03 Graph" src="mem-cb-bt03-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
