<!DOCTYPE html>
<html>
  <head>
    <title>seg_3/Memory</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Memory Status on mad.aucfan.com</br> (192.168.3.159) </b></div>
    <div><a href="mem-mad-aucfan.html"><img border="1" alt="mem-mad Graph" src="mem-mad-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on mad.aucfan.com</br> (192.168.3.159) </b></div>
    <div><a href="mem-cb-mad-aucfan.html"><img border="1" alt="mem-cb-mad Graph" src="mem-cb-mad-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on bcn.aucfan.com</br> (192.168.3.160) </b></div>
    <div><a href="mem-bcn-aucfan.html"><img border="1" alt="mem-bcn Graph" src="mem-bcn-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on bcn.aucfan.com</br> (192.168.3.160) </b></div>
    <div><a href="mem-cb-bcn-aucfan.html"><img border="1" alt="mem-cb-bcn Graph" src="mem-cb-bcn-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
