<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker /etc/mrtg/mrtg_hdd.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Thu, 26 Jul 2012 05:46:12 GMT">
    
<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker /etc/mrtg/mrtg_hdd.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">


<H1>MRTG Index Page</H1>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
<tr>
<td><DIV><B> HDD Status on ds01.aucfan.com (192.168.2.60) </B></DIV>
<DIV><A HREF="stat-hdd-ds01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ds01-aucfan Traffic Graph" SRC="stat-hdd-ds01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ds01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ds03.aucfan.com (192.168.2.65) </B></DIV>
<DIV><A HREF="stat-hdd-ds03-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ds03-aucfan Traffic Graph" SRC="stat-hdd-ds03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ds03-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on cr01.aucfan.com (192.168.2.66) </B></DIV>
<DIV><A HREF="stat-hdd-cr01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-cr01-aucfan Traffic Graph" SRC="stat-hdd-cr01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-cr01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ss02.aucfan.com (192.168.2.57) </B></DIV>
<DIV><A HREF="stat-hdd-ss02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss02-aucfan Traffic Graph" SRC="stat-hdd-ss02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss02-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ss03.aucfan.com (192.168.2.58) </B></DIV>
<DIV><A HREF="stat-hdd-ss03-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss03-aucfan Traffic Graph" SRC="stat-hdd-ss03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss03-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ss04.aucfan.com (192.168.2.74) </B></DIV>
<DIV><A HREF="stat-hdd-ss04-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss04-aucfan Traffic Graph" SRC="stat-hdd-ss04-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss04-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ss06.aucfan.com (192.168.2.76) </B></DIV>
<DIV><A HREF="stat-hdd-ss06-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss06-aucfan Traffic Graph" SRC="stat-hdd-ss06-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss06-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ss07.aucfan.com (192.168.2.77) </B></DIV>
<DIV><A HREF="stat-hdd-ss07-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss07-aucfan Traffic Graph" SRC="stat-hdd-ss07-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss07-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ss08.aucfan.com (192.168.2.78) </B></DIV>
<DIV><A HREF="stat-hdd-ss08-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss08-aucfan Traffic Graph" SRC="stat-hdd-ss08-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss08-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ss09.aucfan.com (192.168.2.79) </B></DIV>
<DIV><A HREF="stat-hdd-ss09-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss09-aucfan Traffic Graph" SRC="stat-hdd-ss09-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss09-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ss10.aucfan.com (192.168.2.80) </B></DIV>
<DIV><A HREF="stat-hdd-ss10-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss10-aucfan Traffic Graph" SRC="stat-hdd-ss10-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss10-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ss11.aucfan.com (192.168.2.81) </B></DIV>
<DIV><A HREF="stat-hdd-ss11-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss11-aucfan Traffic Graph" SRC="stat-hdd-ss11-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss11-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ss12.aucfan.com (192.168.2.82) </B></DIV>
<DIV><A HREF="stat-hdd-ss12-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss12-aucfan Traffic Graph" SRC="stat-hdd-ss12-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss12-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ss13.aucfan.com (192.168.2.83) </B></DIV>
<DIV><A HREF="stat-hdd-ss13-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss13-aucfan Traffic Graph" SRC="stat-hdd-ss13-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss13-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ssl01.aucfan.com (192.168.2.161) </B></DIV>
<DIV><A HREF="stat-hdd-ssl01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ssl01-aucfan Traffic Graph" SRC="stat-hdd-ssl01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ssl01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ws01.aucfan.com (192.168.2.52) </B></DIV>
<DIV><A HREF="stat-hdd-ws01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ws01-aucfan Traffic Graph" SRC="stat-hdd-ws01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ws01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> HDD Status on ws02.aucfan.com (192.168.2.53) </B></DIV>
<DIV><A HREF="stat-hdd-ws02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ws02-aucfan Traffic Graph" SRC="stat-hdd-ws02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ws02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ws03.aucfan.com (192.168.2.54) </B></DIV>
<DIV><A HREF="stat-hdd-ws03-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ws03-aucfan Traffic Graph" SRC="stat-hdd-ws03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ws03-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV>
</DIV>
</td><td><DIV>
</DIV>
</td></tr>
<tr>
<td><DIV>
</DIV>
</td><td><DIV><B> HDD Status on ws07.aucfan.com (192.168.2.158) </B></DIV>
<DIV><A HREF="stat-hdd-ws07-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ws07-aucfan Traffic Graph" SRC="stat-hdd-ws07-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ws07-aucfan.html" --></SMALL></DIV>
</td></tr>

<tr>
<td><DIV><B> HDD Status on aucuniv01.aucfan.com (192.168.2.150) </B></DIV>
<DIV><A HREF="stat-hdd-aucuniv01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-aucuniv01-aucfan Traffic Graph" SRC="stat-hdd-aucuniv01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-aucuniv01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on aucuniv02.aucfan.com (192.168.2.151) </B></DIV>
<DIV><A HREF="stat-hdd-aucuniv02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-aucuniv02-aucfan Traffic Graph" SRC="stat-hdd-aucuniv02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-aucuniv02-aucfan.html" --></SMALL></DIV>
</td></tr>

<tr>
<td>
<DIV><B> HDD Status on ds02.aucfan.com (192.168.2.64) </B></DIV>
<DIV><A HREF="stat-hdd-ds02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ds02-aucfan Traffic Graph" SRC="stat-hdd-ds02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ds02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> HDD Status on ss05.aucfan.com (192.168.2.75) </B></DIV>
<DIV><A HREF="stat-hdd-ss05-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ss05-aucfan Traffic Graph" SRC="stat-hdd-ss05-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="stat-hdd-ss05-aucfan.html" --></SMALL></DIV>
</td>
</tr>

<tr>
  <td>
  <DIV>
    <B> HDD Status on mad.aucfan.com (192.168.2.159) </B>
    </DIV>
    <DIV><A HREF="stat-hdd-mad-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-mad-aucfan Traffic Graph" SRC="stat-hdd-mad-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="stat-hdd-mad-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV>
    <B> HDD Status on bcn.aucfan.com (192.168.2.160) </B>
    </DIV>
    <DIV><A HREF="stat-hdd-bcn-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-bcn-aucfan Traffic Graph" SRC="stat-hdd-bcn-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="stat-hdd-bcn-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

<tr>
  <td>
  <DIV>
    <B> HDD Status on sfo.aucfan.com (192.168.2.147) </B>
    </DIV>
    <DIV><A HREF="stat-hdd-sfo-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-sfo-aucfan Traffic Graph" SRC="stat-hdd-sfo-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="stat-hdd-sfo-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV>
    <B> HDD Status on sfo01.aucfan.com (192.168.2.247) </B>
    </DIV>
    <DIV><A HREF="stat-hdd-sfo01-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-sfo01-aucfan Traffic Graph" SRC="stat-hdd-sfo01-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="stat-hdd-sfo01-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>


<tr>
  <td>
  <DIV>
    <B> HDD Status on sfo02.aucfan.com (192.168.2.248) </B>
    </DIV>
    <DIV><A HREF="stat-hdd-sfo02-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-sfo02-aucfan Traffic Graph" SRC="stat-hdd-sfo02-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="stat-hdd-sfo02-aucfan.html" --></SMALL>
    </DIV>
  </td>
  <td>
    <DIV>
    <B> HDD Status on sfo03.aucfan.com (192.168.2.249) </B>
    </DIV>
    <DIV><A HREF="stat-hdd-sfo03-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-sfo03-aucfan Traffic Graph" SRC="stat-hdd-sfo03-aucfan-day.png"></A><BR>
    <SMALL><!--#flastmod file="stat-hdd-sfo03-aucfan.html" --></SMALL>
    </DIV>
  </td>
</tr>

</TABLE>

<BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  version 2.10.15</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://www.ee.ethz.ch/~oetiker/">Tobias Oetiker</A>
  <A HREF="mailto:oetiker@ee.ethz.ch">&lt;oetiker@ee.ethz.ch&gt;</A>
  and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>
  </TD>
</TR>
</TABLE>
</BODY>
</HTML>
