<!DOCTYPE html>
<html>
  <head>
    <title>5R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul>

<li>Memory C/B Status on R610_1.aucfan.com (192.168.3.31)<br /><a href="stat-mem-cb-r610_1-aucfan.html"><img src="stat-mem-cb-r610_1-aucfan-day.png" alt="stat-mem-cb-r610_1-aucfan-day"/></a></li>
<li>Memory Status on R610_1.aucfan.com (192.168.3.31)<br /><a href="stat-mem-r610_1-aucfan.html"><img src="stat-mem-r610_1-aucfan-day.png" alt="stat-mem-r610_1-aucfan-day"/></a></li>
<li>Memory C/B Status on R610_2.aucfan.com (192.168.3.32)<br /><a href="stat-mem-cb-r610_2-aucfan.html"><img src="stat-mem-cb-r610_2-aucfan-day.png" alt="stat-mem-cb-r610_2-aucfan-day"/></a></li>
<li>Memory Status on R610_2.aucfan.com (192.168.3.32)<br /><a href="stat-mem-r610_2-aucfan.html"><img src="stat-mem-r610_2-aucfan-day.png" alt="stat-mem-r610_2-aucfan-day"/></a></li>
<li>Memory C/B Status on bt02.aucfan.com (192.168.3.33)<br /><a href="stat-mem-cb-bt02-aucfan.html"><img src="stat-mem-cb-bt02-aucfan-day.png" alt="stat-mem-cb-bt02-aucfan-day"/></a></li>
<li>Memory Status on bt02.aucfan.com (192.168.3.33)<br /><a href="stat-mem-bt02-aucfan.html"><img src="stat-mem-bt02-aucfan-day.png" alt="stat-mem-bt02-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_2.aucfan.com (192.168.3.34)<br /><a href="stat-mem-cb-r410_2-aucfan.html"><img src="stat-mem-cb-r410_2-aucfan-day.png" alt="stat-mem-cb-r410_2-aucfan-day"/></a></li>
<li>Memory Status on R410_2.aucfan.com (192.168.3.34)<br /><a href="stat-mem-r410_2-aucfan.html"><img src="stat-mem-r410_2-aucfan-day.png" alt="stat-mem-r410_2-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_3.aucfan.com (192.168.3.35)<br /><a href="stat-mem-cb-r410_3-aucfan.html"><img src="stat-mem-cb-r410_3-aucfan-day.png" alt="stat-mem-cb-r410_3-aucfan-day"/></a></li>
<li>Memory Status on R410_3.aucfan.com (192.168.3.35)<br /><a href="stat-mem-r410_3-aucfan.html"><img src="stat-mem-r410_3-aucfan-day.png" alt="stat-mem-r410_3-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_4.aucfan.com (192.168.3.36)<br /><a href="stat-mem-cb-r410_4-aucfan.html"><img src="stat-mem-cb-r410_4-aucfan-day.png" alt="stat-mem-cb-r410_4-aucfan-day"/></a></li>
<li>Memory Status on R410_4.aucfan.com (192.168.3.36)<br /><a href="stat-mem-r410_4-aucfan.html"><img src="stat-mem-r410_4-aucfan-day.png" alt="stat-mem-r410_4-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_5.aucfan.com (192.168.3.37)<br /><a href="stat-mem-cb-r410_5-aucfan.html"><img src="stat-mem-cb-r410_5-aucfan-day.png" alt="stat-mem-cb-r410_5-aucfan-day"/></a></li>
<li>Memory Status on R410_5.aucfan.com (192.168.3.37)<br /><a href="stat-mem-r410_5-aucfan.html"><img src="stat-mem-r410_5-aucfan-day.png" alt="stat-mem-r410_5-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_6.aucfan.com (192.168.3.38)<br /><a href="stat-mem-cb-r410_6-aucfan.html"><img src="stat-mem-cb-r410_6-aucfan-day.png" alt="stat-mem-cb-r410_6-aucfan-day"/></a></li>
<li>Memory Status on R410_6.aucfan.com (192.168.3.38)<br /><a href="stat-mem-r410_6-aucfan.html"><img src="stat-mem-r410_6-aucfan-day.png" alt="stat-mem-r410_6-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_7.aucfan.com (192.168.3.39)<br /><a href="stat-mem-cb-r410_7-aucfan.html"><img src="stat-mem-cb-r410_7-aucfan-day.png" alt="stat-mem-cb-r410_7-aucfan-day"/></a></li>
<li>Memory Status on R410_7.aucfan.com (192.168.3.39)<br /><a href="stat-mem-r410_7-aucfan.html"><img src="stat-mem-r410_7-aucfan-day.png" alt="stat-mem-r410_7-aucfan-day"/></a></li>
<li>Memory C/B Status on pws05.aucfan.com (192.168.3.40)<br /><a href="stat-mem-cb-pws05-aucfan.html"><img src="stat-mem-cb-pws05-aucfan-day.png" alt="stat-mem-cb-pws05-aucfan-day"/></a></li>
<li>Memory Status on pws05.aucfan.com (192.168.3.40)<br /><a href="stat-mem-pws05-aucfan.html"><img src="stat-mem-pws05-aucfan-day.png" alt="stat-mem-pws05-aucfan-day"/></a></li>
<li>Memory C/B Status on pws06.aucfan.com (192.168.3.41)<br /><a href="stat-mem-cb-pws06-aucfan.html"><img src="stat-mem-cb-pws06-aucfan-day.png" alt="stat-mem-cb-pws06-aucfan-day"/></a></li>
<li>Memory Status on pws06.aucfan.com (192.168.3.41)<br /><a href="stat-mem-pws06-aucfan.html"><img src="stat-mem-pws06-aucfan-day.png" alt="stat-mem-pws06-aucfan-day"/></a></li>
<li>Memory C/B Status on pws07.aucfan.com (192.168.3.42)<br /><a href="stat-mem-cb-pws07-aucfan.html"><img src="stat-mem-cb-pws07-aucfan-day.png" alt="stat-mem-cb-pws07-aucfan-day"/></a></li>
<li>Memory Status on pws07.aucfan.com (192.168.3.42)<br /><a href="stat-mem-pws07-aucfan.html"><img src="stat-mem-pws07-aucfan-day.png" alt="stat-mem-pws07-aucfan-day"/></a></li>
<li>Memory C/B Status on pws08.aucfan.com (192.168.3.43)<br /><a href="stat-mem-cb-pws08-aucfan.html"><img src="stat-mem-cb-pws08-aucfan-day.png" alt="stat-mem-cb-pws08-aucfan-day"/></a></li>
<li>Memory Status on pws08.aucfan.com (192.168.3.43)<br /><a href="stat-mem-pws08-aucfan.html"><img src="stat-mem-pws08-aucfan-day.png" alt="stat-mem-pws08-aucfan-day"/></a></li>
<li>Memory C/B Status on pdb03.aucfan.com (192.168.3.45)<br /><a href="stat-mem-cb-pdb03-aucfan.html"><img src="stat-mem-cb-pdb03-aucfan-day.png" alt="stat-mem-cb-pdb03-aucfan-day"/></a></li>
<li>Memory Status on pdb03.aucfan.com (192.168.3.45)<br /><a href="stat-mem-pdb03-aucfan.html"><img src="stat-mem-pdb03-aucfan-day.png" alt="stat-mem-pdb03-aucfan-day"/></a></li>
<li>Memory C/B Status on pws01.aucfan.com (192.168.3.46)<br /><a href="stat-mem-cb-pws01-aucfan.html"><img src="stat-mem-cb-pws01-aucfan-day.png" alt="stat-mem-cb-pws01-aucfan-day"/></a></li>
<li>Memory Status on pws01.aucfan.com (192.168.3.46)<br /><a href="stat-mem-pws01-aucfan.html"><img src="stat-mem-pws01-aucfan-day.png" alt="stat-mem-pws01-aucfan-day"/></a></li>
<li>Memory C/B Status on pws02.aucfan.com (192.168.3.47)<br /><a href="stat-mem-cb-pws02-aucfan.html"><img src="stat-mem-cb-pws02-aucfan-day.png" alt="stat-mem-cb-pws02-aucfan-day"/></a></li>
<li>Memory Status on pws02.aucfan.com (192.168.3.47)<br /><a href="stat-mem-pws02-aucfan.html"><img src="stat-mem-pws02-aucfan-day.png" alt="stat-mem-pws02-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_16.aucfan.com (192.168.3.48)<br /><a href="stat-mem-cb-r410_16-aucfan.html"><img src="stat-mem-cb-r410_16-aucfan-day.png" alt="stat-mem-cb-r410_16-aucfan-day"/></a></li>
<li>Memory Status on R410_16.aucfan.com (192.168.3.48)<br /><a href="stat-mem-r410_16-aucfan.html"><img src="stat-mem-r410_16-aucfan-day.png" alt="stat-mem-r410_16-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_17.aucfan.com (192.168.3.49)<br /><a href="stat-mem-cb-r410_17-aucfan.html"><img src="stat-mem-cb-r410_17-aucfan-day.png" alt="stat-mem-cb-r410_17-aucfan-day"/></a></li>
<li>Memory Status on R410_17.aucfan.com (192.168.3.49)<br /><a href="stat-mem-r410_17-aucfan.html"><img src="stat-mem-r410_17-aucfan-day.png" alt="stat-mem-r410_17-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_18.aucfan.com (192.168.3.50)<br /><a href="stat-mem-cb-r410_18-aucfan.html"><img src="stat-mem-cb-r410_18-aucfan-day.png" alt="stat-mem-cb-r410_18-aucfan-day"/></a></li>
<li>Memory Status on R410_18.aucfan.com (192.168.3.50)<br /><a href="stat-mem-r410_18-aucfan.html"><img src="stat-mem-r410_18-aucfan-day.png" alt="stat-mem-r410_18-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_19.aucfan.com (192.168.3.51)<br /><a href="stat-mem-cb-r410_19-aucfan.html"><img src="stat-mem-cb-r410_19-aucfan-day.png" alt="stat-mem-cb-r410_19-aucfan-day"/></a></li>
<li>Memory Status on R410_19.aucfan.com (192.168.3.51)<br /><a href="stat-mem-r410_19-aucfan.html"><img src="stat-mem-r410_19-aucfan-day.png" alt="stat-mem-r410_19-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_21.aucfan.com (192.168.3.53)<br /><a href="stat-mem-cb-r410_21-aucfan.html"><img src="stat-mem-cb-r410_21-aucfan-day.png" alt="stat-mem-cb-r410_21-aucfan-day"/></a></li>
<li>Memory Status on R410_21.aucfan.com (192.168.3.53)<br /><a href="stat-mem-r410_21-aucfan.html"><img src="stat-mem-r410_21-aucfan-day.png" alt="stat-mem-r410_21-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_22.aucfan.com (192.168.3.54)<br /><a href="stat-mem-cb-r410_22-aucfan.html"><img src="stat-mem-cb-r410_22-aucfan-day.png" alt="stat-mem-cb-r410_22-aucfan-day"/></a></li>
<li>Memory Status on R410_22.aucfan.com (192.168.3.54)<br /><a href="stat-mem-r410_22-aucfan.html"><img src="stat-mem-r410_22-aucfan-day.png" alt="stat-mem-r410_22-aucfan-day"/></a></li>
<li>Memory C/B Status on pdb04.aucfan.com (192.168.3.55)<br /><a href="stat-mem-cb-pdb04-aucfan.html"><img src="stat-mem-cb-pdb04-aucfan-day.png" alt="stat-mem-cb-pdb04-aucfan-day"/></a></li>
<li>Memory Status on pdb04.aucfan.com (192.168.3.55)<br /><a href="stat-mem-pdb04-aucfan.html"><img src="stat-mem-pdb04-aucfan-day.png" alt="stat-mem-pdb04-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_24.aucfan.com (192.168.3.56)<br /><a href="stat-mem-cb-r410_24-aucfan.html"><img src="stat-mem-cb-r410_24-aucfan-day.png" alt="stat-mem-cb-r410_24-aucfan-day"/></a></li>
<li>Memory Status on R410_24.aucfan.com (192.168.3.56)<br /><a href="stat-mem-r410_24-aucfan.html"><img src="stat-mem-r410_24-aucfan-day.png" alt="stat-mem-r410_24-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_25.aucfan.com (192.168.3.57)<br /><a href="stat-mem-cb-r410_25-aucfan.html"><img src="stat-mem-cb-r410_25-aucfan-day.png" alt="stat-mem-cb-r410_25-aucfan-day"/></a></li>
<li>Memory Status on R410_25.aucfan.com (192.168.3.57)<br /><a href="stat-mem-r410_25-aucfan.html"><img src="stat-mem-r410_25-aucfan-day.png" alt="stat-mem-r410_25-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_26.aucfan.com (192.168.3.58)<br /><a href="stat-mem-cb-r410_26-aucfan.html"><img src="stat-mem-cb-r410_26-aucfan-day.png" alt="stat-mem-cb-r410_26-aucfan-day"/></a></li>
<li>Memory Status on R410_26.aucfan.com (192.168.3.58)<br /><a href="stat-mem-r410_26-aucfan.html"><img src="stat-mem-r410_26-aucfan-day.png" alt="stat-mem-r410_26-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_27.aucfan.com (192.168.3.59)<br /><a href="stat-mem-cb-r410_27-aucfan.html"><img src="stat-mem-cb-r410_27-aucfan-day.png" alt="stat-mem-cb-r410_27-aucfan-day"/></a></li>
<li>Memory Status on R410_27.aucfan.com (192.168.3.59)<br /><a href="stat-mem-r410_27-aucfan.html"><img src="stat-mem-r410_27-aucfan-day.png" alt="stat-mem-r410_27-aucfan-day"/></a></li>
<li>Memory C/B Status on R410_28.aucfan.com (192.168.3.60)<br /><a href="stat-mem-cb-r410_28-aucfan.html"><img src="stat-mem-cb-r410_28-aucfan-day.png" alt="stat-mem-cb-r410_28-aucfan-day"/></a></li>
<li>Memory Status on R410_28.aucfan.com (192.168.3.60)<br /><a href="stat-mem-r410_28-aucfan.html"><img src="stat-mem-r410_28-aucfan-day.png" alt="stat-mem-r410_28-aucfan-day"/></a></li>
<li>Memory C/B Status on img01b.aucfan.com (192.168.3.91)<br /><a href="stat-mem-cb-img01b-aucfan.html"><img src="stat-mem-cb-img01b-aucfan-day.png" alt="stat-mem-cb-img01b-aucfan-day"/></a></li>
<li>Memory Status on img01b.aucfan.com (192.168.3.91)<br /><a href="stat-mem-img01b-aucfan.html"><img src="stat-mem-img01b-aucfan-day.png" alt="stat-mem-img01b-aucfan-day"/></a></li>
<li>Memory C/B Status on img02b.aucfan.com (192.168.3.92)<br /><a href="stat-mem-cb-img02b-aucfan.html"><img src="stat-mem-cb-img02b-aucfan-day.png" alt="stat-mem-cb-img02b-aucfan-day"/></a></li>
<li>Memory Status on img02b.aucfan.com (192.168.3.92)<br /><a href="stat-mem-img02b-aucfan.html"><img src="stat-mem-img02b-aucfan-day.png" alt="stat-mem-img02b-aucfan-day"/></a></li>
<li>Memory C/B Status on ss15.aucfan.com (192.168.3.148)<br /><a href="stat-mem-cb-ss15-aucfan.html"><img src="stat-mem-cb-ss15-aucfan-day.png" alt="stat-mem-cb-ss15-aucfan-day"/></a></li>
<li>Memory Status on ss15.aucfan.com (192.168.3.148)<br /><a href="stat-mem-ss15-aucfan.html"><img src="stat-mem-ss15-aucfan-day.png" alt="stat-mem-ss15-aucfan-day"/></a></li>
<li>Memory C/B Status on ss16.aucfan.com (192.168.3.149)<br /><a href="stat-mem-cb-ss16-aucfan.html"><img src="stat-mem-cb-ss16-aucfan-day.png" alt="stat-mem-cb-ss16-aucfan-day"/></a></li>
<li>Memory Status on ss16.aucfan.com (192.168.3.149)<br /><a href="stat-mem-ss16-aucfan.html"><img src="stat-mem-ss16-aucfan-day.png" alt="stat-mem-ss16-aucfan-day"/></a></li>
<li>Memory C/B Status on ss17.aucfan.com (192.168.3.150)<br /><a href="stat-mem-cb-ss17-aucfan.html"><img src="stat-mem-cb-ss17-aucfan-day.png" alt="stat-mem-cb-ss17-aucfan-day"/></a></li>
<li>Memory Status on ss17.aucfan.com (192.168.3.150)<br /><a href="stat-mem-ss17-aucfan.html"><img src="stat-mem-ss17-aucfan-day.png" alt="stat-mem-ss17-aucfan-day"/></a></li>
<li>Memory C/B Status on ss18.aucfan.com (192.168.3.151)<br /><a href="stat-mem-cb-ss18-aucfan.html"><img src="stat-mem-cb-ss18-aucfan-day.png" alt="stat-mem-cb-ss18-aucfan-day"/></a></li>
<li>Memory Status on ss18.aucfan.com (192.168.3.151)<br /><a href="stat-mem-ss18-aucfan.html"><img src="stat-mem-ss18-aucfan-day.png" alt="stat-mem-ss18-aucfan-day"/></a></li>
<li>Memory C/B Status on ss19.aucfan.com (192.168.3.153)<br /><a href="stat-mem-cb-ss19-aucfan.html"><img src="stat-mem-cb-ss19-aucfan-day.png" alt="stat-mem-cb-ss19-aucfan-day"/></a></li>
<li>Memory Status on ss19.aucfan.com (192.168.3.153)<br /><a href="stat-mem-ss19-aucfan.html"><img src="stat-mem-ss19-aucfan-day.png" alt="stat-mem-ss19-aucfan-day"/></a></li>
<li>Memory C/B Status on ss20.aucfan.com (192.168.3.154)<br /><a href="stat-mem-cb-ss20-aucfan.html"><img src="stat-mem-cb-ss20-aucfan-day.png" alt="stat-mem-cb-ss20-aucfan-day"/></a></li>
<li>Memory Status on ss20.aucfan.com (192.168.3.154)<br /><a href="stat-mem-ss20-aucfan.html"><img src="stat-mem-ss20-aucfan-day.png" alt="stat-mem-ss20-aucfan-day"/></a></li>

<li>Memory C/B Status on bt02.aucfan.com (192.168.3.33)<br /><a href="stat-mem-cb-bt02-aucfan.html"><img src="stat-mem-cb-bt02-aucfan-day.png" alt="stat-mem-cb-bt02-aucfan-day"/></a></li>
<li>Memory Status on bt02.aucfan.com (192.168.3.33)<br /><a href="stat-mem-bt02-aucfan.html"><img src="stat-mem-bt02-aucfan-day.png" alt="stat-mem-bt02-aucfan-day"/></a></li>

















