<!DOCTYPE html>
<html>
  <head>
    <title>seg101/hdd</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> HDD Status on uranus.aucfan.com</br> (192.168.101.21) </b></div>
    <div><a href="hdd-uranus-aucfan.html"><img border="1" alt="hdd-uranus Graph" src="hdd-uranus-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on saturn.aucfan.com</br> (192.168.101.22) </b></div>
    <div><a href="hdd-saturn-aucfan.html"><img border="1" alt="hdd-saturn Graph" src="hdd-saturn-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on jupiter.aucfan.com</br> (192.168.101.23) </b></div>
    <div><a href="hdd-jupiter-aucfan.html"><img border="1" alt="hdd-jupiter Graph" src="hdd-jupiter-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on io.aucfan.com</br> (192.168.101.24) </b></div>
    <div><a href="hdd-io-aucfan.html"><img border="1" alt="hdd-io Graph" src="hdd-io-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on europa.aucfan.com</br> (192.168.101.25) </b></div>
    <div><a href="hdd-europa-aucfan.html"><img border="1" alt="hdd-europa Graph" src="hdd-europa-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on neptune.aucfan.com</br> (192.168.101.26) </b></div>
    <div><a href="hdd-neptune-aucfan.html"><img border="1" alt="hdd-neptune Graph" src="hdd-neptune-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on localhost.aucfan.com</br> (192.168.101.135) </b></div>
    <div><a href="hdd-localhost-aucfan.html"><img border="1" alt="hdd-localhost Graph" src="hdd-localhost-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on localhost.aucfan.com</br> (192.168.101.135:/mnt_XX01) </b></div>
    <div><a href="hdd-localhost_vol1-aucfan.html"><img border="1" alt="hdd-localhost_vol1 Graph" src="hdd-localhost_vol1-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on localhost.aucfan.com</br> (192.168.101.135:/mnt_XX02) </b></div>
    <div><a href="hdd-localhost_vol2-aucfan.html"><img border="1" alt="hdd-localhost_vol2 Graph" src="hdd-localhost_vol2-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on development2.aucfan.com</br> (192.168.101.235) </b></div>
    <div><a href="hdd-development2-aucfan.html"><img border="1" alt="hdd-development2 Graph" src="hdd-development2-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>



</table>
</body>
</html>
