<!DOCTYPE html>
<html>
  <head>
    <title>aucfan.com web servers</title>
    <style type="text/css">
      ul {
	//width: 1200px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h1>MRTG Index Page</h1>

<h2>Load Average</h2>
    <ul>

<li>ws02.aucfan.com (192.168.2.53) <br /><a href="1r/la/la-ws02-aucfan.html"><img src="1r/la/la-ws02-aucfan-day.png" alt="la-ws02-aucfan"/></a></li>
<li>ws03.aucfan.com (192.168.2.54) <br /><a href="1r/la/la-ws03-aucfan.html"><img src="1r/la/la-ws03-aucfan-day.png" alt="la-ws03-aucfan"/></a></li>
<li>ws04.aucfan.com (192.168.2.55) <br /><a href="1r/la/la-ws04-aucfan.html"><img src="1r/la/la-ws04-aucfan-day.png" alt="la-ws04-aucfan"/></a></li>
<li>ws05.aucfan.com (192.168.2.156)<br /><a href="1r/la/la-ws05-aucfan.html"><img src="1r/la/la-ws05-aucfan-day.png" alt="la-ws05-aucfan"/></a></li>
<li>ws06.aucfan.com (192.168.2.157)<br /><a href="1r/la/la-ws06-aucfan.html"><img src="1r/la/la-ws06-aucfan-day.png" alt="la-ws06-aucfan"/></a></li>
<li>ws07.aucfan.com (192.168.2.158)<br /><a href="1r/la/la-ws07-aucfan.html"><img src="1r/la/la-ws07-aucfan-day.png" alt="la-ws07-aucfan"/></a></li>
<li>ws08.aucfan.com (192.168.2.159)<br /><a href="1r/la/la-ws08-aucfan.html"><img src="1r/la/la-ws08-aucfan-day.png" alt="la-ws08-aucfan"/></a></li>
<li>ws09.aucfan.com (192.168.2.160)<br /><a href="1r/la/la-ws09-aucfan.html"><img src="1r/la/la-ws09-aucfan-day.png" alt="la-ws09-aucfan"/></a></li>
<li>ws11.aucfan.com (192.168.2.134)<br /><a href="3r/la/la-ws11-aucfan.html"><img src="3r/la/la-ws11-aucfan-day.png" alt="la-ws11-aucfan"/></a></li>
<li>ws12.aucfan.com (192.168.2.135)<br /><a href="3r/la/la-ws12-aucfan.html"><img src="3r/la/la-ws12-aucfan-day.png" alt="la-ws12-aucfan"/></a></li>
<li>ws13.aucfan.com (192.168.2.136)<br /><a href="3r/la/la-ws13-aucfan.html"><img src="3r/la/la-ws13-aucfan-day.png" alt="la-ws13-aucfan"/></a></li>
<li>ws14.aucfan.com (192.168.2.137)<br /><a href="3r/la/la-ws14-aucfan.html"><img src="3r/la/la-ws14-aucfan-day.png" alt="la-ws14-aucfan"/></a></li>
<li>ws15.aucfan.com (192.168.2.138)<br /><a href="3r/la/la-ws15-aucfan.html"><img src="3r/la/la-ws15-aucfan-day.png" alt="la-ws15-aucfan"/></a></li>
<li>ws16.aucfan.com (192.168.2.139)<br /><a href="3r/la/la-ws16-aucfan.html"><img src="3r/la/la-ws16-aucfan-day.png" alt="la-ws16-aucfan"/></a></li>
<li>ws17.aucfan.com (192.168.2.140)<br /><a href="3r/la/la-ws17-aucfan.html"><img src="3r/la/la-ws17-aucfan-day.png" alt="la-ws17-aucfan"/></a></li>

<li>ws19.aucfan.com (192.168.3.165)<br /><a href="6r/la/la-ws19-aucfan.html"><img src="6r/la/la-ws19-aucfan-day.png" alt="la-ws19-aucfan"/></a></li>
<li>ws20.aucfan.com (192.168.3.166)<br /><a href="6r/la/la-ws20-aucfan.html"><img src="6r/la/la-ws20-aucfan-day.png" alt="la-ws20-aucfan"/></a></li>
<li>ws21.aucfan.com (192.168.3.167)<br /><a href="6r/la/la-ws21-aucfan.html"><img src="6r/la/la-ws21-aucfan-day.png" alt="la-ws21-aucfan"/></a></li>
<li>ws22.aucfan.com (192.168.3.168)<br /><a href="6r/la/la-ws22-aucfan.html"><img src="6r/la/la-ws22-aucfan-day.png" alt="la-ws22-aucfan"/></a></li>
<li>ws23.aucfan.com (192.168.3.169)<br /><a href="6r/la/la-ws23-aucfan.html"><img src="6r/la/la-ws23-aucfan-day.png" alt="la-ws23-aucfan"/></a></li>
<li>ws24.aucfan.com (192.168.3.170)<br /><a href="6r/la/la-ws24-aucfan.html"><img src="6r/la/la-ws24-aucfan-day.png" alt="la-ws24-aucfan"/></a></li>
<li>ws25.aucfan.com (192.168.3.171)<br /><a href="6r/la/la-ws25-aucfan.html"><img src="6r/la/la-ws25-aucfan-day.png" alt="la-ws25-aucfan"/></a></li>
<li>ws26.aucfan.com (192.168.3.172)<br /><a href="6r/la/la-ws26-aucfan.html"><img src="6r/la/la-ws26-aucfan-day.png" alt="la-ws26-aucfan"/></a></li>
<li>ws27.aucfan.com (192.168.3.173)<br /><a href="6r/la/la-ws27-aucfan.html"><img src="6r/la/la-ws27-aucfan-day.png" alt="la-ws27-aucfan"/></a></li>
<li>ws28.aucfan.com (192.168.3.174)<br /><a href="6r/la/la-ws28-aucfan.html"><img src="6r/la/la-ws28-aucfan-day.png" alt="la-ws28-aucfan"/></a></li>
<li>ws29.aucfan.com (192.168.3.175)<br /><a href="6r/la/la-ws29-aucfan.html"><img src="6r/la/la-ws29-aucfan-day.png" alt="la-ws29-aucfan"/></a></li>
<li>ws30.aucfan.com (192.168.3.176)<br /><a href="6r/la/la-ws30-aucfan.html"><img src="6r/la/la-ws30-aucfan-day.png" alt="la-ws30-aucfan"/></a></li>
<li>ws31.aucfan.com (192.168.3.177)<br /><a href="6r/la/la-ws31-aucfan.html"><img src="6r/la/la-ws31-aucfan-day.png" alt="la-ws31-aucfan"/></a></li>
<li>ws32.aucfan.com (192.168.3.178)<br /><a href="6r/la/la-ws32-aucfan.html"><img src="6r/la/la-ws32-aucfan-day.png" alt="la-ws32-aucfan"/></a></li>

</ul>



<div style="clear: both;"></div>
<hr />
<h2>LVS(Keepalived) Traffic</h2>
<ul>
<li>lb05.aucfan.com (202.53.16.141)<br /><a href="3r/tr/tr1-lb05-aucfan.html"><img src="3r/tr/tr1-lb05-aucfan-day.png" alt="lb05.aucfan.com"/></a></li>
<li>lb06.aucfan.com (202.53.16.142)<br /><a href="3r/tr/tr1-lb06-aucfan.html"><img src="3r/tr/tr1-lb06-aucfan-day.png" alt="lb06.aucfan.com"/></a></li>
<li>lb07.aucfan.com (210.152.213.69)<br /><a href="6r/tr/tr1-lb07-aucfan.html"><img src="6r/tr/tr1-lb07-aucfan-day.png" alt="lb07.aucfan.com"/></a></li>
<li>lb08.aucfan.com (210.152.213.70)<br /><a href="6r/tr/tr1-lb08-aucfan.html"><img src="6r/tr/tr1-lb08-aucfan-day.png" alt="lb08.aucfan.com"/></a></li>
</ul>

<div style="clear: both;"></div>
<hr />
<h2>LVS(Keepalived) Traffic -Private</h2>
<ul>
<li>lb05.aucfan.com (192.168.2.41) <br /><a href="3r/tr/tr2-lb05-aucfan.html"><img src="3r/tr/tr2-lb05-aucfan-day.png" alt="lb05.aucfan.com"/></a></li>
<li>lb06.aucfan.com (192.168.2.42) <br /><a href="3r/tr/tr2-lb06-aucfan.html"><img src="3r/tr/tr2-lb06-aucfan-day.png" alt="lb06.aucfan.com"/></a></li>
<li>lb07.aucfan.com (192.168.3.72)  <br /><a href="6r/tr/tr2-lb07-aucfan.html"><img src="6r/tr/tr2-lb07-aucfan-day.png" alt="lb07.aucfan.com"/></a></li>
<li>lb08.aucfan.com (192.168.3.73)  <br /><a href="6r/tr/tr2-lb08-aucfan.html"><img src="6r/tr/tr2-lb08-aucfan-day.png" alt="lb08.aucfan.com"/></a></li>
</ul>


<div style="clear: both;"></div>
<hr />
<h2>Traffic (VPN)</h2>
<ul>

<li>ws02.aucfan.com (192.168.2.53) <br /><a href="1r/tr/tr2-ws02-aucfan.html"><img src="1r/tr/tr2-ws02-aucfan-day.png" alt="tr2-ws02-aucfan"/></a></li>
<li>ws03.aucfan.com (192.168.2.54) <br /><a href="1r/tr/tr2-ws03-aucfan.html"><img src="1r/tr/tr2-ws03-aucfan-day.png" alt="tr2-ws03-aucfan"/></a></li>
<li>ws04.aucfan.com (192.168.2.55) <br /><a href="1r/tr/tr2-ws04-aucfan.html"><img src="1r/tr/tr2-ws04-aucfan-day.png" alt="tr2-ws04-aucfan"/></a></li>
<li>ws05.aucfan.com (192.168.2.156)<br /><a href="1r/tr/tr2-ws05-aucfan.html"><img src="1r/tr/tr2-ws05-aucfan-day.png" alt="tr2-ws05-aucfan"/></a></li>
<li>ws06.aucfan.com (192.168.2.157)<br /><a href="1r/tr/tr2-ws06-aucfan.html"><img src="1r/tr/tr2-ws06-aucfan-day.png" alt="tr2-ws06-aucfan"/></a></li>
<li>ws07.aucfan.com (192.168.2.158)<br /><a href="1r/tr/tr2-ws07-aucfan.html"><img src="1r/tr/tr2-ws07-aucfan-day.png" alt="tr2-ws07-aucfan"/></a></li>
<li>ws08.aucfan.com (192.168.2.159)<br /><a href="1r/tr/tr2-ws08-aucfan.html"><img src="1r/tr/tr2-ws08-aucfan-day.png" alt="tr2-ws08-aucfan"/></a></li>
<li>ws09.aucfan.com (192.168.2.160)<br /><a href="1r/tr/tr2-ws09-aucfan.html"><img src="1r/tr/tr2-ws09-aucfan-day.png" alt="tr2-ws09-aucfan"/></a></li>
<li>ws11.aucfan.com (192.168.2.134)<br /><a href="3r/tr/tr2-ws11-aucfan.html"><img src="3r/tr/tr2-ws11-aucfan-day.png" alt="tr2-ws11-aucfan"/></a></li>
<li>ws12.aucfan.com (192.168.2.135)<br /><a href="3r/tr/tr2-ws12-aucfan.html"><img src="3r/tr/tr2-ws12-aucfan-day.png" alt="tr2-ws12-aucfan"/></a></li>
<li>ws13.aucfan.com (192.168.2.136)<br /><a href="3r/tr/tr2-ws13-aucfan.html"><img src="3r/tr/tr2-ws13-aucfan-day.png" alt="tr2-ws13-aucfan"/></a></li>
<li>ws14.aucfan.com (192.168.2.137)<br /><a href="3r/tr/tr2-ws14-aucfan.html"><img src="3r/tr/tr2-ws14-aucfan-day.png" alt="tr2-ws14-aucfan"/></a></li>
<li>ws15.aucfan.com (192.168.2.138)<br /><a href="3r/tr/tr2-ws15-aucfan.html"><img src="3r/tr/tr2-ws15-aucfan-day.png" alt="tr2-ws15-aucfan"/></a></li>
<li>ws16.aucfan.com (192.168.2.139)<br /><a href="3r/tr/tr2-ws16-aucfan.html"><img src="3r/tr/tr2-ws16-aucfan-day.png" alt="tr2-ws16-aucfan"/></a></li>
<li>ws17.aucfan.com (192.168.2.140)<br /><a href="3r/tr/tr2-ws17-aucfan.html"><img src="3r/tr/tr2-ws17-aucfan-day.png" alt="tr2-ws17-aucfan"/></a></li>

<li>ws19.aucfan.com (192.168.3.165)<br /><a href="6r/tr/tr2-ws19-aucfan.html"><img src="6r/tr/tr2-ws19-aucfan-day.png" alt="tr2-ws19-aucfan"/></a></li>
<li>ws20.aucfan.com (192.168.3.166)<br /><a href="6r/tr/tr2-ws20-aucfan.html"><img src="6r/tr/tr2-ws20-aucfan-day.png" alt="tr2-ws20-aucfan"/></a></li>
<li>ws21.aucfan.com (192.168.3.167)<br /><a href="6r/tr/tr2-ws21-aucfan.html"><img src="6r/tr/tr2-ws21-aucfan-day.png" alt="tr2-ws21-aucfan"/></a></li>
<li>ws22.aucfan.com (192.168.3.168)<br /><a href="6r/tr/tr2-ws22-aucfan.html"><img src="6r/tr/tr2-ws22-aucfan-day.png" alt="tr2-ws22-aucfan"/></a></li>
<li>ws23.aucfan.com (192.168.3.169)<br /><a href="6r/tr/tr2-ws23-aucfan.html"><img src="6r/tr/tr2-ws23-aucfan-day.png" alt="tr2-ws23-aucfan"/></a></li>
<li>ws24.aucfan.com (192.168.3.170)<br /><a href="6r/tr/tr2-ws24-aucfan.html"><img src="6r/tr/tr2-ws24-aucfan-day.png" alt="tr2-ws24-aucfan"/></a></li>
<li>ws25.aucfan.com (192.168.3.171)<br /><a href="6r/tr/tr2-ws25-aucfan.html"><img src="6r/tr/tr2-ws25-aucfan-day.png" alt="tr2-ws25-aucfan"/></a></li>
<li>ws26.aucfan.com (192.168.3.172)<br /><a href="6r/tr/tr2-ws26-aucfan.html"><img src="6r/tr/tr2-ws26-aucfan-day.png" alt="tr2-ws26-aucfan"/></a></li>
<li>ws27.aucfan.com (192.168.3.173)<br /><a href="6r/tr/tr2-ws27-aucfan.html"><img src="6r/tr/tr2-ws27-aucfan-day.png" alt="tr2-ws27-aucfan"/></a></li>
<li>ws28.aucfan.com (192.168.3.174)<br /><a href="6r/tr/tr2-ws28-aucfan.html"><img src="6r/tr/tr2-ws28-aucfan-day.png" alt="tr2-ws28-aucfan"/></a></li>
<li>ws29.aucfan.com (192.168.3.175)<br /><a href="6r/tr/tr2-ws29-aucfan.html"><img src="6r/tr/tr2-ws29-aucfan-day.png" alt="tr2-ws29-aucfan"/></a></li>
<li>ws30.aucfan.com (192.168.3.176)<br /><a href="6r/tr/tr2-ws30-aucfan.html"><img src="6r/tr/tr2-ws30-aucfan-day.png" alt="tr2-ws30-aucfan"/></a></li>
<li>ws31.aucfan.com (192.168.3.177)<br /><a href="6r/tr/tr2-ws31-aucfan.html"><img src="6r/tr/tr2-ws31-aucfan-day.png" alt="tr2-ws31-aucfan"/></a></li>
<li>ws32.aucfan.com (192.168.3.178)<br /><a href="6r/tr/tr2-ws32-aucfan.html"><img src="6r/tr/tr2-ws32-aucfan-day.png" alt="tr2-ws32-aucfan"/></a></li>

</ul>


<div style="clear: both;"></div>
<hr />
<h2>Traffic (Global)</h2>

<ul>

<li>ws02.aucfan.com (202.53.16.153)<br /><a href="1r/tr/tr1-ws02-aucfan.html"><img src="1r/tr/tr1-ws02-aucfan-day.png" alt="tr1-ws02-aucfan"/></a></li>
<li>ws03.aucfan.com (202.53.16.154)<br /><a href="1r/tr/tr1-ws03-aucfan.html"><img src="1r/tr/tr1-ws03-aucfan-day.png" alt="tr1-ws03-aucfan"/></a></li>
<li>ws04.aucfan.com (202.53.16.155)<br /><a href="1r/tr/tr1-ws04-aucfan.html"><img src="1r/tr/tr1-ws04-aucfan-day.png" alt="tr1-ws04-aucfan"/></a></li>
<li>ws05.aucfan.com (202.53.16.156)<br /><a href="1r/tr/tr1-ws05-aucfan.html"><img src="1r/tr/tr1-ws05-aucfan-day.png" alt="tr1-ws05-aucfan"/></a></li>
<li>ws06.aucfan.com (202.53.16.157)<br /><a href="1r/tr/tr1-ws06-aucfan.html"><img src="1r/tr/tr1-ws06-aucfan-day.png" alt="tr1-ws06-aucfan"/></a></li>
<li>ws07.aucfan.com (202.53.16.158)<br /><a href="1r/tr/tr1-ws07-aucfan.html"><img src="1r/tr/tr1-ws07-aucfan-day.png" alt="tr1-ws07-aucfan"/></a></li>
<li>ws08.aucfan.com (202.53.16.159)<br /><a href="1r/tr/tr1-ws08-aucfan.html"><img src="1r/tr/tr1-ws08-aucfan-day.png" alt="tr1-ws08-aucfan"/></a></li>
<li>ws09.aucfan.com (202.53.16.160)<br /><a href="1r/tr/tr1-ws09-aucfan.html"><img src="1r/tr/tr1-ws09-aucfan-day.png" alt="tr1-ws09-aucfan"/></a></li>
<li>ws11.aucfan.com (202.53.16.134)<br /><a href="3r/tr/tr1-ws11-aucfan.html"><img src="3r/tr/tr1-ws11-aucfan-day.png" alt="tr1-ws11-aucfan"/></a></li>
<li>ws12.aucfan.com (202.53.16.135)<br /><a href="3r/tr/tr1-ws12-aucfan.html"><img src="3r/tr/tr1-ws12-aucfan-day.png" alt="tr1-ws12-aucfan"/></a></li>
<li>ws13.aucfan.com (202.53.16.136)<br /><a href="3r/tr/tr1-ws13-aucfan.html"><img src="3r/tr/tr1-ws13-aucfan-day.png" alt="tr1-ws13-aucfan"/></a></li>
<li>ws14.aucfan.com (202.53.16.137)<br /><a href="3r/tr/tr1-ws14-aucfan.html"><img src="3r/tr/tr1-ws14-aucfan-day.png" alt="tr1-ws14-aucfan"/></a></li>
<li>ws15.aucfan.com (202.53.16.138)<br /><a href="3r/tr/tr1-ws15-aucfan.html"><img src="3r/tr/tr1-ws15-aucfan-day.png" alt="tr1-ws15-aucfan"/></a></li>
<li>ws16.aucfan.com (202.53.16.139)<br /><a href="3r/tr/tr1-ws16-aucfan.html"><img src="3r/tr/tr1-ws16-aucfan-day.png" alt="tr1-ws16-aucfan"/></a></li>
<li>ws17.aucfan.com (202.53.16.140)<br /><a href="3r/tr/tr1-ws17-aucfan.html"><img src="3r/tr/tr1-ws17-aucfan-day.png" alt="tr1-ws17-aucfan"/></a></li>

<li>ws19.aucfan.com (210.152.213.75)<br /><a href="6r/tr/tr1-ws19-aucfan.html"><img src="6r/tr/tr1-ws19-aucfan-day.png" alt="tr1-ws19-aucfan"/></a></li>
<li>ws20.aucfan.com (210.152.213.78)<br /><a href="6r/tr/tr1-ws20-aucfan.html"><img src="6r/tr/tr1-ws20-aucfan-day.png" alt="tr1-ws20-aucfan"/></a></li>
<li>ws21.aucfan.com (210.152.213.79)<br /><a href="6r/tr/tr1-ws21-aucfan.html"><img src="6r/tr/tr1-ws21-aucfan-day.png" alt="tr1-ws21-aucfan"/></a></li>
<li>ws22.aucfan.com (210.152.213.80)<br /><a href="6r/tr/tr1-ws22-aucfan.html"><img src="6r/tr/tr1-ws22-aucfan-day.png" alt="tr1-ws22-aucfan"/></a></li>
<li>ws23.aucfan.com (210.152.213.81)<br /><a href="6r/tr/tr1-ws23-aucfan.html"><img src="6r/tr/tr1-ws23-aucfan-day.png" alt="tr1-ws23-aucfan"/></a></li>
<li>ws24.aucfan.com (210.152.213.82)<br /><a href="6r/tr/tr1-ws24-aucfan.html"><img src="6r/tr/tr1-ws24-aucfan-day.png" alt="tr1-ws24-aucfan"/></a></li>
<li>ws25.aucfan.com (210.152.213.83)<br /><a href="6r/tr/tr1-ws25-aucfan.html"><img src="6r/tr/tr1-ws25-aucfan-day.png" alt="tr1-ws25-aucfan"/></a></li>
<li>ws26.aucfan.com (210.152.213.84)<br /><a href="6r/tr/tr1-ws26-aucfan.html"><img src="6r/tr/tr1-ws26-aucfan-day.png" alt="tr1-ws26-aucfan"/></a></li>
<li>ws27.aucfan.com (210.152.213.85)<br /><a href="6r/tr/tr1-ws27-aucfan.html"><img src="6r/tr/tr1-ws27-aucfan-day.png" alt="tr1-ws27-aucfan"/></a></li>
<li>ws28.aucfan.com (210.152.213.86)<br /><a href="6r/tr/tr1-ws28-aucfan.html"><img src="6r/tr/tr1-ws28-aucfan-day.png" alt="tr1-ws28-aucfan"/></a></li>
<li>ws29.aucfan.com (210.152.213.87)<br /><a href="6r/tr/tr1-ws29-aucfan.html"><img src="6r/tr/tr1-ws29-aucfan-day.png" alt="tr1-ws29-aucfan"/></a></li>
<li>ws30.aucfan.com (210.152.213.88)<br /><a href="6r/tr/tr1-ws30-aucfan.html"><img src="6r/tr/tr1-ws30-aucfan-day.png" alt="tr1-ws30-aucfan"/></a></li>
<li>ws31.aucfan.com (210.152.213.89)<br /><a href="6r/tr/tr1-ws31-aucfan.html"><img src="6r/tr/tr1-ws31-aucfan-day.png" alt="tr1-ws31-aucfan"/></a></li>
<li>ws32.aucfan.com (210.152.213.85)<br /><a href="6r/tr/tr1-ws32-aucfan.html"><img src="6r/tr/tr1-ws32-aucfan-day.png" alt="tr1-ws32-aucfan"/></a></li>

</ul>



<div style="clear: both;"></div>
<hr />
<h2>SS Load Average</h2>

<ul>
<li>la-ss02-aucfan (192.168.2.57)<br /><a href="1r/la/la-ss02-aucfan.html"><img src="1r/la/la-ss02-aucfan-day.png" alt="la-ss02-aucfan-day"/></a></li>
<li>la-ss03-aucfan (192.168.2.58)<br /><a href="1r/la/la-ss03-aucfan.html"><img src="1r/la/la-ss03-aucfan-day.png" alt="la-ss03-aucfan-day"/></a></li>
<li>la-ss04-aucfan (192.168.2.74)<br /><a href="1r/la/la-ss04-aucfan.html"><img src="1r/la/la-ss04-aucfan-day.png" alt="la-ss04-aucfan-day"/></a></li>
<li>la-ss05-aucfan (192.168.2.75)<br /><a href="1r/la/la-ss05-aucfan.html"><img src="1r/la/la-ss05-aucfan-day.png" alt="la-ss05-aucfan-day"/></a></li>
<li>la-ss06-aucfan (192.168.2.76)<br /><a href="1r/la/la-ss06-aucfan.html"><img src="1r/la/la-ss06-aucfan-day.png" alt="la-ss06-aucfan-day"/></a></li>
<li>la-ss07-aucfan (192.168.2.77)<br /><a href="1r/la/la-ss07-aucfan.html"><img src="1r/la/la-ss07-aucfan-day.png" alt="la-ss07-aucfan-day"/></a></li>
<li>la-ss08-aucfan (192.168.2.78)<br /><a href="1r/la/la-ss08-aucfan.html"><img src="1r/la/la-ss08-aucfan-day.png" alt="la-ss08-aucfan-day"/></a></li>
<li>la-ss09-aucfan (192.168.2.79)<br /><a href="1r/la/la-ss09-aucfan.html"><img src="1r/la/la-ss09-aucfan-day.png" alt="la-ss09-aucfan-day"/></a></li>
<li>la-ss10-aucfan (192.168.2.80)<br /><a href="1r/la/la-ss10-aucfan.html"><img src="1r/la/la-ss10-aucfan-day.png" alt="la-ss10-aucfan-day"/></a></li>
<li>la-ss11-aucfan (192.168.2.81)<br /><a href="1r/la/la-ss11-aucfan.html"><img src="1r/la/la-ss11-aucfan-day.png" alt="la-ss11-aucfan-day"/></a></li>
<li>la-ss12-aucfan (192.168.2.82)<br /><a href="1r/la/la-ss12-aucfan.html"><img src="1r/la/la-ss12-aucfan-day.png" alt="la-ss12-aucfan-day"/></a></li>
<li>la-ss13-aucfan (192.168.2.83)<br /><a href="1r/la/la-ss13-aucfan.html"><img src="1r/la/la-ss13-aucfan-day.png" alt="la-ss13-aucfan-day"/></a></li>

<li>la-ss15-aucfan (192.168.3.148)<br /><a href="5r/la/la-ss15-aucfan.html"><img src="5r/la/la-ss15-aucfan-day.png" alt="la-ss15-aucfan-day"/></a></li>
<li>la-ss16-aucfan (192.168.3.149)<br /><a href="5r/la/la-ss16-aucfan.html"><img src="5r/la/la-ss16-aucfan-day.png" alt="la-ss16-aucfan-day"/></a></li>
<li>la-ss17-aucfan (192.168.3.150)<br /><a href="5r/la/la-ss17-aucfan.html"><img src="5r/la/la-ss17-aucfan-day.png" alt="la-ss17-aucfan-day"/></a></li>
<li>la-ss18-aucfan (192.168.3.151)<br /><a href="5r/la/la-ss18-aucfan.html"><img src="5r/la/la-ss18-aucfan-day.png" alt="la-ss18-aucfan-day"/></a></li>
<li>la-ss19-aucfan (192.168.3.153)<br /><a href="5r/la/la-ss19-aucfan.html"><img src="5r/la/la-ss19-aucfan-day.png" alt="la-ss19-aucfan-day"/></a></li>
<li>la-ss20-aucfan (192.168.3.154)<br /><a href="5r/la/la-ss20-aucfan.html"><img src="5r/la/la-ss20-aucfan-day.png" alt="la-ss20-aucfan-day"/></a></li>
</ul>



<div style="clear: both;"></div>
<hr />
<h2>RTX Traffic</h2>

<ul>

<li>RTX3000_T1: tr1-bitisle1-aucfan (115.69.207.129)<br /><a href="3r/tr/tr1-bitisle1-aucfan.html"><img src="3r/tr/tr1-bitisle1-aucfan-day.png" alt="tr1-bitisle1-aucfan"/></a></li>
<li>RTX3000_T1: tr2-bitisle1-aucfan (202.53.16.129) <br /><a href="3r/tr/tr2-bitisle1-aucfan.html"><img src="3r/tr/tr2-bitisle1-aucfan-day.png" alt="tr2-bitisle1-aucfan"/></a></li>
<li>RTX3000_T1: tr4-bitisle1-aucfan (192.168.2.13)  <br /><a href="3r/tr/tr4-bitisle1-aucfan.html"><img src="3r/tr/tr4-bitisle1-aucfan-day.png" alt="tr4-bitisle1-aucfan"/></a></li>
<li>RTX3000_Y1: tr1-rt1-aucfan-idcf (192.168.3.1)    <br /><a href="5r/tr/tr1-rt1-aucfan-idcf.html"><img src="5r/tr/tr1-rt1-aucfan-idcf-day.png" alt="tr1-rt1-aucfan-idcf"/></a></li>
<li>RTX3000_Y1: tr2-rt1-aucfan-idcf (210.152.140.226)<br /><a href="5r/tr/tr2-rt1-aucfan-idcf.html"><img src="5r/tr/tr2-rt1-aucfan-idcf-day.png" alt="tr2-rt1-aucfan-idcf"/></a></li>
<li>RTX3000_Y2: tr1-rt2-aucfan-idcf (192.168.3.2)    <br /><a href="5r/tr/tr1-rt2-aucfan-idcf.html"><img src="5r/tr/tr1-rt2-aucfan-idcf-day.png" alt="tr1-rt2-aucfan-idcf"/></a></li>
<li>RTX3000_Y2: tr2-rt2-aucfan-idcf (210.152.140.225)<br /><a href="5r/tr/tr2-rt2-aucfan-idcf.html"><img src="5r/tr/tr2-rt2-aucfan-idcf-day.png" alt="tr2-rt2-aucfan-idcf"/></a></li>
<li>RTX3000_Y3: tr1-rt3-aucfan-idcf (192.168.3.3)    <br /><a href="6r/tr/tr1-rt3-aucfan-idcf.html"><img src="6r/tr/tr1-rt3-aucfan-idcf-day.png" alt="tr1-rt3-aucfan-idcf"/></a></li>
<li>RTX3000_Y3: tr2-rt3-aucfan-idcf (210.152.213.65) <br /><a href="6r/tr/tr2-rt3-aucfan-idcf.html"><img src="6r/tr/tr2-rt3-aucfan-idcf-day.png" alt="tr2-rt3-aucfan-idcf"/></a></li>
<li>RTX3000_Y4: tr1-rt4-aucfan-idcf (192.168.3.4)    <br /><a href="6r/tr/tr1-rt4-aucfan-idcf.html"><img src="6r/tr/tr1-rt4-aucfan-idcf-day.png" alt="tr1-rt4-aucfan-idcf"/></a></li>
<li>RTX3000_Y4: tr2-rt4-aucfan-idcf (210.152.213.66) <br /><a href="6r/tr/tr2-rt4-aucfan-idcf.html"><img src="6r/tr/tr2-rt4-aucfan-idcf-day.png" alt="tr2-rt4-aucfan-idcf"/></a></li>

</ul>

