<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">

<table border="0" cellpading="0" cellspacing="10">
	<tr>
		<td><div><b> Traffic LAN1      on ws19.aucfan.com </b></div><div><a href="6r/tr/tr1-ws19-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws19-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws19.aucfan.com </b></div><div><a href="6r/tr/tr2-ws19-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws19-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws19.aucfan.com </b></div><div><a href="6r/la/la-ws19-aucfan.html"          ><img border="1" src="6r/la/la-ws19-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws19.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws19-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws19-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws19.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws19-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws19-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws19.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws19-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws19-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws20.aucfan.com </b></div><div><a href="6r/tr/tr1-ws20-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws20-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws20.aucfan.com </b></div><div><a href="6r/tr/tr2-ws20-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws20-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws20.aucfan.com </b></div><div><a href="6r/la/la-ws20-aucfan.html"          ><img border="1" src="6r/la/la-ws20-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws20.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws20-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws20-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws20.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws20-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws20-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws20.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws20-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws20-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws21.aucfan.com </b></div><div><a href="6r/tr/tr1-ws21-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws21-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws21.aucfan.com </b></div><div><a href="6r/tr/tr2-ws21-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws21-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws21.aucfan.com </b></div><div><a href="6r/la/la-ws21-aucfan.html"          ><img border="1" src="6r/la/la-ws21-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws21.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws21-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws21-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws21.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws21-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws21-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws21.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws21-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws21-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws22.aucfan.com </b></div><div><a href="6r/tr/tr1-ws22-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws22-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws22.aucfan.com </b></div><div><a href="6r/tr/tr2-ws22-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws22-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws22.aucfan.com </b></div><div><a href="6r/la/la-ws22-aucfan.html"          ><img border="1" src="6r/la/la-ws22-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws22.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws22-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws22-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws22.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws22-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws22-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws22.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws22-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws22-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws23.aucfan.com </b></div><div><a href="6r/tr/tr1-ws23-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws23-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws23.aucfan.com </b></div><div><a href="6r/tr/tr2-ws23-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws23-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws23.aucfan.com </b></div><div><a href="6r/la/la-ws23-aucfan.html"          ><img border="1" src="6r/la/la-ws23-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws23.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws23-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws23-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws23.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws23-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws23-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws23.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws23-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws23-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws24.aucfan.com </b></div><div><a href="6r/tr/tr1-ws24-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws24-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws24.aucfan.com </b></div><div><a href="6r/tr/tr2-ws24-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws24-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws24.aucfan.com </b></div><div><a href="6r/la/la-ws24-aucfan.html"          ><img border="1" src="6r/la/la-ws24-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws24.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws24-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws24-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws24.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws24-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws24-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws24.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws24-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws24-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws25.aucfan.com </b></div><div><a href="6r/tr/tr1-ws25-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws25-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws25.aucfan.com </b></div><div><a href="6r/tr/tr2-ws25-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws25-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws25.aucfan.com </b></div><div><a href="6r/la/la-ws25-aucfan.html"          ><img border="1" src="6r/la/la-ws25-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws25.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws25-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws25-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws25.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws25-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws25-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws25.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws25-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws25-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws26.aucfan.com </b></div><div><a href="6r/tr/tr1-ws26-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws26-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws26.aucfan.com </b></div><div><a href="6r/tr/tr2-ws26-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws26-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws26.aucfan.com </b></div><div><a href="6r/la/la-ws26-aucfan.html"          ><img border="1" src="6r/la/la-ws26-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws26.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws26-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws26-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws26.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws26-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws26-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws26.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws26-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws26-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws27.aucfan.com </b></div><div><a href="6r/tr/tr1-ws27-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws27-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws27.aucfan.com </b></div><div><a href="6r/tr/tr2-ws27-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws27-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws27.aucfan.com </b></div><div><a href="6r/la/la-ws27-aucfan.html"          ><img border="1" src="6r/la/la-ws27-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws27.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws27-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws27-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws27.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws27-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws27-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws27.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws27-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws27-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws28.aucfan.com </b></div><div><a href="6r/tr/tr1-ws28-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws28-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws28.aucfan.com </b></div><div><a href="6r/tr/tr2-ws28-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws28-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws28.aucfan.com </b></div><div><a href="6r/la/la-ws28-aucfan.html"          ><img border="1" src="6r/la/la-ws28-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws28.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws28-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws28-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws28.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws28-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws28-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws28.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws28-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws28-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws29.aucfan.com </b></div><div><a href="6r/tr/tr1-ws29-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws29-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws29.aucfan.com </b></div><div><a href="6r/tr/tr2-ws29-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws29-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws29.aucfan.com </b></div><div><a href="6r/la/la-ws29-aucfan.html"          ><img border="1" src="6r/la/la-ws29-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws29.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws29-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws29-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws29.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws29-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws29-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws29.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws29-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws29-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws30.aucfan.com </b></div><div><a href="6r/tr/tr1-ws30-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws30-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws30.aucfan.com </b></div><div><a href="6r/tr/tr2-ws30-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws30-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws30.aucfan.com </b></div><div><a href="6r/la/la-ws30-aucfan.html"          ><img border="1" src="6r/la/la-ws30-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws30.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws30-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws30-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws30.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws30-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws30-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws30.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws30-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws30-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws31.aucfan.com </b></div><div><a href="6r/tr/tr1-ws31-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws31-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws31.aucfan.com </b></div><div><a href="6r/tr/tr2-ws31-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws31-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws31.aucfan.com </b></div><div><a href="6r/la/la-ws31-aucfan.html"          ><img border="1" src="6r/la/la-ws31-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws31.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws31-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws31-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws31.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws31-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws31-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws31.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws31-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws31-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws32.aucfan.com </b></div><div><a href="6r/tr/tr1-ws32-aucfan.html"         ><img border="1" src="6r/tr/tr1-ws32-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws32.aucfan.com </b></div><div><a href="6r/tr/tr2-ws32-aucfan.html"         ><img border="1" src="6r/tr/tr2-ws32-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws32.aucfan.com </b></div><div><a href="6r/la/la-ws32-aucfan.html"          ><img border="1" src="6r/la/la-ws32-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws32.aucfan.com </b></div><div><a href="6r/mem/stat-mem-ws32-aucfan.html"   ><img border="1" src="6r/mem/stat-mem-ws32-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws32.aucfan.com </b></div><div><a href="6r/mem/stat-mem-cb-ws32-aucfan.html"><img border="1" src="6r/mem/stat-mem-cb-ws32-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws32.aucfan.com </b></div><div><a href="6r/hdd/stat-hdd-ws32-aucfan.html"   ><img border="1" src="6r/hdd/stat-hdd-ws32-aucfan-day.png"   ></a></div></td>
	</tr>
</table>
</BODY>
</HTML>











