<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">

<table border="0" cellpading="0" cellspacing="10">
	<tr>
		<td><div><b> Traffic LAN1      on lb03.aucfan.com </b></div><div><a href="3r/tr/tr1-lb03-aucfan.html"         ><img border="1" src="3r/tr/tr1-lb03-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on lb03.aucfan.com </b></div><div><a href="3r/tr/tr2-lb03-aucfan.html"         ><img border="1" src="3r/tr/tr2-lb03-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on lb03.aucfan.com </b></div><div><a href="3r/la/la-lb03-aucfan.html"          ><img border="1" src="3r/la/la-lb03-aucfan-day.png"          ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on lb04.aucfan.com </b></div><div><a href="3r/tr/tr1-lb04-aucfan.html"         ><img border="1" src="3r/tr/tr1-lb04-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on lb04.aucfan.com </b></div><div><a href="3r/tr/tr2-lb04-aucfan.html"         ><img border="1" src="3r/tr/tr2-lb04-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on lb04.aucfan.com </b></div><div><a href="3r/la/la-lb04-aucfan.html"          ><img border="1" src="3r/la/la-lb04-aucfan-day.png"          ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws11.aucfan.com </b></div><div><a href="3r/tr/tr1-ws11-aucfan.html"         ><img border="1" src="3r/tr/tr1-ws11-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws11.aucfan.com </b></div><div><a href="3r/tr/tr2-ws11-aucfan.html"         ><img border="1" src="3r/tr/tr2-ws11-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws11.aucfan.com </b></div><div><a href="3r/la/la-ws11-aucfan.html"          ><img border="1" src="3r/la/la-ws11-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws11.aucfan.com </b></div><div><a href="3r/mem/stat-mem-ws11-aucfan.html"   ><img border="1" src="3r/mem/stat-mem-ws11-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws11.aucfan.com </b></div><div><a href="3r/mem/stat-mem-cb-ws11-aucfan.html"><img border="1" src="3r/mem/stat-mem-cb-ws11-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws11.aucfan.com </b></div><div><a href="3r/hdd/stat-hdd-ws11-aucfan.html"   ><img border="1" src="3r/hdd/stat-hdd-ws11-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws12.aucfan.com </b></div><div><a href="3r/tr/tr1-ws12-aucfan.html"         ><img border="1" src="3r/tr/tr1-ws12-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws12.aucfan.com </b></div><div><a href="3r/tr/tr2-ws12-aucfan.html"         ><img border="1" src="3r/tr/tr2-ws12-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws12.aucfan.com </b></div><div><a href="3r/la/la-ws12-aucfan.html"          ><img border="1" src="3r/la/la-ws12-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws12.aucfan.com </b></div><div><a href="3r/mem/stat-mem-ws12-aucfan.html"   ><img border="1" src="3r/mem/stat-mem-ws12-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws12.aucfan.com </b></div><div><a href="3r/mem/stat-mem-cb-ws12-aucfan.html"><img border="1" src="3r/mem/stat-mem-cb-ws12-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws12.aucfan.com </b></div><div><a href="3r/hdd/stat-hdd-ws12-aucfan.html"   ><img border="1" src="3r/hdd/stat-hdd-ws12-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws13.aucfan.com </b></div><div><a href="3r/tr/tr1-ws13-aucfan.html"         ><img border="1" src="3r/tr/tr1-ws13-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws13.aucfan.com </b></div><div><a href="3r/tr/tr2-ws13-aucfan.html"         ><img border="1" src="3r/tr/tr2-ws13-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws13.aucfan.com </b></div><div><a href="3r/la/la-ws13-aucfan.html"          ><img border="1" src="3r/la/la-ws13-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws13.aucfan.com </b></div><div><a href="3r/mem/stat-mem-ws13-aucfan.html"   ><img border="1" src="3r/mem/stat-mem-ws13-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws13.aucfan.com </b></div><div><a href="3r/mem/stat-mem-cb-ws13-aucfan.html"><img border="1" src="3r/mem/stat-mem-cb-ws13-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws13.aucfan.com </b></div><div><a href="3r/hdd/stat-hdd-ws13-aucfan.html"   ><img border="1" src="3r/hdd/stat-hdd-ws13-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws14.aucfan.com </b></div><div><a href="3r/tr/tr1-ws14-aucfan.html"         ><img border="1" src="3r/tr/tr1-ws14-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws14.aucfan.com </b></div><div><a href="3r/tr/tr2-ws14-aucfan.html"         ><img border="1" src="3r/tr/tr2-ws14-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws14.aucfan.com </b></div><div><a href="3r/la/la-ws14-aucfan.html"          ><img border="1" src="3r/la/la-ws14-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws14.aucfan.com </b></div><div><a href="3r/mem/stat-mem-ws14-aucfan.html"   ><img border="1" src="3r/mem/stat-mem-ws14-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws14.aucfan.com </b></div><div><a href="3r/mem/stat-mem-cb-ws14-aucfan.html"><img border="1" src="3r/mem/stat-mem-cb-ws14-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws14.aucfan.com </b></div><div><a href="3r/hdd/stat-hdd-ws14-aucfan.html"   ><img border="1" src="3r/hdd/stat-hdd-ws14-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws15.aucfan.com </b></div><div><a href="3r/tr/tr1-ws15-aucfan.html"         ><img border="1" src="3r/tr/tr1-ws15-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws15.aucfan.com </b></div><div><a href="3r/tr/tr2-ws15-aucfan.html"         ><img border="1" src="3r/tr/tr2-ws15-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws15.aucfan.com </b></div><div><a href="3r/la/la-ws15-aucfan.html"          ><img border="1" src="3r/la/la-ws15-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws15.aucfan.com </b></div><div><a href="3r/mem/stat-mem-ws15-aucfan.html"   ><img border="1" src="3r/mem/stat-mem-ws15-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws15.aucfan.com </b></div><div><a href="3r/mem/stat-mem-cb-ws15-aucfan.html"><img border="1" src="3r/mem/stat-mem-cb-ws15-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws15.aucfan.com </b></div><div><a href="3r/hdd/stat-hdd-ws15-aucfan.html"   ><img border="1" src="3r/hdd/stat-hdd-ws15-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws16.aucfan.com </b></div><div><a href="3r/tr/tr1-ws16-aucfan.html"         ><img border="1" src="3r/tr/tr1-ws16-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws16.aucfan.com </b></div><div><a href="3r/tr/tr2-ws16-aucfan.html"         ><img border="1" src="3r/tr/tr2-ws16-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws16.aucfan.com </b></div><div><a href="3r/la/la-ws16-aucfan.html"          ><img border="1" src="3r/la/la-ws16-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws16.aucfan.com </b></div><div><a href="3r/mem/stat-mem-ws16-aucfan.html"   ><img border="1" src="3r/mem/stat-mem-ws16-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws16.aucfan.com </b></div><div><a href="3r/mem/stat-mem-cb-ws16-aucfan.html"><img border="1" src="3r/mem/stat-mem-cb-ws16-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws16.aucfan.com </b></div><div><a href="3r/hdd/stat-hdd-ws16-aucfan.html"   ><img border="1" src="3r/hdd/stat-hdd-ws16-aucfan-day.png"   ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN1      on ws17.aucfan.com </b></div><div><a href="3r/tr/tr1-ws17-aucfan.html"         ><img border="1" src="3r/tr/tr1-ws17-aucfan-day.png"         ></a></div></td>
		<td><div><b> Traffic LAN2      on ws17.aucfan.com </b></div><div><a href="3r/tr/tr2-ws17-aucfan.html"         ><img border="1" src="3r/tr/tr2-ws17-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ws17.aucfan.com </b></div><div><a href="3r/la/la-ws17-aucfan.html"          ><img border="1" src="3r/la/la-ws17-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ws17.aucfan.com </b></div><div><a href="3r/mem/stat-mem-ws17-aucfan.html"   ><img border="1" src="3r/mem/stat-mem-ws17-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ws17.aucfan.com </b></div><div><a href="3r/mem/stat-mem-cb-ws17-aucfan.html"><img border="1" src="3r/mem/stat-mem-cb-ws17-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ws17.aucfan.com </b></div><div><a href="3r/hdd/stat-hdd-ws17-aucfan.html"   ><img border="1" src="3r/hdd/stat-hdd-ws17-aucfan-day.png"   ></a></div></td>
	</tr>
</table>

</BODY>
</HTML>











