<!DOCTYPE html>
<html>
  <head>
    <title>HDD_Check</title>
    <style type="text/css">
      ul {
        width: 1000px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>


    <ul>
		<li>HDD Status on bt01.aucfan.com (192.168.2.34)<br /><a href="2r/hdd/stat-hdd-bt01-aucfan.html"><img src="2r/hdd/stat-hdd-bt01-aucfan-day.png" alt="2r/hdd/stat-hdd-bt01-aucfan-day"/></a></li>
		<li>HDD Status on ds05.aucfan.com (192.168.2.35)<br /><a href="2r/hdd/stat-hdd-ds05-aucfan.html"><img src="2r/hdd/stat-hdd-ds05-aucfan-day.png" alt="2r/hdd/stat-hdd-ds05-aucfan-day"/></a></li>
		<li>HDD Status on ds06.aucfan.com (192.168.2.36)<br /><a href="2r/hdd/stat-hdd-ds06-aucfan.html"><img src="2r/hdd/stat-hdd-ds06-aucfan-day.png" alt="2r/hdd/stat-hdd-ds06-aucfan-day"/></a></li>
		<li>HDD Status on ds07.aucfan.com (192.168.2.37)<br /><a href="2r/hdd/stat-hdd-ds07-aucfan.html"><img src="2r/hdd/stat-hdd-ds07-aucfan-day.png" alt="2r/hdd/stat-hdd-ds07-aucfan-day"/></a></li>
		<li>HDD Status on is01.aucfan.com (192.168.2.38)<br /><a href="2r/hdd/stat-hdd-is01-aucfan.html"><img src="2r/hdd/stat-hdd-is01-aucfan-day.png" alt="2r/hdd/stat-hdd-is01-aucfan-day"/></a></li>
		<li>HDD Status on ssl02.aucfan.com (192.168.2.39)<br /><a href="2r/hdd/stat-hdd-ssl02-aucfan.html"><img src="2r/hdd/stat-hdd-ssl02-aucfan-day.png" alt="2r/hdd/stat-hdd-ssl02-aucfan-day"/></a></li>
		<li>HDD Status on it02.aucfan.com (192.168.2.40)<br /><a href="2r/hdd/stat-hdd-it02-aucfan.html"><img src="2r/hdd/stat-hdd-it02-aucfan-day.png" alt="2r/hdd/stat-hdd-it02-aucfan-day"/></a></li>
		<li>HDD Status on lb05.aucfan.com (192.168.2.41)<br /><a href="3r/hdd/stat-hdd-lb05-aucfan.html"><img src="3r/hdd/stat-hdd-lb05-aucfan-day.png" alt="3r/hdd/stat-hdd-lb05-aucfan-day"/></a></li>
		<li>HDD Status on lb06.aucfan.com (192.168.2.42)<br /><a href="3r/hdd/stat-hdd-lb06-aucfan.html"><img src="3r/hdd/stat-hdd-lb06-aucfan-day.png" alt="3r/hdd/stat-hdd-lb06-aucfan-day"/></a></li>

		<li><font color="red">[Offline HDD]</br>HDD Status on dws2.defactostandard.jp (192.168.2.45)</br>[Offline HDD]</font><br /><a href="2r/hdd/stat-hdd-dws2-defacto.html"><img src="2r/hdd/stat-hdd-dws2-defacto-day.png" alt="2r/hdd/stat-hdd-dws2-defacto-day"/></a></li>

		<li>HDD Status on ws01.aucfan.com (192.168.2.52)<br /><a href="1r/hdd/stat-hdd-ws01-aucfan.html"><img src="1r/hdd/stat-hdd-ws01-aucfan-day.png" alt="1r/hdd/stat-hdd-ws01-aucfan-day"/></a></li>
		<li>HDD Status on ws02.aucfan.com (192.168.2.53)<br /><a href="1r/hdd/stat-hdd-ws02-aucfan.html"><img src="1r/hdd/stat-hdd-ws02-aucfan-day.png" alt="1r/hdd/stat-hdd-ws02-aucfan-day"/></a></li>
		<li>HDD Status on ws03.aucfan.com (192.168.2.54)<br /><a href="1r/hdd/stat-hdd-ws03-aucfan.html"><img src="1r/hdd/stat-hdd-ws03-aucfan-day.png" alt="1r/hdd/stat-hdd-ws03-aucfan-day"/></a></li>
		<li>HDD Status on ws04.aucfan.com (192.168.2.55)<br /><a href="1r/hdd/stat-hdd-ws04-aucfan.html"><img src="1r/hdd/stat-hdd-ws04-aucfan-day.png" alt="1r/hdd/stat-hdd-ws04-aucfan-day"/></a></li>
		<li>HDD Status on ss02.aucfan.com (192.168.2.57)<br /><a href="1r/hdd/stat-hdd-ss02-aucfan.html"><img src="1r/hdd/stat-hdd-ss02-aucfan-day.png" alt="1r/hdd/stat-hdd-ss02-aucfan-day"/></a></li>
		<li>HDD Status on ss03.aucfan.com (192.168.2.58)<br /><a href="1r/hdd/stat-hdd-ss03-aucfan.html"><img src="1r/hdd/stat-hdd-ss03-aucfan-day.png" alt="1r/hdd/stat-hdd-ss03-aucfan-day"/></a></li>
		<li>HDD Status on ds01.aucfan.com (192.168.2.60)<br /><a href="1r/hdd/stat-hdd-ds01-aucfan.html"><img src="1r/hdd/stat-hdd-ds01-aucfan-day.png" alt="1r/hdd/stat-hdd-ds01-aucfan-day"/></a></li>
		<li>HDD Status on ds03.aucfan.com (192.168.2.65)<br /><a href="1r/hdd/stat-hdd-ds03-aucfan.html"><img src="1r/hdd/stat-hdd-ds03-aucfan-day.png" alt="1r/hdd/stat-hdd-ds03-aucfan-day"/></a></li>
		<li>HDD Status on cr01.aucfan.com (192.168.2.66)<br /><a href="1r/hdd/stat-hdd-cr01-aucfan.html"><img src="1r/hdd/stat-hdd-cr01-aucfan-day.png" alt="1r/hdd/stat-hdd-cr01-aucfan-day"/></a></li>
		<li>HDD Status on ss04.aucfan.com (192.168.2.74)<br /><a href="1r/hdd/stat-hdd-ss04-aucfan.html"><img src="1r/hdd/stat-hdd-ss04-aucfan-day.png" alt="1r/hdd/stat-hdd-ss04-aucfan-day"/></a></li>
		<li>HDD Status on ss06.aucfan.com (192.168.2.76)<br /><a href="1r/hdd/stat-hdd-ss06-aucfan.html"><img src="1r/hdd/stat-hdd-ss06-aucfan-day.png" alt="1r/hdd/stat-hdd-ss06-aucfan-day"/></a></li>
		<li>HDD Status on ss07.aucfan.com (192.168.2.77)<br /><a href="1r/hdd/stat-hdd-ss07-aucfan.html"><img src="1r/hdd/stat-hdd-ss07-aucfan-day.png" alt="1r/hdd/stat-hdd-ss07-aucfan-day"/></a></li>
		<li>HDD Status on ss08.aucfan.com (192.168.2.78)<br /><a href="1r/hdd/stat-hdd-ss08-aucfan.html"><img src="1r/hdd/stat-hdd-ss08-aucfan-day.png" alt="1r/hdd/stat-hdd-ss08-aucfan-day"/></a></li>
		<li>HDD Status on ss09.aucfan.com (192.168.2.79)<br /><a href="1r/hdd/stat-hdd-ss09-aucfan.html"><img src="1r/hdd/stat-hdd-ss09-aucfan-day.png" alt="1r/hdd/stat-hdd-ss09-aucfan-day"/></a></li>
		<li>HDD Status on ss10.aucfan.com (192.168.2.80)<br /><a href="1r/hdd/stat-hdd-ss10-aucfan.html"><img src="1r/hdd/stat-hdd-ss10-aucfan-day.png" alt="1r/hdd/stat-hdd-ss10-aucfan-day"/></a></li>
		<li>HDD Status on ss11.aucfan.com (192.168.2.81)<br /><a href="1r/hdd/stat-hdd-ss11-aucfan.html"><img src="1r/hdd/stat-hdd-ss11-aucfan-day.png" alt="1r/hdd/stat-hdd-ss11-aucfan-day"/></a></li>
		<li>HDD Status on ss12.aucfan.com (192.168.2.82)<br /><a href="1r/hdd/stat-hdd-ss12-aucfan.html"><img src="1r/hdd/stat-hdd-ss12-aucfan-day.png" alt="1r/hdd/stat-hdd-ss12-aucfan-day"/></a></li>
		<li>HDD Status on ss13.aucfan.com (192.168.2.83)<br /><a href="1r/hdd/stat-hdd-ss13-aucfan.html"><img src="1r/hdd/stat-hdd-ss13-aucfan-day.png" alt="1r/hdd/stat-hdd-ss13-aucfan-day"/></a></li>
		<li>HDD Status on ss14.aucfan.com (192.168.2.84)<br /><a href="4r/hdd/stat-hdd-ss14-aucfan.html"><img src="4r/hdd/stat-hdd-ss14-aucfan-day.png" alt="4r/hdd/stat-hdd-ss14-aucfan-day"/></a></li><br>
		<li>HDD Status on ts01.aucfan.com (192.168.2.101)<br /><a href="3r/hdd/stat-hdd-ts01-aucfan.html"><img src="3r/hdd/stat-hdd-ts01-aucfan-day.png" alt="3r/hdd/stat-hdd-ts01-aucfan-day"/></a></li><br>
		<li>HDD Status on wspf02.aucfan.com (192.168.2.115)<br /><a href="4r/hdd/stat-hdd-wspf02-aucfan.html"><img src="4r/hdd/stat-hdd-wspf02-aucfan-day.png" alt="3r/hdd/stat-hdd-wspf02-aucfan-day"/></a></li><br>
		<li>HDD Status on sspf01.aucfan.com (192.168.2.116)<br /><a href="4r/hdd/stat-hdd-sspf01-aucfan.html"><img src="4r/hdd/stat-hdd-sspf01-aucfan-day.png" alt="3r/hdd/stat-hdd-sspf01-aucfan-day"/></a></li><br>
		<li>HDD Status on sspf02.aucfan.com (192.168.2.117)<br /><a href="4r/hdd/stat-hdd-sspf02-aucfan.html"><img src="4r/hdd/stat-hdd-sspf02-aucfan-day.png" alt="3r/hdd/stat-hdd-sspf02-aucfan-day"/></a></li><br>
		<li>HDD Status on dspf01.aucfan.com (192.168.2.118)<br /><a href="4r/hdd/stat-hdd-dspf01-aucfan.html"><img src="4r/hdd/stat-hdd-dspf01-aucfan-day.png" alt="3r/hdd/stat-hdd-dspf01-aucfan-day"/></a></li><br>
		<li>HDD Status on dspf02.aucfan.com (192.168.2.119)<br /><a href="4r/hdd/stat-hdd-dspf02-aucfan.html"><img src="4r/hdd/stat-hdd-dspf02-aucfan-day.png" alt="3r/hdd/stat-hdd-dspf02-aucfan-day"/></a></li><br>
		<li>HDD Status on wsapi01.aucfan.com (192.168.2.122)<br /><a href="4r/hdd/stat-hdd-wsapi01-aucfan.html"><img src="4r/hdd/stat-hdd-wsapi01-aucfan-day.png" alt="3r/hdd/stat-hdd-wsapi01-aucfan-day"/></a></li><br>
		<li>HDD Status on wsapi02.aucfan.com (192.168.2.123)<br /><a href="4r/hdd/stat-hdd-wsapi02-aucfan.html"><img src="4r/hdd/stat-hdd-wsapi02-aucfan-day.png" alt="3r/hdd/stat-hdd-wsapi02-aucfan-day"/></a></li><br>
		<li>HDD Status on ssapi01.aucfan.com (192.168.2.124)<br /><a href="4r/hdd/stat-hdd-ssapi01-aucfan.html"><img src="4r/hdd/stat-hdd-ssapi01-aucfan-day.png" alt="3r/hdd/stat-hdd-ssapi01-aucfan-day"/></a></li><br>
		<li>HDD Status on ssapi02.aucfan.com (192.168.2.125)<br /><a href="4r/hdd/stat-hdd-ssapi02-aucfan.html"><img src="4r/hdd/stat-hdd-ssapi02-aucfan-day.png" alt="3r/hdd/stat-hdd-ssapi02-aucfan-day"/></a></li><br>
		<li>HDD Status on ws11.aucfan.com (192.168.2.134)<br /><a href="3r/hdd/stat-hdd-ws11-aucfan.html"><img src="3r/hdd/stat-hdd-ws11-aucfan-day.png" alt="3r/hdd/stat-hdd-ws11-aucfan-day"/></a></li><br>
		<li>HDD Status on ws12.aucfan.com (192.168.2.135)<br /><a href="3r/hdd/stat-hdd-ws12-aucfan.html"><img src="3r/hdd/stat-hdd-ws12-aucfan-day.png" alt="3r/hdd/stat-hdd-ws12-aucfan-day"/></a></li><br>
		<li>HDD Status on ws13.aucfan.com (192.168.2.136)<br /><a href="3r/hdd/stat-hdd-ws13-aucfan.html"><img src="3r/hdd/stat-hdd-ws13-aucfan-day.png" alt="3r/hdd/stat-hdd-ws13-aucfan-day"/></a></li><br>
		<li>HDD Status on ws14.aucfan.com (192.168.2.137)<br /><a href="3r/hdd/stat-hdd-ws14-aucfan.html"><img src="3r/hdd/stat-hdd-ws14-aucfan-day.png" alt="3r/hdd/stat-hdd-ws14-aucfan-day"/></a></li><br>
		<li>HDD Status on ws15.aucfan.com (192.168.2.138)<br /><a href="3r/hdd/stat-hdd-ws15-aucfan.html"><img src="3r/hdd/stat-hdd-ws15-aucfan-day.png" alt="3r/hdd/stat-hdd-ws15-aucfan-day"/></a></li><br>
		<li>HDD Status on ws16.aucfan.com (192.168.2.139)<br /><a href="3r/hdd/stat-hdd-ws16-aucfan.html"><img src="3r/hdd/stat-hdd-ws16-aucfan-day.png" alt="3r/hdd/stat-hdd-ws16-aucfan-day"/></a></li><br>
		<li>HDD Status on ws17.aucfan.com (192.168.2.140)<br /><a href="3r/hdd/stat-hdd-ws17-aucfan.html"><img src="3r/hdd/stat-hdd-ws17-aucfan-day.png" alt="3r/hdd/stat-hdd-ws17-aucfan-day"/></a></li><br>
		<li>HDD Status on bk01.aucfan.com (192.168.2.141)<br /><a href="2r/hdd/stat-hdd-bk01-aucfan.html"><img src="2r/hdd/stat-hdd-bk01-aucfan-day.png" alt="2r/hdd/stat-hdd-bk01-aucfan-day"/></a></li>
		<li>HDD Status on cr03.aucfan.com (192.168.2.144)<br /><a href="3r/hdd/stat-hdd-cr03-aucfan.html"><img src="3r/hdd/stat-hdd-cr03-aucfan-day.png" alt="3r/hdd/stat-hdd-cr03-aucfan-day"/></a></li><br>
		<li>HDD Status on cr04.aucfan.com (192.168.2.145)<br /><a href="2r/hdd/stat-hdd-cr04-aucfan.html"><img src="2r/hdd/stat-hdd-cr04-aucfan-day.png" alt="2r/hdd/stat-hdd-cr04-aucfan-day"/></a></li><br>



		<li><font color="red">[Offline HDD]</br>HDD Status on bk03.aucfan.com (192.168.2.143)</br>[Offline HDD]</font><br /><a href="2r/hdd/stat-hdd-bk03-aucfan.html"><img src="2r/hdd/stat-hdd-bk03-aucfan-day.png" alt="2r/hdd/stat-hdd-bk03-aucfan-day"/></a></li>
		<li><font color="red">[Offline HDD]</br>HDD (sdb1) Status on bk03.aucfan.com (192.168.2.143)</br>[Offline HDD]</font><br /><a href="2r/hdd/stat-hdd-bk03-sdb1-aucfan.html"><img src="2r/hdd/stat-hdd-bk03-sdb1-aucfan-day.png" alt="2r/hdd/stat-hdd-bk03-sdb1-aucfan-day"/></a></li>

		<li>HDD Status on ws05.aucfan.com (192.168.2.156)<br /><a href="1r/hdd/stat-hdd-ws05-aucfan.html"><img src="1r/hdd/stat-hdd-ws05-aucfan-day.png" alt="1r/hdd/stat-hdd-ws05-aucfan-day"/></a></li>
		<li>HDD Status on ws06.aucfan.com (192.168.2.157)<br /><a href="1r/hdd/stat-hdd-ws06-aucfan.html"><img src="1r/hdd/stat-hdd-ws06-aucfan-day.png" alt="1r/hdd/stat-hdd-ws06-aucfan-day"/></a></li>
		<li>HDD Status on ws07.aucfan.com (192.168.2.158)<br /><a href="1r/hdd/stat-hdd-ws07-aucfan.html"><img src="1r/hdd/stat-hdd-ws07-aucfan-day.png" alt="1r/hdd/stat-hdd-ws07-aucfan-day"/></a></li>
		<li>HDD Status on ws08.aucfan.com (192.168.2.159)<br /><a href="1r/hdd/stat-hdd-ws08-aucfan.html"><img src="1r/hdd/stat-hdd-ws08-aucfan-day.png" alt="1r/hdd/stat-hdd-ws08-aucfan-day"/></a></li>

		<li>HDD Status on ws09.aucfan.com (192.168.2.160)<br /><a href="1r/hdd/stat-hdd-ws09-aucfan.html"><img src="1r/hdd/stat-hdd-ws09-aucfan-day.png" alt="1r/hdd/stat-hdd-ws09-aucfan-day"/></a></li>

		<li>HDD Status on ssl01.aucfan.com (192.168.2.161)<br /><a href="1r/hdd/stat-hdd-ssl01-aucfan.html"><img src="1r/hdd/stat-hdd-ssl01-aucfan-day.png" alt="1r/hdd/stat-hdd-ssl01-aucfan-day"/></a></li>

		<li><font color="red">[Offline HDD]</br>HDD Status on cws01.aucfan.com (192.168.2.186)</br>[Offline HDD]</font><br /><a href="3r/hdd/stat-hdd-cws01-aucfan.html"><img src="3r/hdd/stat-hdd-cws01-aucfan-day.png" alt="3r/hdd/stat-hdd-cws01-aucfan-day"/></a></li>

		<li>HDD Status on ps01.aucfan.com (192.168.2.201)<br /><a href="2r/hdd/stat-hdd-ps01-aucfan.html"><img src="2r/hdd/stat-hdd-ps01-aucfan-day.png" alt="2r/hdd/stat-hdd-ps01-aucfan-day"/></a></li><br>
		<li>HDD Status on ps02.aucfan.com (192.168.2.202)<br /><a href="2r/hdd/stat-hdd-ps02-aucfan.html"><img src="2r/hdd/stat-hdd-ps02-aucfan-day.png" alt="2r/hdd/stat-hdd-ps02-aucfan-day"/></a></li>
		<li>HDD Status on ps03.aucfan.com (192.168.2.203)<br /><a href="2r/hdd/stat-hdd-ps03-aucfan.html"><img src="2r/hdd/stat-hdd-ps03-aucfan-day.png" alt="2r/hdd/stat-hdd-ps03-aucfan-day"/></a></li>
		<li>HDD Status on ps04.aucfan.com (192.168.2.204)<br /><a href="2r/hdd/stat-hdd-ps04-aucfan.html"><img src="2r/hdd/stat-hdd-ps04-aucfan-day.png" alt="2r/hdd/stat-hdd-ps04-aucfan-day"/></a></li>
		<li>HDD Status on ps05.aucfan.com (192.168.2.205)<br /><a href="2r/hdd/stat-hdd-ps05-aucfan.html"><img src="2r/hdd/stat-hdd-ps05-aucfan-day.png" alt="2r/hdd/stat-hdd-ps05-aucfan-day"/></a></li>
		<li>HDD Status on ps06.aucfan.com (192.168.2.206)<br /><a href="2r/hdd/stat-hdd-ps06-aucfan.html"><img src="2r/hdd/stat-hdd-ps06-aucfan-day.png" alt="2r/hdd/stat-hdd-ps06-aucfan-day"/></a></li>
		<li>HDD Status on ps07.aucfan.com (192.168.2.207)<br /><a href="2r/hdd/stat-hdd-ps07-aucfan.html"><img src="2r/hdd/stat-hdd-ps07-aucfan-day.png" alt="2r/hdd/stat-hdd-ps07-aucfan-day"/></a></li>
		<li>HDD Status on ps08.aucfan.com (192.168.2.208)<br /><a href="2r/hdd/stat-hdd-ps08-aucfan.html"><img src="2r/hdd/stat-hdd-ps08-aucfan-day.png" alt="2r/hdd/stat-hdd-ps08-aucfan-day"/></a></li>
		<li>HDD Status on img01.aucfan.com (192.168.2.211)<br /><a href="3r/hdd/stat-hdd-img01-aucfan.html"><img src="3r/hdd/stat-hdd-img01-aucfan-day.png" alt="3r/hdd/stat-hdd-img01-aucfan-day"/></a></li>

		<li><font color="red">[Offline HDD]</br>HDD Status on f01bdb02.aucfan.com (192.168.2.212)</br>[Offline HDD]</font><br /><a href="3r/hdd/stat-hdd-f01bdb02-aucfan.html"><img src="3r/hdd/stat-hdd-f01bdb02-aucfan-day.png" alt="3r/hdd/stat-hdd-f01bdb02-aucfan-day"/></a></li>
		<li><font color="red">[Offline HDD]</br>HDD Status on f01bdb03.aucfan.com (192.168.2.213)</br>[Offline HDD]</font><br /><a href="3r/hdd/stat-hdd-f01bdb03-aucfan.html"><img src="3r/hdd/stat-hdd-f01bdb03-aucfan-day.png" alt="3r/hdd/stat-hdd-f01bdb03-aucfan-day"/></a></li>
		<li><font color="red">[Offline HDD]</br>HDD Status on f01bdb04.aucfan.com (192.168.2.214)</br>[Offline HDD]</font><br /><a href="3r/hdd/stat-hdd-f01bdb04-aucfan.html"><img src="3r/hdd/stat-hdd-f01bdb04-aucfan-day.png" alt="3r/hdd/stat-hdd-f01bdb04-aucfan-day"/></a></li>
		<li><font color="red">[Offline HDD]</br>HDD Status on f01bdb01.aucfan.com (192.168.2.221)</br>[Offline HDD]</font><br /><a href="3r/hdd/stat-hdd-f01bdb01-aucfan.html"><img src="3r/hdd/stat-hdd-f01bdb01-aucfan-day.png" alt="3r/hdd/stat-hdd-f01bdb01-aucfan-day"/></a></li>

		<li>HDD Status on img02.aucfan.com (192.168.2.222)<br /><a href="3r/hdd/stat-hdd-img02-aucfan.html"><img src="3r/hdd/stat-hdd-img02-aucfan-day.png" alt="3r/hdd/stat-hdd-img02-aucfan-day"/></a></li>
		<li>HDD Status on f01udb01.aucfan.com (192.168.2.231)<br /><a href="3r/hdd/stat-hdd-f01udb01-aucfan.html"><img src="3r/hdd/stat-hdd-f01udb01-aucfan-day.png" alt="3r/hdd/stat-hdd-f01udb01-aucfan-day"/></a></li>
		<li>HDD Status on f01udb02.aucfan.com (192.168.2.232)<br /><a href="3r/hdd/stat-hdd-f01udb02-aucfan.html"><img src="3r/hdd/stat-hdd-f01udb02-aucfan-day.png" alt="3r/hdd/stat-hdd-f01udb02-aucfan-day"/></a></li>
		<li>HDD Status on bk05.aucfan.com (192.168.2.235)<br /><a href="3r/hdd/stat-hdd-bk05-aucfan.html"><img src="3r/hdd/stat-hdd-bk05-aucfan-day.png" alt="3r/hdd/stat-hdd-bk05-aucfan-day"/></a></li>



<li>la-ps10-aucfan (192.168.3.62)<br /><a href="la-ps10-aucfan.html"><img src="la-ps10-aucfan-day.png" alt="la-ps10-aucfan-day"/></a></li>

