<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker mrtg_tr.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Thu, 10 Feb 2011 02:24:23 GMT">
    
<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker mrtg_tr.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
	<tr>
		<td>
			<div>
				<B> Traffic LAN1 on lb01.aucfan.com (PPPoE) </B>
			</div>
			<div>
				<A HREF="/1r/tr/tr1-lb01-aucfan.html"><IMG BORDER=1 ALT="tr1-lb01-aucfan Traffic Graph" SRC="/1r/tr/tr1-lb01-aucfan-day.png"></A><BR>
			</div>
		<td>
	<tr>
		<td>
			<DIV>
				<B> Load Average on lb01.aucfan.com (192.168.2.50) </B>
			</DIV>
			<DIV>
				<A HREF="/1r/la/la-lb01-aucfan.html"><IMG BORDER=1 ALT="la-lb01-aucfan Traffic Graph" SRC="/1r/la/la-lb01-aucfan-day.png"></A><BR>
			</DIV>
		</td>
	</tr>
</table>

</BODY>
</HTML>
