<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker mrtg_tr.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Thu, 10 Feb 2011 02:24:23 GMT">
    
<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker mrtg_tr.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
	<tr>
		<td>
			<div>
				<B> Traffic LAN1 on ps07.aucfan.com</B>
			</div>
			<div>
				<A HREF="/2r/tr/tr1-ps07-aucfan.html"><IMG BORDER=1 ALT="tr1-ps07-aucfan Traffic Graph" SRC="/2r/tr/tr1-ps07-aucfan-day.png"></A>
			</div>
		<td>
		<td>
			<div>
				<B> Traffic LAN2 on ps07.aucfan.com</B>
			</div>
			<div>
				<A HREF="/2r/tr/tr2-ps07-aucfan.html"><IMG BORDER=1 ALT="tr2-ps07-aucfan Traffic Graph" SRC="/2r/tr/tr2-ps07-aucfan-day.png"></A>
			</div>
		<td>
	</tr>
	<tr>
		<td>
			<DIV>
				<B> Load Average on ps07.aucfan.com</B>
			</DIV>
			<DIV>
				<A HREF="/2r/la/la-ps07-aucfan.html"><IMG BORDER=1 ALT="la-ps07-aucfan Traffic Graph" SRC="/2r/la/la-ps07-aucfan-day.png"></A><BR>
			</DIV>
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td>
			<div>
				<B> Memory Status on ps07.aucfan.com</B>
			</div>
			<div>
				<A HREF="/2r/mem/stat-mem-ps07-aucfan.html"><IMG BORDER=1 ALT="stat-mem-ps07-aucfan Traffic Graph" SRC="/2r/mem/stat-mem-ps07-aucfan-day.png"></A>
			</div>
		<td>
		<td>
			<div>
				<B> Memory C/B Status on ps07.aucfan.com</B>
			</div>
			<div>
				<A HREF="/2r/mem/stat-mem-cb-ps07-aucfan.html"><IMG BORDER=1 ALT="stat-mem-cb-ps07-aucfan Traffic Graph" SRC="/2r/mem/stat-mem-cb-ps07-aucfan-day.png"></A>
			</div>
		<td>
	</tr>
	<tr>
		<td>
			<DIV>
				<B> HDD Status on ps07.aucfan.com</B>
			</DIV>
			<DIV>
				<A HREF="/2r/hdd/stat-hdd-ps07-aucfan.html"><IMG BORDER=1 ALT="stat-hdd-ps07-aucfan Traffic Graph" SRC="/2r/hdd/stat-hdd-ps07-aucfan-day.png"></A>
			</DIV>
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
</table>

</BODY>
</HTML>
