<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">

<table border="0" cellpading="0" cellspacing="10">
	<tr>
		<td><div><b> Traffic LAN2      on ss02.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss02-aucfan.html"         ><img border="1" alt="tr2-ss02-aucfan Traffic Graph"         src="/1r/tr/tr2-ss02-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss02.aucfan.com </b></div><div><a href="/1r/la/la-ss02-aucfan.html"          ><img border="1" alt="la-ss02-aucfan Traffic Graph"          src="/1r/la/la-ss02-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss02.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss02-aucfan.html"   ><img border="1" alt="stat-mem-ss02-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss02-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss02.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss02-aucfan.html"><img border="1" alt="stat-mem-cb-ss02-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss02-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss02.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss02-aucfan.html"   ><img border="1" alt="stat-hdd-ss02-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss02-aucfan-day.png"   ></a></div></td>
		<td><div><b> CPU Temperature   on ss02.aucfan.com </b></div><div><a href="/1r/temp/cputemp-ss02-aucfan.html"   ><img border="1" alt="cputemp-ss02-aucfan Traffic Graph"     src="/1r/temp/cputemp-ss02-aucfan-day.png"   ></a></div></td>
		<td><div><b> M/B Temperature   on ss02.aucfan.com </b></div><div><a href="/1r/temp/mbtemp-ss02-aucfan.html"    ><img border="1" alt="mbtemp-ss02-aucfan Traffic Graph"      src="/1r/temp/mbtemp-ss02-aucfan-day.png"    ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss03.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss03-aucfan.html"         ><img border="1" alt="tr2-ss03-aucfan Traffic Graph"         src="/1r/tr/tr2-ss03-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss03.aucfan.com </b></div><div><a href="/1r/la/la-ss03-aucfan.html"          ><img border="1" alt="la-ss03-aucfan Traffic Graph"          src="/1r/la/la-ss03-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss03.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss03-aucfan.html"   ><img border="1" alt="stat-mem-ss03-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss03-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss03.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss03-aucfan.html"><img border="1" alt="stat-mem-cb-ss03-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss03-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss03.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss03-aucfan.html"   ><img border="1" alt="stat-hdd-ss03-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss03-aucfan-day.png"   ></a></div></td>
		<td><div><b> CPU Temperature   on ss03.aucfan.com </b></div><div><a href="/1r/temp/cputemp-ss03-aucfan.html"   ><img border="1" alt="cputemp-ss03-aucfan Traffic Graph"     src="/1r/temp/cputemp-ss03-aucfan-day.png"   ></a></div></td>
		<td><div><b> M/B Temperature   on ss03.aucfan.com </b></div><div><a href="/1r/temp/mbtemp-ss03-aucfan.html"    ><img border="1" alt="mbtemp-ss03-aucfan Traffic Graph"      src="/1r/temp/mbtemp-ss03-aucfan-day.png"    ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss04.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss04-aucfan.html"         ><img border="1" alt="tr2-ss04-aucfan Traffic Graph"         src="/1r/tr/tr2-ss04-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss04.aucfan.com </b></div><div><a href="/1r/la/la-ss04-aucfan.html"          ><img border="1" alt="la-ss04-aucfan Traffic Graph"          src="/1r/la/la-ss04-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss04.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss04-aucfan.html"   ><img border="1" alt="stat-mem-ss04-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss04-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss04.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss04-aucfan.html"><img border="1" alt="stat-mem-cb-ss04-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss04-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss04.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss04-aucfan.html"   ><img border="1" alt="stat-hdd-ss04-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss04-aucfan-day.png"   ></a></div></td>
		<td><div><b> CPU Temperature   on ss04.aucfan.com </b></div><div><a href="/1r/temp/cputemp-ss04-aucfan.html"   ><img border="1" alt="cputemp-ss04-aucfan Traffic Graph"     src="/1r/temp/cputemp-ss04-aucfan-day.png"   ></a></div></td>
		<td><div><b> M/B Temperature   on ss04.aucfan.com </b></div><div><a href="/1r/temp/mbtemp-ss04-aucfan.html"    ><img border="1" alt="mbtemp-ss04-aucfan Traffic Graph"      src="/1r/temp/mbtemp-ss04-aucfan-day.png"    ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss05.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss05-aucfan.html"         ><img border="1" alt="tr2-ss05-aucfan Traffic Graph"         src="/1r/tr/tr2-ss05-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss05.aucfan.com </b></div><div><a href="/1r/la/la-ss05-aucfan.html"          ><img border="1" alt="la-ss05-aucfan Traffic Graph"          src="/1r/la/la-ss05-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss05.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss05-aucfan.html"   ><img border="1" alt="stat-mem-ss05-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss05-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss05.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss05-aucfan.html"><img border="1" alt="stat-mem-cb-ss05-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss05-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss05.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss05-aucfan.html"   ><img border="1" alt="stat-hdd-ss05-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss05-aucfan-day.png"   ></a></div></td>
		<td><div><b> CPU Temperature   on ss05.aucfan.com </b></div><div><a href="/1r/temp/cputemp-ss05-aucfan.html"   ><img border="1" alt="cputemp-ss05-aucfan Traffic Graph"     src="/1r/temp/cputemp-ss05-aucfan-day.png"   ></a></div></td>
		<td><div><b> M/B Temperature   on ss05.aucfan.com </b></div><div><a href="/1r/temp/mbtemp-ss05-aucfan.html"    ><img border="1" alt="mbtemp-ss05-aucfan Traffic Graph"      src="/1r/temp/mbtemp-ss05-aucfan-day.png"    ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss06.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss06-aucfan.html"         ><img border="1" alt="tr2-ss06-aucfan Traffic Graph"         src="/1r/tr/tr2-ss06-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss06.aucfan.com </b></div><div><a href="/1r/la/la-ss06-aucfan.html"          ><img border="1" alt="la-ss06-aucfan Traffic Graph"          src="/1r/la/la-ss06-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss06.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss06-aucfan.html"   ><img border="1" alt="stat-mem-ss06-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss06-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss06.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss06-aucfan.html"><img border="1" alt="stat-mem-cb-ss06-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss06-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss06.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss06-aucfan.html"   ><img border="1" alt="stat-hdd-ss06-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss06-aucfan-day.png"   ></a></div></td>
		<td><div><b> CPU Temperature   on ss06.aucfan.com </b></div><div><a href="/1r/temp/cputemp-ss06-aucfan.html"   ><img border="1" alt="cputemp-ss06-aucfan Traffic Graph"     src="/1r/temp/cputemp-ss06-aucfan-day.png"   ></a></div></td>
		<td><div><b> M/B Temperature   on ss06.aucfan.com </b></div><div><a href="/1r/temp/mbtemp-ss06-aucfan.html"    ><img border="1" alt="mbtemp-ss06-aucfan Traffic Graph"      src="/1r/temp/mbtemp-ss06-aucfan-day.png"    ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss07.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss07-aucfan.html"         ><img border="1" alt="tr2-ss07-aucfan Traffic Graph"         src="/1r/tr/tr2-ss07-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss07.aucfan.com </b></div><div><a href="/1r/la/la-ss07-aucfan.html"          ><img border="1" alt="la-ss07-aucfan Traffic Graph"          src="/1r/la/la-ss07-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss07.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss07-aucfan.html"   ><img border="1" alt="stat-mem-ss07-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss07-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss07.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss07-aucfan.html"><img border="1" alt="stat-mem-cb-ss07-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss07-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss07.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss07-aucfan.html"   ><img border="1" alt="stat-hdd-ss07-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss07-aucfan-day.png"   ></a></div></td>
		<td><div><b> CPU Temperature   on ss07.aucfan.com </b></div><div><a href="/1r/temp/cputemp-ss07-aucfan.html"   ><img border="1" alt="cputemp-ss07-aucfan Traffic Graph"     src="/1r/temp/cputemp-ss07-aucfan-day.png"   ></a></div></td>
		<td><div><b> M/B Temperature   on ss07.aucfan.com </b></div><div><a href="/1r/temp/mbtemp-ss07-aucfan.html"    ><img border="1" alt="mbtemp-ss07-aucfan Traffic Graph"      src="/1r/temp/mbtemp-ss07-aucfan-day.png"    ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss08.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss08-aucfan.html"         ><img border="1" alt="tr2-ss08-aucfan Traffic Graph"         src="/1r/tr/tr2-ss08-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss08.aucfan.com </b></div><div><a href="/1r/la/la-ss08-aucfan.html"          ><img border="1" alt="la-ss08-aucfan Traffic Graph"          src="/1r/la/la-ss08-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss08.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss08-aucfan.html"   ><img border="1" alt="stat-mem-ss08-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss08-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss08.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss08-aucfan.html"><img border="1" alt="stat-mem-cb-ss08-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss08-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss08.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss08-aucfan.html"   ><img border="1" alt="stat-hdd-ss08-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss08-aucfan-day.png"   ></a></div></td>
		<td><div><b> CPU Temperature   on ss08.aucfan.com </b></div><div><a href="/1r/temp/cputemp-ss08-aucfan.html"   ><img border="1" alt="cputemp-ss08-aucfan Traffic Graph"     src="/1r/temp/cputemp-ss08-aucfan-day.png"   ></a></div></td>
		<td><div><b> M/B Temperature   on ss08.aucfan.com </b></div><div><a href="/1r/temp/mbtemp-ss08-aucfan.html"    ><img border="1" alt="mbtemp-ss08-aucfan Traffic Graph"      src="/1r/temp/mbtemp-ss08-aucfan-day.png"    ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss09.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss09-aucfan.html"         ><img border="1" alt="tr2-ss09-aucfan Traffic Graph"         src="/1r/tr/tr2-ss09-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss09.aucfan.com </b></div><div><a href="/1r/la/la-ss09-aucfan.html"          ><img border="1" alt="la-ss09-aucfan Traffic Graph"          src="/1r/la/la-ss09-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss09.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss09-aucfan.html"   ><img border="1" alt="stat-mem-ss09-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss09-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss09.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss09-aucfan.html"><img border="1" alt="stat-mem-cb-ss09-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss09-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss09.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss09-aucfan.html"   ><img border="1" alt="stat-hdd-ss09-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss09-aucfan-day.png"   ></a></div></td>
		<td><div><b> CPU Temperature   on ss09.aucfan.com </b></div><div><a href="/1r/temp/cputemp-ss09-aucfan.html"   ><img border="1" alt="cputemp-ss09-aucfan Traffic Graph"     src="/1r/temp/cputemp-ss09-aucfan-day.png"   ></a></div></td>
		<td><div><b> M/B Temperature   on ss09.aucfan.com </b></div><div><a href="/1r/temp/mbtemp-ss09-aucfan.html"    ><img border="1" alt="mbtemp-ss09-aucfan Traffic Graph"      src="/1r/temp/mbtemp-ss09-aucfan-day.png"    ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss10.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss10-aucfan.html"         ><img border="1" alt="tr2-ss10-aucfan Traffic Graph"         src="/1r/tr/tr2-ss10-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss10.aucfan.com </b></div><div><a href="/1r/la/la-ss10-aucfan.html"          ><img border="1" alt="la-ss10-aucfan Traffic Graph"          src="/1r/la/la-ss10-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss10.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss10-aucfan.html"   ><img border="1" alt="stat-mem-ss10-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss10-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss10.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss10-aucfan.html"><img border="1" alt="stat-mem-cb-ss10-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss10-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss10.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss10-aucfan.html"   ><img border="1" alt="stat-hdd-ss10-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss10-aucfan-day.png"   ></a></div></td>
		<td><div><b> CPU Temperature   on ss10.aucfan.com </b></div><div><a href="/1r/temp/cputemp-ss10-aucfan.html"   ><img border="1" alt="cputemp-ss10-aucfan Traffic Graph"     src="/1r/temp/cputemp-ss10-aucfan-day.png"   ></a></div></td>
		<td><div><b> M/B Temperature   on ss10.aucfan.com </b></div><div><a href="/1r/temp/mbtemp-ss10-aucfan.html"    ><img border="1" alt="mbtemp-ss10-aucfan Traffic Graph"      src="/1r/temp/mbtemp-ss10-aucfan-day.png"    ></a></div></td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss11.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss11-aucfan.html"         ><img border="1" alt="tr2-ss11-aucfan Traffic Graph"         src="/1r/tr/tr2-ss11-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss11.aucfan.com </b></div><div><a href="/1r/la/la-ss11-aucfan.html"          ><img border="1" alt="la-ss11-aucfan Traffic Graph"          src="/1r/la/la-ss11-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss11.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss11-aucfan.html"   ><img border="1" alt="stat-mem-ss11-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss11-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss11.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss11-aucfan.html"><img border="1" alt="stat-mem-cb-ss11-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss11-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss11.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss11-aucfan.html"   ><img border="1" alt="stat-hdd-ss11-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss11-aucfan-day.png"   ></a></div></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss12.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss12-aucfan.html"         ><img border="1" alt="tr2-ss12-aucfan Traffic Graph"         src="/1r/tr/tr2-ss12-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss12.aucfan.com </b></div><div><a href="/1r/la/la-ss12-aucfan.html"          ><img border="1" alt="la-ss12-aucfan Traffic Graph"          src="/1r/la/la-ss12-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss12.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss12-aucfan.html"   ><img border="1" alt="stat-mem-ss12-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss12-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss12.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss12-aucfan.html"><img border="1" alt="stat-mem-cb-ss12-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss12-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss12.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss12-aucfan.html"   ><img border="1" alt="stat-hdd-ss12-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss12-aucfan-day.png"   ></a></div></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss13.aucfan.com </b></div><div><a href="/1r/tr/tr2-ss13-aucfan.html"         ><img border="1" alt="tr2-ss13-aucfan Traffic Graph"         src="/1r/tr/tr2-ss13-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss13.aucfan.com </b></div><div><a href="/1r/la/la-ss13-aucfan.html"          ><img border="1" alt="la-ss13-aucfan Traffic Graph"          src="/1r/la/la-ss13-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss13.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-ss13-aucfan.html"   ><img border="1" alt="stat-mem-ss13-aucfan Traffic Graph"    src="/1r/mem/stat-mem-ss13-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss13.aucfan.com </b></div><div><a href="/1r/mem/stat-mem-cb-ss13-aucfan.html"><img border="1" alt="stat-mem-cb-ss13-aucfan Traffic Graph" src="/1r/mem/stat-mem-cb-ss13-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss13.aucfan.com </b></div><div><a href="/1r/hdd/stat-hdd-ss13-aucfan.html"   ><img border="1" alt="stat-hdd-ss13-aucfan Traffic Graph"    src="/1r/hdd/stat-hdd-ss13-aucfan-day.png"   ></a></div></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss15.aucfan.com </b></div><div><a href="/5r/tr/tr2-ss15-aucfan.html"         ><img border="1" alt="tr2-ss15-aucfan Traffic Graph"         src="/5r/tr/tr2-ss15-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss15.aucfan.com </b></div><div><a href="/5r/la/la-ss15-aucfan.html"          ><img border="1" alt="la-ss15-aucfan Traffic Graph"          src="/5r/la/la-ss15-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss15.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-ss15-aucfan.html"   ><img border="1" alt="stat-mem-ss15-aucfan Traffic Graph"    src="/5r/mem/stat-mem-ss15-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss15.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-cb-ss15-aucfan.html"><img border="1" alt="stat-mem-cb-ss15-aucfan Traffic Graph" src="/5r/mem/stat-mem-cb-ss15-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss15.aucfan.com </b></div><div><a href="/5r/hdd/stat-hdd-ss15-aucfan.html"   ><img border="1" alt="stat-hdd-ss15-aucfan Traffic Graph"    src="/5r/hdd/stat-hdd-ss15-aucfan-day.png"   ></a></div></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss16.aucfan.com </b></div><div><a href="/5r/tr/tr2-ss16-aucfan.html"         ><img border="1" alt="tr2-ss16-aucfan Traffic Graph"         src="/5r/tr/tr2-ss16-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss16.aucfan.com </b></div><div><a href="/5r/la/la-ss16-aucfan.html"          ><img border="1" alt="la-ss16-aucfan Traffic Graph"          src="/5r/la/la-ss16-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss16.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-ss16-aucfan.html"   ><img border="1" alt="stat-mem-ss16-aucfan Traffic Graph"    src="/5r/mem/stat-mem-ss16-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss16.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-cb-ss16-aucfan.html"><img border="1" alt="stat-mem-cb-ss16-aucfan Traffic Graph" src="/5r/mem/stat-mem-cb-ss16-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss16.aucfan.com </b></div><div><a href="/5r/hdd/stat-hdd-ss16-aucfan.html"   ><img border="1" alt="stat-hdd-ss16-aucfan Traffic Graph"    src="/5r/hdd/stat-hdd-ss16-aucfan-day.png"   ></a></div></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss17.aucfan.com </b></div><div><a href="/5r/tr/tr2-ss17-aucfan.html"         ><img border="1" alt="tr2-ss17-aucfan Traffic Graph"         src="/5r/tr/tr2-ss17-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss17.aucfan.com </b></div><div><a href="/5r/la/la-ss17-aucfan.html"          ><img border="1" alt="la-ss17-aucfan Traffic Graph"          src="/5r/la/la-ss17-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss17.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-ss17-aucfan.html"   ><img border="1" alt="stat-mem-ss17-aucfan Traffic Graph"    src="/5r/mem/stat-mem-ss17-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss17.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-cb-ss17-aucfan.html"><img border="1" alt="stat-mem-cb-ss17-aucfan Traffic Graph" src="/5r/mem/stat-mem-cb-ss17-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss17.aucfan.com </b></div><div><a href="/5r/hdd/stat-hdd-ss17-aucfan.html"   ><img border="1" alt="stat-hdd-ss17-aucfan Traffic Graph"    src="/5r/hdd/stat-hdd-ss17-aucfan-day.png"   ></a></div></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss18.aucfan.com </b></div><div><a href="/5r/tr/tr2-ss18-aucfan.html"         ><img border="1" alt="tr2-ss18-aucfan Traffic Graph"         src="/5r/tr/tr2-ss18-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss18.aucfan.com </b></div><div><a href="/5r/la/la-ss18-aucfan.html"          ><img border="1" alt="la-ss18-aucfan Traffic Graph"          src="/5r/la/la-ss18-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss18.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-ss18-aucfan.html"   ><img border="1" alt="stat-mem-ss18-aucfan Traffic Graph"    src="/5r/mem/stat-mem-ss18-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss18.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-cb-ss18-aucfan.html"><img border="1" alt="stat-mem-cb-ss18-aucfan Traffic Graph" src="/5r/mem/stat-mem-cb-ss18-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss18.aucfan.com </b></div><div><a href="/5r/hdd/stat-hdd-ss18-aucfan.html"   ><img border="1" alt="stat-hdd-ss18-aucfan Traffic Graph"    src="/5r/hdd/stat-hdd-ss18-aucfan-day.png"   ></a></div></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss19.aucfan.com </b></div><div><a href="/5r/tr/tr2-ss19-aucfan.html"         ><img border="1" alt="tr2-ss19-aucfan Traffic Graph"         src="/5r/tr/tr2-ss19-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss19.aucfan.com </b></div><div><a href="/5r/la/la-ss19-aucfan.html"          ><img border="1" alt="la-ss19-aucfan Traffic Graph"          src="/5r/la/la-ss19-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss19.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-ss19-aucfan.html"   ><img border="1" alt="stat-mem-ss19-aucfan Traffic Graph"    src="/5r/mem/stat-mem-ss19-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss19.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-cb-ss19-aucfan.html"><img border="1" alt="stat-mem-cb-ss19-aucfan Traffic Graph" src="/5r/mem/stat-mem-cb-ss19-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss19.aucfan.com </b></div><div><a href="/5r/hdd/stat-hdd-ss19-aucfan.html"   ><img border="1" alt="stat-hdd-ss19-aucfan Traffic Graph"    src="/5r/hdd/stat-hdd-ss19-aucfan-day.png"   ></a></div></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><div><b> Traffic LAN2      on ss20.aucfan.com </b></div><div><a href="/5r/tr/tr2-ss20-aucfan.html"         ><img border="1" alt="tr2-ss20-aucfan Traffic Graph"         src="/5r/tr/tr2-ss20-aucfan-day.png"         ></a></div></td>
		<td><div><b> Load Average      on ss20.aucfan.com </b></div><div><a href="/5r/la/la-ss20-aucfan.html"          ><img border="1" alt="la-ss20-aucfan Traffic Graph"          src="/5r/la/la-ss20-aucfan-day.png"          ></a></div></td>
		<td><div><b> Memory Status     on ss20.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-ss20-aucfan.html"   ><img border="1" alt="stat-mem-ss20-aucfan Traffic Graph"    src="/5r/mem/stat-mem-ss20-aucfan-day.png"   ></a></div></td>
		<td><div><b> Memory C/B Status on ss20.aucfan.com </b></div><div><a href="/5r/mem/stat-mem-cb-ss20-aucfan.html"><img border="1" alt="stat-mem-cb-ss20-aucfan Traffic Graph" src="/5r/mem/stat-mem-cb-ss20-aucfan-day.png"></a></div></td>
		<td><div><b> HDD Status        on ss20.aucfan.com </b></div><div><a href="/5r/hdd/stat-hdd-ss20-aucfan.html"   ><img border="1" alt="stat-hdd-ss20-aucfan Traffic Graph"    src="/5r/hdd/stat-hdd-ss20-aucfan-day.png"   ></a></div></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>

</BODY>
</HTML>
