<!DOCTYPE html>
<html>
  <head>
    <title>0R</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>


<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on R420-2.aucfan.com</br> (192.168.4.32) </b></div>
    <div><a href="hdd-r420-2-aucfan.html"><img border="1" alt="hdd-r420-2 Graph" src="hdd-r420-2-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R420-3.aucfan.com</br> (192.168.4.33) </b></div>
    <div><a href="hdd-r420-3-aucfan.html"><img border="1" alt="hdd-r420-3 Graph" src="hdd-r420-3-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R420-4.aucfan.com</br> (192.168.4.34) </b></div>
    <div><a href="hdd-r420-4-aucfan.html"><img border="1" alt="hdd-r420-4 Graph" src="hdd-r420-4-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R420-5.aucfan.com</br> (192.168.4.35) </b></div>
    <div><a href="hdd-r420-5-aucfan.html"><img border="1" alt="hdd-r420-5 Graph" src="hdd-r420-5-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R420-6.aucfan.com</br> (192.168.4.36) </b></div>
    <div><a href="hdd-r420-6-aucfan.html"><img border="1" alt="hdd-r420-6 Graph" src="hdd-r420-6-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R420-7.aucfan.com</br> (192.168.4.37) </b></div>
    <div><a href="hdd-r420-7-aucfan.html"><img border="1" alt="hdd-r420-7 Graph" src="hdd-r420-7-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R420-8.aucfan.com</br> (192.168.4.38) </b></div>
    <div><a href="hdd-r420-8-aucfan.html"><img border="1" alt="hdd-r420-8 Graph" src="hdd-r420-8-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R420-9.aucfan.com</br> (192.168.4.39) </b></div>
    <div><a href="hdd-r420-9-aucfan.html"><img border="1" alt="hdd-r420-9 Graph" src="hdd-r420-9-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R420-10.aucfan.com</br> (192.168.4.40) </b></div>
    <div><a href="hdd-r420-10-aucfan.html"><img border="1" alt="hdd-r420-10 Graph" src="hdd-r420-10-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R420-11.aucfan.com</br> (192.168.4.41) </b></div>
    <div><a href="hdd-r420-11-aucfan.html"><img border="1" alt="hdd-r420-11 Graph" src="hdd-r420-11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on sin.aucfan.com</br> (192.168.4.42) </b></div>
    <div><a href="hdd-sin-aucfan.html"><img border="1" alt="hdd-sin Graph" src="hdd-sin-aucfan-day.png"></a></div>
  </td>  
</tr>


<tr>
  <td>
    <div><b> HDD Status on cmb.aucfan.com</br> (192.168.4.43) </b></div>
    <div><a href="hdd-cmb-aucfan.html"><img border="1" alt="hdd-cmb Graph" src="hdd-cmb-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on pws09.aucfan.com</br> (192.168.4.46) </b></div>
    <div><a href="hdd-pws09-aucfan.html"><img border="1" alt="hdd-pws09 Graph" src="hdd-pws09-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on nrt.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="hdd-nrt-aucfan.html"><img border="1" alt="hdd-nrt Graph" src="hdd-nrt-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on hdd-cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="hdd-cmb01-aucfan.html"><img border="1" alt="hdd-cmb01 Graph" src="hdd-cmb01-aucfan-day.png"></a></div>
  </td>
</tr>

</table>
</body>
</html>
