<!DOCTYPE html>
<html>
  <head>
    <title>0R</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> HDD Status on cmb.aucfan.com</br> (192.168.4.43) </b></div>
    <div><a href="hdd-cmb-aucfan.html"><img border="1" alt="hdd-ws01-test Graph" src="hdd-cmb-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on pws09.aucfan.com</br> (192.168.4.46) </b></div>
    <div><a href="hdd-pws09-aucfan.html"><img border="1" alt="hdd-ws01-test Graph" src="hdd-pws09-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on nrt.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="hdd-nrt-aucfan.html"><img border="1" alt="hdd-ws01-test Graph" src="hdd-nrt-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on hdd-cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="hdd-cmb01-aucfan.html"><img border="1" alt="hdd-cmb01 Graph" src="hdd-cmb01-aucfan-day.png"></a></div>
  </td>
</tr>

</table>
</body>
</html>
