<!DOCTYPE html>
<html>
  <head>
    <title>seg4/hdd</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> HDD Status on R420-3.aucfan.com</br> (192.168.4.33) </b></div>
    <div><a href="hdd-r420-3-aucfan.html"><img border="1" alt="hdd-r420-3 Graph" src="hdd-r420-3-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on sin.aucfan.com</br> (192.168.4.42) </b></div>
    <div><a href="hdd-sin-aucfan.html"><img border="1" alt="hdd-sin Graph" src="hdd-sin-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on cmb.aucfan.com</br> (192.168.4.43) </b></div>
    <div><a href="hdd-cmb-aucfan.html"><img border="1" alt="hdd-cmb Graph" src="hdd-cmb-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on nrt.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="hdd-nrt-aucfan.html"><img border="1" alt="hdd-nrt Graph" src="hdd-nrt-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ceb.aucfan.com</br> (192.168.4.55) </b></div>
    <div><a href="hdd-ceb-aucfan.html"><img border="1" alt="hdd-ceb Graph" src="hdd-ceb-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>
</tr>

<tr>
  <td>
    <div><b> HDD Status on hdd-ps03b.aucfan.com</br> (192.168.4.133) </b></div>
    <div><a href="hdd-ps03b-aucfan.html"><img border="1" alt="hdd-ps03b Graph" src="hdd-ps03b-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on hdd-sin01.aucfan.com</br> (192.168.4.142) </b></div>
    <div><a href="hdd-sin01-aucfan.html"><img border="1" alt="hdd-sin01 Graph" src="hdd-sin01-aucfan-day.png"></a></div>
  </td>
</tr>

<tr>
  <td>
    <div><b> HDD Status on hdd-cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="hdd-cmb01-aucfan.html"><img border="1" alt="hdd-cmb01 Graph" src="hdd-cmb01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>
</tr>

<tr>
  <td>
    <div><b> HDD Status on hdd-nrt01.aucfan.com</br> (192.168.4.201) </b></div>
    <div><a href="hdd-nrt01-aucfan.html"><img border="1" alt="hdd-nrt01 Graph" src="hdd-nrt01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>
</tr>

<tr>
  <td>
    <div><b> HDD Status on hdd-ceb01.aucfan.com</br> (192.168.4.204) </b></div>
    <div><a href="hdd-ceb01-aucfan.html"><img border="1" alt="hdd-ceb01 Graph" src="hdd-ceb01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>
</tr>


</table>
</body>
</html>
