<!DOCTYPE html>
<html>
  <head>
    <title>seg_101/la</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Load Average on uranus.aucfan.com</br> (192.168.101.21) </b></div>
    <div><a href="la-uranus-aucfan.html"><img border="1" alt="la-uranus Graph" src="la-uranus-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on saturn.aucfan.com</br> (192.168.101.22) </b></div>
    <div><a href="la-saturn-aucfan.html"><img border="1" alt="la-saturn Graph" src="la-saturn-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on jupiter.aucfan.com</br> (192.168.101.23) </b></div>
    <div><a href="la-jupiter-aucfan.html"><img border="1" alt="la-jupiter Graph" src="la-jupiter-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on io.aucfan.com</br> (192.168.101.24) </b></div>
    <div><a href="la-io-aucfan.html"><img border="1" alt="la-io Graph" src="la-io-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on europa.aucfan.com</br> (192.168.101.25) </b></div>
    <div><a href="la-europa-aucfan.html"><img border="1" alt="la-europa Graph" src="la-europa-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on neptune.aucfan.com</br> (192.168.101.26) </b></div>
    <div><a href="la-neptune-aucfan.html"><img border="1" alt="la-neptune Graph" src="la-neptune-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on development2.aucfan.com</br> (192.168.101.235) </b></div>
    <div><a href="la-development2-aucfan.html"><img border="1" alt="la-development2 Graph" src="la-development2-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>



</table>
</body>
</html>
