<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker /etc/mrtg/mrtg_4r_la.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Thu, 26 Jul 2012 05:46:12 GMT">
    
<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker /etc/mrtg/mrtg_4r_la.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">


<H1>MRTG Index Page</H1>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
<tr>
<td><DIV><B> Load Average on cs01-aucfan.com (192.168.2.61) </B></DIV>
<DIV><A HREF="la-cs01-aucfan.html"><IMG BORDER=1 ALT="la-cs01-aucfan Traffic Graph" SRC="la-cs01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-cs01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Load Average on cs02-aucfan.com (192.168.2.68) </B></DIV>
<DIV><A HREF="la-cs02-aucfan.html"><IMG BORDER=1 ALT="la-cs02-aucfan Traffic Graph" SRC="la-cs02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-cs02-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Load Average on ss14-aucfan.com (192.168.2.84) </B></DIV>
<DIV><A HREF="la-ss14-aucfan.html"><IMG BORDER=1 ALT="la-ss14-aucfan Traffic Graph" SRC="la-ss14-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ss14-aucfan.html" --></SMALL></DIV>
</td>
<td></td>
</tr>
<tr>
<td><DIV><B> Load Average on wspf02-aucfan.com (192.168.2.115) </B></DIV>
<DIV><A HREF="la-wspf02-aucfan.html"><IMG BORDER=1 ALT="la-wspf02-aucfan Traffic Graph" SRC="la-wspf02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-wspf02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Load Average on sspf01-aucfan.com (192.168.2.116) </B></DIV>
<DIV><A HREF="la-sspf01-aucfan.html"><IMG BORDER=1 ALT="la-sspf01-aucfan Traffic Graph" SRC="la-sspf01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-sspf01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Load Average on sspf02-aucfan.com (192.168.2.117) </B></DIV>
<DIV><A HREF="la-sspf02-aucfan.html"><IMG BORDER=1 ALT="la-sspf02-aucfan Traffic Graph" SRC="la-sspf02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-sspf02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Load Average on dspf01-aucfan.com (192.168.2.118) </B></DIV>
<DIV><A HREF="la-dspf01-aucfan.html"><IMG BORDER=1 ALT="la-dspf01-aucfan Traffic Graph" SRC="la-dspf01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-dspf01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Load Average on dspf02-aucfan.com (192.168.2.119) </B></DIV>
<DIV><A HREF="la-dspf02-aucfan.html"><IMG BORDER=1 ALT="la-dspf02-aucfan Traffic Graph" SRC="la-dspf02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-dspf02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Load Average on wsapi01-aucfan.com (192.168.2.122) </B></DIV>
<DIV><A HREF="la-wsapi01-aucfan.html"><IMG BORDER=1 ALT="la-wsapi01-aucfan Traffic Graph" SRC="la-wsapi01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-wsapi01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Load Average on wsapi02-aucfan.com (192.168.2.123) </B></DIV>
<DIV><A HREF="la-wsapi02-aucfan.html"><IMG BORDER=1 ALT="la-wsapi02-aucfan Traffic Graph" SRC="la-wsapi02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-wsapi02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Load Average on ssapi01-aucfan.com (192.168.2.124) </B></DIV>
<DIV><A HREF="la-ssapi01-aucfan.html"><IMG BORDER=1 ALT="la-ssapi01-aucfan Traffic Graph" SRC="la-ssapi01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ssapi01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Load Average on ssapi02-aucfan.com (192.168.2.125) </B></DIV>
<DIV><A HREF="la-ssapi02-aucfan.html"><IMG BORDER=1 ALT="la-ssapi02-aucfan Traffic Graph" SRC="la-ssapi02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ssapi02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Load Average on se01-aucfan.com (192.168.2.69) </B></DIV>
<DIV><A HREF="la-se01-aucfan.html"><IMG BORDER=1 ALT="la-se01-aucfan Traffic Graph" SRC="la-se01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-se01-aucfan.html" --></SMALL></DIV>
</td></tr>

</TABLE>

<BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  version 2.10.15</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://www.ee.ethz.ch/~oetiker/">Tobias Oetiker</A>
  <A HREF="mailto:oetiker@ee.ethz.ch">&lt;oetiker@ee.ethz.ch&gt;</A>
  and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>
  </TD>
</TR>
</TABLE>
</BODY>
</HTML>
