<!DOCTYPE html>
<html>
  <head>
    <title>0R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h1>MRTG Index Page</h1>
    <ul>


<li>Load Average on ws01-test-aucfan.com</br> (192.168.101.52)<br /><a href="la-ws01-test-aucfan.html"><img src="la-ws01-test-aucfan-day.png" alt="la-ws01-test-aucfan-day"/></a></li>
<li>Load Average on pws01-test-aucfan.com</br> (192.168.101.62)<br /><a href="la-pws01-test-aucfan.html"><img src="la-pws01-test-aucfan-day.png" alt="la-pws01-test-aucfan-day"/></a></li>
<li>Load Average on development3-aucfan.com</br> (192.168.101.64)<br /><a href="la-development3-aucfan.html"><img src="la-development3-aucfan-day.png" alt="la-development3-aucfan-day"/></a></li>
<li>Load Average on localhost-aucfan.com</br> (192.168.101.135)<br /><a href="la-localhost-aucfan.html"><img src="la-localhost-aucfan-day.png" alt="la-localhost-aucfan-day"/></a></li>
<li>Load Average on devtest03-aucfan.com</br> (192.168.101.137)<br /><a href="la-devtest03-aucfan.html"><img src="la-devtest03-aucfan-day.png" alt="la-devtest03-aucfan-day"/></a></li>
<li>Load Average on smc04-aucfan.com</br> (192.168.101.189)<br /><a href="la-smc04-aucfan.html"><img src="la-smc04-aucfan-day.png" alt="la-smc04-aucfan-day"/></a></li>
<li>Load Average on musai-aucfan.com</br> (192.168.101.201)<br /><a href="la-musai-aucfan.html"><img src="la-musai-aucfan-day.png" alt="la-musai-aucfan-day"/></a></li>
<li>Load Average on development2-aucfan.com</br> (192.168.101.235)<br /><a href="la-development2-aucfan.html"><img src="la-development2-aucfan-day.png" alt="la-development2-aucfan-day"/></a></li>
<li>Load Average on pwstest01-aucfan.com</br> (192.168.101.251)<br /><a href="la-pwstest01-aucfan.html"><img src="la-pwstest01-aucfan-day.png" alt="la-pwstest01-aucfan-day"/></a></li>
<li>Load Average on test-svr-aucfan.com</br> (192.168.101.41)<br /><a href="la-test-svr-aucfan.html"><img src="la-test-svr-aucfan-day.png" alt="la-test-svr-aucfan-day"/></a></li>
<li>Load Average on test-monitor-svr-aucfan.com</br> (192.168.101.42)<br /><a href="la-test-monitor-svr-aucfan.html"><img src="la-test-monitor-svr-aucfan-day.png" alt="la-test-monitor-svr-aucfan-day"/></a></li>
<li>Load Average on repo-svr-aucfan.com</br> (192.168.101.43)<br /><a href="la-repo-svr-aucfan.html"><img src="la-repo-svr-aucfan-day.png" alt="la-repo-svr-aucfan-day"/></a></li>
<li>Load Average on higashiosaka-aucfan.com</br> (192.168.101.47)<br /><a href="la-higashiosaka-aucfan.html"><img src="la-higashiosaka-aucfan-day.png" alt="la-higashiosaka-aucfan-day"/></a></li>
<li>Load Average on sakai-aucfan.com</br> (192.168.101.48)<br /><a href="la-sakai-aucfan.html"><img src="la-sakai-aucfan-day.png" alt="la-sakai-aucfan-day"/></a></li>
<li>Load Average on osaka-aucfan.com </br> (192.168.101.49)<br /><a href="la-osaka-aucfan.html"><img src="la-osaka-aucfan-day.png" alt="la-osaka-aucfan-day"/></a></li>
