<!DOCTYPE html>
<html>
  <head>
    <title>seg3/hdd</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> HDD Status on R610_1.aucfan.com</br> (192.168.3.31) </b></div>
    <div><a href="hdd-r610_1-aucfan.html"><img border="1" alt="hdd-r610_1 Graph" src="hdd-r610_1-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on bt02.aucfan.com</br> (192.168.3.33) </b></div>
    <div><a href="hdd-bt02-aucfan.html"><img border="1" alt="hdd-bt02 Graph" src="hdd-bt02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R410_2.aucfan.com</br> (192.168.3.34) </b></div>
    <div><a href="hdd-r410_2-aucfan.html"><img border="1" alt="hdd-r410_2 Graph" src="hdd-r410_2-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R410_3.aucfan.com</br> (192.168.3.35) </b></div>
    <div><a href="hdd-r410_3-aucfan.html"><img border="1" alt="hdd-r410_3 Graph" src="hdd-r410_3-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R410_4.aucfan.com</br> (192.168.3.36) </b></div>
    <div><a href="hdd-r410_4-aucfan.html"><img border="1" alt="hdd-r410_4 Graph" src="hdd-r410_4-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R410_5.aucfan.com</br> (192.168.3.37) </b></div>
    <div><a href="hdd-r410_5-aucfan.html"><img border="1" alt="hdd-r410_5 Graph" src="hdd-r410_5-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R410_6.aucfan.com</br> (192.168.3.38) </b></div>
    <div><a href="hdd-r410_6-aucfan.html"><img border="1" alt="hdd-r410_6 Graph" src="hdd-r410_6-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R410_7.aucfan.com</br> (192.168.3.39) </b></div>
    <div><a href="hdd-r410_7-aucfan.html"><img border="1" alt="hdd-r410_7 Graph" src="hdd-r410_7-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on pws07.aucfan.com</br> (192.168.3.42) </b></div>
    <div><a href="hdd-pws07-aucfan.html"><img border="1" alt="hdd-pws07 Graph" src="hdd-pws07-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on pws08.aucfan.com</br> (192.168.3.43) </b></div>
    <div><a href="hdd-pws08-aucfan.html"><img border="1" alt="hdd-pws08 Graph" src="hdd-pws08-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on pdb03.aucfan.com</br> (192.168.3.45) </b></div>
    <div><a href="hdd-pdb03-aucfan.html"><img border="1" alt="hdd-pdb03 Graph" src="hdd-pdb03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on pws01.aucfan.com</br> (192.168.3.46) </b></div>
    <div><a href="hdd-pws01-aucfan.html"><img border="1" alt="hdd-pws01 Graph" src="hdd-pws01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on pws02.aucfan.com</br> (192.168.3.47) </b></div>
    <div><a href="hdd-pws02-aucfan.html"><img border="1" alt="hdd-pws02 Graph" src="hdd-pws02-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R410_16.aucfan.com</br> (192.168.3.48) </b></div>
    <div><a href="hdd-r410_16-aucfan.html"><img border="1" alt="hdd-r410_16 Graph" src="hdd-r410_16-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R410_17.aucfan.com</br> (192.168.3.49) </b></div>
    <div><a href="hdd-r410_17-aucfan.html"><img border="1" alt="hdd-r410_17 Graph" src="hdd-r410_17-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R410_18.aucfan.com</br> (192.168.3.50) </b></div>
    <div><a href="hdd-r410_18-aucfan.html"><img border="1" alt="hdd-r410_18 Graph" src="hdd-r410_18-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R410_19.aucfan.com</br> (192.168.3.51) </b></div>
    <div><a href="hdd-r410_19-aucfan.html"><img border="1" alt="hdd-r410_19 Graph" src="hdd-r410_19-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R410_21.aucfan.com</br> (192.168.3.53) </b></div>
    <div><a href="hdd-r410_21-aucfan.html"><img border="1" alt="hdd-r410_21 Graph" src="hdd-r410_21-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R410_22.aucfan.com</br> (192.168.3.54) </b></div>
    <div><a href="hdd-r410_22-aucfan.html"><img border="1" alt="hdd-r410_22 Graph" src="hdd-r410_22-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on pdb04.aucfan.com</br> (192.168.3.55) </b></div>
    <div><a href="hdd-pdb04-aucfan.html"><img border="1" alt="hdd-pdb04 Graph" src="hdd-pdb04-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R410_24.aucfan.com</br> (192.168.3.56) </b></div>
    <div><a href="hdd-r410_24-aucfan.html"><img border="1" alt="hdd-r410_24 Graph" src="hdd-r410_24-aucfan-day.png"></a></div>
  </td>  
</tr>
<tr>
  <td>
    <div><b> HDD Status on R410_25.aucfan.com</br> (192.168.3.57) </b></div>
    <div><a href="hdd-r410_25-aucfan.html"><img border="1" alt="hdd-r410_25 Graph" src="hdd-r410_25-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on R410_27.aucfan.com</br> (192.168.3.59) </b></div>
    <div><a href="hdd-r410_27-aucfan.html"><img border="1" alt="hdd-r410_27 Graph" src="hdd-r410_27-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on R410_28.aucfan.com</br> (192.168.3.60) </b></div>
    <div><a href="hdd-r410_28-aucfan.html"><img border="1" alt="hdd-r410_28 Graph" src="hdd-r410_28-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
  </td>
  <td>
    <div><b> HDD Status on ss15.aucfan.com</br> (192.168.3.148) </b></div>
    <div><a href="hdd-ss15-aucfan.html"><img border="1" alt="hdd-ss15 Graph" src="hdd-ss15-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ss16.aucfan.com</br> (192.168.3.149) </b></div>
    <div><a href="hdd-ss16-aucfan.html"><img border="1" alt="hdd-ss16 Graph" src="hdd-ss16-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ss17.aucfan.com</br> (192.168.3.150) </b></div>
    <div><a href="hdd-ss17-aucfan.html"><img border="1" alt="hdd-ss17 Graph" src="hdd-ss17-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ss18.aucfan.com</br> (192.168.3.151) </b></div>
    <div><a href="hdd-ss18-aucfan.html"><img border="1" alt="hdd-ss18 Graph" src="hdd-ss18-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> HDD Status on ss19.aucfan.com</br> (192.168.3.153) </b></div>
    <div><a href="hdd-ss19-aucfan.html"><img border="1" alt="hdd-ss19 Graph" src="hdd-ss19-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> HDD Status on ss20.aucfan.com</br> (192.168.3.154) </b></div>
    <div><a href="hdd-ss20-aucfan.html"><img border="1" alt="hdd-ss20 Graph" src="hdd-ss20-aucfan-day.png"></a></div>
  </td>  
</tr>


</table>
</body>
</html>
