<!DOCTYPE html>
<html>
  <head>
    <title>7R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul>
<li>Traffic LAN1 on rt1.aucfan.com (192.168.101.1)<br /><a href="../../1r/tr/tr1-rt1-aucfan-office.html"><img src="../../1r/tr/tr1-rt1-aucfan-office-day.png" alt=""/></a></li>
<li>Traffic LAN4 on rt1.aucfan.com (125.100.175.162)<br /><a href="../../1r/tr/tr4-rt1-aucfan-office.html"><img src="../../1r/tr/tr4-rt1-aucfan-office-day.png" alt=""/></a></li>
<li>Traffic D73C3D4D8 (192.168.101.6)<br /><a href="tr1-d73c3d4d8.html"><img src="tr1-d73c3d4d8-day.png" alt=""/></a></li>
<li>Traffic LAN2 on WLX302_S44003507 (192.168.101.7)<br /><a href="tr2-wlx302_s44003507.html"><img src="tr2-wlx302_s44003507-day.png" alt=""/></a></li>
<li>Traffic LAN2 on WLX302_S44003508 (192.168.101.8)<br /><a href="tr2-wlx302_s44003508.html"><img src="tr2-wlx302_s44003508-day.png" alt=""/></a></li>
<li>Traffic LAN2 on WLX302_S44003286 (192.168.101.9)<br /><a href="tr2-wlx302_s44003286.html"><img src="tr2-wlx302_s44003286-day.png" alt=""/></a></li>
<li>Traffic localhost (192.168.101.135)<br /><a href="tr2-localhost.html"><img src="tr2-localhost-day.png" alt=""/></a></li>
