<!DOCTYPE html>
<html>
  <head>
    <title>0R</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Load Average on la-nrt.aucfan.com</br> (192.168.101.47) </b></div>
    <div><a href="la-nrt-aucfan.html"><img border="1" alt="la-nrt Graph" src="la-nrt-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="la-cmb01-aucfan.html"><img border="1" alt="la-cmb01 Graph" src="la-cmb01-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
