<!DOCTYPE html>
<html>
  <head>
    <title>seg_4/la</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
  </td>
  <td>
    <div><b> Load Average on R420-2.aucfan.com</br> (192.168.4.32) </b></div>
    <div><a href="la-r420-2-aucfan.html"><img border="1" alt="la-r420-2 Graph" src="la-r420-2-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R420-3.aucfan.com</br> (192.168.4.33) </b></div>
    <div><a href="la-r420-3-aucfan.html"><img border="1" alt="la-r420-3 Graph" src="la-r420-3-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R420-4.aucfan.com</br> (192.168.4.34) </b></div>
    <div><a href="la-r420-4-aucfan.html"><img border="1" alt="la-r420-4 Graph" src="la-r420-4-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R420-5.aucfan.com</br> (192.168.4.35) </b></div>
    <div><a href="la-r420-5-aucfan.html"><img border="1" alt="la-r420-5 Graph" src="la-r420-5-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R420-6.aucfan.com</br> (192.168.4.36) </b></div>
    <div><a href="la-r420-6-aucfan.html"><img border="1" alt="la-r420-6 Graph" src="la-r420-6-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R420-7.aucfan.com</br> (192.168.4.37) </b></div>
    <div><a href="la-r420-7-aucfan.html"><img border="1" alt="la-r420-7 Graph" src="la-r420-7-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R420-8.aucfan.com</br> (192.168.4.38) </b></div>
    <div><a href="la-r420-8-aucfan.html"><img border="1" alt="la-r420-8 Graph" src="la-r420-8-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R420-9.aucfan.com</br> (192.168.4.39) </b></div>
    <div><a href="la-r420-9-aucfan.html"><img border="1" alt="la-r420-9 Graph" src="la-r420-9-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R420-10.aucfan.com</br> (192.168.4.40) </b></div>
    <div><a href="la-r420-10-aucfan.html"><img border="1" alt="la-r420-10 Graph" src="la-r420-10-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R420-11.aucfan.com</br> (192.168.4.41) </b></div>
    <div><a href="la-r420-11-aucfan.html"><img border="1" alt="la-r420-11 Graph" src="la-r420-11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on sin.aucfan.com</br> (192.168.4.42) </b></div>
    <div><a href="la-sin-aucfan.html"><img border="1" alt="la-sin Graph" src="la-sin-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on cmb.aucfan.com</br> (192.168.4.43) </b></div>
    <div><a href="la-cmb-aucfan.html"><img border="1" alt="la-cmb Graph" src="la-cmb-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on R420-14.aucfan.com</br> (192.168.4.44) </b></div>
    <div><a href="la-r420-14-aucfan.html"><img border="1" alt="la-r420-14 Graph" src="la-r420-14-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R420-15.aucfan.com</br> (192.168.4.45) </b></div>
    <div><a href="la-r420-15-aucfan.html"><img border="1" alt="la-r420-15 Graph" src="la-r420-15-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on pws09.aucfan.com</br> (192.168.4.46) </b></div>
    <div><a href="la-pws09-aucfan.html"><img border="1" alt="la-pws09 Graph" src="la-pws09-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on la-nrt.aucfan.com</br> (192.168.101.47) </b></div>
    <div><a href="la-nrt-aucfan.html"><img border="1" alt="la-nrt Graph" src="la-nrt-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on la-ceb.aucfan.com</br> (192.168.101.55) </b></div>
    <div><a href="la-ceb-aucfan.html"><img border="1" alt="la-ceb Graph" src="la-ceb-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ssl03.aucfan.com</br> (192.168.4.131) </b></div>
    <div><a href="la-ssl03-aucfan.html"><img border="1" alt="la-ssl03 Graph" src="la-ssl03-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps31.aucfan.com</br> (192.168.4.132) </b></div>
    <div><a href="la-ps31-aucfan.html"><img border="1" alt="la-ps31 Graph" src="la-ps31-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps03b.aucfan.com</br> (192.168.4.133) </b></div>
    <div><a href="la-ps03b-aucfan.html"><img border="1" alt="la-ps03b Graph" src="la-ps03b-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps35.aucfan.com</br> (192.168.4.134) </b></div>
    <div><a href="la-ps35-aucfan.html"><img border="1" alt="la-ps35 Graph" src="la-ps35-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps37.aucfan.com</br> (192.168.4.135) </b></div>
    <div><a href="la-ps37-aucfan.html"><img border="1" alt="la-ps37 Graph" src="la-ps37-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps39.aucfan.com</br> (192.168.4.136) </b></div>
    <div><a href="la-ps39-aucfan.html"><img border="1" alt="la-ps39 Graph" src="la-ps39-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps40.aucfan.com</br> (192.168.4.137) </b></div>
    <div><a href="la-ps40-aucfan.html"><img border="1" alt="la-ps40 Graph" src="la-ps40-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ps41.aucfan.com</br> (192.168.4.138) </b></div>
    <div><a href="la-ps41-aucfan.html"><img border="1" alt="la-ps41 Graph" src="la-ps41-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R420-9-01.aucfan.com</br> (192.168.4.139) </b></div>
    <div><a href="la-r420-9-01-aucfan.html"><img border="1" alt="la-r420-9-01 Graph" src="la-r420-9-01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on R420-11-01.aucfan.com</br> (192.168.4.141) </b></div>
    <div><a href="la-r420-11-01-aucfan.html"><img border="1" alt="la-r420-11-01 Graph" src="la-r420-11-01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on sin01.aucfan.com</br> (192.168.4.142) </b></div>
    <div><a href="la-sin01-aucfan.html"><img border="1" alt="la-sin01 Graph" src="la-sin01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="la-cmb01-aucfan.html"><img border="1" alt="la-cmb01 Graph" src="la-cmb01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ssl01c.aucfan.com</br> (192.168.4.144) </b></div>
    <div><a href="la-ssl01c-aucfan.html"><img border="1" alt="la-ssl01c Graph" src="la-ssl01c-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ps33.aucfan.com</br> (192.168.4.145) </b></div>
    <div><a href="la-ps33-aucfan.html"><img border="1" alt="la-ps33 Graph" src="la-ps33-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on nrt01.aucfan.com</br> (192.168.4.201) </b></div>
    <div><a href="la-nrt01-aucfan.html"><img border="1" alt="la-nrt01 Graph" src="la-nrt01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on nrt02.aucfan.com</br> (192.168.4.202) </b></div>
    <div><a href="la-nrt02-aucfan.html"><img border="1" alt="la-nrt02 Graph" src="la-nrt02-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ceb01.aucfan.com</br> (192.168.4.204) </b></div>
    <div><a href="la-ceb01-aucfan.html"><img border="1" alt="la-ceb01 Graph" src="la-ceb01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on ceb02.aucfan.com</br> (192.168.4.205) </b></div>
    <div><a href="la-ceb02-aucfan.html"><img border="1" alt="la-ceb02 Graph" src="la-ceb02-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
