<!DOCTYPE html>
<html>
  <head>
    <title>seg_4/la</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Load Average on R420-3.aucfan.com</br> (192.168.4.33) </b></div>
    <div><a href="la-r420-3-aucfan.html"><img border="1" alt="la-r420-3 Graph" src="la-r420-3-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on sin.aucfan.com</br> (192.168.4.42) </b></div>
    <div><a href="la-sin-aucfan.html"><img border="1" alt="la-sin Graph" src="la-sin-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on cmb.aucfan.com</br> (192.168.4.43) </b></div>
    <div><a href="la-cmb-aucfan.html"><img border="1" alt="la-cmb Graph" src="la-cmb-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on la-nrt.aucfan.com</br> (192.168.101.47) </b></div>
    <div><a href="la-nrt-aucfan.html"><img border="1" alt="la-nrt Graph" src="la-nrt-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on la-ceb.aucfan.com</br> (192.168.101.55) </b></div>
    <div><a href="la-ceb-aucfan.html"><img border="1" alt="la-ceb Graph" src="la-ceb-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>
</tr>

<tr>
  <td>
    <div><b> Load Average on ps03b.aucfan.com</br> (192.168.4.133) </b></div>
    <div><a href="la-ps03b-aucfan.html"><img border="1" alt="la-ps03b Graph" src="la-ps03b-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Load Average on sin01.aucfan.com</br> (192.168.4.142) </b></div>
    <div><a href="la-sin01-aucfan.html"><img border="1" alt="la-sin01 Graph" src="la-sin01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="la-cmb01-aucfan.html"><img border="1" alt="la-cmb01 Graph" src="la-cmb01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on nrt01.aucfan.com</br> (192.168.4.201) </b></div>
    <div><a href="la-nrt01-aucfan.html"><img border="1" alt="la-nrt01 Graph" src="la-nrt01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Load Average on ceb01.aucfan.com</br> (192.168.4.204) </b></div>
    <div><a href="la-ceb01-aucfan.html"><img border="1" alt="la-ceb01 Graph" src="la-ceb01-aucfan-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>



</table>
</body>
</html>
