<!DOCTYPE html>
<html>
  <head>
    <title>seg_4/Memory</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>


<tr>
  <td>
    <div><b> Memory Status on R410_27.aucfan.com</br> (192.168.3.59) </b></div>
    <div><a href="mem-r410_27-aucfan.html"><img border="1" alt="mem-r410_27 Graph" src="mem-r410_27-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R410_27.aucfan.com</br> (192.168.3.59) </b></div>
    <div><a href="mem-cb-r410_27-aucfan.html"><img border="1" alt="mem-cb-r410_27 Graph" src="mem-cb-r410_27-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R410_28.aucfan.com</br> (192.168.3.60) </b></div>
    <div><a href="mem-r410_28-aucfan.html"><img border="1" alt="mem-r410_28 Graph" src="mem-r410_28-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R410_28.aucfan.com</br> (192.168.3.60) </b></div>
    <div><a href="mem-cb-r410_28-aucfan.html"><img border="1" alt="mem-cb-r410_28 Graph" src="mem-cb-r410_28-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
