<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker /etc/mrtg/mrtg_iikawa_la.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Tue, 06 Sep 2011 11:32:24 GMT">
    
<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker /etc/mrtg/mrtg_iikawa_la.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">


<H1>MRTG Index Page</H1>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
<tr>
<td><DIV><B>Load Average on ns1.iikawa.net (210.158.44.21)</B></DIV>
<DIV><A HREF="la-ns1-iikawa-trd.html"><IMG BORDER=1 ALT="la-ns1-iikawa-trd Traffic Graph" SRC="la-ns1-iikawa-trd-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ns1-iikawa-trd.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on rt1.iikawa.trd (60.43.34.230)</B></DIV>
<DIV><A HREF="la-rt1-iikawa-trd.html"><IMG BORDER=1 ALT="la-rt1-iikawa-trd Traffic Graph" SRC="la-rt1-iikawa-trd-day.png"></A><BR>
<SMALL><!--#flastmod file="la-rt1-iikawa-trd.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on rt2.iikawa.trd (58.89.248.33)</B></DIV>
<DIV><A HREF="la-rt2-iikawa-trd.html"><IMG BORDER=1 ALT="la-rt2-iikawa-trd Traffic Graph" SRC="la-rt2-iikawa-trd-day.png"></A><BR>
<SMALL><!--#flastmod file="la-rt2-iikawa-trd.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on rt3.iikawa.trd (210.158.44.17)</B></DIV>
<DIV><A HREF="la-rt3-iikawa-trd.html"><IMG BORDER=1 ALT="la-rt3-iikawa-trd Traffic Graph" SRC="la-rt3-iikawa-trd-day.png"></A><BR>
<SMALL><!--#flastmod file="la-rt3-iikawa-trd.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on rt4 ( 210.158.39.237 ) ( 192.168.2.7 )</B></DIV>
<DIV><A HREF="la-rt4-iikawa-trd.html"><IMG BORDER=1 ALT="la-rt4-iikawa-trd Traffic Graph" SRC="la-rt4-iikawa-trd-day.png"></A><BR>
<SMALL><!--#flastmod file="la-rt4-iikawa-trd.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on ns2.iikawa.net (192.168.11.205)</B></DIV>
<DIV><A HREF="la-ns2-iikawa-office.html"><IMG BORDER=1 ALT="la-ns2-iikawa-office Traffic Graph" SRC="la-ns2-iikawa-office-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ns2-iikawa-office.html" --></SMALL></DIV>
</td></tr>
<tr>
<td></td>
</tr>
</TABLE>

<BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  version 2.10.15</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://www.ee.ethz.ch/~oetiker/">Tobias Oetiker</A>
  <A HREF="mailto:oetiker@ee.ethz.ch">&lt;oetiker@ee.ethz.ch&gt;</A>
  and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>
  </TD>
</TR>
</TABLE>
</BODY>
</HTML>
