<!DOCTYPE html>
<html>
  <head>
    <title>seg_4/Traffic</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on cmb.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="tr1-cmb-aucfan.html"><img border="1" alt="tr1-cmb Graph" src="tr1-cmb-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cmb.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="tr2-cmb-aucfan.html"><img border="1" alt="tr2-cmb Graph" src="tr2-cmb-aucfan-day.png"></a></div>
  </td>  
</tr>
<tr>
  <td>
    <div><b> Traffic LAN1 on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="tr1-cmb01-aucfan.html"><img border="1" alt="tr1-cmb01 Graph" src="tr1-cmb01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="tr2-cmb01-aucfan.html"><img border="1" alt="tr2-cmb01 Graph" src="tr2-cmb01-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
