<!DOCTYPE html>
<html>
  <head>
    <title>seg_4/Traffic</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>


<tr>
  <td>
    <div><b> Traffic LAN1 on Router-1.aucfan.com</br> (192.168.4.1) </b></div>
    <div><a href="tr1-aucfan-esu2-1.html"><img border="1" alt="tr1-esu2-1 Graph" src="tr1-aucfan-esu2-1-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN3 on Router-1.aucfan.com</br> (103.249.203.38) </b></div>
    <div><a href="tr3-aucfan-esu2-1.html"><img border="1" alt="tr3-esu2-1 Graph" src="tr3-aucfan-esu2-1-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on Router-2.aucfan.com</br> (192.168.4.2) </b></div>
    <div><a href="tr1-aucfan-esu2-2.html"><img border="1" alt="tr1-esu2-2 Graph" src="tr1-aucfan-esu2-2-day.png"></a></div>
  </td>
  <td>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN3 on Router-2.aucfan.com</br> (103.249.200.38) </b></div>
    <div><a href="tr3-aucfan-esu2-2.html"><img border="1" alt="tr3-esu2-2 Graph" src="tr3-aucfan-esu2-2-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN4 on Router-2.aucfan.com</br> (103.249.200.1) </b></div>
    <div><a href="tr4-aucfan-esu2-2.html"><img border="1" alt="tr4-esu2-2 Graph" src="tr4-aucfan-esu2-2-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on R420-3.aucfan.com</br> (192.168.4.33) </b></div>
    <div><a href="tr1-r420-3-aucfan.html"><img border="1" alt="tr1-r420-3 Graph" src="tr1-r420-3-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on R420-3.aucfan.com</br> (192.168.4.33) </b></div>
    <div><a href="tr2-r420-3-aucfan.html"><img border="1" alt="tr2-r420-3 Graph" src="tr2-r420-3-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on sin.aucfan.com</br> (192.168.4.42) </b></div>
    <div><a href="tr1-sin-aucfan.html"><img border="1" alt="tr1-sin Graph" src="tr1-sin-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on sin.aucfan.com</br> (192.168.4.42) </b></div>
    <div><a href="tr2-sin-aucfan.html"><img border="1" alt="tr2-sin Graph" src="tr2-sin-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on cmb.aucfan.com</br> (192.168.4.43) </b></div>
    <div><a href="tr1-cmb-aucfan.html"><img border="1" alt="tr1-cmb Graph" src="tr1-cmb-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cmb.aucfan.com</br> (192.168.4.43) </b></div>
    <div><a href="tr2-cmb-aucfan.html"><img border="1" alt="tr2-cmb Graph" src="tr2-cmb-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on nrt.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="tr1-nrt-aucfan.html"><img border="1" alt="tr1-nrt Graph" src="tr1-nrt-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on nrt.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="tr2-nrt-aucfan.html"><img border="1" alt="tr2-nrt Graph" src="tr2-nrt-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ceb.aucfan.com</br> (192.168.4.55) </b></div>
    <div><a href="tr1-ceb-aucfan.html"><img border="1" alt="tr1-ceb Graph" src="tr1-ceb-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ceb.aucfan.com</br> (192.168.4.55) </b></div>
    <div><a href="tr2-ceb-aucfan.html"><img border="1" alt="tr2-ceb Graph" src="tr2-ceb-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ps03b.aucfan.com</br> (192.168.4.133) </b></div>
    <div><a href="tr1-ps03b-aucfan.html"><img border="1" alt="tr1-ps03b Graph" src="tr1-ps03b-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ps03b.aucfan.com</br> (192.168.4.133) </b></div>
    <div><a href="tr2-ps03b-aucfan.html"><img border="1" alt="tr2-ps03b Graph" src="tr2-ps03b-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on sin01.aucfan.com</br> (221.248.183.29) </b></div>
    <div><a href="tr1-sin01-aucfan.html"><img border="1" alt="tr1-sin01 Graph" src="tr1-sin01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on sin01.aucfan.com</br> (192.168.4.142) </b></div>
    <div><a href="tr2-sin01-aucfan.html"><img border="1" alt="tr2-sin01 Graph" src="tr2-sin01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on cmb01.aucfan.com</br> (221.248.183.30) </b></div>
    <div><a href="tr1-cmb01-aucfan.html"><img border="1" alt="tr1-cmb01 Graph" src="tr1-cmb01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="tr2-cmb01-aucfan.html"><img border="1" alt="tr2-cmb01 Graph" src="tr2-cmb01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on nrt01.aucfan.com</br> (103.249.200.3) </b></div>
    <div><a href="tr1-nrt01-aucfan.html"><img border="1" alt="tr1-nrt01 Graph" src="tr1-nrt01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on nrt01.aucfan.com</br> (192.168.4.201) </b></div>
    <div><a href="tr2-nrt01-aucfan.html"><img border="1" alt="tr2-nrt01 Graph" src="tr2-nrt01-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on ceb01.aucfan.com</br> (103.249.200.4) </b></div>
    <div><a href="tr1-ceb01-aucfan.html"><img border="1" alt="tr1-ceb01 Graph" src="tr1-ceb01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on ceb01.aucfan.com</br> (192.168.4.204) </b></div>
    <div><a href="tr2-ceb01-aucfan.html"><img border="1" alt="tr2-ceb01 Graph" src="tr2-ceb01-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
