<!DOCTYPE html>
<html>
  <head>
    <title>2R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul>
<li>ikw (192.168.XXX.XXX)<br /><a href="ikw.html"><img src="ikw-day.png" alt="ikw-day"/></a></li>
<li>index (192.168.XXX.XXX)<br /><a href="index.html"><img src="index-day.png" alt="index-day"/></a></li>
<li>index_new (192.168.XXX.XXX)<br /><a href="index_new.html"><img src="index_new-day.png" alt="index_new-day"/></a></li>
<li>la-bk01-aucfan (192.168.XXX.XXX)<br /><a href="la-bk01-aucfan.html"><img src="la-bk01-aucfan-day.png" alt="la-bk01-aucfan-day"/></a></li>
<li>la-bk02-aucfan (192.168.XXX.XXX)<br /><a href="la-bk02-aucfan.html"><img src="la-bk02-aucfan-day.png" alt="la-bk02-aucfan-day"/></a></li>
<li>la-bk03-aucfan (192.168.XXX.XXX)<br /><a href="la-bk03-aucfan.html"><img src="la-bk03-aucfan-day.png" alt="la-bk03-aucfan-day"/></a></li>
<li>la-bt01-aucfan (192.168.XXX.XXX)<br /><a href="la-bt01-aucfan.html"><img src="la-bt01-aucfan-day.png" alt="la-bt01-aucfan-day"/></a></li>
<li>la-cr02-aucfan (192.168.XXX.XXX)<br /><a href="la-cr02-aucfan.html"><img src="la-cr02-aucfan-day.png" alt="la-cr02-aucfan-day"/></a></li>
<li>la-ds05-aucfan (192.168.XXX.XXX)<br /><a href="la-ds05-aucfan.html"><img src="la-ds05-aucfan-day.png" alt="la-ds05-aucfan-day"/></a></li>
<li>la-ds06-aucfan (192.168.XXX.XXX)<br /><a href="la-ds06-aucfan.html"><img src="la-ds06-aucfan-day.png" alt="la-ds06-aucfan-day"/></a></li>
<li>la-ds07-aucfan (192.168.XXX.XXX)<br /><a href="la-ds07-aucfan.html"><img src="la-ds07-aucfan-day.png" alt="la-ds07-aucfan-day"/></a></li>
<li>la-dsv1-defacto (192.168.XXX.XXX)<br /><a href="la-dsv1-defacto.html"><img src="la-dsv1-defacto-day.png" alt="la-dsv1-defacto-day"/></a></li>
<li>la-dsv2-defacto (192.168.XXX.XXX)<br /><a href="la-dsv2-defacto.html"><img src="la-dsv2-defacto-day.png" alt="la-dsv2-defacto-day"/></a></li>
<li>la-dws1-defacto (192.168.XXX.XXX)<br /><a href="la-dws1-defacto.html"><img src="la-dws1-defacto-day.png" alt="la-dws1-defacto-day"/></a></li>
<li>la-dws2-defacto (192.168.XXX.XXX)<br /><a href="la-dws2-defacto.html"><img src="la-dws2-defacto-day.png" alt="la-dws2-defacto-day"/></a></li>
<li>la-dws3-defacto (192.168.XXX.XXX)<br /><a href="la-dws3-defacto.html"><img src="la-dws3-defacto-day.png" alt="la-dws3-defacto-day"/></a></li>
<li>la-is01-aucfan (192.168.XXX.XXX)<br /><a href="la-is01-aucfan.html"><img src="la-is01-aucfan-day.png" alt="la-is01-aucfan-day"/></a></li>
<li>la-it01-aucfan (192.168.XXX.XXX)<br /><a href="la-it01-aucfan.html"><img src="la-it01-aucfan-day.png" alt="la-it01-aucfan-day"/></a></li>
<li>la-it02-aucfan (192.168.XXX.XXX)<br /><a href="la-it02-aucfan.html"><img src="la-it02-aucfan-day.png" alt="la-it02-aucfan-day"/></a></li>
<li>la-ps01-aucfan (192.168.XXX.XXX)<br /><a href="la-ps01-aucfan.html"><img src="la-ps01-aucfan-day.png" alt="la-ps01-aucfan-day"/></a></li>
<li>la-ps02-aucfan (192.168.XXX.XXX)<br /><a href="la-ps02-aucfan.html"><img src="la-ps02-aucfan-day.png" alt="la-ps02-aucfan-day"/></a></li>
<li>la-ps03-aucfan (192.168.XXX.XXX)<br /><a href="la-ps03-aucfan.html"><img src="la-ps03-aucfan-day.png" alt="la-ps03-aucfan-day"/></a></li>
<li>la-ps04-aucfan (192.168.XXX.XXX)<br /><a href="la-ps04-aucfan.html"><img src="la-ps04-aucfan-day.png" alt="la-ps04-aucfan-day"/></a></li>
<li>la-ps05-aucfan (192.168.XXX.XXX)<br /><a href="la-ps05-aucfan.html"><img src="la-ps05-aucfan-day.png" alt="la-ps05-aucfan-day"/></a></li>
<li>la-ps06-aucfan (192.168.XXX.XXX)<br /><a href="la-ps06-aucfan.html"><img src="la-ps06-aucfan-day.png" alt="la-ps06-aucfan-day"/></a></li>
<li>la-ps07-aucfan (192.168.XXX.XXX)<br /><a href="la-ps07-aucfan.html"><img src="la-ps07-aucfan-day.png" alt="la-ps07-aucfan-day"/></a></li>
<li>la-ps08-aucfan (192.168.XXX.XXX)<br /><a href="la-ps08-aucfan.html"><img src="la-ps08-aucfan-day.png" alt="la-ps08-aucfan-day"/></a></li>
<li>la-rt02-aucfan (192.168.XXX.XXX)<br /><a href="la-rt02-aucfan.html"><img src="la-rt02-aucfan-day.png" alt="la-rt02-aucfan-day"/></a></li>
<li>la-rt03-aucfan (192.168.XXX.XXX)<br /><a href="la-rt03-aucfan.html"><img src="la-rt03-aucfan-day.png" alt="la-rt03-aucfan-day"/></a></li>
<li>la-rt1-vpn (192.168.XXX.XXX)<br /><a href="la-rt1-vpn.html"><img src="la-rt1-vpn-day.png" alt="la-rt1-vpn-day"/></a></li>
<li>la-ssl02-aucfan (192.168.XXX.XXX)<br /><a href="la-ssl02-aucfan.html"><img src="la-ssl02-aucfan-day.png" alt="la-ssl02-aucfan-day"/></a></li>
<li>la2-dsv1-defacto (192.168.XXX.XXX)<br /><a href="la2-dsv1-defacto.html"><img src="la2-dsv1-defacto-day.png" alt="la2-dsv1-defacto-day"/></a></li>
<li>la2-dsv2-defacto (192.168.XXX.XXX)<br /><a href="la2-dsv2-defacto.html"><img src="la2-dsv2-defacto-day.png" alt="la2-dsv2-defacto-day"/></a></li>
