<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker ./mrtg_2r_la.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Thu, 11 Jul 2013 11:21:53 GMT">
    
<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker ./mrtg_2r_la.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">


<H1>MRTG Index Page</H1>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
<tr>
<td><DIV><B>Load Average on bt01.aucfan.com (192.168.2.34)</B></DIV>
<DIV><A HREF="la-bt01-aucfan.html"><IMG BORDER=1 ALT="la-bt01-aucfan Traffic Graph" SRC="la-bt01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-bt01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on ds05.aucfan.com (192.168.2.35)</B></DIV>
<DIV><A HREF="la-ds05-aucfan.html"><IMG BORDER=1 ALT="la-ds05-aucfan Traffic Graph" SRC="la-ds05-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ds05-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on ds06.aucfan.com (192.168.2.36)</B></DIV>
<DIV><A HREF="la-ds06-aucfan.html"><IMG BORDER=1 ALT="la-ds06-aucfan Traffic Graph" SRC="la-ds06-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ds06-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on ds07.aucfan.com (192.168.2.37)</B></DIV>
<DIV><A HREF="la-ds07-aucfan.html"><IMG BORDER=1 ALT="la-ds07-aucfan Traffic Graph" SRC="la-ds07-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ds07-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on is01.aucfan.com (192.168.2.38)</B></DIV>
<DIV><A HREF="la-is01-aucfan.html"><IMG BORDER=1 ALT="la-is01-aucfan Traffic Graph" SRC="la-is01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-is01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on bk01.aucfan.com (192.168.2.141)</B></DIV>
<DIV><A HREF="la-bk01-aucfan.html"><IMG BORDER=1 ALT="la-bk01-aucfan Traffic Graph" SRC="la-bk01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-bk01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on cr02.aucfan.com (192.168.2.143)</B></DIV>
<DIV><A HREF="la-cr02-aucfan.html"><IMG BORDER=1 ALT="la-cr02-aucfan Traffic Graph" SRC="la-cr02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-cr02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on ssl02.aucfan.com (192.168.2.39)</B></DIV>
<DIV><A HREF="la-ssl02-aucfan.html"><IMG BORDER=1 ALT="la-ssl02-aucfan Traffic Graph" SRC="la-ssl02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ssl02-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on it02.aucfan.com (192.168.2.40)</B></DIV>
<DIV><A HREF="la-it02-aucfan.html"><IMG BORDER=1 ALT="la-it02-aucfan Traffic Graph" SRC="la-it02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-it02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on ps01.aucfan.com (192.168.2.201)</B></DIV>
<DIV><A HREF="la-ps01-aucfan.html"><IMG BORDER=1 ALT="la-ps01-aucfan Traffic Graph" SRC="la-ps01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ps01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on ps02.aucfan.com (192.168.2.202)</B></DIV>
<DIV><A HREF="la-ps02-aucfan.html"><IMG BORDER=1 ALT="la-ps02-aucfan Traffic Graph" SRC="la-ps02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ps02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on ps03.aucfan.com (192.168.2.203)</B></DIV>
<DIV><A HREF="la-ps03-aucfan.html"><IMG BORDER=1 ALT="la-ps03-aucfan Traffic Graph" SRC="la-ps03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ps03-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on ps04.aucfan.com (192.168.2.204)</B></DIV>
<DIV><A HREF="la-ps04-aucfan.html"><IMG BORDER=1 ALT="la-ps04-aucfan Traffic Graph" SRC="la-ps04-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ps04-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on ps05.aucfan.com (192.168.2.205)</B></DIV>
<DIV><A HREF="la-ps05-aucfan.html"><IMG BORDER=1 ALT="la-ps05-aucfan Traffic Graph" SRC="la-ps05-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ps05-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on ps06.aucfan.com (192.168.2.206)</B></DIV>
<DIV><A HREF="la-ps06-aucfan.html"><IMG BORDER=1 ALT="la-ps06-aucfan Traffic Graph" SRC="la-ps06-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ps06-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on ps07.aucfan.com (192.168.2.207)</B></DIV>
<DIV><A HREF="la-ps07-aucfan.html"><IMG BORDER=1 ALT="la-ps07-aucfan Traffic Graph" SRC="la-ps07-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ps07-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Load Average on ps08.aucfan.com (192.168.2.208)</B></DIV>
<DIV><A HREF="la-ps08-aucfan.html"><IMG BORDER=1 ALT="la-ps08-aucfan Traffic Graph" SRC="la-ps08-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-ps08-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on cr04.aucfan.com (192.168.2.145)</B></DIV>
<DIV><A HREF="la-cr04-aucfan.html"><IMG BORDER=1 ALT="la-cr04-aucfan Traffic Graph" SRC="la-cr04-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-cr04-aucfan.html" --></SMALL></DIV>
</td>
</tr>

<tr>
<td><DIV><B>Load Average on cs02.aucfan.com (192.168.2.68)</B></DIV>
<DIV><A HREF="la-cs02-aucfan.html"><IMG BORDER=1 ALT="la-cs02-aucfan Traffic Graph" SRC="la-cs02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-cs02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Load Average on se01.aucfan.com (192.168.2.69)</B></DIV>
<DIV><A HREF="la-se01-aucfan.html"><IMG BORDER=1 ALT="la-se01-aucfan Traffic Graph" SRC="la-se01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-se01-aucfan.html" --></SMALL></DIV>
</td>
</tr>

<tr>
<td><DIV><B>Load Average on se02.aucfan.com (192.168.2.70)</B></DIV>
<DIV><A HREF="la-se02-aucfan.html"><IMG BORDER=1 ALT="la-se02-aucfan Traffic Graph" SRC="la-se02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="la-se02-aucfan.html" --></SMALL></DIV>
</td>
<td>
</td>
</tr>




</TABLE>


<BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  version 2.10.15</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://www.ee.ethz.ch/~oetiker/">Tobias Oetiker</A>
  <A HREF="mailto:oetiker@ee.ethz.ch">&lt;oetiker@ee.ethz.ch&gt;</A>
  and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>
  </TD>
</TR>
</TABLE>
</BODY>
</HTML>
