<!DOCTYPE html>
<html>
  <head>
    <title>seg_101/Traffic</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Traffic LAN1 on aucfan-humax-1.aucfan.com</br> (192.168.101.1) </b></div>
    <div><a href="tr1-aucfan-humax-1.html"><img border="1" alt="tr1-aucfan-humax-1 Graph" src="tr1-aucfan-humax-1-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on aucfan-humax-1.aucfan.com</br> (192.168.104.1) </b></div>
    <div><a href="tr2-aucfan-humax-1.html"><img border="1" alt="tr2-aucfan-humax-1 Graph" src="tr2-aucfan-humax-1-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN3 on aucfan-humax-1.aucfan.com</br> (192.168.104.1) </b></div>
    <div><a href="tr3-aucfan-humax-1.html"><img border="1" alt="tr3-aucfan-humax-1 Graph" src="tr3-aucfan-humax-1-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN4 on aucfan-humax-1.aucfan.com</br> (125.100.175.162) </b></div>
    <div><a href="tr4-aucfan-humax-1.html"><img border="1" alt="tr4-aucfan-humax-1 Graph" src="tr4-aucfan-humax-1-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on uranus.aucfan.com</br> (192.168.101.21) </b></div>
    <div><a href="tr1-uranus-aucfan.html"><img border="1" alt="tr1-uranus-aucfan Graph" src="tr1-uranus-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on uranus.aucfan.com</br> (192.168.101.21) </b></div>
    <div><a href="tr2-uranus-aucfan.html"><img border="1" alt="tr2-uranus-aucfan Graph" src="tr2-uranus-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on saturn.aucfan.com</br> (192.168.101.22) </b></div>
    <div><a href="tr1-saturn-aucfan.html"><img border="1" alt="tr1-saturn-aucfan Graph" src="tr1-saturn-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on saturn.aucfan.com</br> (192.168.101.22) </b></div>
    <div><a href="tr2-saturn-aucfan.html"><img border="1" alt="tr2-saturn-aucfan Graph" src="tr2-saturn-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on jupiter.aucfan.com</br> (192.168.101.23) </b></div>
    <div><a href="tr1-jupiter-aucfan.html"><img border="1" alt="tr1-jupiter-aucfan Graph" src="tr1-jupiter-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on jupiter.aucfan.com</br> (192.168.101.23) </b></div>
    <div><a href="tr2-jupiter-aucfan.html"><img border="1" alt="tr2-jupiter-aucfan Graph" src="tr2-jupiter-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on io.aucfan.com</br> (192.168.101.24) </b></div>
    <div><a href="tr1-io-aucfan.html"><img border="1" alt="tr1-io-aucfan Graph" src="tr1-io-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on io.aucfan.com</br> (192.168.101.24) </b></div>
    <div><a href="tr2-io-aucfan.html"><img border="1" alt="tr2-io-aucfan Graph" src="tr2-io-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on europa.aucfan.com</br> (192.168.101.25) </b></div>
    <div><a href="tr1-europa-aucfan.html"><img border="1" alt="tr1-europa-aucfan Graph" src="tr1-europa-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on europa.aucfan.com</br> (192.168.101.25) </b></div>
    <div><a href="tr2-europa-aucfan.html"><img border="1" alt="tr2-europa-aucfan Graph" src="tr2-europa-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on localhost.aucfan.com</br> (192.168.101.135) </b></div>
    <div><a href="tr1-localhost-aucfan.html"><img border="1" alt="tr1-localhost-aucfan Graph" src="tr1-localhost-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on localhost.aucfan.com</br> (192.168.101.135) </b></div>
    <div><a href="tr2-localhost-aucfan.html"><img border="1" alt="tr2-localhost-aucfan Graph" src="tr2-localhost-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Traffic LAN1 on development2.aucfan.com</br> (192.168.101.135) </b></div>
    <div><a href="tr1-development2-aucfan.html"><img border="1" alt="tr1-development2-aucfan Graph" src="tr1-development2-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Traffic LAN2 on development2.aucfan.com</br> (192.168.101.135) </b></div>
    <div><a href="tr2-development2-aucfan.html"><img border="1" alt="tr2-development2-aucfan Graph" src="tr2-development2-aucfan-day.png"></a></div>
  </td>  
</tr>


</table>
</body>
</html>
