<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
  <HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker /etc/mrtg/mrtg_trla.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Tue, 13 Apr 2010 12:15:00 GMT">
    <meta http-equiv="Content-Type" content="text/html" charset="euc-jp">

    <style type="text/css">
      <!--
      /* commandline was: /usr/bin/indexmaker /etc/mrtg/mrtg_trla.cfg */
      /* sorry, no style, just abusing this to place the commandline and pass validation */
      -->
    </style>
  </HEAD>

  <BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">



    <div style="background:#fffacd;">
      <h2>Tokyo Office<img src="./logo_aucfan.gif" alt="gmo" height="35px" style="margin-left: 10px;"/></h2>
      <br />
      [ Office ] (/0r)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="0r/tr">Trafic</a>&nbsp;
      <a href="0r/la">Load Average</a>&nbsp;
      <a href="0r/mem">Memory</a>&nbsp;
      <a href="0r/hdd">HDD</a>	&nbsp;
      <br />

      <hr />

      <br />
      [ Office ] (/01r)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="01r/tr">Trafic</a>&nbsp;
      <a href="01r/la">Load Average</a>&nbsp;
      <a href="01r/mem">Memory</a>&nbsp;
      <a href="01r/hdd">HDD</a>	&nbsp;
      <br />

    </div>


    <div style="background:#e2edaa;">
      <h2>Tennozu<img src="./logo_gmo.jpg" alt="gmo" height="35px" style="margin-left: 10px;"/></h2>
      <br />
      [ M06 ] (/1r)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="1r/tr">	Trafic			</a>	&nbsp;
      <a href="1r/la">	Load Average	</a>	&nbsp;
      <a href="1r/mem">	Memory			</a>	&nbsp;
      <a href="1r/hdd">	HDD				</a>	&nbsp;
      <a href="1r/temp">	Temperature		</a>	<br />
      <br />

      <hr />

      <br />
      [ A01 ] (/2r)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="2r/tr">	Trafic			</a>	&nbsp;
      <a href="2r/la">	Load Average	</a>	&nbsp;
      <a href="2r/mem">	Memory			</a>	&nbsp;
      <a href="2r/hdd">	HDD				</a>	&nbsp;
      <a href="2r/temp">	Temperature		</a>	<br />
      <br />

      <hr />

      <br />
      [ M01 ] (/3r)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="3r/tr">	Trafic			</a>	&nbsp;
      <a href="3r/la">	Load Average	</a>	&nbsp;
      <a href="3r/mem">	Memory			</a>	&nbsp;
      <a href="3r/hdd">	HDD				</a>	<br />
      <br />

      <hr />

      <br />
      [ D01 ] (/4r) -> <font color="red">Not Exist !!</font><br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="4r/tr">	Trafic			</a>	&nbsp;
      <a href="4r/la">	Load Average	</a>	&nbsp;
      <a href="4r/mem">	Memory			</a>	&nbsp;
      <a href="4r/hdd">	HDD				</a>	<br />
      <br />

      <hr />
    </div>


    <div style="background:#f0e68c;">
      <h2>Kitakyushu<img src="./logo_idcf.jpg" alt="idcf" height="35px" style="margin-left: 10px;"/></h2>
      <br />
      [tr 6.1] [ RACK1: FK1-02B-000-B-011 ] (/6r)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="seg_3/tr/index-011.html">	Trafic			</a>	&nbsp;
      <a href="seg_3/la/index-011.html">	Load Average	</a>	&nbsp;
      <a href="seg_3/mem/index-011.html">	Memory			</a>	&nbsp;
      <a href="seg_3/hdd/index-011.html">	HDD				</a>	<br />
      <hr />
      [tr 6.1] [ RACK1: FK1-02B-000-B-004 ] (/6r)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="seg_3/tr/index-004.html">	Trafic			</a>	&nbsp;
      <a href="seg_3/la/index-004.html">	Load Average	</a>	&nbsp;
      <a href="seg_3/mem/index-004.html">	Memory			</a>	&nbsp;
      <a href="seg_3/hdd/index-004.html">	HDD				</a>	<br />
      <hr />
    </div>


    <div style="background:#afeeee;">
      <h2>Sendai<img src="./logo_esu2.jpg" alt="esu2" style="margin-left: 10px;"/></h2>
      [tr 7] [ RACK1: i08 ] (/seg-4)
      <br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="seg_4/tr">	Trafic			</a>	&nbsp;
      <a href="seg_4/la">	Load Average	</a>	&nbsp;
      <a href="seg_4/mem">	Memory			</a>	&nbsp;
      <a href="seg_4/hdd">	HDD				</a>	<br />
      <br />
    </div>




    [ aucfan ] : <a href="aucfan_all.html"><font color="red">all information</font></a><br />
    [ wiki ] : <a href="http://wiki.afops.com/Home" target="_blank" ><font color="red">AKMS</font></a><br />
    [ repository ] : <a href="http://repos.afops.com/" target="_blank" ><font color="red">Repository</font></a><br />
    [ monitoring ] : <a href="http://192.168.2.103/munin/" target="_blank">	Munin</a>  <br />
    [ monitoring2 ] : <a href="http://192.168.2.103/nagios/"  target="_blank">	Nagios</a>  <br />
    [ varnish ] : <a href="http://192.168.101.62:8999/" target="_blank">Varnish Purger</a> <br />
    [ aucfan-user ] : <a href="http://192.168.101.62:8890/" target="_blank">Aucfan User Account Modify Tool</a> <br />


    <br />
    <hr />



    <br />
    [ switch, DNS, others ]<br />
    &nbsp;&nbsp;	<a href="iikawa/tr.html">Trafic</a><br />
    &nbsp;&nbsp;	<a href="iikawa/la.html">Load Average</a><br />
    <!-- &nbsp;&nbsp;	<a href="http://192.168.2.34/mrtg/iikawa/tr.html">Trafic</a><br />
    &nbsp;&nbsp;	<a href="http://192.168.2.34/mrtg/iikawa/la.html">Load Average</a><br /> -->
    <br />

    <a href="aucfan-servers-02.html">[ aucfan.com ] : ws11 - ws17</a><br />
    <br />

    <a href="aucfan-servers-03.html">[ aucfan.com ] : ws19 - ws32</a><br />
    <br />

    <a href="/services/aucfan-servers-lvs.html">[ aucfan.com ] : lb07, lb08</a><br />
    <br />

    <a href="ps.html">[ aucfan.com ] : ps</a><br />
    <br />
    &nbsp;&nbsp;
    <a href="ps01.html">ps01</a>
    <a href="ps02.html">ps02</a>
    <a href="ps03.html">ps03</a>
    <a href="ps04.html">ps04</a>
    <a href="ps05.html">ps05</a>
    <a href="ps06.html">ps06</a>
    <a href="ps07.html">ps07</a>
    <a href="ps08.html">ps08</a>
    <br />

    <br />
    <a href="ss.html">[ aucfan.com ] : ss</a><br />

    <br />
    <a href="ds.html">[ aucfan.com ] : ds</a><br />
    <br />
    &nbsp;&nbsp;
    <a href="ds01.html">ds01</a>
    <a href="ds02.html">ds02</a>
    <a href="ds03.html">ds03</a>
    <a href="ds05.html">ds05</a>
    <a href="ds06.html">ds06</a>
    <a href="ds07.html">ds07</a>
    <a href="cr01.html">cr01</a>
    <br />

    <br />
    [ aucfan.com ] : bt , bk<br />
    <br />
    &nbsp;&nbsp;
    <a href="bt01.html">bt01</a>
    &nbsp;
    <a href="bk01.html">bk01</a>
    &nbsp;
    <a href="bk03.html">bk03</a>
    <br />

    <a href="hdd_chk.html">[ HDD_check ]</a></br />
    &nbsp;&nbsp;
    <a href="hdd_chk-t">Tennouzu</a>&nbsp;
    <a href="hdd_chk-k">Kitakyusyu</a>&nbsp;
    <a href="hdd_chk-t">Tohoku</a>
    </br>
    <a href="lassi/index.html"><font color=#ffffff>[ lassi private mrtg ]</font></a></br />

    <hr />

  </BODY>
</HTML>
