<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
  <HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker /etc/mrtg/mrtg_trla.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Tue, 13 Apr 2010 12:15:00 GMT">
    <meta http-equiv="Content-Type" content="text/html" charset="euc-jp">

    <style type="text/css">
      <!--
      /* commandline was: /usr/bin/indexmaker /etc/mrtg/mrtg_trla.cfg */
      /* sorry, no style, just abusing this to place the commandline and pass validation */
      -->
    </style>
  </HEAD>

  <body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">



    <div style="background:#fffacd;">
      <h2>Tokyo Office<img src="./logo_aucfan.gif" alt="gmo" height="35px" style="margin-left: 10px;"/></h2>
      [ Office ] (/0r)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/seg_101/tr/index.html">Trafic</a>&nbsp;
      <a href="/seg_101/la/index.html">Load Average</a>&nbsp;
      <a href="/seg_101/mem/index.html">Memory</a>&nbsp;
      <a href="/seg_101/hdd/index.html">HDD</a>	&nbsp;
      <br />

      <hr />

    </div>

    <div style="background:#e2edaa;">
      <h2>Tennozu<img src="./logo_gmo.jpg" alt="gmo" height="35px" style="margin-left: 10px;"/></h2>
      [ RACK: M06 ] (/seg_2)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/seg_2/tr/index-m06.html">	Trafic			</a>	&nbsp;
      <a href="/seg_2/la/index-m06.html">	Load Average	</a>	&nbsp;
      <a href="/seg_2/mem/index-m06.html">	Memory			</a>	&nbsp;
      <a href="/seg_2/hdd/index-m06.html">	HDD				</a>	&nbsp;
      <br />

      <hr />

      [ RACK: A01 ] (/seg_2)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/seg_2/tr/index-a01.html">	Trafic			</a>	&nbsp;
      <a href="/seg_2/la/index-a01.html">	Load Average	</a>	&nbsp;
      <a href="/seg_2/mem/index-a01.html">	Memory			</a>	&nbsp;
      <a href="/seg_2/hdd/index-a01.html">	HDD				</a>	&nbsp;
      <br />

      <hr />

      <br />
      [ RACK: M01 ] (/seg_2)<br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/seg_2/tr/index-m01.html">	Trafic			</a>	&nbsp;
      <a href="/seg_2/la/index-m01.html">	Load Average	</a>	&nbsp;
      <a href="/seg_2/mem/index-m01.html">	Memory			</a>	&nbsp;
      <a href="/seg_2/hdd/index-m01.html">	HDD				</a>	&nbsp;
      <br />

      <hr />
    </div>


    <div style="background:#f0e68c;">
      <h2>Kitakyushu<img src="./logo_idcf.jpg" alt="idcf" height="35px" style="margin-left: 10px;"/></h2>
      [ RACK: FK1-02B-000-B-011 ] (/seg_3)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/seg_3/tr/index-011.html">	Trafic			</a>	&nbsp;
      <a href="/seg_3/la/index-011.html">	Load Average	</a>	&nbsp;
      <a href="/seg_3/mem/index-011.html">	Memory			</a>	&nbsp;
      <a href="/seg_3/hdd/index-011.html">	HDD				</a>	<br />
      <hr />
      [ RACK: FK1-02B-000-B-004 ] (/seg_3)<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/seg_3/tr/index-004.html">	Trafic			</a>	&nbsp;
      <a href="/seg_3/la/index-004.html">	Load Average	</a>	&nbsp;
      <a href="/seg_3/mem/index-004.html">	Memory			</a>	&nbsp;
      <a href="/seg_3/hdd/index-004.html">	HDD				</a>	<br />
      <hr />
    </div>


    <div style="background:#afeeee;">
      <h2>Sendai<img src="./logo_esu2.jpg" alt="esu2" style="margin-left: 10px;"/></h2>
      [ RACK: i08 ] (/seg_4)
      <br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/seg_4/tr">	Trafic			</a>	&nbsp;
      <a href="/seg_4/la">	Load Average	</a>	&nbsp;
      <a href="/seg_4/mem">	Memory			</a>	&nbsp;
      <a href="/seg_4/hdd">	HDD				</a>	<br />
      <br />
    </div>




    [ aucfan ] : <a href="aucfan_all.html"><font color="red">all information</font></a><br />
    [ wiki ] : <a href="http://wiki.afops.com/Home" target="_blank" ><font color="red">AKMS</font></a><br />
    [ repository ] : <a href="http://repos.afops.com/" target="_blank" ><font color="red">Repository</font></a><br />
    [ monitoring ] : <a href="http://192.168.2.103/munin/" target="_blank">	Munin</a>  <br />
    [ monitoring2 ] : <a href="http://192.168.2.103/nagios/"  target="_blank">	Nagios</a>  <br />
    [ varnish ] : <a href="http://192.168.101.62:8999/" target="_blank">Varnish Purger</a> <br />
    [ aucfan-user ] : <a href="http://192.168.101.62:8890/" target="_blank">Aucfan User Account Modify Tool</a> <br />


    <br />
    <hr />


    <br />
    <a href="/services/aucfan-servers-router.html">[ aucfan.com ] : Router</a><br />
    <br />

    <a href="/services/aucfan-servers-ws-tennozu.html">[ aucfan.com ] : WS (ws11 - ws17)</a><br />
    <br />

    <a href="/services/aucfan-servers-ws-yahata.html">[ aucfan.com ] : WS (ws19 - ws31)</a><br />
    <br />

    <a href="/services/aucfan-servers-ps-tennozu.html">[ aucfan.com ] : PS (ps01 - ps08, PS31 - PS40)</a><br />
    <br />

    <a href="/services/aucfan-servers-ps-yahata.html">[ aucfan.com ] : PS (ps09 - ps11)</a><br />
    <br />

    <a href="/services/aucfan-servers-lvs.html">[ aucfan.com ] : LVS (jfk02, sfo02, lb07, lb08)</a><br />
    <br />

    <a href="/services/aucfan-servers-api4.html">[ aucfan.com ] : api4</a><br />
    <br />

    <a href="/services/aucfan-servers-ip.html">[ aucfan.com ] : ip. (vlc01, svq01, mad, bcn)</a><br />
    <br />

    <a href="/services/aucfan-servers-crawler.html">[ aucfan.com ] : crawler</a><br />
    <br />

    <a href="/services/aucfan-servers-nginx.html">[ aucfan.com ] : nginx</a><br />
    <br />

    <a href="/services/aucfan-servers-varnish.html">[ aucfan.com ] : varnish</a><br />
    <br />

    <a href="/services/aucfan-servers-image.html">[ aucfan.com ] : image</a><br />
    <br />

    <a href="/services/aucfan-servers-aucdata.html">[ aucfan.com ] : aucdata</a><br />
    <br />

    <a href="/services/aucfan-servers-zabbix.html">[ aucfan.com ] : zabbix</a><br />
    <br />

    <a href="ds.html">[ aucfan.com ] : ds</a><br />
    <br />

    <hr />

  </body>
</HTML>
