<!DOCTYPE html>
<html>
  <head>
    <title>seg_4/Memory</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>

<tr>
  <td>
    <div><b> Memory Status on nrt.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="mem-nrt-aucfan.html"><img border="1" alt="mem-nrt Graph" src="mem-nrt-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on nrt.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="mem-cb-nrt-aucfan.html"><img border="1" alt="mem-cb-nrt Graph" src="mem-cb-nrt-aucfan-day.png"></a></div>
  </td>  
</tr>
<tr>
  <td>
    <div><b> Memory Status on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="mem-cmb01-aucfan.html"><img border="1" alt="mem-cmb01 Graph" src="mem-cmb01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="mem-cb-cmb01-aucfan.html"><img border="1" alt="mem-cb-cmb01 Graph" src="mem-cb-cmb01-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
