<!DOCTYPE html>
<html>
  <head>
    <title>seg_4/Memory</title>
    <style type="text/css">
      ul {
        width: 1300px;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

<h1>MRTG Index Page</h1>
<table cellspacing=10>


<tr>
  <td>
    <div><b> Memory Status on R420-2.aucfan.com</br> (192.168.4.32) </b></div>
    <div><a href="mem-r420-2-aucfan.html"><img border="1" alt="mem-r420-2 Graph" src="mem-r420-2-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-2.aucfan.com</br> (192.168.4.32) </b></div>
    <div><a href="mem-cb-r420-2-aucfan.html"><img border="1" alt="mem-cb-r420-2 Graph" src="mem-cb-r420-2-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R420-3.aucfan.com</br> (192.168.4.33) </b></div>
    <div><a href="mem-r420-3-aucfan.html"><img border="1" alt="mem-r420-3 Graph" src="mem-r420-3-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-3.aucfan.com</br> (192.168.4.33) </b></div>
    <div><a href="mem-cb-r420-3-aucfan.html"><img border="1" alt="mem-cb-r420-3 Graph" src="mem-cb-r420-3-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R420-4.aucfan.com</br> (192.168.4.34) </b></div>
    <div><a href="mem-r420-4-aucfan.html"><img border="1" alt="mem-r420-4 Graph" src="mem-r420-4-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-4.aucfan.com</br> (192.168.4.34) </b></div>
    <div><a href="mem-cb-r420-4-aucfan.html"><img border="1" alt="mem-cb-r420-4 Graph" src="mem-cb-r420-4-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R420-5.aucfan.com</br> (192.168.4.35) </b></div>
    <div><a href="mem-r420-5-aucfan.html"><img border="1" alt="mem-r420-5 Graph" src="mem-r420-5-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-5.aucfan.com</br> (192.168.4.35) </b></div>
    <div><a href="mem-cb-r420-5-aucfan.html"><img border="1" alt="mem-cb-r420-5 Graph" src="mem-cb-r420-5-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R420-6.aucfan.com</br> (192.168.4.36) </b></div>
    <div><a href="mem-r420-6-aucfan.html"><img border="1" alt="mem-r420-6 Graph" src="mem-r420-6-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-6.aucfan.com</br> (192.168.4.36) </b></div>
    <div><a href="mem-cb-r420-6-aucfan.html"><img border="1" alt="mem-cb-r420-6 Graph" src="mem-cb-r420-6-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R420-7.aucfan.com</br> (192.168.4.37) </b></div>
    <div><a href="mem-r420-7-aucfan.html"><img border="1" alt="mem-r420-7 Graph" src="mem-r420-7-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-7.aucfan.com</br> (192.168.4.37) </b></div>
    <div><a href="mem-cb-r420-7-aucfan.html"><img border="1" alt="mem-cb-r420-7 Graph" src="mem-cb-r420-7-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R420-8.aucfan.com</br> (192.168.4.38) </b></div>
    <div><a href="mem-r420-8-aucfan.html"><img border="1" alt="mem-r420-8 Graph" src="mem-r420-8-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-8.aucfan.com</br> (192.168.4.38) </b></div>
    <div><a href="mem-cb-r420-8-aucfan.html"><img border="1" alt="mem-cb-r420-8 Graph" src="mem-cb-r420-8-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R420-9.aucfan.com</br> (192.168.4.39) </b></div>
    <div><a href="mem-r420-9-aucfan.html"><img border="1" alt="mem-r420-9 Graph" src="mem-r420-9-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-9.aucfan.com</br> (192.168.4.39) </b></div>
    <div><a href="mem-cb-r420-9-aucfan.html"><img border="1" alt="mem-cb-r420-9 Graph" src="mem-cb-r420-9-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R420-10.aucfan.com</br> (192.168.4.40) </b></div>
    <div><a href="mem-r420-10-aucfan.html"><img border="1" alt="mem-r420-10 Graph" src="mem-r420-10-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-10.aucfan.com</br> (192.168.4.40) </b></div>
    <div><a href="mem-cb-r420-10-aucfan.html"><img border="1" alt="mem-cb-r420-10 Graph" src="mem-cb-r420-10-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on R420-11.aucfan.com</br> (192.168.4.41) </b></div>
    <div><a href="mem-r420-11-aucfan.html"><img border="1" alt="mem-r420-11 Graph" src="mem-r420-11-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on R420-11.aucfan.com</br> (192.168.4.41) </b></div>
    <div><a href="mem-cb-r420-11-aucfan.html"><img border="1" alt="mem-cb-r420-11 Graph" src="mem-cb-r420-11-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on cmb.aucfan.com</br> (192.168.4.43) </b></div>
    <div><a href="mem-cmb-aucfan.html"><img border="1" alt="mem-cmb Graph" src="mem-cmb-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on cmb.aucfan.com</br> (192.168.4.43) </b></div>
    <div><a href="mem-cb-cmb-aucfan.html"><img border="1" alt="mem-cb-cmb Graph" src="mem-cb-cmb-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on pws09.aucfan.com</br> (192.168.4.46) </b></div>
    <div><a href="mem-pws09-aucfan.html"><img border="1" alt="mem-pws09 Graph" src="mem-pws09-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on pws09.aucfan.com</br> (192.168.4.46) </b></div>
    <div><a href="mem-cb-pws09-aucfan.html"><img border="1" alt="mem-cb-pws09 Graph" src="mem-cb-pws09-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on nrt.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="mem-nrt-aucfan.html"><img border="1" alt="mem-nrt Graph" src="mem-nrt-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on nrt.aucfan.com</br> (192.168.4.47) </b></div>
    <div><a href="mem-cb-nrt-aucfan.html"><img border="1" alt="mem-cb-nrt Graph" src="mem-cb-nrt-aucfan-day.png"></a></div>
  </td>  
</tr>

<tr>
  <td>
    <div><b> Memory Status on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="mem-cmb01-aucfan.html"><img border="1" alt="mem-cmb01 Graph" src="mem-cmb01-aucfan-day.png"></a></div>
  </td>
  <td>
    <div><b> Memory Status on cmb01.aucfan.com</br> (192.168.4.143) </b></div>
    <div><a href="mem-cb-cmb01-aucfan.html"><img border="1" alt="mem-cb-cmb01 Graph" src="mem-cb-cmb01-aucfan-day.png"></a></div>
  </td>  
</tr>



</table>
</body>
</html>
