<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker mrtg_3r_tr.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="300">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jun 2011 12:06:44 GMT">

<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker mrtg_3r_tr.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">


<H1>MRTG Index Page</H1>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
<tr>
<td><DIV><B> Traffic LAN2 on rt4.aucfan.com (210.158.39.237)</B></DIV>
<DIV><A HREF="tr2-rt4-aucfan.html"><IMG BORDER=1 ALT="tr2-rt4-aucfan Traffic Graph" SRC="tr2-rt4-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-rt4-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN1 on rt4.aucfan.com (210.158.43.81)</B></DIV>
<DIV><A HREF="tr1-rt4-aucfan.html"><IMG BORDER=1 ALT="tr1-rt4-aucfan Traffic Graph" SRC="tr1-rt4-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-rt4-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Traffic LAN2 on ts01.aucfan.com (192.168.2.101)</B></DIV>
<DIV><A HREF="tr2-ts01-aucfan.html"><IMG BORDER=1 ALT="tr2-ts01-aucfan Traffic Graph" SRC="tr2-ts01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ts01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Traffic LAN2 on ts02.aucfan.com (192.168.2.102)</B></DIV>
<DIV><A HREF="tr2-ts02-aucfan.html"><IMG BORDER=1 ALT="tr2-ts02-aucfan Traffic Graph" SRC="tr2-ts02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ts02-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>Traffic LAN2 on ts03.aucfan.com (192.168.2.103)</B></DIV>
<DIV><A HREF="tr2-ts03-aucfan.html"><IMG BORDER=1 ALT="tr2-ts03-aucfan Traffic Graph" SRC="tr2-ts03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ts03-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on f01ws01.aucfan.com (210.158.43.82) </B></DIV>
<DIV><A HREF="tr1-f01ws01-aucfan.html"><IMG BORDER=1 ALT="tr1-f01ws01-aucfan Traffic Graph" SRC="tr1-f01ws01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-f01ws01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN1 on f01ws01.aucfan.com (192.168.2.182) </B></DIV>
<DIV><A HREF="tr2-f01ws01-aucfan.html"><IMG BORDER=1 ALT="tr2-f01ws01-aucfan Traffic Graph" SRC="tr2-f01ws01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-f01ws01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on f01ws02.aucfan.com (210.158.43.83) </B></DIV>
<DIV><A HREF="tr1-f01ws02-aucfan.html"><IMG BORDER=1 ALT="tr1-f01ws02-aucfan Traffic Graph" SRC="tr1-f01ws02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-f01ws02-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN3 on f01ws02.aucfan.com (192.168.2.183) </B></DIV>
<DIV><A HREF="tr2-f01ws02-aucfan.html"><IMG BORDER=1 ALT="tr2-f01ws02-aucfan Traffic Graph" SRC="tr2-f01ws02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-f01ws02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN1 on snap.aucfan.com (210.158.43.84) </B></DIV>
<DIV><A HREF="tr1-snap-aucfan.html"><IMG BORDER=1 ALT="tr1-snap-aucfan Traffic Graph" SRC="tr1-snap-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-snap-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN1 on snap.aucfan.com (192.168.2.184) </B></DIV>
<DIV><A HREF="tr2-snap-aucfan.html"><IMG BORDER=1 ALT="tr2-snap-aucfan Traffic Graph" SRC="tr2-snap-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-snap-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on cws01.aucfan.com (210.158.43.86) </B></DIV>
<DIV><A HREF="tr1-cws01-aucfan.html"><IMG BORDER=1 ALT="tr1-cws01-aucfan Traffic Graph" SRC="tr1-cws01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-cws01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN1 on cws01.aucfan.com (192.168.2.186) </B></DIV>
<DIV><A HREF="tr2-cws01-aucfan.html"><IMG BORDER=1 ALT="tr2-cws01-aucfan Traffic Graph" SRC="tr2-cws01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-cws01-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on img01.aucfan.com (192.168.2.211) </B></DIV>
<DIV><A HREF="tr2-img01-aucfan.html"><IMG BORDER=1 ALT="tr2-img01-aucfan Traffic Graph" SRC="tr2-img01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-img01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on f01bdb02.aucfan.com (192.168.2.212) </B></DIV>
<DIV><A HREF="tr2-f01bdb02-aucfan.html"><IMG BORDER=1 ALT="tr2-f01bdb02-aucfan Traffic Graph" SRC="tr2-f01bdb02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-f01bdb02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on f01bdb03.aucfan.com (192.168.2.213) </B></DIV>
<DIV><A HREF="tr2-f01bdb03-aucfan.html"><IMG BORDER=1 ALT="tr2-f01bdb03-aucfan Traffic Graph" SRC="tr2-f01bdb03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-f01bdb03-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on f01bdb04.aucfan.com (192.168.2.214) </B></DIV>
<DIV><A HREF="tr2-f01bdb04-aucfan.html"><IMG BORDER=1 ALT="tr2-f01bdb04-aucfan Traffic Graph" SRC="tr2-f01bdb04-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-f01bdb04-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on f01fdb01.aucfan.com (192.168.2.221) </B></DIV>
<DIV><A HREF="tr2-f01fdb01-aucfan.html"><IMG BORDER=1 ALT="tr2-f01fdb01-aucfan Traffic Graph" SRC="tr2-f01fdb01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-f01fdb01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on img02.aucfan.com (192.168.2.222) </B></DIV>
<DIV><A HREF="tr2-img02-aucfan.html"><IMG BORDER=1 ALT="tr2-img02-aucfan Traffic Graph" SRC="tr2-img02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-img02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on f01udb01.aucfan.com (192.168.2.231) </B></DIV>
<DIV><A HREF="tr2-f01udb01-aucfan.html"><IMG BORDER=1 ALT="tr2-f01udb01-aucfan Traffic Graph" SRC="tr2-f01udb01-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-f01udb01-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on f01udb02.aucfan.com (192.168.2.232) </B></DIV>
<DIV><A HREF="tr2-f01udb02-aucfan.html"><IMG BORDER=1 ALT="tr2-f01udb02-aucfan Traffic Graph" SRC="tr2-f01udb02-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-f01udb02-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on bk05.aucfan.com (192.168.2.235) </B></DIV>
<DIV><A HREF="tr2-bk05-aucfan.html"><IMG BORDER=1 ALT="tr2-bk05-aucfan Traffic Graph" SRC="tr2-bk05-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-bk05-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on ws11.aucfan.com (60.36.190.37) </B></DIV>
<DIV><A HREF="tr1-ws11-aucfan.html"><IMG BORDER=1 ALT="tr1-ws11-aucfan Traffic Graph" SRC="tr1-ws11-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-ws11-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN1 on ws11.aucfan.com (192.168.2.134) </B></DIV>
<DIV><A HREF="tr2-ws11-aucfan.html"><IMG BORDER=1 ALT="tr2-ws11-aucfan Traffic Graph" SRC="tr2-ws11-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ws11-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on ws12.aucfan.com (60.36.190.38) </B></DIV>
<DIV><A HREF="tr1-ws12-aucfan.html"><IMG BORDER=1 ALT="tr1-ws12-aucfan Traffic Graph" SRC="tr1-ws12-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-ws12-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN1 on ws12.aucfan.com (192.168.2.135) </B></DIV>
<DIV><A HREF="tr2-ws12-aucfan.html"><IMG BORDER=1 ALT="tr2-ws12-aucfan Traffic Graph" SRC="tr2-ws12-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ws12-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on ws13.aucfan.com (60.36.190.39) </B></DIV>
<DIV><A HREF="tr1-ws13-aucfan.html"><IMG BORDER=1 ALT="tr1-ws13-aucfan Traffic Graph" SRC="tr1-ws13-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-ws13-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN1 on ws13.aucfan.com (192.168.2.136) </B></DIV>
<DIV><A HREF="tr2-ws13-aucfan.html"><IMG BORDER=1 ALT="tr2-ws13-aucfan Traffic Graph" SRC="tr2-ws13-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ws13-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on ws14.aucfan.com (60.36.190.40) </B></DIV>
<DIV><A HREF="tr1-ws14-aucfan.html"><IMG BORDER=1 ALT="tr1-ws14-aucfan Traffic Graph" SRC="tr1-ws14-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-ws14-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN1 on ws14.aucfan.com (192.168.2.137) </B></DIV>
<DIV><A HREF="tr2-ws14-aucfan.html"><IMG BORDER=1 ALT="tr2-ws14-aucfan Traffic Graph" SRC="tr2-ws14-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ws14-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on ws15.aucfan.com (60.36.190.41) </B></DIV>
<DIV><A HREF="tr1-ws15-aucfan.html"><IMG BORDER=1 ALT="tr1-ws15-aucfan Traffic Graph" SRC="tr1-ws15-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-ws15-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN1 on ws15.aucfan.com (192.168.2.138) </B></DIV>
<DIV><A HREF="tr2-ws15-aucfan.html"><IMG BORDER=1 ALT="tr2-ws15-aucfan Traffic Graph" SRC="tr2-ws15-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ws15-aucfan.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> Traffic LAN2 on ws16.aucfan.com (60.36.190.42) </B></DIV>
<DIV><A HREF="tr1-ws16-aucfan.html"><IMG BORDER=1 ALT="tr1-ws16-aucfan Traffic Graph" SRC="tr1-ws16-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-ws16-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN1 on ws16.aucfan.com (192.168.2.139) </B></DIV>
<DIV><A HREF="tr2-ws16-aucfan.html"><IMG BORDER=1 ALT="tr2-ws16-aucfan Traffic Graph" SRC="tr2-ws16-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ws16-aucfan.html" --></SMALL></DIV>
</td></tr>

<tr>
<td><DIV><B> Traffic LAN2 on ws17.aucfan.com (60.36.190.43) </B></DIV>
<DIV><A HREF="tr1-ws17-aucfan.html"><IMG BORDER=1 ALT="tr1-ws17-aucfan Traffic Graph" SRC="tr1-ws17-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-ws17-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN1 on ws17.aucfan.com (192.168.2.140) </B></DIV>
<DIV><A HREF="tr2-ws17-aucfan.html"><IMG BORDER=1 ALT="tr2-ws17-aucfan Traffic Graph" SRC="tr2-ws17-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-ws17-aucfan.html" --></SMALL></DIV>
</td></tr>

<tr>
<td><DIV><B>Traffic LAN1 on lb03.aucfan.com ( PPPoE 60.36.190.32/28 )</B></DIV>
<DIV><A HREF="tr1-lb03-aucfan.html"><IMG BORDER=1 ALT="tr1-lb03-aucfan Traffic Graph" SRC="tr1-lb03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-lb03-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Traffic LAN2 on lb03.aucfan.com ( 60.36.190.35 )</B></DIV>
<DIV><A HREF="tr2-lb03-aucfan.html"><IMG BORDER=1 ALT="tr2-lb03-aucfan Traffic Graph" SRC="tr2-lb03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-lb03-aucfan.html" --></SMALL></DIV>
</td></tr>

<tr>
<td><DIV><B>Traffic LAN3 on lb03.aucfan.com ( 192.168.2.132 )</B></DIV>
<DIV><A HREF="tr3-lb03-aucfan.html"><IMG BORDER=1 ALT="tr3-lb03-aucfan Traffic Graph" SRC="tr3-lb03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr3-lb03-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Traffic LAN1 on lb04.aucfan.com</B></DIV>
<DIV><A HREF="tr1-lb04-aucfan.html"><IMG BORDER=1 ALT="tr1-lb04-aucfan Traffic Graph" SRC="tr1-lb04-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-lb04-aucfan.html" --></SMALL></DIV>
</td></tr>

<tr>
<td><DIV><B>Traffic LAN2 on lb04.aucfan.com ( 60.36.190.36 )</B></DIV>
<DIV><A HREF="tr2-lb04-aucfan.html"><IMG BORDER=1 ALT="tr2-lb04-aucfan Traffic Graph" SRC="tr2-lb04-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-lb04-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B>Traffic LAN3 on lb04.aucfan.com ( 192.168.2.133 )</B></DIV>
<DIV><A HREF="tr3-lb04-aucfan.html"><IMG BORDER=1 ALT="tr3-lb04-aucfan Traffic Graph" SRC="tr3-lb04-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr3-lb04-aucfan.html" --></SMALL></DIV>
</td></tr>

<tr>
<td><DIV><B> Traffic LAN1 on lb05.aucfan.com (202.53.16.141) </B></DIV>
<DIV><A HREF="tr1-lb05-aucfan.html"><IMG BORDER=1 ALT="tr1-lb05-aucfan Traffic Graph" SRC="tr1-lb05-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-lb05-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on lb05.aucfan.com (192.168.2.41) </B></DIV>
<DIV><A HREF="tr2-lb05-aucfan.html"><IMG BORDER=1 ALT="tr2-lb05-aucfan Traffic Graph" SRC="tr2-lb05-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-lb05-aucfan.html" --></SMALL></DIV>
</td></tr>

<tr>
<td><DIV><B> Traffic LAN1 on lb06.aucfan.com (202.53.16.142) </B></DIV>
<DIV><A HREF="tr1-lb06-aucfan.html"><IMG BORDER=1 ALT="tr1-lb06-aucfan Traffic Graph" SRC="tr1-lb06-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-lb06-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on lb06.aucfan.com (192.168.2.42) </B></DIV>
<DIV><A HREF="tr2-lb06-aucfan.html"><IMG BORDER=1 ALT="tr2-lb06-aucfan Traffic Graph" SRC="tr2-lb06-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-lb06-aucfan.html" --></SMALL></DIV></td>
</tr>

<tr>
<td><DIV><B> Traffic LAN1 on cr03.aucfan.com (124.39.233.214) </B></DIV>
<DIV><A HREF="tr1-cr03-aucfan.html"><IMG BORDER=1 ALT="tr1-cr03-aucfan Traffic Graph" SRC="tr1-cr03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr1-cr03-aucfan.html" --></SMALL></DIV>
</td><td><DIV><B> Traffic LAN2 on cr03.aucfan.com (192.168.2.144) </B></DIV>
<DIV><A HREF="tr2-cr03-aucfan.html"><IMG BORDER=1 ALT="tr2-cr03-aucfan Traffic Graph" SRC="tr2-cr03-aucfan-day.png"></A><BR>
<SMALL><!--#flastmod file="tr2-cr03-aucfan.html" --></SMALL></DIV></td>
</tr>


<tr>
<td></td>
</tr>
</TABLE>

<BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://www.ee.ethz.ch/~oetiker/webtools/mrtg/"><IMG
    BORDER=0 SRC="mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  version 2.10.15</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://www.ee.ethz.ch/~oetiker/">Tobias Oetiker</A>
  <A HREF="mailto:oetiker@ee.ethz.ch">&lt;oetiker@ee.ethz.ch&gt;</A>
  and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>
  </TD>
</TR>
</TABLE>
</BODY>
</HTML>
