<!DOCTYPE html>
<html>
  <head>
    <title>3R</title>
    <style type="text/css">
      ul {
        width: 1300px;
        list-style: none;
      }
      li {
        float: left;
        margin-right: 20px;
      }
      body {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <h3>MRTG Index Page</h1>
    <ul>
<li>Traffic LAN1 on aucfan-bitisle-1 (115.69.207.129) (aucfan12)<br /><a href="tr1-bitisle1-aucfan.html"><img src="tr1-bitisle1-aucfan-day.png" alt="tr1-bitisle1-aucfan-day"/></a></li>
<li>Traffic LAN1 on cr03.aucfan.com (124.39.233.214)<br /><a href="tr1-cr03-aucfan.html"><img src="tr1-cr03-aucfan-day.png" alt="tr1-cr03-aucfan-day"/></a></li>
<li>Traffic LAN1 on f01ws01.aucfan.com (210.158.43.82)<br /><a href="tr1-f01ws01-aucfan.html"><img src="tr1-f01ws01-aucfan-day.png" alt="tr1-f01ws01-aucfan-day"/></a></li>
<li>Traffic LAN1 on f01ws02.aucfan.com (210.158.43.83)<br /><a href="tr1-f01ws02-aucfan.html"><img src="tr1-f01ws02-aucfan-day.png" alt="tr1-f01ws02-aucfan-day"/></a></li>
<li>Traffic LAN1 on lb03.aucfan.com ( PPPoE 60.36.190.32/28 )<br /><a href="tr1-lb03-aucfan.html"><img src="tr1-lb03-aucfan-day.png" alt="tr1-lb03-aucfan-day"/></a></li>
<li>Traffic LAN2 on lb03.aucfan.com ( 60.36.190.35 )<br /><a href="tr2-lb03-aucfan.html"><img src="tr2-lb03-aucfan-day.png" alt="tr2-lb03-aucfan-day"/></a></li>
<li>Traffic LAN3 on lb03.aucfan.com ( 192.168.2.132 )<br /><a href="tr3-lb03-aucfan.html"><img src="tr3-lb03-aucfan-day.png" alt="tr3-lb03-aucfan-day"/></a></li>
<li>Traffic LAN1 on lb04.aucfan.com<br /><a href="tr1-lb04-aucfan.html"><img src="tr1-lb04-aucfan-day.png" alt="tr1-lb04-aucfan-day"/></a></li>
<li>Traffic LAN2 on lb04.aucfan.com ( 60.36.190.36 )<br /><a href="tr2-lb04-aucfan.html"><img src="tr2-lb04-aucfan-day.png" alt="tr2-lb04-aucfan-day"/></a></li>
<li>Traffic LAN3 on lb04.aucfan.com ( 192.168.2.133 )<br /><a href="tr3-lb04-aucfan.html"><img src="tr3-lb04-aucfan-day.png" alt="tr3-lb04-aucfan-day"/></a></li>
<li>Traffic LAN1 on lb05.aucfan.com (192.168.2.41)<br /><a href="tr1-lb05-aucfan.html"><img src="tr1-lb05-aucfan-day.png" alt="tr1-lb05-aucfan-day"/></a></li>
<li>Traffic LAN2 on lb05.aucfan.com (192.168.2.41)<br /><a href="tr2-lb05-aucfan.html"><img src="tr2-lb05-aucfan-day.png" alt="tr2-lb05-aucfan-day"/></a></li>
<li>Traffic LAN1 on lb06.aucfan.com (192.168.2.42)<br /><a href="tr1-lb06-aucfan.html"><img src="tr1-lb06-aucfan-day.png" alt="tr1-lb06-aucfan-day"/></a></li>
<li>Traffic LAN2 on lb06.aucfan.com (192.168.2.42)<br /><a href="tr2-lb06-aucfan.html"><img src="tr2-lb06-aucfan-day.png" alt="tr2-lb06-aucfan-day"/></a></li>
<li>Traffic LAN1 on rt4.aucfan.com (210.158.43.81)<br /><a href="tr1-rt4-aucfan.html"><img src="tr1-rt4-aucfan-day.png" alt="tr1-rt4-aucfan-day"/></a></li>
<li>Traffic LAN2 on rt4.aucfan.com (210.158.39.237)<br /><a href="tr2-rt4-aucfan.html"><img src="tr2-rt4-aucfan-day.png" alt="tr2-rt4-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws11.aucfan.com (60.36.190.37)<br /><a href="tr1-ws11-aucfan.html"><img src="tr1-ws11-aucfan-day.png" alt="tr1-ws11-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws11.aucfan.com (192.168.2.134)<br /><a href="tr2-ws11-aucfan.html"><img src="tr2-ws11-aucfan-day.png" alt="tr2-ws11-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws12.aucfan.com (60.36.190.38)<br /><a href="tr1-ws12-aucfan.html"><img src="tr1-ws12-aucfan-day.png" alt="tr1-ws12-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws12.aucfan.com (192.168.2.135)<br /><a href="tr2-ws12-aucfan.html"><img src="tr2-ws12-aucfan-day.png" alt="tr2-ws12-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws13.aucfan.com (60.36.190.39)<br /><a href="tr1-ws13-aucfan.html"><img src="tr1-ws13-aucfan-day.png" alt="tr1-ws13-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws13.aucfan.com (192.168.2.136)<br /><a href="tr2-ws13-aucfan.html"><img src="tr2-ws13-aucfan-day.png" alt="tr2-ws13-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws14.aucfan.com (60.36.190.40)<br /><a href="tr1-ws14-aucfan.html"><img src="tr1-ws14-aucfan-day.png" alt="tr1-ws14-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws14.aucfan.com (192.168.2.137)<br /><a href="tr2-ws14-aucfan.html"><img src="tr2-ws14-aucfan-day.png" alt="tr2-ws14-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws15.aucfan.com (60.36.190.41)<br /><a href="tr1-ws15-aucfan.html"><img src="tr1-ws15-aucfan-day.png" alt="tr1-ws15-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws15.aucfan.com (192.168.2.138)<br /><a href="tr2-ws15-aucfan.html"><img src="tr2-ws15-aucfan-day.png" alt="tr2-ws15-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws16.aucfan.com (60.36.190.42)<br /><a href="tr1-ws16-aucfan.html"><img src="tr1-ws16-aucfan-day.png" alt="tr1-ws16-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws16.aucfan.com (192.168.2.139)<br /><a href="tr2-ws16-aucfan.html"><img src="tr2-ws16-aucfan-day.png" alt="tr2-ws16-aucfan-day"/></a></li>
<li>Traffic LAN1 on ws17.aucfan.com (60.36.190.43)<br /><a href="tr1-ws17-aucfan.html"><img src="tr1-ws17-aucfan-day.png" alt="tr1-ws17-aucfan-day"/></a></li>
<li>Traffic LAN2 on ws17.aucfan.com (192.168.2.140)<br /><a href="tr2-ws17-aucfan.html"><img src="tr2-ws17-aucfan-day.png" alt="tr2-ws17-aucfan-day"/></a></li>
<li>Traffic LAN2 on aucfan-bitisle-1 (202.53.16.129) (aucfan11)<br /><a href="tr2-bitisle1-aucfan.html"><img src="tr2-bitisle1-aucfan-day.png" alt="tr2-bitisle1-aucfan-day"/></a></li>
<li>Traffic LAN2 on bk05.aucfan.com (192.168.2.235)<br /><a href="tr2-bk05-aucfan.html"><img src="tr2-bk05-aucfan-day.png" alt="tr2-bk05-aucfan-day"/></a></li>
<li>Traffic LAN2 on f01udb01.aucfan.com (192.168.2.231)<br /><a href="tr2-f01udb01-aucfan.html"><img src="tr2-f01udb01-aucfan-day.png" alt="tr2-f01udb01-aucfan-day"/></a></li>
<li>Traffic LAN2 on f01udb02.aucfan.com (192.168.2.232)<br /><a href="tr2-f01udb02-aucfan.html"><img src="tr2-f01udb02-aucfan-day.png" alt="tr2-f01udb02-aucfan-day"/></a></li>
<li><font color='red'>Traffic LAN1 on f01ws01.aucfan.com (192.168.2.182)<br>[OffLineHDD]</font><br /><br/><a href="tr2-f01ws01-aucfan.html"><img src="tr2-f01ws01-aucfan-day.png" alt="tr2-f01ws01-aucfan-day"/></a></li>
<li>Traffic LAN3 on f01ws02.aucfan.com (192.168.2.183)<br /><a href="tr2-f01ws02-aucfan.html"><img src="tr2-f01ws02-aucfan-day.png" alt="tr2-f01ws02-aucfan-day"/></a></li>
<li>Traffic LAN1 on img01.aucfan.com (202.53.16.171)<br /><a href="tr1-img01-aucfan.html"><img src="tr1-img01-aucfan-day.png" alt="tr1-img01-aucfan-day"/></a></li>
<li>Traffic LAN2 on img01.aucfan.com (192.168.2.211)<br /><a href="tr2-img01-aucfan.html"><img src="tr2-img01-aucfan-day.png" alt="tr2-img01-aucfan-day"/></a></li>
<li>Traffic LAN1 on img02.aucfan.com (202.53.16.172)<br /><a href="tr1-img02-aucfan.html"><img src="tr1-img02-aucfan-day.png" alt="tr1-img02-aucfan-day"/></a></li>
<li>Traffic LAN2 on img02.aucfan.com (192.168.2.222)<br /><a href="tr2-img02-aucfan.html"><img src="tr2-img02-aucfan-day.png" alt="tr2-img02-aucfan-day"/></a></li>
<li>Traffic LAN2 on ts01.aucfan.com (192.168.2.101)<br /><a href="tr2-ts01-aucfan.html"><img src="tr2-ts01-aucfan-day.png" alt="tr2-ts01-aucfan-day"/></a></li>
<li>Traffic LAN4 on aucfan-bitisle-1 (192.168.3.13)<br /><a href="tr4-bitisle1-aucfan.html"><img src="tr4-bitisle1-aucfan-day.png" alt="tr4-bitisle1-aucfan-day"/></a></li>
<li>Traffic LAN1 on cr03.aucfan.com (124.39.233.214)<br /><a href="tr1-cr03-aucfan.html"><img src="tr1-cr03-aucfan-day.png" alt="tr1-cr03-aucfan-day"/></a></li>
<li>Traffic LAN2 on cr03.aucfan.com (192.168.2.144)<br /><a href="tr2-cr03-aucfan.html"><img src="tr2-cr03-aucfan-day.png" alt="tr2-cr03-aucfan-day"/></a></li>
<li>Traffic LAN2 on dp01.aucfan.com (192.168.2.103)<br /><a href="tr2-dp01-aucfan.html"><img src="tr2-dp01-aucfan-day.png" alt="tr2-dp01-aucfan-day"/></a></li>
<li>Traffic LAN1 on img02a.aucfan.com (202.53.16.174)<br /><a href="tr1-img02a-aucfan.html"><img src="tr1-img02a-aucfan-day.png" alt="tr1-img02a-aucfan-day"/></a></li>
<li>Traffic LAN2 on img02a.aucfan.com (192.168.2.224)<br /><a href="tr2-img02a-aucfan.html"><img src="tr2-img02a-aucfan-day.png" alt="tr2-img02a-aucfan-day"/></a></li>
<li>Traffic LAN2 on lax.aucfan.com (192.168.2.127)<br /><a href="tr2-lax-aucfan.html"><img src="tr2-lax-aucfan-day.png" alt="tr2-lax-aucfan-day"/></a></li>
<li>Traffic LAN2 on lax01.aucfan.com (192.168.2.127)<br /><a href="tr2-lax01-aucfan.html"><img src="tr2-lax01-aucfan-day.png" alt="tr2-lax01-aucfan-day"/></a></li>
<li>Traffic LAN2 on lax02.aucfan.com (192.168.2.127)<br /><a href="tr2-lax02-aucfan.html"><img src="tr2-lax02-aucfan-day.png" alt="tr2-lax02-aucfan-day"/></a></li>
<li>Traffic LAN1 on lax03.aucfan.com (124.39.233.219)<br /><a href="tr1-lax03-aucfan.html"><img src="tr1-lax03-aucfan-day.png" alt="tr1-lax03-aucfan-day"/></a></li>
<li>Traffic LAN2 on lax03.aucfan.com (192.168.2.127)<br /><a href="tr2-lax03-aucfan.html"><img src="tr2-lax03-aucfan-day.png" alt="tr2-lax03-aucfan-day"/></a></li>
